[2015-03-25 19:25] bmktuwien commented on #547
I've just updated haskell-mode via Melpa and so far so good! Everything works! Thx again and good job!

[2015-03-26 07:44] #497 closed

[2015-03-26 07:44] #181 closed

[2015-03-26 07:50] gracjan commented on #324
This one got slightly better due to #552, but not exactly right yet.

[2015-03-26 13:51] gracjan commented on #394
This is a release workflow issue and we are working on release procedure that will also cover releasing to melpa.

[2015-03-26 13:51] #394 closed

[2015-03-26 14:56] gracjan commented on #374
This is CRLF issue. Any Windows users here that could help debugging the problem?

[2015-03-26 14:59] gracjan commented on #549
Proposition is:
- default for apostrophe is punctuation
- illegal apostrophe is punctuation
- apostrophe in identifiers is same class as underscore, that is 'w'

[2015-03-27 17:18] bmktuwien opened #556 "Indentation doesn't work correctly if a multiline string is present"
First I am using the newest version 20150327.

It seems currently that the haskell-indentation mode doesn't work correctly if a multine string is present.
For example:
[code]

The line with `barfoo` just won't indent correctly when I cycle through indentations pressing `<Tab>` repeatedly. Is this a known issue and is there a known workaround?

[2015-03-27 17:30] gracjan commented on #556
Issue is know and noted in #324. Fix should not be that hard but not easy either.

You may look inside `haskell-indentation-skip-token` and do something about this part `(looking-at "\"\\([^\\\"]\\|\\\\.\\)*\"")`.

i'm closing as duplicate.

[2015-03-27 17:30] #556 closed

[2015-03-27 18:45] gracjan commented on #209
It has been over a year of no activity in this issue. If you feel you can provide more actionable description do not hessitate to write it here and we will reopen this issue.

[2015-03-27 18:45] #209 closed

[2015-03-27 18:47] gracjan commented on #187
I guess it is done. Reopen if you disagree.

[2015-03-27 18:47] #187 closed

[2015-03-27 18:49] #71 closed

[2015-03-27 18:50] gracjan commented on #290
Related:  #555.

[2015-03-27 18:51] #288 closed

[2015-03-27 18:55] gracjan commented on #239
There are two options now only `ghci` and `cabal repl`. I hope they are obvious enough to not require extra documentation.

Meanwhile we are going to write some documentation anyway, but as part of general documentation process, so I'm closing this ticket.

[2015-03-27 18:55] #239 closed

[2015-03-27 18:57] gracjan commented on #210
@HaskellZhangSong: did you manage to solve this problem? If not do not hessitate to write a note here and we will reopen this issue again.

[2015-03-27 18:57] #210 closed

[2015-03-27 18:59] #193 closed

[2015-03-27 19:07] gracjan commented on #308
@jfeltz: I saw now that you volunteered to describe what is going on. Such addition to documentation would be much appreciated. `haskell-mode.text` already has appriopriate sections, albeit empty.

A PR more than welcome.

I'm closing this particular issue and waiting for documentation.

[2015-03-27 19:07] #308 closed

[2015-03-27 19:09] gracjan commented on #285
Do not hessitate to write a note here if this PATH issues is still bothering you.

[2015-03-27 19:09] #285 closed

[2015-03-27 19:13] gracjan commented on #255
It has been over a ear since this issue was reported. It seems that todays `cabal repl` covers all use cases. Is this issue still relevant?

[2015-03-27 19:18] gracjan commented on #265
If I understand correctly original issue is resolved. If not do not hessitate to leavea note here.

As for the other request to simplify `C-c C-l` behavior there was a pull request about it #409.

[2015-03-27 19:18] #265 closed

[2015-03-27 19:57] gracjan commented on #401
@ivan-m, @purcell, @rietmann: can you check if referenced commit fixes your issue?

[2015-03-27 19:59] gracjan commented on #463
@sboosali: I see that you already did a lot of work to debug this issue. How about you create a pull request using the knowledge that you have and then we go from there?

[2015-03-27 20:03] gracjan commented on #388
New `haskell-indentation` does not use `delete-section-mode` at all so this issue seems not relevant anymore. Reopen it this is still a problem.

[2015-03-27 20:03] #388 closed

[2015-03-27 20:12] #460 closed

[2015-03-27 20:13] #423 closed

[2015-03-27 20:15] gracjan commented on #375
Note: making `interactive-haskell` a default deserves a more prominent entry than a comment in other issue. Closing this one as fixed.

[2015-03-27 20:15] #375 closed

[2015-03-27 20:20] gracjan commented on #327
I'll close this as a duplicate of #522 where you can find more information.

Basically some Emacsen do not show documentation for hook variables so all docs from there need to be moved to mode description.

[2015-03-27 20:20] #327 closed

[2015-03-27 20:23] gracjan commented on #349
@bmmoore: Seems like @ikirill fixed the issue. Can you check if this is really the case and write a note here if you still experience problems?

[2015-03-27 20:23] #349 closed

[2015-03-27 20:34] gracjan commented on #323
True. This should not be that hard:
- mark opening bracket as generic string
- mark closing bracket as generic string
- fontify as string or maybe something special

[2015-03-27 20:50] gracjan commented on #273
@EDmitry: can you check if referenced PR fixes your issue?

[2015-03-27 20:55] #176 closed

[2015-03-27 20:58] gracjan commented on #32
This issue is 3 years old and it seems that `haskell-mode` has moved forward significantly. Write a note here and we will reopen if you feel this is still up to date.

[2015-03-27 20:58] #32 closed

[2015-03-27 21:08] gracjan commented on #414
Fixed by #555.

[2015-03-27 21:10] sboosali commented on #463
okay, I don't have a fix, but let me take another look at this, and see if I can get it working locally.

also, you have the same issue?

[2015-03-27 21:14] #416 closed

[2015-03-27 21:38] gracjan commented on #463
I haven't tried to reproduce it, I'm working with what you wrote here.

[2015-03-28 03:58] ivan-m commented on #414
Actually, I think `simple` should be the default as a more basic solution.

[2015-03-28 05:01] gracjan commented on #414
Recently merged `hi2` (new `haskell-indentation`) has a very high quality. If you think there is something to be fixed about `haskell-indentation` please file an issue report.

[2015-03-28 05:02] ivan-m commented on #414
Nothing to do with quality.  Just that if someone unused to any such mode installs haskell-mode, then the simple indentation mode should be the easiest to get started with.

[2015-03-28 05:10] gracjan commented on #414
`haskell-indentation` is the easiest to start with for people used to other programming modes for Emacs.

[2015-03-28 05:12] ivan-m commented on #414
Which, of course, assumes that everyone installing haskell-mode is used to other programming modes for Emacs.

(And I don't recall any other mode having a similar indentation cycle...)

[2015-03-28 09:06] #527 closed

[2015-03-28 09:10] gracjan commented on #488
@EDmitry: branch wip/hi2 got merged in place of `haskell-indentation`. Is it working for you?

[2015-03-28 09:15] purcell commented on #414
Python indents similarly, and is one of the few other languages where indentation is semantically meaningful.

Why do you think `simple` would be any easier?

[2015-03-28 09:29] ivan-m commented on #414
No indentation cycle.  Hitting tab just indents to the next position and that's it.

Especially since whilst the hi2 branch might have existed for a while for testing purposes, it has only just now been installed as part of the haskell-mode installed through MELPA/distro packages/etc. and it would probably be better to have a transition or something for it (I admittedly haven't tried it out as I u

[2015-03-28 09:41] purcell commented on #414
I don't personally feel strongly about which indentation mode should be the default, but `simple` sounds reasonable, and still better than none.

[2015-03-28 09:57] s9gf4ult commented on #323
Yes, but how? I am not familiar with Emacs's parsing stuff and especially how and where it used in `haskell-mode`

[2015-03-28 09:57] gracjan commented on #414
`haskell-indentation` is the most used mode according to last survey. It received most engeneering hours spend polishing it. Code created by kuribas and nilcons is actually hackable and that will enable us to react to bug reports and possible feature requests. I do not see why we should impose subpar experience on newcomers.

If somebody feels strongly for using hsi then it is just one `turn-on-ha

[2015-03-28 10:00] purcell commented on #414
That also sounds very reasonable. I suggest we stick with this new arrangement for now and see how things go.

[2015-03-28 14:03] gracjan commented on #323
You should look at `haskell-basic-syntactic-keywords` in `haskell-font-lock.el` and understand what is going on there with double-quoted strings and single-quoted character literals. That is the hard part.

Quasi-quotes are basically string literals so you need to put "|" char class on opening bracket and on the closing bracket.

(Note additional issues with multiline, but then if you get the sing

[2015-03-29 10:37] gracjan commented on #397
Unit test case in #562.

[2015-03-29 13:51] gracjan commented on #481
I think I now understand. So if you place the cursor *at a line with a guard* then it offers proper indentation position. But if you place the cursor *on empty line below a line with a guard* then it does not offer guard position as an option.

There are a couple of ways to intepret this situation. As far as I understand most of emacs modes for other languages use 'electric' behvior, that is as so

[2015-03-29 15:35] gracjan commented on #366
@mkscrg: Me too! This is a reallly good idea as one of possible options for `haskell-indentation`.

[2015-03-29 19:49] sritchie commented on #536
Same here - I'm on OS X, and every so often (I think prompted by my saves, which trigger hasktags) the haskell process stops processing commands. `(haskell-process-clear)` works.

[2015-03-29 20:32] sritchie commented on #447
I'm seeing this issue as well. It looks like https://github.com/haskell/haskell-mode/issues/536 might be a duplicate. (haskell-process-clear)` unhangs my repl; I've bound that command to `f7` for now so I can at least keep moving. This happens a lot, and seems to be triggered by hasktags in my case.

[2015-03-29 20:41] sritchie opened #563 "Reverse of haskell-mode-jump-to-def-or-tag?"
Is there some way to come back to one's starting point after jumping to a tag? If the function's defined in a different buffer I can just kill the new window, but if I jump to a function defined in the same file it's pretty tough to get back.

Thanks!

[2015-03-29 21:11] gracjan commented on #563
There is `(pop-tag-mark)` bound for me as `Alt-*`.

[2015-03-29 21:25] sritchie commented on #563
Nice, thanks!

[2015-03-29 21:25] #563 closed

[2015-03-29 23:07] greenrd opened #564 "Two mentions of the same un-imported identifier cause two prompts to import"
There should only be one prompt, after which (if accepted) the problem will be solved.

[2015-03-30 06:28] gracjan commented on #564
True. Realistically, this will be low priority for anybody execpt you, @greenrd. Do you have time hack a solution? If not you then it might take ages before somebody else gets to this one.

[2015-03-30 06:57] EDmitry commented on #273
Works great, fixed an issue, thanks a lot! :-)

[2015-03-30 07:10] #273 closed

[2015-03-30 13:27] greenrd commented on #564
Yes, I took a quick look at it, but I am not experienced in elisp programming and I am not sure what is the best way to temporarily remember which identifiers were imported, only for the current compilation (I guess they should be forgotten after that, because it might be compiling a different file or a different version of the file).

[2015-03-30 14:09] gracjan commented on #564
As usual in such case it is best to just try something out and get the hands dirty.

Interactive mode has a place where it resets things when it knows new compilation has started. Meanwhile you could keep a list of already-done-fixes. Alternativelly you can check is-this-fix-still-needed and offer prompt only when it is still the case.

[2015-03-30 15:23] LukeHoersten commented on #536
Looks like a duplicate of #447 - thanks for pointing that out @sritchie.

[2015-03-30 15:23] #536 closed

[2015-03-30 15:25] LukeHoersten commented on #447
This happens a lot for me. It does seem to happen related to saving though I don't use hasktags so I think it's unrelated to that. @chrisdone helped me confirm that stuff is getting stuck in my haskell-process queue so `(haskell-process-clear)` clears things out for me as well though the real question is: why is the queue getting jammed up? Weirdly I can continue to use the haskell-process repl wh

[2015-03-30 16:00] gracjan commented on #447
@LukeHoersten: next time it hangs can you check what is the output of `(haskell-commands-process)`?

[2015-03-30 16:06] sritchie commented on #447
Here's the output for me. I cleared the process, moved some text around, saved the file and noticed a freeze.

[code]

[2015-03-30 16:43] LukeHoersten commented on #447
Mine looked very similar to that last time I captured it during a freeze. I had a whole bunch of binary output in mine as well.

[2015-03-30 17:03] LukeHoersten commented on #447
Here's one I got to happen in my test code.

[code]

[2015-03-30 19:15] gracjan commented on #447
The command that is stuck is this one:

    (current-command .
      [cl-struct-haskell-command
         ...
         #[... "Á@ÂÃA\" ÄÅA\" ÄÆA\"\""
              [state haskell-process-send-string string-match "^[A-Za-z_]" format ":info %s" ":info (%s)"] 5]
         nil
         #[... "ÁÂ\" ÁÃ\"? Ä!" [response string-match "^Top level" "^<interactive>" haskell-mode-message-line] 3]
      ])

[2015-03-30 19:52] sritchie commented on #447
I reinstalled `haskell-mode` from ELPA and it looks like the issue might be fixed! I haven't had the REPL hang in the last 20 minutes. Previously it would hang every few commands. We might be in business.

I deleted the ELPA package, restarted emacs, reinstalled, restarted again and everything looks good.

[2015-03-30 19:53] sritchie commented on #447
I've had issues before with installing a new version of some package when an old version was still around. Emacs uses some old function definition when compiling instead of the new one, and some busted error gets locked into the compiled files.

[2015-03-30 19:55] sritchie commented on #447
Nope, I was wrong. Still hanging.

[code]

[2015-03-30 20:20] gracjan commented on #447
@sritchie: Could you run the **git, not compiled** version? I do not think we can find more info in those binary dumps...

[2015-03-30 20:22] gracjan commented on #447
The interesting part contains no information:

    (current-command .
       [cl-struct-haskell-command
           ...
           #[... "Á@ÂÃA\" ÄÅA\" ÄÆA\"\""
           [state haskell-process-send-string string-match "^[A-Za-z_]" format ":info %s" ":info (%s)"] 5]
           nil
           #[... "ÁÂ\" ÁÃ\"? Ä!"
               [response string-match "^Top level" "^<interactive>" haskell-mod

[2015-03-30 20:26] sritchie commented on #447
here's what I get when I kill all *.elc files. Unfortunately it doesn't look that helpful either. Seems like emacs lisp hides the lambda bodies. Checking if there's some way I can force these to print. (I'm in the #haskell IRC channel as sritchie if you're on, btw, happy to give you better turnaround time on this stuff)

[code]

[2015-03-30 20:31] sritchie commented on #447
Boom, adjusted the print depth and level and now I get this:

[code]

[2015-03-30 20:35] kuerzn opened #565 "Syntax highlighting error: Haskell representation of the string \" is "\\\"" which breaks the highlighter"
The syntax highlighter seems to think that the second " opens a new string. It does not understand that the middle " is escaped.

[2015-03-30 21:59] #565 closed

[2015-03-30 21:59] gracjan commented on #565
There you go.

[2015-04-01 08:43] s9gf4ult commented on #323
But operator `||` becomes string starter in this case.

String must be started at pattern, matching to regexp `\[[a-zA-Z]*\|` and ended at string `|]`. Is there such posibility?

[2015-04-01 09:30] gracjan commented on #323
More exactly the char `[` should be marked as _generic string_ and then the last ']' should be also marked as _generic string_.

The char `|` does not change its meaning. The syntax code `|` means _generic string_ and it is given to brackets. Sorry for the confusion.

(Note: some quasiquotes like e, d, t are actually Haskell so it might be good to use _paired delimiters_ `$` syntax class).

[2015-04-02 01:31] sritchie commented on #447
Not sure if it's related to this bug, but ever since upgrading to the latest haskell-mode (the 3-30 build on git) I'm getting freezes almost every other character. Not sure what process is hogging.

[2015-04-02 01:33] sritchie commented on #447
It seems like before, the main buffer would keep running when the repl locked. Now if the repl locks, the main buffer gets stuck as well.

[2015-04-02 05:48] s9gf4ult commented on #323
If I understand you correctly, you propose make Emacs consider any symbols between `[` and `]` as generic string. This means that usual Haskell lists like

[code]

and list comprehensions like

[code]

become "strings" also, which is unacceptable.

[2015-04-02 07:08] gracjan commented on #323
@s9gf4ult: This is not at all what I propose. Please have a look at documentation for variable `font-lock-syntactic-keywords` so that you understand how emacs puts syntactic properties on characters in a buffer.

[2015-04-02 18:53] joehillen opened #569 ""File mode specification error: (void-function haskell-indentation)""
I saw the announcement for the March release about the new indentation and I wanted to try it out: https://github.com/haskell/haskell-mode/wiki/Month-in-haskell-mode-March-2015

On the announcement it says to try it out add:
[code]

If I do that, I get the above error. However, this works (found in the guide):
[code]

Is this a bug in the announcement?

[2015-04-02 19:16] gracjan commented on #569
Proper is:

    (add-hook 'haskell-mode-hook 'haskell-indentation)

thanks for noticing!

[2015-04-02 19:19] joehillen commented on #569
@gracjan I'm confused. `'haskell-indentation` gives me the error; `'turn-on-haskell-indentation` does not.

[2015-04-02 19:21] gracjan commented on #569
I can't spell at this hour. Proper is with -mode at the end:

    (add-hook 'haskell-mode-hook 'haskell-indentation-mode)

[2015-04-02 19:24] joehillen commented on #569
Got it. Thanks!

[2015-04-02 19:24] #569 closed

[2015-04-02 23:03] sritchie commented on #447
I'm also not providing that much info, but I did enable `toggle-debug-on-quit`, which gave me a trace when I had to kill the process that was stopping up my Haskell buffer:

[code]

[2015-04-03 11:36] #401 closed

[2015-04-03 13:48] gracjan commented on #447
@sritchie: can you disable 'stylish-haskell-on-safe', 'flycheck-haskell' and generally any automatic thing for the buffer and see if it still hangs?

[2015-04-03 13:49] gracjan commented on #447
@sritchie: disable this also: haskell-doc-mode-print-current-symbol-info

[2015-04-03 16:24] abbradar commented on #399
I have probably somewhat related bug -- `haskell-debug` cannot parse operator <|> (maybe others, haven't studied it better). I can provide more info if it can't be reproduced. I have `haskell-mode-20150331.1140`.

[2015-04-03 20:41] massysett opened #570 "fill-paragraph does not fill first line with Haddock marked-up comments"
There is a problem with fill-paragraph; it does not work with some comments with Haddock markup, especially if you are running fill-paragraph with point in the first line of the comment.  This is fully described in the Haskell source file at

https://gist.github.com/massysett/ac42073f92f098b55dfe

I verified this by running emacs as `emacs -Q -L . -l haskell-mode-autoloads.el`.

[2015-04-03 22:21] gracjan commented on #570
Confirmed. Thanks for report!

@massysett: Are you able to create a (failing) test case? We have a testsuite and a good place is in file `tests/haskell-mode-tests.el`.

[2015-04-04 08:43] gracjan commented on #261
I'll close this issue as it seems it went away. If you still experience this problem, write a comment here and we will reopen. Thanks for the report!

[2015-04-04 08:43] #261 closed

[2015-04-04 08:46] gracjan commented on #191
In the somewhat related issue #180 it was hinted that `cabal repl` is the way to go. In general `cabal repl` is when you have .cabal file and ghci is only when you do not have it. Implementing more logic would be very fragile and user unfriendly.

I'm closing this issue, if I misunderstood something write a comment or reopen.

[2015-04-04 08:46] #191 closed

[2015-04-04 09:29] gracjan commented on #321
`haskell-indentation` after hi2 merge still exhibits this problem.

[2015-04-04 09:31] gracjan commented on #463
@sboosali: I tried to reproduce but failed. -do-info and -do-type do not ask me any unnecessary questions.

Can you describe how to reproduce the problem?

[2015-04-04 09:42] gracjan commented on #432
@ikirill: I tried to reproduce the problem and what I found is:

- ghci session by itself does not show types unless you do `C-c C-t`
- what shows types is `haskell-doc-mode`
- my version of `haskell-doc-mode` shows types in minibuffer both for `sortBy` and for `comparing`

Can you check out newest git version?

[2015-04-04 10:01] gracjan commented on #432
@ikirill: Did your patch fix everything? I see a lot of edits on it... not sure if this is done or not yet...?

[2015-04-04 11:54] svenpanne commented on #191
How is ``cabal repl`` related to editing Haskell source files?

[2015-04-04 12:05] gracjan commented on #191
@svenpanne: I do not understand your question. Can you elaborate?

[2015-04-04 16:33] gracjan commented on #549
Some more testing:

    Prelude> (,) 'x''y'
    ('x','y')
    Prelude> (,) 12'y'
    (12,'y')
    Prelude> (,) 0x12'y'
    (18,'y')
    Prelude> (,) x12'y'
    <interactive>:6:5: Not in scope: ‘x12'y'’
    Prelude> (,) 'x''y''
    <interactive>:7:12:
        lexical error in string/character literal at end of input
    Prelude> let y = 45
    Prelude> (,) 'x'y
    ('x',45)
    Prelude> (,) 'x''y

[2015-04-04 18:12] lunaryorn commented on #538
@LukeHoersten I read “concerned”, whereas you apparently read “I'm okay” :)

But since @chrisdone agreed, please feel free to open a pull request that adds his Cabal Repl checker to this repository.  If @chrisdone wants, I can give him write access, but I'd like to review the checker before merging it into this package and thus released it to a greater audience.

[2015-04-06 16:43] LukeHoersten commented on #538
@lunaryorn, Chris is concerned about changing the default checker but he's OK with merging the packages.

Not changing the default means we need to work out the technical details about how the two checkers will interact and become enabled. Until the technical details are worked out, we will not merge anything. Unless you are ready to contribute to this technical discussion I'm afraid we're stalled

[2015-04-06 19:19] #528 closed

[2015-04-06 19:26] gracjan commented on #538
@lunaryorn: I know that you were in the middle of rewrite and *generalized checker*. How far are you with this?

Currently `haskell-mode` has a lot of ways to check Haskell code, including the new `ide-backend`. There is quite a lot of cleanup needed in `haskell-mode` before we can handle yet one checker.

@LukeHoersten: I knew that `flychecker-haskell` uses `haskell-cabal.el` for a reason but I d

[2015-04-06 19:27] gracjan commented on #521
Caveat: it seems that `#` is to be recognized only on first column, although I did not find it documented anywhere.

[2015-04-06 19:30] gracjan commented on #538
Note that we still have remnants of `flymake` in the code, those are reported to not always work as in #384 or #130.

[2015-04-06 19:34] gracjan commented on #564
@greenrd: `haskell-process.el` has `haskell-process-set-suggested-imports` that says

Doesn't it work for you?

[2015-04-06 19:36] LukeHoersten commented on #538
@gracjan:

- `haskell-flycheck` is @chrisdone's `haskell-process`-based checker.
- `flycheck-haskell` is @lunaryorn's cabal-integration package for the `ghc-checker` built into `flycheck`. He'd have to provide any more details beyond that.

I don't believe that `haskell-flycheck` depends on anything but `haskell-mode` (for `haskell-process`) and `flycheck`. `haskell-process` is what it uses for ca

[2015-04-06 19:41] gracjan commented on #538
I did not know that `haskell-flycheck` is something different than `flycheck-haskell`. It that case at least half of my comment does not apply :)

[2015-04-06 19:44] LukeHoersten commented on #538
In hind sight `haskell-flycheck` should really be called `flycheck-haskell-process` and `flycheck-haskell` should be called `flycheck-haskell-cabal` or something like that. `flycheck` proper already has a checker called `ghc-checker`. This ambiguity is exactly what I'm trying to resolve here while simultaneously simplifying configuration and access to these projects.

NOTE: I'm not really proposin

[2015-04-06 21:16] gracjan commented on #255
I'll close this now. If you feel this is important just write below and we will reopen.

[2015-04-06 21:16] #255 closed

[2015-04-06 21:17] gracjan commented on #237
@LukeHoersten: Is this still a problem?

[2015-04-06 21:18] gracjan commented on #249
@tibbe: Your code seems fine to me. `haskell-mode` seems overloaded so I think it is best if you package `cmm-mode` as a separate package. What do you think?

[2015-04-06 21:25] tibbe commented on #249
Sounds good to me. I've handed over maintenance over cmm-mode I think it's separately package somewhere now.

[2015-04-06 21:26] gracjan commented on #278
We need a test suite for actually supported message formats.

[2015-04-06 21:28] gracjan commented on #294
@vapniks: Do you have your hack ready?

[2015-04-06 21:29] gracjan commented on #249
Thanks! Closing in this case.

[2015-04-06 21:29] #249 closed

[2015-04-07 06:16] lunaryorn commented on #538
@gracjan I'm not rewriting the built-in GHC syntax checker.  I wonder where you got this idea from.  I had the idea to use `cabal build` for syntax checking, in this package, but it seems redundant now in light of a haskell-process based checker.

@LukeHoersten We are not stalled then.  I'll contribute to the technical aspects of the syntax checker implementation, with regards to how we can seamle

[2015-04-07 07:55] gracjan commented on #495
@chrisbarrett: Any progress on this one?

[2015-04-07 08:57] gracjan commented on #378
@codygman: Hmm, I'm thinking where this problem might be coming from.

base package is integral part of GHC and is never reinstalled, updated, so it's hash never changes. Unless you use a couple of different compilers.

Have you by chance used cabal with `-w` option to select compiler?

[2015-04-07 09:49] chrisbarrett commented on #495
No, haven't had the time. Feel free to close. :)

[2015-04-07 11:32] RasmusWL opened #572 "haskell-mode-contextual-space called on zero length identifier"
I tried turning on debug-on-error in my emacs, and it comes up with the following error when performing a `haskell-mode-contextual-space`. This bug seems to break the current session, as nothing happens when i call `haskell-process-cabal-build`.

[code]

### Specs
I'm using `haskell-mode-20150403.1144` with `emacs 24.3.1` on`Ubuntu 14.04.2 LTS`, using `ghc 7.8.4` and `cabal 1.22.2.0`

### init.el

[2015-04-07 11:33] chrisdone commented on #538
To be clear, I wrote haskell-flycheck as an experiment, I'm not convinced it's a good idea, as it has subtle interactions with e.g. the REPL context. Although it seems to work.

Relatedly, [ide-backend](https://github.com/fpco/ide-backend) being open sourced changes the situation. Perhaps in a month we'll have a flycheck checker for [ide-backend-client](https://github.com/chrisdone/ide-backend-cli

[2015-04-07 11:47] gracjan commented on #495
Naah, I'll keep it open and nag you from time to time :)

[2015-04-07 11:48] gracjan commented on #538
Good to know, thanks for the update.

[2015-04-07 11:50] lunaryorn commented on #538
@chrisdone Since you've already implemented it, it's worth a try imho.  If it's too flaky we can always return to the simple GHC checker.  Thanks to Flycheck's automatic checker selection it should be mostly transparent to the user.

I'm not sure whether ide-backend changes the game currently.  If I remember the announcement post aright, it doesn't yet expose compilation errors… if it did, thought

[2015-04-07 12:04] chrisdone commented on #538
Fair enough. If it's not disrupting existing users of Flycheck-haskell it seems fine to me.

It does do that, I just didn't do anything interesting with the output in my emacs minor mode yet. It'll just be a case of calling `getSourceErrors` from the backend and asynchronously waiting on a list of errors, similar to what I'm doing with this haskell-flycheck mode. It should be a trivial checker to

[2015-04-07 12:06] chrisdone commented on #538
@lunaryorn Example, if interested: https://github.com/chrisdone/ide-backend-mode/blob/master/ide-backend-mode.el#L432 Here I'm just message'ing them but of course that could easily be pushed into a list via flycheck's async API.

[2015-04-07 13:31] LukeHoersten commented on #237
This was resolved a long time ago. Sorry for not following up.

[2015-04-07 13:31] #237 closed

[2015-04-07 13:44] gracjan commented on #572
@RasmusWL: thanks for the report.

As I see contetual space tries to do `:info` on the symbol it finds, except it find an empty symbol. What is the thing just before the space?

[2015-04-07 13:56] RasmusWL commented on #572
At least it happens when `point` is at the beginning of an empty line

[2015-04-07 18:23] gracjan commented on #572
Where does this idea of contextual space come from? There are so much wrong about it:

- for completions Emacs usually uses TAB not space
- it works only when non-obvious conditions are met
- it sometimes pops up Minibuffer, thus space gets into interactive entry mode (when completing `import`)
- it sometimes does not pop up Minibuffer, just does `:info` for a near by symbol
- whole thing can just

[2015-04-07 18:47] chrisbarrett commented on #495
:+1:

[2015-04-08 08:40] gracjan commented on #529
Can't use this due to the following reasons:

- `prettify-symbols-mode` works well on identifiers (`\\_` and `\\w`) only as it puts `\\_<` and `\\_>` kind of boundary
- the above renders it pretty useless for operators that have *punctuation* character class
- it can compose part of operator only
- `dot` is heavily overloaded in Haskell as it can be: 1) composition, 2) part of other operator, 3) m

[2015-04-08 08:40] #529 closed

[2015-04-08 08:42] gracjan commented on #572
@RasmusWL: are you actually trying to use contextual space for something useful or you just enabled it because it was in `init.el`?

[2015-04-08 10:21] geraldus opened #574 "Presentation mode configuration does not make any changes"
If I set `haskell-process-use-presentation-mode` to `t` this make no difference if it is set to `nil`. E.g. no matter what value is used, when I run `haskell-mode-show-type-at` it shows me colourful type information in echo area, and also prints to __* Messages *__ buffer.

I'm not sure what **Presentation mode** actually is, but I expected that Emacs will create some kind of popup instead of echo

[2015-04-08 11:08] RasmusWL commented on #572
I saw it in the example section on this repo, so I just wanted to try it out. The one time it worked I thought: "oh, that could probably be useful".

[2015-04-08 12:47] gracjan commented on #574
@chrisdone: Chris, can you comment on this issue?

[2015-04-08 15:15] gracjan commented on #572
That is what I thought. Contextual space is a nice idea and I'm afraid that inner workings of `interactive-haskell-mode` are not a solid enough foundation to provide such functionality.

[2015-04-08 16:48] LukeHoersten commented on #538
Does everyone generally agree that we should be using `ide-backend` as the incremental compile (flycheck), code completion, and code navigation backend?

This means we now have two processes running during dev work: ghci for repl and ide-backend for everything else. This isn't necessarily bad, just clarifying? A goal of mine is to keep the number of external dependencies to a minimum in my dev env

[2015-04-08 17:07] RasmusWL commented on #572
So what is going to happen to it then?

[2015-04-08 17:08] chrisdone commented on #538
I don't think anyone yet is using ide-backend, but it's a possible future contender as it's a high-quality implementation worked on by Well-Typed.

Actually ide-backend supports running statements (REPL stuff) and debugger stuff, although this was never exposed by the public online FP Complete IDE. The functionality is there. So really it would just be "the backend" for everything, ideally speakin

[2015-04-08 17:17] gracjan commented on #572
Very good question. I do not advice using or binding this function to any
key until somebody steps up and fixes it.

[2015-04-08 17:19] chrisdone commented on #574
Presentation mode currently just applies to `haskell-process-do-info` (i.e. `C-c C-i`). I don't think doc-mode interacts well with `C-c C-t` presently.

[2015-04-08 17:39] LukeHoersten commented on #538
Makes sense. One of the things I liked about using ghci (or ghc itself) as the backend for flycheck and code nav is that it's kept up to date with ghc by core devs. If FPco decides to move on from ide-backend (hypothetically) then we stop getting support for new lang extensions etc. What does everyone think about this? GHC and GHCi move in lock-step.

[2015-04-08 17:49] chrisdone commented on #538
Technically the code nav and span type info come from ghci-ng which is maintained by me (which is why it doesn't support GHC 7.10 yet). GHCi proper is more limited, and harder to contribute to. If FP Complete don't upgrade ide-backend to support 7.12 then someone (e.g. me) will.

[2015-04-08 18:27] geraldus commented on #574
Oh, well, now I see what presentation mode is. I've opened it because description of this var states:

Thanks for clarification, I will wait for updates.

[2015-04-08 18:27] #574 closed

[2015-04-08 19:02] LukeHoersten commented on #538
Conceivably though if you got your ghci-ng patches into ghci proper it would be carried along with future work?

[2015-04-08 19:14] #535 closed

[2015-04-08 19:15] LukeHoersten commented on #535
Something is still wrong here.

I tested with a clean emacs config and everything works fine. I tried and it works fine with ido in a clean config as well. Something else I have in my config is conflicting. We'll have to track it down but the `<$>` escape problem is fixed for sure.

[2015-04-08 19:15] geraldus commented on #447
I've faced similar issue: when I type haskell code and make very short delay Emacs hangs for couple of seconds. During that hangs all I can do is wait. After a long investigation I can claim that this is because FlyCheck. Finally I have this setup:
+ haskell-mode
+ company-mode (completions via ghc-mod backend — `company-ghc`)
+ interactive-haskell-mode
+ structured-haskell-mode
+ haskell-decl-sca

[2015-04-08 19:31] geraldus commented on #574
I can't promise anything for sure, I'll take a look of how `haskell-process-do-info` written and maybe try to make `haskell-mode-show-type-at` become aware of presentation mode too.

[2015-04-08 20:24] chrisdone commented on #447
I think the problem with this issue is that we're lacking an isolated reproducible test-case. Failing that I don't anticipate solving it any time soon as I'm unable to reproduce these lock-ups.

[2015-04-08 20:27] chrisdone commented on #538
It is conceivable.

[2015-04-08 20:50] chrisdone commented on #574
If so make it optional; I originally had types using presentation mode, but in the end I found it too heavy-weight to just see the type.

[2015-04-09 04:10] Yuhta commented on #563
`(pop-tag-mark)` has a bug in haskell-mode when the tag is in a different file, it does not jump back to the first file.

[2015-04-09 11:23] lunaryorn commented on #538
@LukeHoersten `ide-backend` won't go away even if FPComplete stops to support it.  We can still keep developing it in the community.  We need something like it anyway to support editors.

I'm afraid, though, that you two lost me.  I know nothing about ide-backend beyond what was said in the blog post, and certainly not enough to make a decision about what we should use for Flycheck.

That said, I'

[2015-04-09 14:26] geraldus commented on #447
Don't mind me, now I have hangs back, and can't beat them in fast way (I mean I need to recked all that stuff again). I'll make isolated environment with using docker or vagrant and see could I reproduce this behaviour there.

[2015-04-09 22:29] LukeHoersten commented on #447
@geraldus I think the issue you're seeing is different than what this issue is about. For example, your whole emacs is freezing while this issue #447 is about the `haskell-process` ceasing to respond. Emacs keeps responding.

I think I've reproduced your frozen emacs issue. It seems to be caused by `company-mode` for some reason. Turning company mode off alleviates all emacs freezing issues for me

[2015-04-10 04:08] codygman commented on #378
@gracjan I didn't use cabal with the -w option to select the compiler. Are you recommending I try doing that?

[2015-04-10 07:03] gracjan commented on #378
I thought you *were* using `-w` and that is the cause of your issues.

If you did not then I'm at a loss guessing what could be causing your
problem.

[2015-04-10 09:24] geraldus commented on #447
First of all excuse me for off topic in this case

@LukeHoersten your guess seems to be right. What is the best place to continue conversation of my issue?

[2015-04-14 13:17] gracjan commented on #118
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:18] gracjan commented on #256
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:18] gracjan commented on #235
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:18] gracjan commented on #229
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:19] gracjan commented on #206
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:19] gracjan commented on #208
This issue has not seen activity for a very long time. Is this still something we should be concerned about?

[2015-04-14 13:21] philipdexter commented on #235
It doesn't seem like it's a universal issue, closing

[2015-04-14 13:21] #235 closed

[2015-04-14 18:56] Mikolaj commented on #118
Oh, I'm sorry, it's long ago fixed. thank you!

[2015-04-14 18:56] #118 closed

[2015-04-14 21:14] MichaelXavier commented on #447
@chrisdone I don't think anyone in this thread is trying to drag their feet about a reproducible test case. I won't speak for others but for myself I don't know how to boil this complicated integration into a test case. The best I can say is that it happens frequently enough that I'd have no trouble catching the problem in the act and dumping state, but this thread may need more guidance to whittl

[2015-04-15 21:19] geraldus commented on #447
Sorry guys, there was some unforeseen circumstances which make me out of business for some time. Now I facing «No space left on device» with my docker, I hope I will be able handle this tomorrow and finish image for Emacs + Haskell-mode testings.

[2015-04-17 13:08] hmgibson23 opened #581 "Font lock for bind operator"
Would be nice to avoid the >= of >>=  being turned into &#x2265; so you get >&#x2265;

[2015-04-17 13:56] ivan-m commented on #581
I assume you're using some kind of prettyfication mode for this?

[2015-04-17 14:02] hmgibson23 commented on #581
Yes exactly. In emacs24 prettify-symbols-mode is enable by default.

[2015-04-17 15:44] #581 closed

[2015-04-17 15:44] gracjan commented on #581
There you go!

Thanks for the report.

[2015-04-17 19:07] nrolland commented on #116
there is still a weird issue, as when haskell-stylish-on-save is enabled, the TAGS file supposed to be coming from haskell-tags-on-save is not actually generated

[2015-04-17 23:09] ivan-m commented on #581
I have Emacs 24.4.1 and don't seem to have prettify-symbols-mode enabled...

[2015-04-17 23:12] ivan-m commented on #116
@nrolland maybe open a new issue for this as this one is labelled as being closed?

[2015-04-17 23:13] Mikolaj commented on #116
I can't reproduce that with GNU Emacs 24.3.1 and haskell-mode from 2013-11-09 21:44:26 (doh, am I lazy with updating!).

[2015-04-18 05:38] gracjan commented on #116
@nrolland: Thanks for reporting. We will need a reproducible case to debug this.

Also a new open issue would be a good idea so that new information is not lost.

[2015-04-18 09:59] mrkkrp opened #584 "haskell-mode doesn't work when which-function-mode enabled"
After a recent update `haskell-mode` has lost its ability to function. When I open any Haskell file, I see message "scanning declarations in filename.hs (27%)" or something like this in the minibuffer. Emacs hangs, it's clear that gets in some kind of infinite loop (according to processor usage statistic).

My investigation has shown that it happens only when `which-function-mode` is enabled. To r

[2015-04-18 15:50] k0ral opened #585 "Declarations scanning gets stalled"
The issue was noticed under OS-X and linux, at least.
When opening a haskell file, emacs freezes on the `Scanning declarations in file.hs` phase.
Reverting PR #580 fixes the issue.

Thank you !

[2015-04-18 15:55] deviant-logic commented on #585
If I read the docs right, `looking-at-p` differs from `looking-at` in that it doesn't mutate the match data.  Presumably, some of the uses of `looking-at` in the declaration scanning code actually depended on the side-effect?

[2015-04-18 16:43] gracjan commented on #585
I've reverted in e5afe82bc878183397a49ab150244bf4391c20c0. Still, there must be some twisted logic going on if that commit broke scanning.

[2015-04-18 16:47] gracjan commented on #584
I've reverted in e5afe82. Still, there must be some twisted logic going on if that commit broke scanning.

[2015-04-18 18:41] mrkkrp commented on #584
@gracjan, thank you. Now that problem has gone.

[2015-04-19 05:39] #585 closed

[2015-04-19 05:39] #584 closed

[2015-04-19 11:18] mrkkrp commented on #584
@gracjan, please note that last commit fixed indentation too (it was really strange, but that was a minor problem).

[2015-04-19 21:48] RasmusWL opened #586 "Highlight source locations in haskell-interactive-mode (as in haskell-compilation-mode)"
I had a look through the code for `haskell-interactive-mode`, because I wanted to enable quickly navigating to the source location of an error/warning message. But I found you can already do that by using `haskell-interactive-mode-return` on the first line on one of these. I think it would be great to hightlight these paths, so it is more obvious that the feature exists! _(+mouse interaction)_

As

[2015-04-20 07:02] gracjan commented on #586
I dimly remember that there was a reason that `haskell-interactive-mode` does not extend `compilation-mode`. @chrisdone, do you remember what was the reason?

[2015-04-20 08:31] hmgibson23 commented on #581
I'm rocking 24.4 (9.0) and it's on by default.

As an addition Arrow operator ```&&&``` will also be affected by this.

Thanks for the fix!

[2015-04-20 14:26] kuribas commented on #414
I am biased of course, but I'd like to give the following reasons for making indentation-mode the default:

 * It's not intrusive for a new user.  The only thing they have to know is _tab_ indent to the right, and _shift-tab_ indent to the left.  In contrast to for example _structured haskell mode_, which takes some time to get used to.
* It is fairly correct in finding place to indent, in contras

[2015-04-21 08:58] hmgibson23 opened #589 "Prettify symbol troubles with dot operator"
Great fix for the issues with ```>>=```. Thanks for the super fast response. The fix however has unfortunately introduced another bug. Now in imports ```.``` is transformed into &#8728; so you get the fairly unpleasant import Data&#8728;ByteString&#8728;Char8 instead of ```Data.ByteString.Char8```.

Sorry I feel like the scrooge of prettify-symbols-mode!

[2015-04-21 09:02] gracjan commented on #589
@hmgibson23: If you look through the code you will see that "." requires special handling.

Are you able to look at this yourself and create a pull request?

[2015-04-21 09:06] hmgibson23 commented on #589
Yes will have a look

[2015-04-21 09:17] gracjan commented on #589
@hmgibson23: should be pretty easy: just check if a dot has space before and space after.

[2015-04-21 09:19] hmgibson23 commented on #589
Yeah good call.

[2015-04-21 09:37] ivan-m commented on #589
@gracjan it can't just be a matter of requiring a space before/after: that means that `(.)` wouldn't be pretty-fied.

Then again, how do you tell if `Foo.Bar` is subsequently applying two constructors or just applying one qualified constructor?

[2015-04-21 09:41] gracjan commented on #589
See here:

https://www.haskell.org/onlinereport/haskell2010/haskellch2.html#x7-180002.4

specifically this table:

This 	Lexes as this

    f.g 	f . g (three tokens)
    F.g 	F.g (qualified ‘g’)
    f.. 	f .. (two tokens)
    F.. 	F.. (qualified ‘.’)
    F. 		F . (two tokens)

[2015-04-21 12:47] hmgibson23 commented on #589
I'm not that familiar with Elisp, so would something like

[code]

work?

Which makes me think the ```forall``` regex is actually redundant.

[2015-04-21 13:22] gracjan commented on #589
Close, but no cigar. I guess using `char-before` and `char-after` would be better idea. You can read about those here:

http://www.gnu.org/software/emacs/manual/html_node/elisp/Near-Point.html

[2015-04-22 15:00] LukeHoersten commented on #538
Since @chrisdone is the primary developer of both `haskell-process` and `ide-backend`, we're going to defer any more work on `flycheck` integrations in the hopes that `ide-backend-mode` supersedes `haskell-process`/`ghci-ng`-based integrations.

[2015-04-22 15:00] #538 closed

[2015-04-22 15:05] LukeHoersten commented on #14
As Chris mentioned back in 2013, he was going to close this in a month. I confirmed hi2-mode still has this same behavior but the recommended indentation works correctly as this:

[code]

[2015-04-22 15:05] #14 closed

[2015-04-22 15:19] LukeHoersten commented on #361
I actively maintain both shnippet and haskell-yas (they are the same just a rename). The reason it was originally moved into haskell-mode was because it allows us to have completions like `lang` that use haskell-mode to expand to all possible lang pragmas. YAS itself comes packaged with some basic haskell completions as well.

I'm not sure if the best course of action is to:
1. kill off my externa

[2015-04-22 15:26] LukeHoersten commented on #216
This is still an issue and since this is my code I'll try to figure out what's going on.

[2015-04-22 15:32] LukeHoersten commented on #305
`.yas-ignore-filenames-as-triggers` is included because this is recommended by the YAS author and YAS will evidently stop supporting name triggers as a deprecated feature anyway.

[2015-04-22 15:32] #305 closed

[2015-04-22 15:59] LukeHoersten commented on #256
Yes this is definitely still a problem. Until I saw this just now I didn't know it was related to YAS.

[2015-04-22 16:08] LukeHoersten opened #593 "Make a OPTIONS_GHC yasnippet completion"
Similar to the [`lang` LANGUAGE](https://github.com/haskell/haskell-mode/blob/master/snippets/haskell-mode/lang-pragma) pragma completion, create a [OPTIONS-GHC](https://downloads.haskell.org/~ghc/7.0.3/docs/html/users_guide/ch04s02.html#source-file-options) pragma completion. Per issue #444 .

[2015-04-22 16:29] gracjan commented on #361
If snippets are to be fully supported citizen of haskell-mode there needs
to be documentation for that and description how to enable those.

[2015-04-22 17:20] purcell commented on #361
I personally strongly feel that `haskell-yas` should disappear, and there should just be a properly-packaged version of `schnippet`, or a derivative thereof, ideally under the `haskell` github org.

There's no fundamental connection between the haskell snippets and `haskell-mode` in terms of code. `yasnippet` has to be installed separately from `haskell-mode` anyway, and many people don't use it a

[2015-04-22 17:22] purcell commented on #361
To clarify, it may of course make sense for `schnippet` to depend on `haskell-mode` in order to provide correct snippets, but no part of `haskell-mode` needs `haskell-yas`/`schnippet`.

[2015-04-23 06:37] lunaryorn commented on #538
@LukeHoersten So we'll let this matter rest until ide-backend-mode is ready?

[2015-04-23 08:14] rietmann opened #594 "Haskell-mode crashing and buffer erased (not sure exactly where problem is)"
In the last days, I've had some very strange behavior when working on my latest haskell project. I'm editing along normally, I *think* I hit save, or maybe switch buffers and suddenly the buffer I was editing is blank and has been saved to disk! (no text at all, 0 bytes in filesystem). Additionally it seems that haskell-mode has crashed (it doesn't show in status bar). It's only happened twice, an

[2015-04-23 10:22] geraldus commented on #594
@rietmann, you can hit `C-h l` to see last 300 input keystrokes.

[2015-04-23 12:55] rietmann commented on #594
@geraldus Thanks for the tip. If it happens again, I'll make sure to try that and post back.

[2015-04-23 13:50] pyr opened #596 "Incompatibility with htmlize 1.47"
Hi there!

`htmlize` (at version 1.47) recently stopped working with haskell. This is because of extra quoting when defining faces I had to change the lines:

[code]

And remove the extraneous quoting:

[code]

The same goes for every face declaration (https://github.com/haskell/haskell-mode/blob/master/haskell-font-lock.el#L91-L131). If this change does not introduce problems with earlier emacs/h

[2015-04-23 14:00] gracjan commented on #596
For those oblivious what htmlize is: http://fly.srk.fer.hr/~hniksic/emacs/htmlize.el.cgi

@pyr: Note that font-lock documentation states:

That is why it got changed.

@pyr, please provide PR, we will check and see what to do with this.

[2015-04-23 14:05] pyr commented on #596
Hi @gracjan thanks for the comments. I attached a PR with the fix that resolve the situation for now.
Using standard face names seems like a really good idea for the future indeed.

[2015-04-23 14:10] #596 closed

[2015-04-23 15:23] LukeHoersten commented on #538
I think so, yes. We'll see how far Chris gets with the implementation.
On Thu, Apr 23, 2015 at 1:37 AM Sebastian Wiesner <notifications@github.com>
wrote:

[2015-04-23 15:27] LukeHoersten commented on #361
I think that's the right approach Steve. Moving it to the Haskell github
would alleviate a lot of the questions I've seen too about what's the
officially supported version. I'll do that soon. Thanks for the feedback.
On Wed, Apr 22, 2015 at 12:22 PM Steve Purcell <notifications@github.com>
wrote:

[2015-04-23 23:49] mcandre opened #599 "Debugger triggered on "match c of", a typo for "case c of""
As a Haskell newbie, I want haskell-mode to behave more gracefully when I make a typo, like `match c of` instead of `case c of`. Currently, the debugger triggers on such parse errors.

[2015-04-24 00:08] ivan-m commented on #599
Is this for indentation? Or when you load it into ghci?

[2015-04-24 00:12] mcandre commented on #599
Indentation, no GHCi used.

[2015-04-24 00:13] ivan-m commented on #599
Which indentation mode are you using?  Can you provide the complete error for it?

[2015-04-24 00:39] mcandre commented on #599
Here is my .emacs configuration:

https://github.com/mcandre/dotfiles/blob/master/.emacs

[2015-04-24 01:47] ivan-m commented on #599
Pinging @gracjan and @kuribas (especially since the new indentation mode was merged in recently).

@mcandre are you installing haskell-mode via package.el or a distro package? Do you know what version it is?

[2015-04-24 01:53] mcandre commented on #599
I load haskell-mode via use-package, install haskell-mode via Emacs Cask, source haskell-mode from MELPA, and I'm using the latest version, 20150423.710.

[2015-04-24 02:35] ivan-m commented on #599
Yeah, so it is to do with the new version of haskell-indentation (and thus I can't really help you with it :p)

[2015-04-24 02:51] mcandre commented on #599
Thanks for the tip.

In some programming languages, package metadata can specify an upper limit on dependencies and sandbox them so that your package is guaranteed to use a safe version. Is this possible with Emacs packages?

[2015-04-24 07:04] gracjan commented on #599
@mcandre: `haskell-indentation` uses usual elisp `throw`/`catch` mechanism to do deep unwinding. This is normal, what is not normal is that it should not trigger debugger, even if `(debug-on-error t)` is set.

Since you are the kind of person that has `(debug-on-error t)` you seem to have skill and knowledge to find out why catch/throw is triggering debugger. It should not.

Also note that MELPA c

[2015-04-24 07:15] gracjan commented on #599
Here is the place:

https://github.com/haskell/haskell-mode/blob/master/haskell-indentation.el#L561

[2015-04-24 11:11] kuribas commented on #599
hm, this is the same bug as in #483  I have a fix in my own haskell-indentation.el, but it is quite
out of sync with master.  I should have a fix when I can get myself out the github mess...

[2015-04-24 11:15] gracjan commented on #599
Which repo?

I see nothing here: https://github.com/kuribas/haskell-mode
And nothing here: https://github.com/kuribas/hi2

@kuribas, I tried to send you an email but no result. Which inbox do you
respond to?

[2015-04-24 11:17] kuribas commented on #599
In my local repo, sorry...  You can send mail to my resonata inbox.

[2015-04-24 11:20] gracjan commented on #599
I've tried resonata, can you look into your INBOX there?

[2015-04-24 11:21] kuribas commented on #599
I got only a github message...

[2015-04-24 11:25] gracjan commented on #599
I've used this:

http://www.resonata.be/contact

so `info` at the address. Is this wrong? Is this correct?

[2015-04-24 11:26] kuribas commented on #599
hm, that may be broken... try kristof at resonata.be

[2015-04-24 11:34] gracjan commented on #599
Check INBOX now.

[2015-04-25 02:19] mcandre commented on #599
@kuribas A fix you say? Please merge :)

I'm actually new to Emacs Lisp; The only reason I turned on debug-on-error is to produce better bug reports, lol!

[2015-04-25 04:51] gracjan commented on #599
Haha, well, we need to built some mechanism for bug reporting tailored for
haskell-mode. debug-on-error sure isn't one of those :)

[2015-04-25 13:05] #589 closed

[2015-04-25 14:09] PinkMushroom opened #604 "haskell-mode needs cl-lib on Emacs23"
Debian wheezy emacs 23 does not seem to have cl-lib

So a fresh install of haskell-mode fails

Cannot open load file "cl-lib"

AFAICT this seems to be a problem in emacs23 only.

[2015-04-25 14:12] gracjan commented on #604
True, `haskell-mode` requires `cl-lib` to be present. The easy way is to install `cl-lib` on Emacs 23.

As far as I know Emacs 23 lacks also a default package manager and that means we do not know what kind of way to get `cl-lib` to advice.

[2015-04-25 14:14] gracjan commented on #604
@PinkMushroom: what do you suggest we do?

[2015-04-25 14:24] gracjan commented on #604
We have this: https://github.com/haskell/haskell-mode/blob/master/haskell-mode-pkg.el.

How did you install `haskell-mode` on Emacs 23?

[2015-04-25 14:36] PinkMushroom commented on #604
i installed using git clone/make

as for suggestions: i'm not too familiar with installation of emacs package, but maybe
 - include the appropriate cl-lib as part of the distribution
 - add "you need cl-lib for emacs23" to the readme

i believe there's an issue that if cl-lib is included as part of the distribution by default there might be conflicts with emacs24. someone more knowledgeable than I

[2015-04-25 14:47] gracjan commented on #604
We distribute cl-lib along haskell-mode for tests under Emacs 23. It is in
tests/compat/cl-lib.el. You may take it from there.

If you know what kind of instructions would make it clear to Emacs23 users
please create a pull request with changes to README.md. I could invent
something but that would be guessing so you are a better person to write it.

Have you considered upgrading Emacs? It's free,

[2015-04-25 14:58] PinkMushroom commented on #604
i would love to upgrade emacs but would not love upgrading debian to unstable to do it...
ok-i'll work on some verbage

[2015-04-25 15:30] geraldus commented on #604
@PinkMushroom you don't need to upgrade Debian to unstable branch, because you can use [backports](http://backports.debian.org) to install Emacs24 easily. Here is quick instructions:

For wheezy add this line:
[code]
to your `sources.list` (or add a new file with the ".list" extension to /etc/apt/sources.list.d/) You can also find a list of other mirrors at https://www.debian.org/mirror/list
Run `

[2015-04-25 17:53] antalsz commented on #334
@gracjan: Given #603, should this be closed now?

[2015-04-25 18:14] #334 closed

[2015-04-25 22:07] geraldus opened #606 "Company mode hangs Emacs when looking up for candidates."
I'm facing hangs when company tries to complete something while I typing with big projects. This hangs varies in duration: sometimes hangs are very short, sometimes them last for several seconds. If I type something after company popup appeared I'm facing hang again. When I say hang I mean that if type something I see nothing to happen for some time, chars are being inserted only after completions

[2015-04-26 00:30] PinkMushroom commented on #604
oops. i shouldn't have closed.  So here is my suggestion

@geraldus yes- i could use backports - but still - are there users that for whatever reason will be stuck with emacs23 ? then they will want to know how to get things working.

regardless I'm trying to figure how to create a pull request with the note added to the README.md.

[2015-04-26 04:35] PinkMushroom commented on #522
@unhammer interesting if i use C-h v haskell-mode-hook RET i do NOT get the full documentation.

[2015-04-26 06:21] geraldus commented on #604
@PinkMushroom btw, Jessie has been released yesterday.

[2015-04-26 19:35] geraldus opened #607 "`haskell-present` does not follow its doc string"
This is what doc string of `haskell-present` states:

However, there is nothing related to SESSION arg in function body [1]:
[code]
However, `haskell-process-do-simple-echo` does session assignment, which is not documented  [2]:
[code]
Am I missing something?

[1] https://github.com/haskell/haskell-mode/blob/master/haskell-presentation-mode.el#L38-L58
[2] https://github.com/haskell/haskell-mode/bl

[2015-04-26 19:55] geraldus commented on #607
Looks like functionally of these functions got messed, look: `haskell-present` applies fontification to inserted code `(font-lock-fontify-region point (point))`. But this is not documented.
Now, `haskell-process-do-simple-echo` have optional MODE arg, which is neither documented nor used as well:
[code]
Likely, MODE should go to `haskell-present` function and used somehow before fontification appl

[2015-04-27 07:05] unhammer commented on #522
what do you get?

[2015-04-27 07:30] geraldus commented on #522
This is what I see:

[2015-04-27 08:37] unhammer commented on #522
Oh maybe I was doing h f haskell-mode instead of haskell-mode-hook, because when I try again now I get what @geraldus gets. Anyway, perhaps the docs for C-c C-l should point at `C-h f haskell-mode'

[2015-04-27 08:45] gracjan commented on #522
True, docs should point to `haskell-mode` as a hub for all documentation
and links to specifics.

Can you create a pull request?

BTW: C-c C-l suggestion could fit on one line. That would be MUCH better!

[2015-04-27 10:24] ocharles opened #608 "Add an interactive function to send the top-level definition the point is currently in to the REPL"
Working in the Haskell REPL with only the ability to reload a file is extremely painful, because reloading a file throws away all local bindings. I propose that `haskell-mode` learns a new interactive function that sends just the current top-level definition to the REPL, shadowing the existing binding with that name.

As a motivating example, consider building a parser for a CSV file. First of all

[2015-04-27 11:46] gracjan commented on #608
Good idea!

Note that it has to support also type signatures and multiple cases:

fact :: Int -> Int
fact 0 = ...
fact n = ...

[2015-04-27 12:15] geraldus commented on #606
Okay, I've written very first version of asynchronous company backend, though it still need some minor  tweaks it provides required minimal functionality and makes company to work properly without hangs.
Also I want to introduce some features in nearest future like:

+ annotations with module information like `company-ghc` backend does
+ type information in echo area (though I'm not using it mysel

[2015-04-27 13:24] gracjan commented on #606
Can we see the code somewhere?

[2015-04-27 13:29] geraldus commented on #606
Surely, will upload it in about a hour.

[2015-04-27 13:43] LukeHoersten commented on #606
So if I understand correctly, you're saying you're basically disabling repl-based completion and forcing company to just complete from the TAGS?

[2015-04-27 13:54] geraldus commented on #606
Here is it https://github.com/geraldus/company-interactive-haskell-backend.
@LukeHoersten currently I did not disable anything, because when I use backend I've wrote company does not uses any other sources of completions. But I definitely will try to remove that hook and test TAGS based completions

[2015-04-27 14:41] gracjan commented on #606
Nice! And it seems pretty non-invasive.

Is there an example in the internet somewhere what is the proper way of handling 'optional dependencies' in Emacs?

[2015-04-27 16:51] LukeHoersten commented on #606
Is there a way to decouple the async completion hook from the company-mode dependency? I think we'd like haskell-mode not to depend on external modes if we can help it.

[2015-04-27 16:56] geraldus commented on #607
Very good, this is what **rgrep** shows:

+ `haskell-present` is used only in `haskell-process-do-simple-echo` and in my own functions.
+ `haskell-process-do-simple-echo` is used only in `haskell-process-do-info`

Here is my proposal:

+ remove redundant optional MODE arg from `haskell-mode-do-simple-echo`
+ remove redundant optional SESSION arg from `haskell-present`
+ mention fontification in `h

[2015-04-27 17:07] LukeHoersten commented on #607
Hmm definitely looks inconsistent. Thanks for the investigation. Have a PR to clean it up? @gracjan may know the history of why it's like this.

[2015-04-27 17:33] geraldus commented on #606
I can't be certain right now, but I already though of such option, because this will ease `auto-complete` support.

[2015-04-27 17:39] geraldus commented on #607
Surely, a bit later though. I want to have some feedback about custom-var. It is possible to make something like multi optional choice, e.g. `haskell-process-fontify-output` could be presented as list of symbols `haskell-fontify-echo-area`, `haskell-fontify-presentaions`, `haskell-fontify-popup` and presented as group of checkboxes.

BTW, assigning session to buffer (or buffer to session) will be

[2015-04-27 17:41] LukeHoersten commented on #606
Right that seems like the way to go: improve the hook by adding an async version so auto-complete and company can both use that. Sounds good @geraldus

[2015-04-27 17:57] geraldus commented on #606
@LukeHoersten are you familiar with `autocomplete`? Is there async support for completions?

To support async completions `company` need a fetcher function which takes exactly one argument — a callback to be executed with list of completions when ready. If there similar approach in `autocomplete` I think it will be very easy. But there is small caveat, as fetcher should take exact one argument it

[2015-04-27 19:05] LukeHoersten commented on #606
I'm not familiar with `autocomplete` but an async complete hook is generic enough that any autocomplete functionality could use it.

[2015-04-27 19:33] gracjan commented on #607
I really like the simplification that this brings.

Thing I'd like to have:

- name of the buffer simply "*:type whatever*", this is distinctive enough to be recognizable
- never fontify echo area
- fontify presentation or popup in the same way as source buffer is fontified, that is check `font-lock-mode` in that buffer and fontify or not fontify presentation accordingly. That will make the view c

[2015-04-27 19:52] gracjan commented on #606
Note that the feature or async hooks is provided by `company` and if `autocomplete` expects everything to return list of completions synchronously then we will not be able to work around the missing functionality. So we will need to use our async functionality by explicitly waiting for it like now. It might hang, but then the advice would be to switch to `company-mode`.

More general note about th

[2015-04-27 20:15] ibraimgm opened #609 "PowerShell hangs on haskell-process-generate-tags"
Hello! I recently updated `haskell-mode` and noticed that the tag generation (when I save/reload a file) gets "locked" into powershell. I don't know why, bu when the current command is run inside emacs:

[code]
Everything just freezes. The equivalent command, in the shell itself, does not hang.
Why we must do this with powershell? Is there a specific reason to not use `hasktags` directly?
On my co

[2015-04-27 20:20] gracjan commented on #609
Well, I like it. But then I'm not using Windows...

I guess the powershell trick is from times before when hasktags was
recursive in itself.

One thing: can you check if paths with spaces in them work for the %s
substitution? Windows likes spaces and we need to support that. Just put
your project inside C:\Documents and Settings and that should give you a
clue if this works or not.

[2015-04-27 20:28] gracjan commented on #607
@geraldus: after rereading everything seems to be obvious except the variable. Please do the font locking as I described above. If somebody will like to have a variable they are always free to submit another issue/pr.

[2015-04-27 20:29] ibraimgm commented on #609
Good catch. I will try this tomorrow and make a pull request if it works.

[2015-04-27 20:34] geraldus commented on #607
Ok, what about renaming `haskell-process-do-simple-echo`?

[2015-04-27 20:42] geraldus commented on #607
Can confirm, that `haskell-session-assing`assigning current buffer to session, so it is good to assign all presentation buffers to current session (thus all of them will be killed with session if asked).

[2015-04-27 20:45] gracjan commented on #607
Rename confirmed. Use your name.

Use the assign so that it is killed properly.

[2015-04-28 00:23] ivan-m commented on #608
Not to mention that the type signature might be nowhere near the actual function definition, or there might not _be_ a type signature.

Also, if the `foo` function you reload is used by another function `bar`, I'm not sure if it's possible to have `bar` use the new definition.

Otherwise, it might be possible to do a region-based copy and then in ghci do a big `let` definition, possibly over multi

[2015-04-28 05:01] PinkMushroom commented on #604
ok. i created the pull request....

[2015-04-28 05:41] gracjan commented on #608
There are `beginning-of-defun-function` and `end-of-defun-function` that we
need to make work properly and:

1. Use `mark-defun` (that uses the above internally).
2. Send the region to eval.

Parts of this mechanism already exists, it is a matter of checking and
connecting the dots.

[2015-04-28 07:05] gracjan commented on #608
Note that `Ctrl-Alt-H` (`mark-defun`) works if `haskell-decl-scan-mode` is enabled. It should work always.

[2015-04-28 07:08] gracjan commented on #608
...and it should work better. It mostly marks what it should, but not always and not exactly.

[2015-04-28 11:42] TimoFreiberg commented on #609
I had the same problem, the powershell command caused an error. It also caused the exact same error if I typed the command in the powershell myself, though. Maybe it depends on the system environment?
Anyway, I replaced the command with the second snippet (which just uses hasktags) in my haskell-commands.el and the REPL no longer hangs.

Paths with spaces don't work ("warning: no files found!"), b

[2015-04-28 11:49] gracjan commented on #609
Double quotes are good enough for windows provided the last char in path is
not backslash.

I do not know how to answers your question.

[2015-04-28 14:04] ibraimgm commented on #609
@TimoFreiberg , looks like you're faster than me :+1:

Anyway, about your question:

You have to cal `haskell-process-load-file` to reload the file on teh REPL (I bound it to `C-c C-l`). If you want to reload when you save, you might need to create a hook in `

[2015-04-28 14:14] gracjan commented on #609
Wait, where is the pull request?

[2015-04-28 14:27] TimoFreiberg commented on #609
Recreated it, I thought I did something wrong before.

[2015-04-28 14:29] gracjan commented on #609
Now it works. Thanks!

[2015-04-28 14:29] #609 closed

[2015-04-28 19:08] gracjan opened #614 "Makefile should warn if used Emacs is too old"
Makefile should detect if Emacs used is too old (<23) and tell to use the EMACS parameter or environment variable.

[2015-04-28 21:17] #607 closed

[2015-04-29 12:55] gracjan opened #615 "Fix haskell-show.el"
There is a file called `haskell-show.el`.

1. It is not referenced from any other file.
2. It is not documented in wiki, it is not documented in texi.
3. It depends on external program https://hackage.haskell.org/package/sexp-show that nobody has installed.
4. It depends on `Read` and `Show` instances being the derived versions.

In its current form it cannot be useful to people outside of very na

[2015-04-29 13:37] ivan-m commented on #615
Apparently sexp-show was downloaded 21 times in the last 30 days...

That said, I think it was one of @chrisdone's experiments that doesn't seem to have gone anywhere (since he no longer maintains it) so it's probably worth deleting.

[2015-04-29 13:43] gracjan commented on #615
Those downloads might be due stackage building everything: https://www.stackage.org/package/sexp-show.

@ivan-m: Can you prepare a pull request cleaning this up?

[2015-04-29 14:00] ivan-m commented on #615
Please ignore the first one; I made a typo and did a force-push to fix it.

[2015-04-29 14:28] #615 closed

[2015-05-01 19:17] LukeHoersten commented on #361
https://github.com/haskell/haskell-snippets

[2015-05-01 19:17] #361 closed

[2015-05-02 08:19] codygman commented on #375
I had this problem recently and the error message was:

maybe adding a helpful message to the M-x describe-variable haskell-mode-hook help screen such as this:

Having problems using interactive mode? Try adding this to your .emacs:

(add-hook 'haskell-mode-hook 'interactive-haskell-mode)

[2015-05-02 09:28] #614 closed

[2015-05-02 17:40] LukeHoersten commented on #593
Done

[2015-05-02 17:40] #593 closed

[2015-05-02 18:11] gracjan commented on #346
In the light of `ide-backend` I guess it is better to put such optimizations in there than to emulate those in a problematic way in Emacs. So closing this issue.

[2015-05-02 18:11] #346 closed

[2015-05-02 18:57] gracjan opened #623 "Internalize haskell-decl-scan-mode"
`haskell-decl-scan-mode` consist of:
- recognizing top level declaration
- navigation via `C-M-a`, `C-M-e` and marking `C-M-h`
- `which-func-mode` relies on this
- `imenu` is populated by it

Note that `which-func-mode` relies on `haskell-decl-scan-mode` even if the mode is not enabled. `font-lock` also recognizes top-level declarations, sadly it has its own ideas how to find those.

`haskell-decl

[2015-05-02 18:59] gracjan opened #624 "beginning-of-defun-function and end-of-defun-function go too far"
`beginning-of-defun-function` should put cursor in column 0 where the definition begins (currently it puts it at the end of line the line before).

`end-of-defun-function` should put cursor in column 0 after last line of the definition (currently it can go many empty lines below it).

[2015-05-02 20:19] LukeHoersten commented on #216
I have no idea why this is happening. @capitaomorte can you provide any insight here?

[2015-05-03 16:41] gracjan opened #626 "Remove all mentions of Marmelade"
Marmelade is as good as dead now, see here: https://github.com/nicferrier/elmarmalade/issues/92.

Remove all mentions of Marmelade from:

- [x] README.md
- [x] Makefile (package generation part)
- [x] [haskell-mode/wiki](https://github.com/haskell/haskell-mode/wiki)

Find out also about haskell-mode on marmelade mentions in external wikis or tutorials, contact respective authors, tell them to upda

[2015-05-04 02:18] jhenahan commented on #626
Non-historical references to Marmalade have been purged from the wiki.

[2015-05-04 06:19] gracjan commented on #626
@jhenahan: Great! Thanks!

Can you also prepare a pull request that removes Marmelade from README and Makefile?

[2015-05-04 06:43] jhenahan commented on #626
Done, with #627.

[2015-05-04 09:34] #626 closed

[2015-05-04 18:31] gracjan opened #628 "In 12.34e-56 (a single number) both . and - are colorized as operators"

[2015-05-04 19:26] gracjan commented on #628
And we could actually have a nice color for numbers themselves.

[2015-05-04 19:37] #208 closed

[2015-05-04 19:51] gracjan commented on #549
And apostrophe for DataKinds and TemplateHaskell is prefix operator class.

[2015-05-04 21:50] capitaomorte commented on #216
Undo support in yasnippet is finicky, but it should work. Can I see the snippet definition? Alternatively open related issue in yasnippet.

[2015-05-04 21:54] LukeHoersten commented on #216
@capitaomorte https://github.com/haskell/haskell-snippets/blob/master/snippets/haskell-mode/lang-pragma

I'll wait to open a yasnippet issue until we've determined this isn't something I've caused.

[2015-05-05 14:02] gracjan opened #630 "Write script to ensure file copyright policy"
The copyright and license notice can be put in a common COPYING file. There is no justifiable reason to also require that it be included in every file, since the individual files are not individually distributed except
as part of the entire package.

For similar discussions look for example at:
- https://github.com/iojs/io.js/pull/311
- https://github.com/rust-lang/rust/blob/00c856c0b1feac74df8b40

[2015-05-05 16:31] galderz opened #631 "Unable to load Cabal project into Emacs Haskell-Mode"
I'm struggling to get Haskell-Mode working with a Cabal project.... :(

If I run with a simple non-cabal project, it all works fine. But after executing `cabal init`, answering the questions, then from Emacs calling `C-c C-l`, I get the message that the Haskell process has died. Here's the output of the process log:

[code]

My cabal file looks like this:
[code]

As a result of this, I think my in

[2015-05-05 16:37] galderz commented on #631
My haskell configuration file can be found here: https://gist.github.com/galderz/74b2558f4fb1ddc97154

And finally, here are my `custom-set-variables`, any ideas:

[code]

Any ideas what might be the problem or how to debug it further? The process log does not seem to give any clues on why it stopped :(((

[2015-05-05 16:39] galderz commented on #631
One final detail: I'm using a master build of `ghc-mod` that gets around several issues that I was facing in my environment..., but I don't think it's relevant to this particular issue...

[2015-05-05 18:42] cocreature commented on #631
Can you run `cabal repl` (outside of emacs) in the directory without problems? Also could you try disabling external modes (modes≠haskell-mode), most notably ghc-mod and report what happens then?

[2015-05-05 20:09] LukeHoersten commented on #631
Nothing stands out to me here so most likely there's an interaction problem with some other plugin. Can you turn everything else off and see if you can still replicate the problem? For example, others have had issues with company mode + haskell-process in the past.

If you're unable to reproduce the problem with nothing but haskell-mode enabled then just bisect your config until you find the culpr

[2015-05-06 01:44] ivan-m commented on #630
Actually, for GPL you *are* meant to have the [header in every file](http://www.gnu.org/licenses/gpl-howto.html).

[2015-05-06 06:33] gracjan commented on #630
@ivan-m: does it say where authors should be listed?

[2015-05-06 06:57] ivan-m commented on #630
I don't think it does.

[2015-05-06 08:45] galderz commented on #631
Thanks @cocreature and @LukeHoersten for the quick replies! :)

I've tried to run `cabal repl` in the directory and I'm not sure it's running fine because it finishes immediately, shouldn't it start an interpreter session?

As you can see in the output, it goes straight back to the command line prompt after running very shortly.

[code]

Could it be cos I marked it to be a library instead of an ex

[2015-05-06 08:47] galderz commented on #631
I've tried another cabal project and it does indeed open an interpreter session... that might be the reason..., though I don't understand why it does not open an interpreter session in command line, could it be cos no main module has been given?

[2015-05-06 09:00] cocreature commented on #631
You need to have exposed-modules if you have a library. I fixed this bug in cabal a while ago but there has not been a release since.

[2015-05-06 09:10] gracjan commented on #631
Open repl even if there are no exposed modules:  https://github.com/haskell/cabal/commit/ddbd26c07f63c17e2503be2402f8c94e00affe4f.

[2015-05-06 09:14] gracjan commented on #631
So this one seems to be (already fixed) bug in cabal. Should we do something in `haskell-mode` though, like inform a user that there was no prompt although prompt was expected? Would be great to detect if `cabal repl` fails to get to the prompt as there are multiple reasons this may fail (syntax error in cabal file, bad linking, bad PATH, wrong nix-shell setup, etc).

[2015-05-06 15:46] LukeHoersten commented on #631
I think `haskell-process` does warn you and asks if you want to look at the log. So we might be OK already.

[2015-05-06 15:57] galderz commented on #631
I've added `exposed-modules` and now the project gets loaded successfully.

I'm still seeing the `(Haskell failed Ind company)` message at the bottom though, any ideas about the indentation issue? Is it related to `haskell-mode`?

If it's not related, I'll close the issue.

Thanks a million for your help! Just getting started with Emacs + Haskell and I've had my fair share of bumps :(((

[2015-05-06 16:14] cocreature commented on #631
iirc `failed` comes from ghc-mod. Try disabling it and see if it still appears.

[2015-05-06 16:24] galderz commented on #631
Yeah, it seems related to that... the number of options and interaction between different modules makes Emacs + Haskell quite difficult to get right. With so many options, it takes a while to get an env up :(

I'll close for now and open an issue in ghc-mod to figure out what's up...

Thanks again for all your help!

[2015-05-06 16:24] #631 closed

[2015-05-06 21:10] geraldus commented on #631
@galderz by the way, if you use ghc-mod from master, then you need to redirect its output. Check this out https://github.com/kazu-yamamoto/ghc-mod/issues/454

[2015-05-07 08:12] gracjan commented on #604
Closed via #632.

[2015-05-07 08:12] #604 closed

[2015-05-07 08:16] gracjan commented on #604
@PinkMushroom: Thanks!

[2015-05-08 09:06] geraldus opened #633 "Make haskell process' log always scroll to bottom"
I opened this as reminder for future work and also to discuss issue subject. Usually I use log to see compilation progress, and it annoys me because I always have to scroll it manually. There are some rare cases when log is scrolled to bottom automatically.
So the plan is to find all print to log relating stuff and add scrolling to bottom action after that. Maybe we should have a special function

[2015-05-08 09:27] geraldus opened #634 "Single buffer for Presentation Mode"
Currently presentation mode presents messages in separate buffers. Also, currently the only one function
uses presentations: it is `haskell-process-do-info`. Documentation for `haskell-process-use-presentation-mode` states:

and presenting type information is work in progress.

But I've found that current behaviour of presentation mode is a bit overweight. If I infer several type signatures my buf

[2015-05-08 09:34] gracjan commented on #633
Please use the trick from Microsoft VisualStudio output buffer:

1. If the `point` is at the end of the buffer, then append and move the point to the end of the buffer again (effectively inserting before). Otherwise just append.
2. If the window scroll position is at the end, then scroll to the new end after inserting, otherwise do not scroll.

No settings needed.

[2015-05-08 09:45] gracjan commented on #633
Check out `auto-revert-tail-mode`:

http://www.gnu.org/software/emacs/manual/html_node/emacs/Reverting.html

[2015-05-08 23:13] ikirill opened #635 "Interactive mode recognizes some lines as compiler errors incorrectly"
In this error message, `haskell-interactive-next-error-function` incorrectly picks up the line

         program :: IO () ....

 as a "FILE:LINE:COL-COL: ", and then fails to find the corresponding file, causing it to fail when the filename ends up being nil.

Here's an example:

    src/EnvelopesGLFW.hs:144:3-18: Couldn't match expected type ‘Program’ with actual type ‘IO ()’ …
        In the pat

[2015-05-08 23:26] ikirill commented on #432
@gracjan It was some time ago, but I think this was fixed in #433.

[2015-05-08 23:26] #432 closed

[2015-05-09 03:50] ikirill opened #637 "haskell-interactive-mode-completion-at-point-function can take too long"
In one of my projects I import many modules (GL, GLFW, Lens, all not qualified), and `haskell-interactive-mode-completion-at-point-function` returns something like 14k different completions at top level (e.g., if I type `main (` at the prompt). I find it's quite slow, hanging my emacs for a few seconds whenever `company` tries to complete at the top level.

To show what I mean:

    λ> :complete r

[2015-05-09 07:12] gracjan commented on #635
For reference `haskell-flycheck` uses this specification:

[code]

Here: https://github.com/flycheck/flycheck/blob/master/flycheck.el#L6237

[2015-05-09 09:14] gracjan commented on #637
@geraldus is working on more async competions, might be it will solve or at least alleviate your issues.

[2015-05-09 12:08] geraldus commented on #637
@ikirill currently completions are collected synchronously, that's why company hangs emacs on each keystroke, I've already opened issue related to this (https://github.com/haskell/haskell-mode/issues/606). I've written very simple asynchronous company backend (https://github.com/geraldus/company-interactive-haskell-backend), but work still in progress. I need to make some minor tweaks and implemen

[2015-05-09 20:26] gracjan opened #638 ":type/:type-at follow up tasks"
When #598 is done there are things that should be improved in that scope:

- [ ] find out it if `haskell-mode-show-type-at`, `haskell-process-do-type` and `haskell-process-do-try-type` can be merged into one functionality
- [ ] if it cannot be merged select a nice binding key
- [ ] document the binding key
- [ ] handle situation when `:set +c` was not executed by detecting `"Couldn't guess that mo

[2015-05-09 21:08] ikirill commented on #637
@geraldus Okay. BTW, isn't `haskell-doc-current-info--interaction` already async?

Also, I think async completion doesn't really solve the problem of having 14k strings to read in and process on every other keystroke: that's too much work to be done too often if emacs is to feel responsive.

[2015-05-09 21:21] ikirill commented on #637
Also, I noticed you use company-grab-symbol: haskell-mode changed this at some point and now "." has syntax class punctuation, so "Control.Monad.whatever" would not be recognized as a single symbol, only "whatever", which isn't right.

[2015-05-09 23:15] ikirill commented on #637
I solved this problem for myself by writing an async company backend that limits max number of completions: https://github.com/ikirill/haskell-mode/blob/pr-company-async/haskell-company-async.el

Would you be interested in this as a PR? It should be functional, but I'm not sure if it fits the structure of haskell-mode.

[2015-05-10 01:25] ikirill opened #639 "Why is the syntax of "." punctuation?"
"." is a valid constituent of qualified identifiers, e.g., `Data.List.map`, so shouldn't it have symbol-constituent syntax?

This has the side effect that `(thing-at-point 'symbol)` (which is emacs-standard) doesn't quite work correctly: when placed on a qualified identifier, it selects only the unqualified identifier or a part of the module name (e.g., `map` or `Data` or `List`).

Is this intenti

[2015-05-10 06:06] geraldus commented on #637
@ikirill, surely, I suppose limiting list of candidates is good idea, also `:complete` command accepts optional limit parameter already.

I've used `company-grab-symbol` in sake of speed, I have plans to use same algorithm as in `haskell-process-completions-at-point`, because it will give also completions of language pragmas and etc. I need to discuss some aspects of issue.

We discussed the probl

[2015-05-10 06:54] gracjan commented on #639
"." has many functions in Haskell. Example:

    forall a . a -> a
    f . g
    Data.List.map
    Control.Category..  (note two dots at the end)

It is best to treat "." default as punctuation.

[2015-05-10 06:54] #639 closed

[2015-05-10 07:00] geraldus commented on #638
@gracjan `"Couldn't guess that module name. Does it exist?"` it also happens if you have not loaded file, e.g. even if you have `:set +c` option enabled running `:type-at` will give this error until you load target file (in Emacs you need `C-c C-l` first, or `:load` in REPL). I think we can provide nice message, something like this:

As for `:type-at` we definitely should point to GHCi-ng README.

[2015-05-10 10:50] geraldus commented on #637
@ikirill hey, your elisp is much more robust than mine! I would be glad for PR. However I want to make some changes and improvements.

First, I would prefer for annotation module name from where completions comes rather than types. Type information could go to echo area. This how things organised in `company-ghc` backend (for `ghc-mod` users).

Second, company documentation recommends use text pro

[2015-05-10 11:05] ikirill commented on #637
This would be far too slow, taking a noticeable amount of time for each candidate.

I think it's just a matter of copying the prefix-recognizing code from `haskell-process-completions-at-point` to `haskell-company-async`.

No, the whole point of those variables is that they are initialized once, from shell (https://github.com/haskell/haskell-mode/blob/0a70f4400c08b622bdf4569d3bbd8152d010ae5b/haske

[2015-05-10 11:22] geraldus commented on #637
As for last statement: consider local var declaration `let myVar = someStuff`, now If you ask REPL for `myV` completions it will return nothing, however hitting `M-/` (which calls `dabbrev-expand` in my case) will be able to complete it with missing `ar`. So if we can't find completion for prefix using variables or REPL, we could iterate over `dabbrev-expand` completions.

[2015-05-10 11:27] geraldus commented on #637
I meant completions for `LANGUAGE`, `GHC-OPTION`, `DEPRECATED`, etc.

[2015-05-12 05:44] geraldus commented on #638
I think we could merge `haskell-process-do-type` and `haskell-process-insert-type`, both use same command `:type (…)`, also insert-type functionality likely missing.
https://github.com/haskell/haskell-mode/blob/master/haskell-commands.el#L312
https://github.com/haskell/haskell-mode/blob/master/haskell-commands.el#L379

[2015-05-12 05:53] geraldus opened #642 "Better doc strings in `haskell-commands.el`"
`haskell-process-restart` and `haskell-process-start` both refer to **inferior** process, however this functions also used to re/start interactive-mode process. I think we should generalise doc strings somehow because this is a bit confusing:
https://github.com/haskell/haskell-mode/blob/master/haskell-commands.el#L36-L37
https://github.com/haskell/haskell-mode/blob/master/haskell-commands.el#L43-L

[2015-05-12 07:08] geraldus commented on #633
Auto-revert works only for file based buffers.

So

    remember does scroll is at end
    effective append
    scroll according to remembered val

Right?

I hope that `haskell-process-log` is the only one way used to log stuff. I can update it. Also I think that we should have an option to truncate log to some fixed number of lines (like `eshell` does via custom var).

[2015-05-12 12:32] geraldus commented on #638
Differences between `haskell-process-do-type` and `haskell-process-do-try-type`, `…-do-info` and `…-do-try-info`:

+ `do-type` and `do-info` grabs identifier at point or expression within active region, while `do-try-type` takes literal expression as argument
+ `do-type` optionally could insert result
+ `do-info` optionally prompts user for identifier
+ `do-try-…` functions show result only if the

[2015-05-12 13:19] geraldus commented on #642
@gracjan please review https://github.com/geraldus/haskell-mode/compare/master...geraldus:better-doc-strings-haskell-commands

There are 3 warnings left, and I have no strong opinion about them, I marked issues with `FIXME`s.

[2015-05-12 13:25] geraldus opened #643 "Move recently introduced `hs-utils/…` functions into haskell-utils.el"
It turns that there is a module for utility functions already, so we can move `hs-utils/…` functions (which was introduced by me recently) there. We can change their prefix according to other two functions in that module `hs-utils/` ➞ `haskell-utils-`, or vice versa.

[2015-05-12 13:48] gracjan commented on #643
I vote for `haskell-utils-`. I forgot about this module. Nice catch!

[2015-05-12 13:53] gracjan commented on #642
I do not seem to be able to comment inline until you create a pull request.

In case of arguments where I do not know to wrtie I usually refer to function that can produce such an argument. For example where you describe SESSION you can refer to `haskell-session-make`. And that is good enough.

[2015-05-12 14:04] geraldus commented on #643
Hmm… If I move this stuff to `haskell-utils` I need to import these functions: `haskell-spanable-pos-at-point`, `haskell-ident-pos-at-point`, `haskell-process-session`, `haskell-interactive-process`, `haskell-present`. So it will bring circular imports. Let's just rename mine functions and leave them in place?

[2015-05-12 14:10] geraldus commented on #642
Ok, I'll close it, here is a PR https://github.com/haskell/haskell-mode/pull/644. Let's move discussion there.

[2015-05-12 14:10] #642 closed

[2015-05-12 14:21] gracjan commented on #643
OK.

[2015-05-12 15:38] mhwombat opened #645 "haskell-font-lock-symbols: Two dots display as two function compositions symbols"
I'm using `haskell-font-lock-symbols`. If I type:

    import Somepkg (Something(..))

the dots (`..`) are converted to the function composition symbol:

    import Somepkg (Something(°°))

This didn't happen in earlier versions (I recently upgraded my copy of haskell-mode). I was using a different font (solarized theme) before, and now I'm using the default theme... but I don't see why that would

[2015-05-12 19:36] geraldus commented on #643
https://github.com/haskell/haskell-mode/pull/646

[2015-05-12 19:36] #643 closed

[2015-05-13 08:30] #633 closed

[2015-05-13 10:17] mhwombat commented on #645
Also, >>= is displayed as >≥

[2015-05-13 14:04] gracjan commented on #634
Yes, one buffer. Read-only.

[2015-05-13 14:04] gracjan commented on #638
I'm still thinking about this one. There is a lot of room for improvement here.

[2015-05-13 19:44] ikirill opened #648 "forward-sexp works poorly with operator names"
In the following line

    x Array.! y

place point before `x` and then use `mark-sexp`. The marked strings will be:

    x
    x Array.
    x Array.! y

This is not correct behaviour for haskell-mode, because `x Array.` is not a meaningful haskell expression while `x Array.!` would be (in the sense of an operator slice, at least): this breaks navigation of haskell code by other emacs tools that r

[2015-05-13 19:50] ikirill opened #649 "haskell-doc-mode is not asynchronous wrt ghci process, unlike eldoc-mode"
haskell-mode's support for eldoc-mode is asynchronous, so placing point on top of an expression while a ghci computation is already running does not hang emacs. On the contrary, haskell-doc-mode runs the `:type` command synchronously, possibly hanging emacs when point is moved until the corresponding ghci command is executed.

https://github.com/haskell/haskell-mode/blob/master/haskell-doc.el#L157

[2015-05-14 15:08] bezirg opened #650 "haskell-mode-jump-to-def-or-tag<f> Requires a running session"
This is just a Feature Request. Can we make this interactive function to fallback on TAGS when there is no session running?

Right now when I run this command, the minibuffer output is:

[2015-05-14 17:36] gracjan commented on #650
Resonable request.

@bezirg: Are you able to create a pull request fixing this issue?

[2015-05-15 16:31] MichaelXavier opened #651 "stylish-haskell integration no longer reports errors"
Often in haskell development, the buffer I'm working on will be invalid for stylish haskell: missing MultiParamTypeClasses, syntax error, etc. If I recall, stylish-haskell used to drop the error it was getting into the minbuffer. Recently, is just says: "Error: stylish-haskell ended with errors, leaving buffer alone". In order to fix the error, I have to leave my editor and manually run `stylish-h

[2015-05-15 17:53] gracjan commented on #651
This change was motivated by #557 and done in #557.

As we do not know if buffer is or is not valid Haskell it is an expected condition that stylish-haskell fails. if you wish it reported then we need to find a better way of handling the error.

@MichaelXavier: do you have a more concrete proposal?

[2015-05-15 18:00] gracjan commented on #649
Good catch. There were recent changes that solved similar issue in #607.

[2015-05-15 18:23] ikirill commented on #649
One thing about it is that haskell-doc-mode is quite old, IIUC, and seems to be duplicating what the standard eldoc-mode is doing anyway. Since eldoc-mode is included with emacs, would it be reasonable to deprecate haskell-doc-mode and move to only using eldoc-mode? In my configuration I turned it off when it started giving me this problem.

[2015-05-15 19:34] LukeHoersten commented on #651
I would recommend using something like flycheck-haskell to check for errors on the fly since it is purpose built for that. Stylish-haskell is only reporting why it couldn't format your code and isn't intended for on-the-fly debugging like flycheck is.

[2015-05-15 19:42] MichaelXavier commented on #651
@LukeHoersten I'm not really trying to use stylish-haskell for debugging. There are cases if I recall  where the program will compile but stylish-haskell will refuse to parse it (I think to do with missing extensions like MultiParamTypeClasses). Sometimes you're concerned with formatting independently of errors in the code.

@gracjan Thanks for the heads up. That works for me! One thing I'd recomm

[2015-05-15 19:42] #651 closed

[2015-05-16 05:14] gracjan commented on #649
@ikirill: Can you research this topic?

If there is a standard way to provide a functionality then it is usually better to use it. On the other hand we would like to avoid upsetting our users by breaking something they liked.

[2015-05-17 07:46] 4lex1v opened #652 "Can't compile unicode symbols"
When i type something with haskell-mode, it replaces std symbols with prettier unicode alternatives, e.g:

`function :: Ord c => c -> (c, c)`
with
`function :: Ord c ⇒ c → (c, c)`

But when i hit `haskell-process-cabal-build` i throws me these errors:

[code]

I've added an extension to .cabal file : `extensions: UnicodeSyntax`, but it didn't help. I like unicode symbols, but can't compile files.

[2015-05-17 09:11] gracjan commented on #652
Hi @4lex1v,

Try the following: Add this line at the top of Haskell source file:

    {-# LANGUAGE UnicodeSyntax #-}

and report back. Also can you upload your source file somewhere, for example http://lpaste.net/ is a good place for Haskell code.

[2015-05-17 10:23] geraldus commented on #652
should it be `default extensions:`?

[2015-05-17 11:27] 4lex1v commented on #652
@geraldus Thank you, correct, it should be `default-extensions` and it should be placed under the `library ` section.

[2015-05-17 11:27] #652 closed

[2015-05-17 14:05] gracjan commented on #645
@mhwombat: thanks for the report.

This one seems to be a duplicate of #589 and fixed in #591.

Is github version of haskell-mode working for you correctly?

[2015-05-17 18:12] mhwombat commented on #645
I installed the github version of haskell-mode, and it is working fine.

[2015-05-17 18:12] #645 closed

[2015-05-18 11:27] dredozubov opened #654 "Turn-on-haskell-indentation hook won't enable haskell-indentation"
After recent updates(at least i think it's related to them) i experience following error when emacs tries to indent a haskell source:

[code]

Inspecting `haskell-mode-hook` shows:
[code]

I have a `(add-hook 'haskell-mode-hook 'turn-on-haskell-indentation)` line in my `~/.emacs` and it worked until recently. Running `M-x haskell-indentation-mode` manually helps with this issue(and then it repeats

[2015-05-18 11:47] geraldus commented on #654
I'm faced same issue, but I thought it was my fault.

[2015-05-18 16:37] geraldus commented on #654
I'm not sure is this related to issue subject,  but in past when interactive-mode always asked me to start a new session or select existing one when I open haskell source file from new location (i.e. project). And now if I open `.hs` file interactive-mode will be activated silently, and will ask nothing.

[2015-05-19 11:38] geraldus commented on #634
@gracjan can you explain this function and stuff related to it?
`haskell-presentation-present-slot` https://github.com/haskell/haskell-mode/blob/master/haskell-interactive-mode.el#L764

[2015-05-19 11:55] gracjan commented on #634
Good question. I have no clue what this os supposed to be doing.

[2015-05-19 12:20] gracjan commented on #486
This was not fully done after all.

[2015-05-19 13:17] gracjan opened #655 "`find-tag' is an obsolete function (as of 25.1); use `xref-find-definitions' instead"
`find-tag' is an obsolete function (as of 25.1); use `xref-find-definitions' instead

[2015-05-19 14:04] deviant-logic commented on #655
This was observed in a travis build failure at: https://travis-ci.org/haskell/haskell-mode/jobs/63166721#L237

[2015-05-19 14:52] gracjan opened #656 "Auto update http://haskell.github.io/haskell-mode/manual/latest/ from TravisCI build"
Auto update http://haskell.github.io/haskell-mode/manual/latest/ from TravisCI build. Example how this can be done is here:

https://github.com/flycheck/flycheck/blob/master/doc/deploy-travis.bash

[2015-05-19 15:10] dredozubov commented on #654
@gracjan thanks for clarification on the matter.

It should be enabled as `(add-hook 'haskell-mode-hook 'haskell-indentation-mode)`, not `(add-hook 'haskell-mode-hook 'turn-on-haskell-indentation)`.

 Docs are not up to date with this and i was thinking of fixing it and opening a PR quickly, but it seems that it is a bigger issue. Isn't `turn-on-` counterparts supposed to go if they're not working

[2015-05-19 17:12] #655 closed

[2015-05-19 18:26] gracjan commented on #654
You are right on both points:

1. Documentation should be updated.
2. Old functions should still work (marked as deprecated).

I'm not sure why they stopped working.

[2015-05-20 06:49] gracjan commented on #638
I did some more research. This is what [ghc-mod](https://github.com/kazu-yamamoto/ghc-mod) does:

- [`ghc-show-info`](https://github.com/kazu-yamamoto/ghc-mod/blob/247e4e0e7616fe1fecc68fdcf80d6249ac4cee4f/elisp/ghc-info.el#L14)
- [`ghc-show-type`](https://github.com/kazu-yamamoto/ghc-mod/blob/247e4e0e7616fe1fecc68fdcf80d6249ac4cee4f/elisp/ghc-info.el#L78)

Are there people loving ghc-mod way?

[2015-05-20 11:55] mhwombat opened #658 "Typed characters do not appear at the cursor."
I'm using the github version of haskell-mode, as of 10 minutes ago, and I'm seeing weird behaviour where the cursor does not show where characters that I type will appear.

![snapshot](https://cloud.githubusercontent.com/assets/1899200/7725061/14342b8a-feef-11e4-8910-2b852e472b2f.png)

[2015-05-20 12:31] gracjan commented on #658
What version of Emacs are you using?

The composition mechanism that is used for unicode prettyfication is quite buggy.
Can you disable `haskell-font-lock-symbols` and restart whole Emacs?

[2015-05-20 13:25] mhwombat commented on #658
I'm using: "GNU Emacs 24.3.1 (x86_64-pc-linux-gnu, GTK+ Version 3.10.7)
 of 2014-03-07 on lamiak, modified by Debian"

I disabled haskell-font-lock-symbols, but the problem persists.

I suspect the problem is related to those underscores that magically appear on the line containing the cursor. The underscores seem to be a new feature; the version of haskell-mode in melpa doesn't have them. I suspe

[2015-05-20 13:49] gracjan commented on #658
`M-x customize-option RET haskell-indentation-dyn-show-indentations`.

[2015-05-20 13:59] mhwombat commented on #658
OK, I turned off the indentation markers (underscores), and the problem went away. Thank you.

[2015-05-20 14:02] geraldus commented on #658
@gracjan I think we need a patch for this (:

[2015-05-20 16:21] gracjan commented on #658
I think we need a lot of patches for haskell-indentation.

Artur, can you meanwhile do a patch that turns this showing off by default?
It is basically debug information for haskell-indentation developers and it
is getting in the way too much (note that it also interferes with full like
marking modes, for example bm.el).

[2015-05-20 18:05] geraldus commented on #658
Yep, but I will be able to do it tommorow.

Despite of this is also interferes with `fill-column-indicator` I like this indicators and it's sad that it is not working properly. I also dream about vertical lines indicating indentation (like in FPco web IDE).

[2015-05-20 18:36] DanielG opened #659 "Syntax highlighting remarks"
Here the `::` is being highlited lilke a constructor. Everywere else it's highlighted as haskell-definition-face:

<img src="http://i.imgur.com/ckpQPQp.png"></img>

Here additionally the `,` is  haskell-definition-face even though it's haskell-operator-face everywhere else.

<img src="http://i.imgur.com/18yl8VW.png"></img>

I would also argue that `,` being haskell-operator-face everywhere (includ

[2015-05-20 18:47] gracjan commented on #659
True on both. Thank for the report.

[2015-05-21 10:54] gracjan commented on #333
Can we reasonable expect that we can fix this particular issue?

[2015-05-21 10:59] gracjan commented on #256
@DanielG: Can you have a look at this if it has possibly any connection with ghc-mod?

[2015-05-21 11:08] gracjan commented on #127
@ExternalReality: Hej, good idea!

I think we will need help from to get this implemented. For example can you please research how can emacs know on which line in source code did the debugger hit a breakpoint?

[2015-05-21 11:09] gracjan commented on #164
@geraldus: Do we have this covered in `interactive-haskell-mode`?

[2015-05-21 19:21] geraldus commented on #164
@gracjan I've disabled `company-mode` temporarily and it feels a bit strange that <kbd>TAB</kbd> indents line rather that provide completion, but I think this is a matter of choice, for example in my case I just got used to `company` which instantly popups completions list where <kbd>TAB</kbd> completes common-part, but in past I've used <kbd>TAB</kbd> to indent line (I can't recall was it some ID

[2015-05-21 19:29] geraldus commented on #658
@gracjan btw, If I disable `haskell-indentaion-show-indentations-after-eol` it works fine with `fill-column-indicator`, but I think many people will find these overlays distractive. If we disable them by default I think we need to mention about it doc string (and possibly in wiki). I'm a bit short in time currently.

[2015-05-21 19:48] geraldus commented on #178
@hbv there is come caveat: `haskell-process-get-repl-completions` uses sync request behind scenes hanging Emacs until REPL request will be received. This is very annoying side effect with big projects with template haskell, because reloading sources takes notable time. Can you say is it possible to some how provide completions for `auto-complete` asynchronously? I'm trying to find time to find asy

[2015-05-21 20:23] rpglover64 opened #661 "Add persistent history to haskell-interactive-mode"
It would be useful to have history which persisted after an emacs restart.

[2015-05-21 22:58] DanielG commented on #256
I don't see anything in the code that would trigger this sort of behavior immediately but I don't have enough time to try and reproduce this, I tried but I can't get haskell-mode to behave in a minimal environment for some reason :/. If we have a testcase I can give it a proper look.

[2015-05-22 06:13] sacundim opened #662 "File mode specification error: (wrong-number-of-arguments ..."
Fresh MELPA install of version 13.12, when attempting to load a `.hs` file in the same directory that has a `.cabal` file:

    File mode specification error: (wrong-number-of-arguments #[(other-window) "\203$ \303\304!!\211\203 
    \203 \305	!\202\" \306	!\202\" \307\310\")\207\307\311!\207" [buffer-file-name cabal-file other-window haskell-cabal-find-file file-name-directory find-file-oth

[2015-05-22 06:18] sacundim commented on #662
Removing this bit from the Emacs init file resolves the issue:

    (eval-after-load "haskell-mode"
      (define-key haskell-mode-map (kbd "C-c v c") 'haskell-cabal-visit-file))

But I got those lines from the `haskell-cabal-mode` chapter in the info file that comes with the mode.

[2015-05-22 06:32] syohex commented on #662
@sacundim You miss `quote` at  2nd `eval-after-load`.

[code]

[2015-05-22 08:19] sacundim commented on #662
@syohex Good catch!  I copypasted the code from the `*info*` buffer, but it turns out that the docs were wrong and were only recently fixed:

https://github.com/haskell/haskell-mode/commit/03d3c7c1b6bfd51de252bbe6b9b439d1c3222bcd

I'm closing this issue.

[2015-05-22 08:19] #662 closed

[2015-05-22 09:51] gracjan commented on #256
@LukeHoersten: have you actually reproduced the problem or not?

[2015-05-22 11:09] geraldus commented on #654
In ny case `turn-on-haskell-indentation` work, but does it silently.

[2015-05-22 15:12] geraldus commented on #658
I think this can be closed now.

[2015-05-22 15:18] #658 closed

[2015-05-24 13:51] gracjan opened #667 "Fix haskell-customize"
To remove `haskell-customize` do:

- [x] add `;;;###autoload` to every `defcustom` and `defface`
- [x] remove `haskell-customize` function

[2015-05-24 14:54] #634 closed

[2015-05-24 15:53] gracjan opened #669 "Use easy-mmode-defmap to define all keymaps"
`haskell-mode` code mostly predates Emacs 23. Since then (or even earlier) there is `easy-mmode` available and it seems to be standard method to declare keymaps, like this:

    (easy-mmode-defmap xxx-map
      `(("n" . xxx-next)
        ("p" . xxx-prev))
       "The base keymap for `xxx-mode'.")

Use this metod everywhere keymaps are defined.

[2015-05-25 21:05] gracjan commented on #648
Interesting.

`forward-sexp-function` is not implemented, although there are traces in the comments that previous civilization had implemented `haskell-doc-forward-sexp-safe`. That got removed, as comments say, in _Revision 1.6  2004/10/13 22:45:22  monnier_.

`haskell-ident-at-pos` (and related `thing-at-pos 'sexp`) are a different matter.

[2015-05-26 10:46] sidhu1f opened #674 ""haskell-mode-enable-process-minor-mode: You tried to do an interaction command, but an interaction mode has not been enabled yet." error."
Error in title occurs with haskell-mode 13.12-3, emacs 24.4.1, debian testing.
Workaround: Downgrading to 13.10-3 eliminates error.

Couple of suggestions re error message second line "Run M-x describe-variable haskell-mode-hook for a list of such modes.":
Reword to "C-h v haskell-mode-hook". Also remove blank line in-between the two error message lines.

[2015-05-26 11:23] geraldus opened #675 "Unicode support in source files"
Here is a video<sup>1</sup> demonstrating **Leksah** GHCJS support.
One interesting thing I see on this footage are unicode syntax substitutions for thing like `<-`, `=>` and etc. They have same width as original sequence, e.g. `⟵` arrow occupies double width of single character. Is it possible to hack Emacs unicode overlays to get similar behavior _(for all possible case `∷`,`⋙`, `≤`, `⟹` and etc

[2015-05-26 12:48] gracjan commented on #674
Already done in https://github.com/haskell/haskell-mode/commit/27545106.

Thanks for the report btw. That motivates us to release a stable version.

[2015-05-26 12:48] #674 closed

[2015-05-26 12:49] gracjan commented on #675
Instruction how to implement:

http://emacs.stackexchange.com/questions/10010/display-other-text-centered

[2015-05-26 12:49] gracjan commented on #675
Note that your video link does not work.

[2015-05-26 14:08] geraldus commented on #675
@gracjan I've fixed the video link. The difference in approaches is that Leksah does width manipulation somehow.

[2015-05-27 08:39] codygman opened #676 "Check if function at point fuses"
I was thinking maybe there was a way to take advantage of [this](http://www.joachim-breitner.de/blog/649-Does_list_fusion_work_) to make a function that runs the function your cursor is in (assuming it is pure) and checks to see if it fuses.

[2015-05-27 08:51] gracjan commented on #676
Thanks for the heads up about this functionality, very cool stuff!

And very specialized at the same time. I could imagine a package called `haskell-mode-extras` where this would fit, in general `haskell-mode` we ar eswamped supporting what is already there.

I have to close this issue as out of scope for `haskell-mode`. Having said that do not hessitate to publish other package that does what you

[2015-05-27 08:51] #676 closed

[2015-05-27 10:13] codygman commented on #676
Thanks for your hard work on haskell-mode. I understand if it's already too
much to support. I've been trying to figure out elisp and looking through
the source of haskell-mode, so hopefully I'll be able to help and maybe
even create the haskell-mode-extras you've suggested.

On Wed, May 27, 2015 at 3:51 AM, gracjan <notifications@github.com> wrote:

[2015-05-27 10:23] gracjan commented on #676
Great if you can help! It is actually plenty fun to do! Start with something well defined, like one of the tasks with the 'well-defined-task' label:

https://github.com/haskell/haskell-mode/issues?q=is%3Aopen+is%3Aissue+label%3Awell-defined-task

Step by step instructions how to get going without too much trouble are here:

https://github.com/haskell/haskell-mode/wiki/Contributing

Our current foc

[2015-05-27 10:24] gracjan commented on #656
That was done in #664.

[2015-05-27 10:24] #656 closed

[2015-05-27 17:51] geraldus opened #679 "haskell-process-completions-at-point is likely broken for OPTIONS completions"
I'm still trying to make some improvements on `haskell-process-completions-at-point` function.

I've spent some time trying to figure out how [this part][1] of code works. Finally, I realized that it's likely broken, for example this returns `""` empty string when I place anywhere in following line:

[code]

Can someone confirm or refute this?

[1]:https://github.com/haskell/haskell-mode/blob/mast

[2015-05-27 18:28] gracjan commented on #679
For me this function always returns `nil`...

[2015-05-27 18:29] geraldus commented on #679
@gracjan `C-c C-l` first

[2015-05-27 18:36] gracjan commented on #679
Oh boy, that is sneaky... `OPTIONS` and `LANGUAGE` should go without `C-c C-l`! Those should work even without ghc being installed!

[2015-05-27 18:46] geraldus commented on #679
I agree (: I hope I will improve this, I just need confirmation that this is now work for every one.

[2015-05-29 19:37] #659 closed

[2015-05-29 21:06] geraldus commented on #654
@dredozubov is it still relevant (sorry I've missid Gitter notifications)?

[2015-05-30 22:46] sumitsahrawat opened #683 "Highlighting issues with strings containing double-quotes with backslashes"
![emacs skyrim_007](https://cloud.githubusercontent.com/assets/5645741/7899693/bc52132c-074b-11e5-8e65-f5cfe6f34042.png)

[2015-05-30 23:02] gracjan commented on #683
Hi @sumitsahrawat , nice catch!

This issue is caused by these lines: https://github.com/haskell/haskell-mode/blob/master/haskell-font-lock.el#L336-L343

I tries to match any three or more consecutive punctuation chars (there are three backslashes in your example) and remove any comment starting from them if they are not only dashes. Or more simply `--` is a comment starter whereas `\--` or `--\`

[2015-05-30 23:05] sumitsahrawat commented on #683
I would love to do so, but I'm not very conversant with elisp.

[2015-05-30 23:10] gracjan commented on #683
Well, that part is just a big overgrown regexp, nothing to be scared off! Give it a try!

[2015-05-31 04:11] sumitsahrawat commented on #683
I'll try and return to it.

[2015-06-01 08:15] #683 closed

[2015-06-01 12:44] geraldus commented on #606
I'm trying to write a function which will return a completion prefix for GHC options pragma and need help with this stuff.

Let me describe expected behaviour first (`|` indicates point position).

Nothing to prefix:
`{-# OPTIONS_GHC|` ⟹ `nil`
`{-# OPTIONS_GHC|#-}` ⟹ `nil`
`{-# OPTIONS_GHC |#-}` ⟹ `nil`

Single `-`:
`{-# OPTIONS_GHC -|` ⟹ `-`
`{-# OPTIONS_GHC -| #-}` ⟹ `-`

Double `--`:
`{-# OPTIO

[2015-06-03 05:22] fatlazycat opened #689 "Issue using type-at in spacemacs"
Hi, not sure where the issue lies, within spacemacs or haskell-mode hence this issue.

Have raised https://github.com/syl20bnr/spacemacs/issues/1472

It appears something is sending the wrong columns to the type-at command.

Any ideas ? Could you help point me in the direction to debug this ?

Thanks

[2015-06-03 06:56] geraldus commented on #689
@fatlazycat can you `M-x toggle-debug-on-error` to enable debugging, then run type-at command and post here debugger output?

[2015-06-03 07:04] fatlazycat commented on #689
Would that goto the haskell-process-log ?

Is any different from the output

    λ> :type-at /Users/graham/Development/GitHub/fatlazycat/NICTA-course/src/Course/ListZipper.hs 240    29 240 31 xs

    *Course.ListZipper| *Course.ListZipper| *Course.ListZipper| xs :: a -> List a -> List a
    λ> :type-at /Users/graham/Development/GitHub/fatlazycat/NICTA-course/src/Course/ListZipper.hs 240 31 240 32

[2015-06-03 07:11] geraldus commented on #689
@fatlazycat do you have some error message when invoking type-at command or you just have unexpected result? In first case debugger output would be really helpful.

Also, please clarify output you posed: which command you run manually or both of them? I see different column numbers (29 -> 31, 31 -> 32) in above commands, can you also show me line 240?

[2015-06-03 07:20] fatlazycat commented on #689
Hmm, apologies seem to be getting myself confused.

They changed the default emacs binding but their standard binding <spc> m h t now works showing the output in the haskell-process-log.

It just doesn't appear anywhere else such as the gutter, which I assume is a spacemacs / my config issue.

[2015-06-03 07:20] #689 closed

[2015-06-03 07:23] geraldus commented on #689
@fatlazycat if it works it's good. I've made some improvements on `haskell-process-show-type-at` recently, so if it is not works I want to know. Anyway, if you're facing any issues with `haskell-mode` please feel free to report them!

[2015-06-03 08:37] geraldus opened #690 "Haskell Presentation mode is broken"
Currently Haskell Presentation mode is likely broken.

Key bindings not work, failing with following errors:
[code]

Hint does not appear in newly created buffer (there should be a check in `haskell-present` function: if buffer does not exists create a new one, insert hint and make buffer read only).

[2015-06-04 14:23] #654 closed

[2015-06-04 21:58] PierreR commented on #638
Yes. When it works (ghc-mod is kind of fragile), I find it much more useful than `haskell-process-do-type`.

Mostly because the later requires `haskell-process` which is generally clumsy (I don't want to sound too negative but I have yet to see someone using it in a screencast, I have been trying to use `haskell-process multiple time and always gave up to fire an external ghci session).

Then, let

[2015-06-05 06:48] geraldus commented on #638
Can you explain a bit?

[2015-06-05 07:31] PierreR commented on #638
For instance given the expression `error "hello". If the cursor is on the word `error`, I press `c-c c-t` and I have got the type `String -> IO()` with the word `error` highlight. If I press `c-c c-t` again, I have got the whole expression highlight with the type `IO()`.

It works for more complex expression. This feature does not seem to exist with `haskell-process-do-type` which makes it a less

[2015-06-05 09:12] geraldus commented on #638
I was not aware of such behavior, but I think it's not hard to implement.  @gracjan what do you think about this stuff?

But this is minor issue, as for me the the major issue is about merging `-do-` and `-do-try-` functions.
Other minor issue is presentation mode support, and `haskell-mode-message-line` _(which truncates inferred type signatures)_.
@gracjan can you please mark tasks that already

[2015-06-05 10:07] gracjan commented on #638
There is a function called `mark-sexp` described in #648.

Repeated `C-c C-t` could be a mixture of extending sexp marked plus get type info.

Anyway we need to have proper semantics described in #648 before we can put more functionality under `C-c C-t`.

[2015-06-05 14:05] pmiddend opened #697 "ghc-mod: unknown command: `legacy-interactive'"
I'm using the latest ghc-mod version from hackage (5.2.1.2) and the latest versions of "ghc" and "haskell-mode" from melpa. ghc-mod doesn't work because:

    ghc-mod: unknown command: `legacy-interactive'

Apparently it needs either an older or newer version of ghc-mod. So I went and used the elisp sources from my ghc-mod version, not the ones from melpa. With those, ghc-mod works, but pressing M

[2015-06-05 14:57] gracjan commented on #697
This was fixed by the commit: https://github.com/kazu-yamamoto/ghc-mod/commit/51f9d716b84fa18770347bbca556fc3118b0b5fa

[2015-06-05 14:57] #697 closed

[2015-06-05 16:11] wedens commented on #689
I have the same issue with result printed only in haskell-process-log. Nothing is printed at the bottom of emacs (whatever it's called).

[2015-06-05 16:19] fatlazycat commented on #689
@wedens In a non-spacemacs emacs ?

[2015-06-05 16:19] wedens commented on #689
@fatlazycat  yeah. non-spacemacs

[2015-06-05 16:20] PierreR commented on #638
@geraldus Yes `c-c c-t` works fine in `where` blocks and local `let`.

[2015-06-05 16:21] fatlazycat commented on #689
@geraldus hmm, how do you see the results ?

I'll try a get the most minimal config for emacs sorted to try and narrow it down.

[2015-06-05 17:30] geraldus commented on #638
@PierreR, thanks, now we now that **ghc-mod** type inference could be replaced only with `…-show-type-at` (GHCi-ng feature), but not `…-do-type`

[2015-06-05 17:40] geraldus commented on #689
Hey guys, sorry I also does not see results. Please excuse me I didn't made proper checks of echo area, I have presentation mode enabled and I can confirm that at least it works _(and echo area stuff worked fine just not long ago)_! Let me see what's happening and why it's become broken.

[2015-06-05 17:45] geraldus commented on #689
Well, likely `haskell-utils-echo-or-present`<sup>[1]</sup> is a culprit, but it is so simple that I have no idea what's going wrong!

[1]:https://github.com/haskell/haskell-mode/blob/master/haskell-commands.el#L963-L971

[2015-06-05 17:48] geraldus commented on #689
Cool! I have a hotfix! There was missing parenthesis, I'll make a PR right now.

[2015-06-05 17:50] fatlazycat commented on #689
😀 great thanks!

[2015-06-05 17:53] geraldus commented on #689
@fatlazycat @wedens thanks for reporting, and excuse me for confusion! Let's wait Travis build

[2015-06-05 18:42] geraldus commented on #689
Merged! @fatlazycat can you upgrade haskell-mode and check everything is working now?

[2015-06-05 18:49] fatlazycat commented on #689
Not sure when it makes it to melpa-stable but copying your change into my system fixes it :)

Thanks ! :)

Another point, not sure it it's my config or haskell-mode but when I do haskell-process-show-type-at it moves the point / cursor to a place after the thing you are asking it's type of. Obviously not major.

[2015-06-05 19:00] geraldus commented on #689
Yeah, I know that, I believe this was so from very beginning.  Can you open an issue as a reminder?

[2015-06-05 19:05] fatlazycat opened #700 "Invoking haskell-process-show-type-at moves the point / cursor"
Invoking haskell-process-show-type-at moves the point / cursor to the immediate right of the item you have asked the type of.

[2015-06-05 19:06] fatlazycat commented on #689
Sure #700

[2015-06-05 19:06] gracjan commented on #689
Starting last stable release we actually have a workflow for cherry-picks of small fixes from master to stable branches.

Let me find out how this works.

(If it doesn't then you will need to wait for next stable release, this does not have a date forecast yet)

[2015-06-06 11:16] fatlazycat commented on #689
Actually spacemacs picked up the nightly for haskell-mode so all good, thanks.

[2015-06-06 19:41] geraldus opened #701 "Handle active region case better in `haskell-process-show-type-at`"
The `:type-at` command works fine when you ask a type for several line, for example

[code]

following command will infer type for region starts from `do` and ends at `x` on the next line:

[code]

and even without `x`:

[code]

The function `show-type-at` works fine and returns correct results in these cases _(active region wrapping several lines)_, the only caveat is that currently it passes mar

[2015-06-06 19:56] geraldus opened #702 "Improve manual (and README)"
I think we need to improve current documentation. User should have prominently displayed comprehensive brief overview of all major features of haskell mode somewhere , there should be covered following issues:

+ [ ] Minimal setup: how to get  and what features it gives
+ [ ] __Interactive__ and __Inferior__ modes should be mentioned right after that, there should be short description (explaining

[2015-06-06 22:13] geraldus commented on #700
Ok, the culprit is `haskell-ident-pos-at-point` which is used in `show-type-at` under the hood.

[2015-06-06 22:48] geraldus commented on #690
fixed in #696

[2015-06-06 22:48] #690 closed

[2015-06-07 08:34] tibbe opened #704 "Can't install by following README instructions"
I'm unable to find the haskell-mode package when using package-install. I have this in my init:

[code]

A manual package content refresh and package-install doesn't list the package either.

[2015-06-07 08:35] tibbe commented on #704
Could it be because it's already installed?

[2015-06-07 08:41] tibbe commented on #704
That seems to be it. Confusingly package-install claims a package doesn't exist if it's installed.

[2015-06-07 08:41] #704 closed

[2015-06-07 08:44] geraldus commented on #704
Packages that already installed are listed at the bottom, the default order is available packages, installed packages and finally built-in packages.  Can you find `haskell-mode` there?

I've faced some issues with package list, finally I've got it to work properly having following config

[code]
Note, I'm not using MELPA stable.

[2015-06-07 08:46] geraldus commented on #704
Oh, and I believe you need to invoke `package-refresh-contents` when checking installed pacakges:

[code]

[2015-06-07 08:59] tibbe opened #705 "haskell-process-log doesn't exist"
The interactive-haskell-mode output tells me to use haskell-process-log to debug, but that symbol is not defined (but some other haskell-process- ones are).

[2015-06-07 09:03] geraldus commented on #705
Run `M-x customize-option RET haskell-process-log` and enable it via Customize.

[2015-06-07 09:06] gracjan opened #706 "Links from docstrings to info do not work"
Remove those links and put information in place so that people do not need to chase information all over the place.

[2015-06-07 09:06] #705 closed

[2015-06-07 09:06] geraldus commented on #701
Fixed in #703

[2015-06-07 09:06] #701 closed

[2015-06-07 15:06] fatlazycat commented on #700
Works me ! Thanks :)

[2015-06-07 15:06] #700 closed

[2015-06-07 18:28] haucheefa opened #707 "parse-error with illegal token in instance declaration"
[code]
I get the following error message

I am using current head of master branch (commit 4291cb94af1e928bf533624a2e60f2dcaedc7f46).

[2015-06-07 19:02] #707 closed

[2015-06-07 19:03] gracjan commented on #707
Thanks for noticing this!

[2015-06-08 14:14] gracjan opened #709 "make check should recompile files properly"
Reference https://github.com/flycheck/flycheck-haskell/issues/34#issuecomment-109984322

[2015-06-08 22:41] the-kenny opened #710 "Why does `haskell-interactive-bring' call `delete-other-windows'?"
I find it rather annoying that running ```haskell-interactive-bring``` deletes all my windows (via ```delete-other-windows``` when starting a new session. Why doesn't it just use ```switch-to-buffer``` or similar?

(If there's a sense in the current behavior, please make it at least customizable)

[2015-06-09 10:06] geraldus commented on #630
So…

1. > The copyright notice should include the year in which you finished preparing the release (so if you finished it in 1998 but didn't post it until 1999, use 1998). You should add the proper year for each release; for example, “Copyright 1998, 1999 Terry Jones” if some versions were finished in 1998 and some were finished in 1999. If several people helped write the code, use all their names

[2015-06-10 12:36] arybczak opened #712 "haskell-indentation-mode layout tops braces"
Consider the following code:

[code]

After you go to the line with "baz = 0" and press Enter, Emacs displays "Illegal token: layout-item" in statusbar and indentation no longer works after this point.

[2015-06-10 15:25] gracjan commented on #712
Hmm, github version seems to be working. Likewise melpa version should also work. I haven't checked melpa-stable.

[2015-06-10 15:35] arybczak commented on #712
Hmm, this is weird, I get this with master.

[2015-06-10 16:01] arybczak commented on #712
I have emacs 24.5, it happens with .emacs.d/init.el containing only

[code]

and ..emacs.d/haskell-mode having haskell-mode from master.

[2015-06-11 09:33] eigengrau opened #715 "haskell-indentation breaks with UnicodeSyntax"
Trying to use haskell-indentation-mode in haskell-mode 20150512.2319 using the following example will fail with `Illegal token: ←`.

[code]

[2015-06-11 09:38] gracjan commented on #715
Note that we have a very nice testsuite in `tests/haskell-indentation-tests.el` where you can add a test for this case.

[2015-06-11 13:47] gracjan commented on #712
How about `rm *.elc` ?

[2015-06-11 19:28] eigengrau opened #719 "Stepped indentation with haskell-indentation-mode and yasnippets"
When haskell-indent-mode is active, using  `ghc-insert-template-or-signature` to expand a class instance stub, or expanding from a yasnippet keyword, produces odd indentation. It looks as if the layout rule is applied after every line.

[code]

[2015-06-11 20:00] eigengrau commented on #719
I have noticed that when using `haskell-indentation-mode` instead, `ghc-insert-template-or-signature` yields the correct results, while yasnippet expansion (courtesy of haskell-snippets) still yields the stepping.

[2015-06-11 20:04] arybczak commented on #712
This is with clean, just cloned and compiled repository :(

[2015-06-11 20:09] gracjan commented on #719
Haskell-indent-mode is no longer supported I'm afraid.

[2015-06-11 20:16] eigengrau commented on #719
Ah, okay, thanks. So this is for `haskell-indentation-mode` (no electric indent mode active). Yasnippets issue?

[code]

[2015-06-11 21:16] ilitzroth opened #720 "Makefile message is not consistent with the code or documentation"
From the makefile.

[code]

[2015-06-12 06:31] gracjan commented on #719
yassnippets have their own github issues page, I guess it is better to report there.

[2015-06-12 06:39] gracjan commented on #720
Will you create a pull request?

Note: we do support Emacs 23 so it should be `(< emacs-major-version 23)`.

[2015-06-12 07:01] ilitzroth commented on #720
ok... I'll get do that this evening.
Greetz,
i

On Fri, Jun 12, 2015 at 8:39 AM, gracjan <notifications@github.com> wrote:

[2015-06-12 14:06] LukeHoersten commented on #719
I'm seeing the same problem as you with `haskell-indentation-mode` and `haskell-snippets`.

Yasnippets really has no control over how the buffer treats indentation as the snippet goes in. All the `haskell-snippets` go in with spaces for indentation as well so I don't think `tab` characters are causing indentation to run or anything. You can see how straightforward the snippet is here:
https://gith

[2015-06-12 17:51] drvink opened #721 "haskell-indentation-mode does not bind DEL"
Sorry for the noise, but I've looked over the commit log and I can't tell if I'm losing my mind or if something's changed with the default behavior of DEL under haskell-indentation-mode. It doesn't seem to be getting rebound for me anymore (when I `C-h k DEL`, it's bound to `delete-backward-char`), and furthermore, the cursor gets placed differently from where I expect it used to be.

The info pag

[2015-06-12 18:47] drvink commented on #721
The stuff controlled by this was what I was referring to:

[code]

...and I preferred the previous indent placement algorithm by far.

[2015-06-12 19:29] gracjan commented on #721
Hi, thanks for the report.

`S-TAB` is bound to `haskell-indentation-indent-backwards`, is that the functionality you are looking for?

If you have specific case where indentation is subpar please report it! Current code is hackable and has a test suite so that gives good prospects for future of `haskell-indentation`.

[2015-06-12 21:13] drvink commented on #721
`haskell-indentation-indent-line` and `haskell-indentation-indent-backwards` achieve part of it, but they're not quite the same as what `haskell-indentation-delete-backward-indentation`, `haskell-indentation-delete-indentation`, or `haskell-indentation-delete-backward-jump-line` did, since they only handle indent and don't combine indenting with deletion. I need to test more for the indent placeme

[2015-06-14 22:27] codygman opened #723 "base library support for haskell-mode-goto-loc"
I feel like this is the only feature in Haskell mode I'm missing. Right now I have to Hoogle, Hayoo, or Google the function name, pick the right package version, click source, hope it navigates to the right place, and read the unformatted source in my web browser.

It would much nicer to just be able to naviage to *any* functions source seamlessly.

I had some luck using ghci-ng like this:

[code]

[2015-06-15 09:41] gracjan commented on #723
Looks like a pretty solid idea. It reminds me what VisualStudio does in such a case. When executing goto-definition in VS it asks where it can find sources for this particular symbol. Then cleverly uses the answer to also find related source files and source symbols.

I would say that goto-location could do the following:

1. If symbol at cursor (or in region) is in a package, it should ask for th

[2015-06-15 09:42] gracjan commented on #720
Fixed by  #722.

[2015-06-15 09:42] #720 closed

[2015-06-15 09:44] gracjan commented on #710
I do not think current behavior is the final form of what `haskell-interactive-bring` was supposed to be doing.

@the-kenny: if you could hack `haskell-interactive-bring` the way you would like it to be and submit a pull request we'd love to review it and improve the functionality for everybody.

[2015-06-15 09:52] gracjan opened #724 "Tokenizer is needed"
Plenty of code relies on local regexes to find tokens. All of these are half-backed.

We need a common `next-token` functionality as a building block for many more advanced parts.

Reference: #648, #628, #572, #549, #450, #229. Possibly many more.

[2015-06-15 09:52] gracjan commented on #215
@geraldus: Is this issue describing what you are working on?

[2015-06-15 20:56] creichert commented on #723
This is something that `codex`, which uses `hasktags`, does pretty well (it downloads the source): https://hackage.haskell.org/package/codex.

[code]

I generally do this:

[code]

[code]

`codex` is also very friendly to add-source'd dependencies in the parent directory. e.g. cabal sandbox add-source ../other-project will be tagged in-place.

I haven' tried ghci-ng much, yet. But if it offers thi

[2015-06-15 21:00] creichert commented on #723
Ah, I see your original comment about hasktags too:

[code]

Indeed, this is also an issue with codex.

[2015-06-15 22:20] geraldus commented on #724
Good idea. It will be great work I guess.

[2015-06-15 22:23] geraldus commented on #215
Yeah, but I'm very limited in time :(
Also, integrate means dependencies, and my current goal is separate packages (backends) for company and AC, built on top of some common functionality from haskell-mode (this is step 1 I'm currently working on).

[2015-06-15 23:58] sheganinans opened #725 "Unicode partial function application and font-lock alist"
Currently (. etc) is not currently rendered as (∘ etc). Adding an entry in "Haskell Font Lock Symbols Alist" in customization with the entry as "(." "(∘" does not give me the expected result.

[2015-06-16 08:01] hvr commented on #215
@geraldus btw, are you by any chance also tackling the issue of asynchronous lookups as mentioned in #178 ?

[2015-06-16 08:55] gracjan commented on #725
In this case `.` is not recognized as a token, careful use of #724 (when it is ready) would solve this issue.

[2015-06-16 09:24] geraldus commented on #215
@hvr I hope I can tackle this.  First of all I need to finish functions which grabs prefix and its context, this information will be used further in completion function _(I'm almost done with it, and currently making some final polish)_.

I'm still need some research, but I suppose the best way to get synchronous completions is to search them in tags, rather than ask REPL (or maybe select tags if

[2015-06-16 09:59] arybczak commented on #712
Added tests do not replicate the issue I posted.

Here's the patch to correctly reflect it:
[code]

and it indeed fails with "Illegal token: layout-item".

[2015-06-16 10:35] hvr commented on #215
The benefit of asking the REPL is that it knows what's in scope, and maybe in the future we may be able to ask the REPL (or maybe `ide-backend` -- haven't looked at it yet) to give us more context-aware completions for a given location, all stuff that require more meta-information to be known about the symbols you want to offer completions for.

[2015-06-16 11:07] k0ral opened #726 "Unable to load haskell-mode due to file not found"
I've recently updated `haskell-mode` from 13.7 to 13.14.2, using Emacs 24.5.1 .
Now, when I try `M-x haskell-mode` while editing a haskell source file, I get the following error:

    apply: Searching for program: no such file or directory, %s

I've also tried with the HEAD version of the master branch, but got the same error.

Could you please assist ?
Thank you.

[2015-06-16 11:31] geraldus commented on #215
I agree with you (and I've have not looked at `ide-backend` too).  But, there are some caveats:

1. it is possible, that user does not use **interactive-haskell-mode** and REPL is not running.
2. REPL does not provide completions for things defined in `let` blocks (this is why we also need `dabbrev` stuff).

As for `ide-backend` if I'm not mistaken FPco IDE is powered by it, and it will be very ni

[2015-06-16 11:34] gracjan commented on #215
REPL may also be hanging because currently same repl session is used both
for arbitrary user interaction and completion commands. That mean sync
completion may hang whole emacs and async completion may not return obvious
expected results.

So REPL is the way to go, but needs to be handled more carefully.

[2015-06-16 11:36] gracjan commented on #726
Sure, you seem to have enabled some advanced features of haskell-mode and
those sadly stopped working. Can you find out all customizations and
init.el code that relates to haskell-mode?

[2015-06-16 11:37] gracjan commented on #712
Confirmed.

Braces and commas should take priority over `layout-item`, `haskell-indentation` does it opposite to what Haskell Report says.

[2015-06-16 11:47] geraldus commented on #215
@gracjan btw, is there a way to check is REPL currently busy or idling?

[2015-06-16 11:55] gracjan commented on #215
There is no reliable way to do that. There are hack, some more hilarious
than others. Standard comint mode decides that a shell-like session is busy
if the cursor is in the first column and ready to accept input if cursor is
at the end of a non-empty line (presumably prompt).

This is very fragile. That is why we have whole industry of more
request-response interactions like ghc-mod, ide-backend,

[2015-06-16 12:05] k0ral commented on #726
I've tried commenting out almost all of my `init.el` file, only a couple of non-haskell-related stuff remains, but I'm still getting the error.
Using `toggle-debug-on-error`, I was able to get the stack:

[code]

[2015-06-16 12:16] gracjan commented on #726
Are you by chance on Windows?

This is the problem:

call-process("%s" nil t nil "-c" "ghc --supported-extensions")

Now, this "%s" comes from variable called `shell-file-name`. Why is that
you have it setup to be "%s" is a mystery you need to check. Its default
value is "/bin/bash" (on unix-like) and "cmd.exe" on Windows. Why and what
has changed this variable?

[2015-06-16 12:36] k0ral commented on #726
I'm on linux.
It looks like `shell-file-name` is incorrect indeed:

[code]

Looking at the documentation, this variable is determined by the SHELL environment variable when Emacs is started, and my `$SHELL` is indeed incorrectly set to `%s`, for some reason.

As this is not related to `haskell-mode`, I'm closing this issue.
Thank you very much for your help.

[2015-06-16 12:36] #726 closed

[2015-06-17 08:41] hvr opened #727 "Multi line string editing"
I'm writing down this feature request in case somebody may be interested implementing this... :-)

Haskell2010 allows for multi-line strings via `\ \`-gaps (w/o requiring to invoke TH+QQ which IMO is overkill if it's just to be able to write here-docs-ish multi-line strings), e.g.

[code]

haskell-mode could provide a way to "zoom" (think of a `lens` =) ) into that string-literal via a temporary b

[2015-06-17 08:45] gracjan commented on #727
Thanks!

If you would like to split some smaller well defined tasks then you could
create more issues in github describe in greater detail what is to be done
and put `well-defined-task` label on them.

There are people out there that do not know where and how to start hacking
on haskell-mode and `well-defined-task` label helps them to get started.

[2015-06-18 14:28] geraldus opened #728 "Move haskell-utils-* from haskell-commands.el to utils package if possible, rename otherwise"
There are several utility functions defined in `haskell-commands.el`.  I think it's better to move them into `haskell-utils.el` if possible, and rename prefix to `haskell-commands-`.  I think we can move those functions which does not depends on other `haskell-mode` functionality, for example `haskell-utils-capture-expr-bounds` uses `haskell-spanable-pos-at-point` internally and likely it is first

[2015-06-18 14:35] geraldus opened #729 "Automatically create process when opening haskell files"
I can't be certain, but I believe in past **haskell-interactive-mode** asked me to start new process each time project file opened (I can't speak about single `*.hs` files, because I use them very rarely), but now it's not true. It's just silently opens file.

Is there some benefits of interactive mode without active process over plain haskell mode?

To activate interactive mode I have following i

[2015-06-18 14:43] geraldus commented on #522
@gracjan is it still relevant?

[2015-06-18 14:45] geraldus commented on #414
@gracjan is it still relevant?

[2015-06-18 14:48] geraldus commented on #323
@gracjan this looks irrelevant.

[2015-06-18 14:53] geraldus commented on #606
Here is a reminder of all opened issues related to completions stuff
#679 #637 #215 #178 #164

[2015-06-18 15:02] gracjan commented on #522
Yes. It is still strange to find out how to enable haskell-interaction-mode
and it is a stumbling block for many.

[2015-06-18 15:02] gracjan commented on #414
Yes. haskell-indentation-mode is still not good enough to be a good default.

[2015-06-18 15:03] gracjan commented on #323
haskell-indentation-mode still does not handle quasiquotes

[2015-06-18 15:15] gracjan commented on #728
There is also `haskell.el` containing a lot of questionable content that could be moved somewhere else.

`haskell-mode` does not use this double-dash conventions, so lets not introduce yet another way of doing things. Same against against `/` as a separator that seems to be yet another convention for private methods or variables.

[2015-06-18 15:18] geraldus commented on #728
Is this task is well defined, btw? :D

[2015-06-18 17:05] geraldus opened #730 "Turn haskell-ghc-supported-extensions and haskell-ghc-supported-options customization options to variables"
I can't be certain, but `haskell-ghc-supported-extensions`<sup>[1][exts]</sup> and `haskell-ghc-supported-options`<sup>[2][opts]</sup> are likely useless, when you try unfold them it brings a huge list.  I can't imagine the case when it needed to extend these lists, or remove/modify items.  In both cases values are fetched by invoking shell commands (`ghc --show-options` and `ghc --supported-exten

[2015-06-19 00:55] ivan-m commented on #729
What happens if you only want to read a file from another project without actually running it (you want to verify how you wrote something, etc.)?

Or you're writing Haskell-y pseudo-code which isn't expected to actually run?

[2015-06-19 00:57] ivan-m commented on #730
I know that shm uses `ghc --supported-languages` (which is a alias for `ghc --supported-extensions`) to complete `LANGUAGE` pragmas; possibly something similar could be done in haskell-mode itself?

(`haskell-ghc-supported-options` could then be used to help auto-complete fields in .cabal files...)

[2015-06-19 08:29] geraldus commented on #730
It's very strange to me, that we have following code<sup>[1][lang-exts]</sup> in `haskell-customize.el`:
[code]
Should it be move to **SHM** itself? @ivan-m are you talking about this? In my Emacs installation it's empty (as default value).

Looks like SHM get extensions from `Language.Haskell.Extensions`<sup>[2][hask-exts]</sup> using its binary<sup>[3][shm-src]</sup>.

@chrisdone can you clarify

[2015-06-19 08:32] ivan-m commented on #730
Looks like something that wasn't moved over to shm properly.

Though I was referring to [this usage](https://github.com/chrisdone/structured-haskell-mode/blob/2f41350bc320d364fe8ebb1c41030cb3da516ae8/elisp/shm-insert-del.el#L229) by shm (which doesn't use its own binary, nor get them from Cabal); what you linked to I believe is for parsing purposes.

[2015-06-19 08:33] chrisdone commented on #730
Oh, this variable has the wrong group, that's all. The idea is that various tools written with HSE that don't know what extensions to use can use this variable. Examples: hlint, hindent, structured-haskell-mode, tool-de-jour, …

[2015-06-19 08:47] geraldus commented on #710
Yeah, very unpleasant stuff!  @the-kenny can you try to fix this?

[2015-06-19 09:05] the-kenny commented on #710
I'm not sure when I'll find time but it's on my todo-list now. Likely some time next week.

[2015-06-19 09:09] geraldus commented on #729
@ivan-m well, this is good question.

The real issue is that there are four steps to bring REPL, and even if you answer "no" to first question ("start new project?") there follows another one ("choose haskell session").  I think if user answered "no", there should be no other questions.

One thing I can think of is not to ask user about project name, but assign some better names automatically (als

[2015-06-19 09:24] geraldus commented on #730
@chrisdone, I guess in this case the group should be `haskell`.

BTW, you can use mentioned `haskell-ghc-supported-extensions` variable [here][1].  Also I will introduce similar variable for pragma names in `haskell-mode` in my next PR related to completions stuff, so you will be able to use it and remove [this variable][2] from SHM. I can ping you when it will be done or provide a PR.

[1]:https:

[2015-06-19 09:26] chrisdone commented on #730
No! I think that is different. We have the two cases:

* haskell-ghc-supported-extensions: here are all extensions that GHC ***supports***
* haskell-language-extensions: here are the extensions that are **enabled*** in this buffer(s)

[2015-06-19 09:26] geraldus commented on #710
Cool! Let's wait for you then.

[2015-06-19 09:35] geraldus commented on #730
@chrisdone hmm, why not?

`haskell-ghc-supported-extensions` value is set by<sup>[1][ghc-sup-exts]</sup>

[code]

SHM uses<sup>[2][shm-sup-exts]</sup>:

[code]

And `ghc --supported-languages` is an alias for `ghc --supported-extensions` and gives same results, so the result should be the same in both cases. Am I missing something?

[ghc-sup-exts]:https://github.com/haskell/haskell-mode/blob/maste

[2015-06-19 09:38] chrisdone commented on #730
Yes, those two are the same. As long as you're leaving `haskell-language-extensions` alone, your plan seems good. :+1:

[2015-06-19 11:06] ivan-m commented on #729
For why you are asked to choose a session after you say you don't want to create a project: if you want to do some kind of session-based interaction (which is often also done in the save hook) and you don't want to create a *new* session, then you need to pick one that already exists... this is also useful when the automatic session-detection doesn't work properly.  Of course, there should probabl

[2015-06-19 17:35] geraldus commented on #215
The only one reason we cannot include asynchronous company-backend in `haskell-mode` package is `company-begin-backend`<sup>[1][cbbf]</sup> function and this is required by company itself.  I'm curious is there a workaround to use this without bringing company dependency?

[cbbf]:https://github.com/geraldus/company-interactive-haskell-backend/blob/master/company-interactive-haskell-backend.el#L30

[2015-06-19 18:18] gracjan commented on #215
`fboundp` works in such situations.

[2015-06-19 18:41] gracjan commented on #730
Such submarine dependencies are very fragile invisible constructs. Other Emacs packages tend to depend on obscure functions and variables. Recently we had such a problem with `ghc-mod`.

`haskell-language-extensions` is never mentioned anywhere else in `haskell-mode`. This is questionable and fragile engineering that puts unnecessary ambush surprises on future coming new contributors.

[2015-06-19 18:42] gracjan commented on #728
I have removed all confusing statements. Now it is well-defined :)

[2015-06-19 18:44] gracjan opened #734 "Move interactive-haskell functions from haskell.el"
Move `interactive-haskell` related functions from `haskell.el` to `haskell-interactive-mode.el`.

[2015-06-19 18:45] chrisdone commented on #730
It's the same kind of variable as `haskell-indent-spaces`.

If you have anything cogent to contribute, please do so. Name-calling things "questionable" and "fragile" is zilch.

[2015-06-19 18:56] fatlazycat opened #735 "Issues with `:type-at`"
When i start emacs and go into a module fresh then I get the expected behaviour and it reports the types correctly.

As soon as I add a blank line as an example, I start getting responses such as 'wrong repl response: <interactive>:1:1 .......

It appears that after any editing it upsets the information that is sent to the command. Type requests before the edit are fine, after the edit are incorre

[2015-06-19 19:05] gracjan commented on #730
@chrisdone: Please follow https://help.github.com/articles/using-pull-requests/ even you have commit bit. We try to get all changes through TravisCI before they are merged.

Your added comment forgets to explain if `nil` as value means no extensions or all available extensions.

[2015-06-19 19:07] geraldus commented on #735
@fatlazycat do you `C-c C-l` reload your file after editing?

[2015-06-19 19:10] fatlazycat commented on #735
I have tried that along with haskell-process-load-or-reload and it doesn't make any difference.

[2015-06-19 19:14] chrisdone commented on #730
"Forgets" is the wrong word, it implies there was ever any intention to write about this strange notion of "all available extensions", as if they're all mutually compatible, to begin with, which there neither was nor is.

[2015-06-19 19:25] gracjan commented on #730
So I had to go to the place where this variable is **used** to find out what is the meaning of it.

Here is what happens:

[code]

https://github.com/chrisdone/structured-haskell-mode/blob/master/src/Main.hs#L280

So shm enables **all available extensions** (in haskell-src-exts) minus some deemed bad.

@chrisdone: Please write some ERT tests for this variable instead of arguing.

[2015-06-19 19:58] geraldus commented on #735
@fatlazycat if you can make a video please, it's unclear now.

[2015-06-19 20:37] fatlazycat commented on #735
https://dl.dropboxusercontent.com/u/591332/type_at.mp4

[2015-06-19 20:43] geraldus commented on #735
Hhmm... sometimes I'm facing similar issue, but I have not noticed that empty lines can be a culprit!  Maybe there is something wrong with expression bounds capturing. By the way, can you check what will happen if you wrap `f <<= z = ...` expression by region and invoke type-at command?

[2015-06-19 20:50] fatlazycat commented on #735
After restarting emacs it's fine, see https://dl.dropboxusercontent.com/u/591332/type_at_1.mp4

[2015-06-19 20:56] geraldus commented on #735
@fatlazycat yeah, currently there is some subtle issue with type-at, when things goes wrong I usually restarting process.  Will try to play with new lines, maybe this will give some clues.  Thanks for report.

[2015-06-19 22:57] chrisdone commented on #730
The particular behaviour of SHM, one consumer of this variable, is irrelevant, what it does with the list may change at any time. The variable's purpose has been documented.

![](http://www.sharegif.com/wp-content/uploads/2013/09/21/lol-gif-36.gif)

Stop pinging me by name on this issue. I'm done here.

[2015-06-19 23:01] creichert commented on #215
It's difficult to tell what the overall goal is. Will this have on my current auto-complete sources, if any? Is it specifically to add support for  auto completion sources directly from `haskell-process` or `haskell-interactive-mode`, maybe `ide-backend` as well? I'm happy this is being improved, just curious.

One related feature I am interested in helping improve is inlined haddocks in the compl

[2015-06-20 00:00] ivan-m commented on #730
@gracjan except that bit of code is not what was being talked about; @geraldus was asking about the elisp variables in haskell-mode and I said that one of them could be used for similar functionality to something that SHM has in *elisp*.

[2015-06-20 09:03] gracjan commented on #730
@ivan-m: I agree with your comments.

For reference `haskell-language-extenstions` is used in exactly two places in shm:

[code]

I'm still bothered by unused variables, I'm still bothered by submarine dependencies, I'm still bothered by new contributors hitting such obstacles.

[2015-06-20 09:05] gracjan commented on #730
@geraldus: Can you restate exactly what was your intention in the beginning with certain terms in a new PR request? I would like to mark it as well-defined-task, for that it has to sound as a simple description what should be done.

[2015-06-20 09:18] geraldus commented on #730
@gracjan surely

[2015-06-20 13:03] ivan-m commented on #730
@gracjan what do you mean by submarine dependencies?

Note that `haskell-language-extensions` is not what @geraldus was referring to originally; IIUC this variable is equivalent to having language extensions specified in the .cabal file (and using ghci rather than cabal-repl) rather than using LANGUAGE pragmas.

[2015-06-21 16:14] geraldus commented on #679
Fixed in #733

[2015-06-21 16:14] #679 closed

[2015-06-21 16:22] geraldus commented on #637
@ikirill there were some updates on default completion function recently, because your issue is related to amount of completions I guess that changes will not solve this, but it will be good if you can test these updates.  So, can you temporarily fallback to `company-capf` backend and make some tests?

[2015-06-21 16:50] geraldus commented on #215
hey @creichert! so, you're with `auto-complete`? If this case can I ask you a questions about auto-complete when/if needed, I'm using company myself and have no much time to play with auto-complete itself.

As for completions popup, `company-mode` have slightly different approach and your screenshot shows that's it is quite useful to show such haddock info in case of `auto-complete`.

For now I've

[2015-06-21 16:59] geraldus commented on #606
should be fixed in #733

[2015-06-21 16:59] #606 closed

[2015-06-21 20:38] #730 closed

[2015-06-22 07:31] creichert commented on #215
Sure, I'd be happy to help where I can (feel free to ping me on any issues).

`company-mode` and `auto-complete` do have a slightly different process
but they both support candidates and a doc-buffer. I have to take some
time to test and look further at what you've already completed and see
how I can help.

The doc buffer shown in my screenshot is 'hoogle search --info IDENT',
which would be run f

[2015-06-22 20:30] dmjio opened #737 "haskell-process-do-info no longer displays exports (doesn't invoke :browse <module> )"
Prior to `13.14` I was able to hover over a module import and call `haskell-process-do-info` (mapped to `C-c C-i` by default) and all top level functions / data types would display in the haskell interactive repl. Now nothing shows up. Has this functionality been moved? It appears to show a preview of the exports in a mini-buffer and in `*Messages*`, but not the repl.
Example: `-- imported via Ver

[2015-06-22 20:33] geraldus commented on #737
@dmjio I've already tried to reply you on IRC, have you tried presentation mode?  You can enable it customizing `haskell-process-use-presentation-mode` option.  The functionality changed a bit recently.

[2015-06-22 21:55] dmjio commented on #737
@geraldus, ah thanks, typing `haskell-customize` and toggling the `Haskell Process Use Presentation Mode` under the `Haskell interactive group`

[2015-06-22 21:55] #737 closed

[2015-06-23 00:47] adnelson commented on #248
I've added this line to my init.el:

[code]

And even though I've run `M-x eval-buffer`, I still get this popup every time I press enter telling me about haskell-mode-hook. This is *incredibly* obnoxious. What am I not doing to get rid of this?

[2015-06-23 05:40] fatlazycat commented on #735
Also after a clean startup of emacs, I don't get the type info as I would expect in the following example

https://dl.dropboxusercontent.com/u/591332/type_at_3.mp4

[2015-06-23 06:01] gracjan commented on #248
Use

(add-hook 'haskell-mode-hook 'haskell-indentation-mode)

Your version should also work but for some reason it does not. That is a bug.

[2015-06-23 19:01] gracjan commented on #248
@adnelson: Hooks are run when things happen, the hook says to enable `haskell-indentation-mode` just after `haskell-mode` is turned on. It does not work retroactively on already open buffer, as you have noticed.

[2015-06-23 23:51] LukeHoersten opened #738 "Support company-mode docs and source with haskell-mode backend"
From the [`company-mode` docs](http://company-mode.github.io):

[2015-06-23 23:52] LukeHoersten commented on #738
Ping @geraldus

[2015-06-24 00:25] LukeHoersten commented on #256
@gracjan I was able to reproduce, yes.

[2015-06-24 00:34] creichert commented on #738
`company-ghc` uses `hoogle search --info <ident>` to populate the doc buffer: https://github.com/iquiw/company-ghc/blob/master/company-ghc.el#L193.

`auto-complete` does support this feature with the F1 key as well. Different auto-complete sources utilize it in different ways but I like the haddock.

I pasted a screenshot in #215 and it would be nice to allow some options for what kind of docs are

[2015-06-24 00:40] LukeHoersten commented on #738
I was under the impression `company-ghc` depended on `ghc-mod` which I don't use. I use `haskell-process` etc instead. Perhaps we need to rethink how all this ties together?

[2015-06-24 00:48] LukeHoersten commented on #738
Looks like this is redundant with #215 - thank's @creichert

[2015-06-24 00:48] #738 closed

[2015-06-24 00:48] creichert commented on #738
The doc buffer uses `hoogle` (although the rest of `company-ghc` does use `ghc-mod`).

My only point was this is something we could most likely support relatively easily in both auto-complete and company-ghc. I definitely want this feature too.

[2015-06-24 03:28] LukeHoersten commented on #738
Understood. Good point.
On Tue, Jun 23, 2015 at 7:48 PM Christopher Reichert <
notifications@github.com> wrote:

[2015-06-26 08:52] geraldus commented on #735
@fatlazycat ok, finally I've done some research.  I've used following code for testings:

[code]

First, I can't reproduce empty lines issue. I tried `(>>) = undefined`, `(>>) a b = undefined`, and `a >> b = undefined` with and without preceding empty lines, and I was able to get type info for whole expression and for left side only in all cases.  But there is issue with operators indeed: show-typ

[2015-06-26 09:11] geraldus opened #739 "haskell-ident-pos-at-point does not work for operators"
Function `haskell-ident-pos-at-point` returns `nil` when point is at operator.   Fixing this will potentially fix many other things (show type, show info, completions).  I have no strong opinion right now what should be returned when operator is wrapped in parentheses in following cases (`*` means point is at following char)
+ `(>>*=)`, point at `=`
+ `(>>=*)`, point at `)`
+ `(>>=)*`, point stand

[2015-06-26 09:16] geraldus commented on #637
@ikirill, by the way, I've found a bug, which is likely related to your issue (if I understood correctly you have a lot of operators): REPL returns all imported names, when asked to complete operator, e.g. `complete repl ">>"`,  described here #739.

[2015-06-26 09:40] gracjan commented on #739
This seems the way to go:

https://ghc.haskell.org/trac/ghc/wiki/ReportABug

It is really sad news that ghci can't :complete operator symbols. Is there
a way to work around this limitation somehow?

--
Gracjan

[2015-06-26 09:46] geraldus commented on #739
@gracjan likely it is not, I thought maybe prefixing module name will help, but it does not:
[code]
but `:complete repl "Prelude.>" gives back everything again.

[2015-06-26 11:01] geraldus commented on #739
I've created a ticket https://ghc.haskell.org/trac/ghc/ticket/10576#ticket

[2015-06-26 17:56] fatlazycat commented on #735
Have updated haskell-mode, is the same for me.

Choose an arbitrary piece of code, type-at works. Add a blank line before it. Attempt type-at on the choice previously and it fails.

[2015-06-26 19:01] geraldus commented on #735
@fatlazycat it's so strange, I even tried to invoke type at command after blank line insertion without saving file and reloading it, and it surprisingly worked for me all the time.

Pinging @gracjan, can you test this also?

[2015-06-29 06:45] geraldus commented on #206
I think we can contact `stylish-buffer` author and ask for a customization feature such as stylize only imports, do not stylize records, and etc. (through `.stylish-haskell.yaml` or/and command line args) or even provide a PR for this stuff.  But it looks like Jasper Van der Jeugt is quite busy right now.

[2015-06-29 07:26] geraldus commented on #206
Oh, looks like this is not relevant anymore, because it is already possible to make such configuration through `.stylish-haskell.yaml`:

[code]

[2015-06-29 18:06] gracjan commented on #735
@fatlazycat, @geraldus: I could reproduce the outcome easily, when a loaded version of source is not longer the same as the version in buffer.

I can't deduce from the video what commands are executed. `haskell-mode-show-type-at` is not bound by default to anything. What is `SPC m s`?

[2015-06-29 19:59] fatlazycat commented on #735
I'm using spacemacs which uses evil mode and a leader key of space.

The function I'm using is haskell-process-do-type

[2015-06-30 12:08] geraldus commented on #735
Ok, this function is quite tricky, it may fail or not in different circumstances.  Despite of blank lines it could fail on some identifiers and work for others.  Sometimes reloading fixing issue, sometimes does not.  It is needed more detailed investigation, but I'm quite short in time right now.  Will post future observations here.

[2015-07-01 17:27] geraldus opened #741 "New dabbrev completions too eager"
Currently I'm writing some GHCJS code and didn't setup interactive version yet, so I always have dabbrev completions. With 10-20 opened buffers dabbrev completion method becomes too eager already, i.e. completions takes too long. It is possible to limit dabbrev list of buffers to search completions. For example, try to lookup nearest folder contains .git, or .cabal file, set some haskell-completio

[2015-07-01 18:43] gracjan commented on #741
I use dabbrev by M-/ command key. I would love to have M-/ do dabbrev,
completion kept only for more context-sensitive semantic information only.

[2015-07-01 21:35] geraldus commented on #741
If you don't use **company-mode** I think you does not encounter this issue.  Here is a little [demo](https://drive.google.com/open?id=0BwLfIDb7xEV7d3Vzd1FkNWh6Z1k).  Company mode, no REPL (hence completions are always comes from dynamic abbrevs), 50 buffers opened.

[2015-07-02 10:19] vlatkoB opened #742 "On opening a file, haskell-doc opens several files defined in import section"
Hi,
In a `Yesod` project, on opening `Application.hs` file, `haskell-doc` automatically opens `Import.hs` and `Foundation.hs` (which is imported from `Import.hs`). So, instead of having just one intended buffer (`Application.hs`), there are two more unwanted buffers opened.
If `haskell-doc` is not turned on, it doesn't happen.

Is this a bug or a feature? :-)
Possible to turn off?

br,
vlatko

[2015-07-02 21:09] the-kenny commented on #710
Please check the PR above. It's a simple fix, and we might want to make the function used configurable so users can stick to the old behavior if they want to.

[2015-07-02 22:22] johnwalker opened #744 "Add Stack ghc feature"
I'd really like to be able to use `stack ghc` instead of `cabal repl`. To do this, we just need to work inside haskell-process.el, right?

[2015-07-03 04:57] gracjan commented on #710
Configurability is a costly mechanism so we should try to avoid complexity as much as we can.

Pull request looks good to me. Lets wait a little so that other people get a chance to test it before merging.

[2015-07-03 05:00] gracjan commented on #744
There is a thing called `process-type` and it currently supports `cabal-repl` and `ghci`. It should be pretty easy to add `stack ghc` to the list of supported methods.

[2015-07-03 06:17] gracjan opened #745 "Font lock messed up"
See screenshots in this reddit comment:

http://www.reddit.com/r/haskell/comments/3br87g/container_or_nix_configuration_with_latest_and/

[2015-07-03 08:48] geraldus commented on #710
@gracjan I'm not certain, but will try to find a time and test this stuff this evening.

[2015-07-04 17:59] #710 closed

[2015-07-04 18:31] johnwalker commented on #744
OK, I'll put in a PR today.

[2015-07-04 22:35] #744 closed

[2015-07-05 09:52] geraldus commented on #741
If someone want to fix this before I find a time this might be helpful [dabbrev.el](https://github.com/emacs-mirror/emacs/blob/master/lisp/dabbrev.el).

[2015-07-05 16:38] meditans opened #747 "[Discussion] haskell-indentation, reset indentation after newline"
It would be a feature if there was a option to reset indentation to the first column after an empty line in `haskell-indentation`, similarly to what is done in `haskell-indent`.

[2015-07-05 19:29] geraldus commented on #729
Let's close this until we have some better proposal.

[2015-07-05 19:29] #729 closed

[2015-07-06 06:41] codygman opened #749 "How can I specify where build artifacts are stored?"
For instance I have a Yesod project which looks like this after using haskell-process-load-or-reload in my project:

[code]

Is there a way to put all of these *.(hi|o) files into a custom directory?

[2015-07-06 07:49] geraldus commented on #749
Not an answer, just want to clarify, that I didn't faced this issue in near past, all that files were stored in `dist/build` directory.  I have no ability to check it right now (I've changed GHC from 7.8.4 to version 7.10.1 recently and need to rebuild/reconfigure my tools), but I think I'll be able to do it later this day.

[2015-07-06 07:51] ivan-m commented on #749
If you use a `.cabal` file then they'll be stored in the `dist/` directory when using `cabal` to build the project.

Otherwise, see `-hidir` and `-odir` for ghc.

[2015-07-07 18:50] drewr opened #753 "stack-ghci still uses cabal"
`stack-ghci` doesn't work for me. `haskell-session` seems to always get to `haskell-session-new-assume-from-cabal`:

[code]

Even though:

[code]

Is there something else I need to do?

[2015-07-07 18:54] geraldus commented on #728
Nice! #752 covered all stuff, can be closed now.  Good job, @ankhers !

[2015-07-07 18:54] #728 closed

[2015-07-07 18:56] geraldus commented on #753
@johnwalker does it really work for you?

[2015-07-07 19:27] johnwalker commented on #753
Works for me, but this setup should also work. Does emacs see stack on your path?

[2015-07-07 19:32] johnwalker commented on #753
Oh, that shouldn't be related. All that is happening is stack ghci is being called in your target directory.

https://github.com/haskell/haskell-mode/blob/4c3cdfdebd5653013e39b220d096158034b35b9e/haskell-process.el#L108

[2015-07-07 19:34] johnwalker commented on #753
What does ps -aux tell you about the programs being run?

[2015-07-07 19:43] drewr commented on #753
Interesting, `ps` indeed shows `stack ghci` was spawned. Any ideas why I still get the cabal dialog? Any way to turn it off?

[2015-07-07 19:46] johnwalker commented on #753
I think the fault is in:
[code]

[2015-07-07 19:47] johnwalker commented on #753
Instead of this chunk of code, we should just prompt for a directory to run stack ghci.

[2015-07-07 19:48] johnwalker commented on #753
Oh no, that seems fine. Still thinking. But it's definitely a problem with the elisp

[2015-07-07 20:10] johnwalker commented on #753
OK, I think I know whats going on. If you do ps -aux | grep cabal, it should give you a huge line with stack and then buried off to the side a reference to the version of cabal that stack is using.

[2015-07-07 20:27] drewr commented on #753
It's the flow that goes:

[code]

I hadn't updated my haskell-mode in a while, so this may just be new behavior. I'd like to just have a GHCI prompt from `C-c C-l` but it wasn't obvious from the elisp how to do it.

[2015-07-07 20:40] johnwalker commented on #753
I can see how that is confusing. We should probably mention to the user whether stack or cabal is being used in the line that begins "Start a new project named ... ? "

[2015-07-07 20:41] drewr opened #754 "haskell-process-suggest-pragma hangs emacs"
Using `haskell-mode-20150707.57` with `interactive-haskell-mode`, whenever `haskell-process-suggest-pragma` is triggered, it sometimes works, and sometimes hangs emacs. After that a C-g will suspend the process and try to dump core.

[2015-07-07 20:42] johnwalker commented on #754
Is this specific to stack-ghci?

[2015-07-07 20:43] drewr commented on #754
I think so. I can't quite tell because I've been switching back and forth quite a bit. I'll switch back to cabal for a bit and see if it's triggered.

[2015-07-07 20:45] drewr commented on #754
I switched back to `cabal-repl` and the first time I responded `n` it hung.

[2015-07-08 07:29] vincentbernat opened #755 "Error: reference to free variable `haskell-import-mapping'"
Hey!

After updating to today git, I get this error when running `make`:

[code]

Solved by `make clean`. I suppose some implicit rule `.elc.el` may help?

[2015-07-08 07:45] gracjan commented on #755
Yes, good catch.

Current Makefile does not do any dependency tracking and does not recompile
all the needed files as it should.

If you have an idea how to fix this we would love to get a pull request.

[2015-07-08 08:04] vincentbernat commented on #755
See PR #756. It should also be possible to do something clever with Emacs < 24.4, but I don't think this is worth it.

[2015-07-08 08:10] #755 closed

[2015-07-08 08:10] gracjan commented on #755
Thanks!

[2015-07-09 16:01] gracjan opened #759 "Implement backward-sexp"
Implement `forward-sexp` with negative argument. This is going to be useful for `haskell-ident-at-point` that mostly duplicates this functionality.

[2015-07-09 16:25] gracjan commented on #742
This seems to be a function of `projectile` no `haskell-doc`. Can you confirm that `haskell-doc` has nothing to do with this?

[2015-07-09 16:44] vlatkoB commented on #742
@gracjan When I do not `turn-on-haskell-doc`, only one file is opened. I tried turning off everything but `haskell-mode`, so I think it is `haskell-doc`. I noticed it on a plain `Yesod` app. This might be specific because all three files, `Application.hs`, `Foundation.hs` and `Import.hs` are in the project root, not in `src` dir.

[2015-07-09 17:52] RafaelBocquet opened #760 "Handle Template Haskell / DataKinds names in haskell-indentation"
haskell-indentation currently can't handle names starting with quotes used by the TemplateHaskell and DataKinds ghc extensions.

e.g. (both 'A are needed to get this) :
[code]

A quick fix is to change
[code]
to
[code]
in haskell-indentation.el, i.e. to give char literals a lower precedence. It doen't seem to break anything, but I haven't really used it yet.

[2015-07-09 21:27] gracjan commented on #760
A good start is to a a `:expected-result :failed` test case in `tests/haskell-indentation-tests.el`. Then run:

[code]

then add your fix and see if it fixed the issue and did not break anything more.

[2015-07-11 13:43] wwat commented on #522
How did you manage to fuck up a piece of software which did work 5+ years ago to the point that I am now also seeing this message?

[2015-07-11 13:57] wwat opened #762 "Haskell-mode was invaded by Eclipse users"
If I do C-c C-l I just want it to load ghci by default. I do not want that stupid, stupid system to ask me whether I want to create a "project". Do you have no taste?

[2015-07-11 14:01] wwat opened #763 "C-c C-l returns "No current directory""
As a user I don't want to see this whining from a program. Especially, if all this stuff did work 5 years ago. Usually, software becomes *better* over time.

[2015-07-12 04:52] ivan-m commented on #762
No, we obviously don't.

And you obviously don't have any manners which is why you need to state this three times (and creating two new issues on the topic).

[2015-07-12 15:32] geraldus commented on #522
@wwat I think if you wish you can use 5+ years old release in this case.
https://github.com/haskell/haskell-mode/releases/tag/2_8_0

[2015-07-12 17:16] gracjan commented on #762
@wwat: I see that you are disappointed. It is always very sad for us to see disappointed users.

Note that `haskell-mode` grew a lot. We support more than GHCi, there is also `cabal repl`, `stack repl`, we had `cabal-dev ghci`. That is a lot and requires infrastructure to support.

@wwat: Are you able to help us out with improving `haskell-mode` quality?

(@wwat: Note that I find your emotional re

[2015-07-12 17:20] gracjan commented on #763
Can you help us to debug this issue? How did you get this message?

[2015-07-12 19:33] wwat commented on #763
No, sorry. You should design your software, such that it is easy to debug in the first place, like all the grown ups do. If you do that, your failure rate would also go down.

If you don't know how to do this, then please just stop with all your software development activities, because one day, I might have to work on code you have written.

[2015-07-12 19:38] wwat commented on #762
@gracjan I am only involved in open-source when I get paid for it, because of the Joker's expression:"If you are good at something, you never do it for free".

So, even reporting this, is already going against my principles.

So, *yes*, I can help you with this (I wrote a couple of major modes already), and I am the right user/developer, but unless you have a bag of cash to spray around, I am not

[2015-07-13 10:23] gracjan commented on #763
My role in this project is to facilitate others to contribute. Do you plan
to contribute?

[2015-07-13 10:32] gracjan commented on #762
Many people would love to get paid for working on haskell-mode. Can you
help organizing paid development for haskell-mode?

[2015-07-13 10:44] #762 closed

[2015-07-13 19:44] mrkkrp commented on #763
@wwat, this is a wrong window, you wanted <kbd>M-x doctor</kbd>.

@gracjan, behavior of this user is rather destructive, obviously some sort of trolling takes place. Please consider reporting abuse if this continues. To report abuse go to personal page of offending account and click on a button with little exclamation point. In this menu you can either block the user or report abuse.

[2015-07-13 20:11] wwat commented on #763
@mrkkrp I am not the one who fucked up haskell-mode.  It's not trolling if it's the truth. Also, if your IQ is not above 150, I'd prefer it if you would not talk to me.

[2015-07-13 20:11] wwat commented on #762
@gracjan Do you always ask such stupid questions?

[2015-07-13 20:35] geraldus commented on #763
@wwat I'd prefer to action rather than speak, if you don't like something you may cry forever, or just put your hands on it and make something at least.  If you have huge bad of money (someone paid you), pay someone else who will write the software you need exactly.  What a problem?

[2015-07-14 07:19] wwat commented on #763
@geraldus Please construct valid English or better: stop talking to me for three years.

[2015-07-14 07:56] geraldus commented on #763
@wwat I think no one will talk to you soon.

[2015-07-14 23:12] k-bx opened #764 "Highlight hyperlinks in "haskell-compile" when using stack"
The new haskell stack tool outputs compilation errors shifted by 4 spaces right, which breaks highlighting of errors, since `haskell-compilation-error-regexp-alist` has a regex that must start a line with no spaces.

Example compilation output that's not highlighted:

[code]

You can see that part `Text/ProtocolBuffers.hs:54:1: parse error on input ‘import’` is not being highlighed as a hyperlink.

[2015-07-14 23:22] k-bx commented on #764
Just in case someone takes this, regex for skipping "Loading module" spam also could get this kind of an improvement!

[2015-07-15 08:57] geraldus opened #765 "REPL does not work properly until load or reload file second time"
I had very limited interaction with REPL in past, but getting to use it more now.  Usually loading file with `haskell-process-load-or-reload` works correctly only first time, if I'll modify source and reload it REPL does not work.  For example, loaded modules are unavailable (`<interactive>:1:1: Not in scope: …`), or `main` action could not be run:

[code]

To resolve this I have to simply reload

[2015-07-15 08:58] geraldus commented on #765
One thing I should mention, I'm currently using GHC version **7.10.1**.

[2015-07-15 09:00] ivan-m commented on #765
Is this with just plain ghci or with cabal?  I haven't seen anything like this when using cabal + sandboxes before.

(btw, you probably want to use `:main` rather than `main`: the former acts more like you're running it on the command line, which makes a difference if you want to test parsing in command-line arguments, etc.)

[2015-07-15 09:16] geraldus commented on #765
So, this behaviour was spotted both with `ghci` and `cabal-repl` process types.

Thank you for notice about `main`!

[2015-07-15 11:30] gracjan commented on #763
Closing as we have other issue tracking behavior of `C-c C-l` in #522.

[2015-07-15 11:30] #763 closed

[2015-07-15 11:32] gracjan commented on #764
We need stack to stabilize it output a bit and then somebody that actively uses stack to contribute the relevant code.

[2015-07-15 11:42] k-bx commented on #764
@gracjan how would you tell if stack's output is stabilized? It looks pretty stabilized to me, I think this error-reporting didn't change for 3 releases already (but need to check to be sure).

I am actively using stack, so if no-one will step-up, I will make sure I understand involved elisp code and will add precisely what is needed then.

[2015-07-19 08:01] gracjan commented on #764
@k-bx: It would be really appreciated if you did it. Some helpful information:

Link to regexps in Emacs: http://www.gnu.org/software/emacs/manual/html_node/emacs/Regexps.html

Also we need to make better engenireeng effort to not break things:

- [ ] create a `tests/haskell-compile-tests.el`, look in other files in `tests` to see how to do it
- [ ] add tests with compiler output inside, write a c

[2015-07-19 08:04] gracjan commented on #753
@drewr @johnwalker: Did you manage to resolve what is going on here?

I would love to merge a pull request that improves messages around cabal/stack startup as we seem to have many confused users here.

[2015-07-19 08:05] gracjan commented on #749
This issue seems to be ghc/ghci/cabal related and there is little we can do in haskell-mode about it.

I close this issue report, write a comment here if you want it reopened.

[2015-07-19 08:05] #749 closed

[2015-07-19 08:06] gracjan commented on #742
This is super strange. Do we know what mixture of functionalities cause this interaction?

[2015-07-19 08:08] gracjan commented on #739
@geraldus: Can we do something about this or must we wait?

Can we somehow detect that haskell-mode has faulty GHCi running and warn the user that asking for operators is not going to work?

[2015-07-19 08:08] ivan-m commented on #749
In particular, unless you are using object code in ghci, haskell-mode wouldn't be producing the `.o` and `.hi` files.

[2015-07-19 08:24] k-bx commented on #764
@gracjan thanks for the tips! I'll try to do it then. If someone will want to step-in, please write here.

[2015-07-19 17:25] johnwalker commented on #753
Yes.  I don't know how much of this process is needed:

[code]

And what is confusing users is the line "cabal dir."

[2015-07-19 17:39] johnwalker commented on #753
Do we need a call to haskell-session-target?

https://github.com/haskell/haskell-mode/blob/4c3cdfdebd5653013e39b220d096158034b35b9e/haskell-process.el#L116

[2015-07-19 18:55] gracjan commented on #753
@johnwalker: Can you do one thing for me and change this:

    Start a new project named.... ?
    Cabal dir:
    build target (empty for default):
    Set current directory:

Into this:

    Start a new $type project named.... ?
    Directory where project *.cabal file is located (empty to autodetect):
    Project build target (empty for default):
    Set current directory to (empty for default):

[2015-07-19 19:03] gracjan commented on #486
@johnwalker: And if you could finish removing `cabal-ghci` that would be awesome!

[2015-07-19 23:31] johnwalker commented on #486
sure!

[2015-07-20 03:33] ivan-m commented on #753
Whilst the wording can be improved, I think your suggestions @gracjan are a tad too long, the 2nd one in particular.

Maybe something like:

[code]

I also wonder whether the last prompt is needed with `cabal-repl` as you specify the directories used in the .cabal file...

[2015-07-20 06:19] gracjan commented on #753
Whole workflow needs improvement, meanwhile I'd like to have it mouthful.

[2015-07-20 07:46] johnwalker commented on #753
Yes, I'll do this late on Wednesday.

[2015-07-20 11:11] #648 closed

[2015-07-21 08:40] geraldus commented on #739
@gracjan I've already provided a patch for this, but it needs some polishing.  I think we can implement a workaround based on your recent lexeme stuff though.  But some research is needed, I was extremely short in time past weeks, and my current point of interest is still completions stuff (and I did write some code for this, will provide few PRs soon), so I can't take this myself right now.

[2015-07-22 12:44] ankhers opened #771 "Rename turn-on-haskell-* functions"
I noticed that `turn-on-haskell-indentation` has been marked obsolete in favour of `haskell-indentation-mode`. Are there plans to obsolete all `turn-on-haskell-*` in favour of `haskell-*-mode`?

I think it would ultimately be better to stick to a single naming convention.

[2015-07-22 12:49] mukeshtiwari commented on #522
I am using prelude [1]  and when I am trying to open a file and run it (C-c C-l), it throws me couple of question.
Start a new project named "haskell" ? (y or n) (I press y)
Then it asks for cabal directory ( /home/mukeshtiwari/.cabal/bin) and it ask set current director and finally it displays the message "no such file or directory, ghci"
I have already installed the ghci and cabal, running M-x e

[2015-07-22 13:34] nrolland commented on #116
@gracjan I ma not sure what is the best way to have a reproducible case.

@Mikolaj : are you sure the file is actually generated ? I have the emacs display that tags have been generated but no file appears.
Very oddly enough, when calling directly M-x haskell-process-generate-tags, the file does get generated. FWIW, I tried to trace the calls down to  haskell-process.el : (defun haskell-process-se

[2015-07-22 20:16] gracjan commented on #771
Yes. Consistency is important.

If you do a pull request marking other functions as obsolete then we will
be very grateful. Remember to change the documentation also.

[2015-07-23 06:13] johnwalker commented on #753
Will take me a little longer

[2015-07-23 06:58] gracjan commented on #753
That is ok. We will wait.

[2015-07-23 15:54] Mikolaj commented on #116
@nrolland: yes, the TAGS are automatically generated for me (but note I no longer have access to the old configuration from the time I reported the bug and with the new setup I see no erroneous behariouv). Cheers!

[2015-07-24 08:31] geraldus opened #776 "haskell-process-get-repl-completions result contains unnecessary item"
The result of GHCi REPL `:complete repl` command always outputs results summary in first line, it is consists of number of showed completions, number of all possible completions and of unused part of string for which completions were searched.  E.g.

[code]
In the example above `2` is a number of returned completions, `6` is a number of all completions (`"co"` could be completed with 6 unique comp

[2015-07-24 18:56] #771 closed

[2015-07-24 19:05] gracjan commented on #741
@geraldus: Why do you use `dabbrev--reset-global-variables`? It is here:

https://github.com/haskell/haskell-mode/blob/a8146714e12b2af6afe1a086636dcc4ee6bb7825/haskell-completions.el#L272

As I understand `dabbrev` has some caching mechanism to speed up expansions, resetting kills this optimization. Or am I mistaken?

[2015-07-24 19:08] gracjan commented on #741
@geraldus: My point about M-/ was that `company-mode` should NOT use dabbrev as source. I envision it like this:

- `company-mode` uses only contextual sources for completions: `:complete`, `PRAGMA`, `import`
- M-/ uses non-contextual sources for completions: abbrev, dabbrev

So 'smart' stuff is for company/completion, non-smart for dabbrev. Am I mistaken?

[2015-07-24 19:12] cocreature commented on #741
@gracjan I agree if people want to use dabbrev via company mode they can still add it themselves but I am not sure what we gain by doing that from haskell mode.

[2015-07-24 19:16] geraldus commented on #741
Sometimes REPL is not running for some reason (in my case there is no GHCJSi available yet) or user just does not want to run it, that is, `:complete` command is not available too.  So how company should look up completions?

[2015-07-24 19:17] gracjan commented on #741
@geraldus: My (original) company setup has this part:

[code]

Does this mean `dabbrev` is just handled by `company-mode` and there is no need to do anything about it inside `haskell-mode`?

[2015-07-24 19:19] gracjan commented on #741
@geraldus: If interpreter is not running then `:complete` is not an available source. What is left is of the semantic sources, currently PRAGMA, LANGUAGE and that is enough. Someday we might add more sources

`dabbrev` is available always as M-/, so nothing is lost.

[2015-07-24 19:20] gracjan commented on #741
@cocreature: How do they 'add it themselves'? It is of vital importance to me that stuff works out of the box as it should.

[2015-07-24 19:26] cocreature commented on #741
@gracjan IIRC there is a company-dabbrev backend built into company mode so you can just add that to your backend. Looking at it  we don't seem to provide a company backend atm, so I am not quite sure how to easily combine them. Of course it is important that stuff works out of the box, but to be frank the current dabbrev integration doesn't work (well enough). Mostly it hangs up my emacs.

[2015-07-24 19:39] gracjan commented on #741
In that case we should make sure that `company-dabbrev` works with
`haskell-mode` in case somebody decides to use it.

`haskell-mode` should NOT do anything special with dabbrev because this is
code duplication and is problematic to get right.

[2015-07-24 20:38] geraldus commented on #741
Well, I think we should have some overrides for company's dabbrev source, for example case sensitivity.  And if it is possible we should have some notes about completions itself and `company-mode` particularly.

[2015-07-24 20:50] gracjan commented on #741
We have some configuration for dabbrev in haskell-mode already.

[2015-07-24 21:08] geraldus commented on #741
Ok, to test this I need to rewrite some code in completion function itself, I'll update pull request soon.

[2015-07-26 13:46] #712 closed

[2015-07-26 18:12] gracjan commented on #776
@geraldus: Can you reformulate this as a list of todo items (in github use `- [ ] description`) and then we will mark it as a `well-defined-task`.

[2015-07-26 19:00] geraldus commented on #776
Surely, but I want to make this change myself, because I PR #772 I already have introduced [a workaround](https://github.com/haskell/haskell-mode/pull/772/files#diff-7b141528633c67ee64cd51da5ef6bcceR270) for this in completion function (`haskell-completions-sync-complete-repl`).  So I want to remove it and make changes to `haskell-process-get-repl-completions` directly as separate PR before #772 w

[2015-07-26 19:09] gracjan commented on #776
As you wish.

I like what you describe, seems good to me, minus one thing: you should not
call `error` as this function will be called async from inside `complete`
backend. It is not great to fail that horribly, but I do not know how to
fail more gracefully.

[2015-07-27 08:17] geraldus commented on #776
@gracjan this function is synchronous (the command is executed using `haskell-process-queue-sync-request`), so I think it's okay to use `error`.

[2015-07-27 09:06] vlatkoB commented on #742
Just discovered what's blocking answering the `haskell-process-suggest-*` questions so I have to C-g 3 times to unblock/unfreeze, and than it leaves the answered letter ('y','n') at point in buffer. It is 'haskell-doc'.
I turned all other packages off, left just `haskell-mode`, and turned `haskell-doc` on/off.
Emacs is 24.5.1 on Arch, and all emacs packages updated. Not using ghc-mod.
Anyone else

[2015-07-27 09:12] geraldus commented on #776
Done in #781

[2015-07-27 10:02] mrkkrp opened #782 "Indentation has been spoiled"
I haven't experienced it before. Try to copy this sample:

[code]

Now try to type the word `import` and press <kbd>TAB</kbd>, or press it when you're at the beginning of line -- it goes to 4 column and says "Sole indentation". I remember it behaved differently before -- it would stay at 0 column and say "Sole indentation" -- this behavior is better, I think. Could you please fix that or if it's o

[2015-07-27 10:14] mrkkrp commented on #782
Sometimes it's 2nd column, not 4th.

[2015-07-27 10:56] gracjan commented on #782
It should stay at column zero. This is a bug.

Are you able to add a test case in `tests/haskell-indentation-tests.el` so
that we make sure this works as expected?

[2015-07-27 11:40] gracjan commented on #782
Do you know which version have you been using before? I tried to revert some recent commits and I see no change in bahvior.

[2015-07-27 11:52] mrkkrp commented on #782
@gracjan, I haven't done Haskell for some time, maybe a couple of months, so I cannot tell you. Also, unfortunately I cannot help you with the tests, at least not right now.

[2015-07-27 11:58] gracjan commented on #782
Thanks for help. We will manage somehow.

[2015-07-28 05:28] TikhonJelvis commented on #315
I would love a reverse command search bound to `M-r` like comint and the old inferior haskell mode.

[2015-07-28 06:32] #776 closed

[2015-07-28 06:34] gracjan commented on #315
@rpglover64: Common sentiment is that the GHCi buffer should build on comint mode, effectively merging functionality of interactive and inferior modes. There is a lot to get done before this happens. Can you help with this?

[2015-07-28 12:02] rpglover64 commented on #315
@gracjan Probably not. :frowning: I'm not very knowledgeable in elisp and I have a project for work taking all my time.

[2015-07-28 20:53] gracjan commented on #315
In that case we need to wait for a volunteer.

[2015-07-29 07:05] budsbenzer opened #784 "Error on "C-c C-l""
Hello,

I seem to have the same issue as reported in [this issue](https://github.com/haskell/haskell-mode/issues/763). However, I am willing to help you debug it. ;)

I am using haskell-mode version 20150727.354 from ELPA, on GNU Emacs 24.5.1.

Whenever I try to launch a new Haskell session via `C-c C-l`, I get the message `haskell-utils-read-directory-name: Wrong type argument: arrayp, nil`. On f

[2015-07-29 08:19] ocecaco commented on #784
A quick way to fix this problem is to set `haskell-process-load-or-reload-prompt` to `t`. Then it will ask you for a session name and directory. This problem only occurs for me when I'm working on files which are *not* in a Cabal project.

What I've found out from some debugging today: The reason for this error is that when `haskell-process-load-or-reload-prompt` is `nil`, it doesn't ask for a dir

[2015-07-29 10:16] #784 closed

[2015-07-29 12:41] vlatkoB commented on #742
And another discovery. If `haskell-doc` is not loaded, emacs freezes with message "Scanning declarations...". And never ends. Again, 3 x C-g allows to continue.

[2015-07-29 17:15] vlatkoB commented on #754
It is happening to me with `cabal-repl` as well. I found out that it is because of `haskell-doc` being active during suggestions. And I have to C-g 3 times to get out of it. :-)

I made a workaround until this gets fixed:
[code]

[2015-07-29 21:19] dzhus opened #786 "No indentation suggested for case clauses"
I'm experiencing broken indentation for `case` keyword clauses with haskell-mode version 13.15-git (/home/dzhus/.emacs.d/elpa/haskell-mode-20150729.316/)

Minimal example:

[code]

When I hit TAB on the line with `Just`, it suggests to line it up with `case`:

[code]

Here's an illustration of the problem with «Show indentations» option switched on:

![2015-07-30-001022_1280x800_scrot](https://clo

[2015-07-30 09:58] mathlover2 opened #787 "Auto-completion doesn't work right in new build"
I just got the new version of haskell-mode. The auto-complete function does not seem to work now.

Say one wants to write "sequence" and has written "sequ". Auto-completion now yields "sequsequence" instead of "sequence".

[2015-07-30 10:21] geraldus commented on #787
Oh, that's very sad.  Do you have some special package for haskell-mode or just plain `auto-complete`?  I've pushed some changes related to completions stuff recently, but it does not affected the format of result, there were just improvements of the way completions are collected.  I'm using `company-mode` personally and have no much time to test `auto-complete` separately.  Can you help with this

[2015-07-30 15:02] mathlover2 commented on #787
I checked the haskell-completions.el file, and nothing seems to be wrong when I invoke its functions in Emacs when in Haskell mode. As this is the file which you had changes merge into, I don't think the problem is there.

[2015-07-31 07:28] vlatkoB opened #788 "haskell-stylish-on-save causes double saving"
I'm using undo-tree saving, so it also saves twice.

Shouldn't `haskell-mode-stylish-buffer` be called before saving?
It operates on buffer, not on file on disk.

[2015-07-31 22:02] Rufflewind opened #789 "Vertical cursor navigation is broken sporadically"
Normally, if I (deliberately) move the cursor at the beginning of a line (column 0) and go downward (or up) with `C-n` or `↓`, it will stay at column 0 forever.

But sometimes, after using haskell-mode for some time, a glitch occurs that causes the cursor to be reset to some random column `j` after any vertical movement.  Even if I return to column 0 it will still keep resetting it back to column

[2015-08-01 15:49] mrkkrp opened #790 "Unable to start REPL for specific project component"
Hello. Previously <kbd>C-c C-l</kbd> asked me about project component, so I could say `exe:something` and it would work. Now it doesn't ask that but instead just tells me that some packages are hidden. The thing is my executable depends on these packages, while library doesn't, so it seems it tries to start REPL for library and at the same time loads code for executable (that's what I want it to d

[2015-08-01 16:03] gracjan commented on #790
Can you share your xxx.cabal file?

[2015-08-01 16:08] mrkkrp commented on #790
@gracjan, this should do: https://github.com/mrkkrp/mida/blob/master/mida.cabal

For example, `exe:mida` has dependency `directory` and when I'm trying to load a file from executable component, I get error messages that `directory` package is hidden. It asks me if I want to add the package to my cabal file.

[2015-08-01 16:20] gracjan commented on #790
I try to replicate the same issue outside of haskell-mode on the command
line but I fail to achieve that. I tried:

git clone https://github.com/mrkkrp/mida.git

cabal sandbox init

cabal install --only-dep

cabal repl

And everything works. cabal repl without arguments should not ever try to
run a library.

Can you help to replicate same issue outside of haskell-mode so that we
know what cabal re

[2015-08-01 16:38] mrkkrp commented on #790
@gracjan, yes it works from command line, `cabal repl` starts fine. Although it loads library, not executable, as you can see from list of loaded files. Also, I don't think you can run `:main` command there, because it's defined in executable and it's not loaded.

Here is what I get:

[code]

And here is what should actually happen:

[code]

I never liked all these questions on startup but that on

[2015-08-01 16:41] mrkkrp commented on #790
@gracjan, is it possible to detect component using `.cabal` file and `buffer-file-name`? Then you could use it to start REPL.

[2015-08-01 16:41] gracjan commented on #790
I see. Use  `haskell-process-load-or-reload-prompt` and set it to `t`. That gives you previous behavior.

And thanks for reporting real life scenario where it is useful to specify arguments to cabal repl.

[2015-08-02 02:08] wkunkel opened #791 "Can't compile from within emacs if $EMACS is not set."
The makefile uses the `$EMACS` environment variable to find emacs if it is present, or falls back to `emacs` if it is not. However, emacs seems to set the `$EMACS` environment variable to `t` for all of its subshells if it does not already exist. The result is that running make from an emacs shell or with M-x compile fails with `/bin/sh: t: command not found`.

[2015-08-02 08:36] gracjan commented on #791
Is there a way to find out the real path to currently running Emacs?

[2015-08-02 09:01] wkunkel commented on #791
Good question! I can get the parent PID from a shell with bash's $PPID

[2015-08-02 09:05] wkunkel commented on #791
Sorry about closing/reopening, my browser did something weird.

[2015-08-02 22:26] gracjan commented on #791
@wkunkel: I see that your fix actually fixes the issue, so merged. Thanks.

[2015-08-02 22:26] #791 closed

[2015-08-02 23:30] wkunkel commented on #667
Shouldn't `;;;###autoload` also be added to every `defgroup`?

[2015-08-03 06:50] gracjan commented on #667
As far as I understand documentation defgroup and autoload do not go well
together.

[2015-08-03 12:13] jaseemabid commented on #124
Haskell mode is asking too many questions before it starts a repl. The project does have a .cabal file. I'm using the `haskell-process-load-file` function bound to C-c C-l to start the repl.

1. It asks for project name
2. Cabal directory
3. Build target
4. Current directory

How do I configure haskell mode to ask no questions at all ?

    GNU Emacs 25.0.50.1 (x86_64-pc-linux-gnu, GTK+ Version 3.

[2015-08-03 12:18] jaseemabid opened #793 "Haskell mode is asking too many questions before it starts a repl."
The project does have a .cabal file. I'm using the `haskell-process-load-file` function bound to C-c C-l to start the repl.

1. It asks for project name
2. Cabal directory
3. Build target
4. Current directory

How do I configure Haskell mode to ask no questions at all? I think the experience can be improved and I'm willing to help.

Versions:

    GNU Emacs 25.0.50.1 (x86_64-pc-linux-gnu, GTK+ Ver