[2016-01-08 21:58] mgsloan commented on #836
I heartily agree with splitting things out and simplifying haskell-mode.  As someone who's still rather quite inexperienced with elisp, customizing and contributing to haskell-mode is daunting due to its size.  As @bergey points out, having multiple ways to achieve similar results is also something which could be improved.

One issue is whether this'd be done in a way that doesn't break people's c

[2016-01-08 22:31] gracjan commented on #836
We are working on removing redundancy and all the more convoluted components. HIE should take quite some complexity away.

Hackability comes from a comprehensive test suite and we are in the process of creating one. There are already 232 tests, the functionality that is covered can be easy to hack even by relativelly inexperienced person.

[2016-01-08 22:40] mgsloan commented on #836
Great, thanks for your efforts, @gracjan !

[2016-01-08 23:23] gracjan commented on #1038
Algorithm (first matching rule wins):

- current line is latex code if previous non-empty line was latex code or was `\begin{code}` and current line is not `\end{code}`
- current line is bird code if it starts with `>`
- else literate comment

To distinguish non-empty lines:
- if first char is marked with syntax `<` (comment-start), then it is literate comment
- if first char is `>` and is marked

[2016-01-08 23:29] gracjan commented on #1038
Note that using comment start syntax class makes first character on line loose its usual class, so for example double-clicking with a mouse selects word without first character.

Therefore we might want to use some other property, but then `forward-comment` won't work. Argh.

[2016-01-08 23:30] gracjan commented on #1038
Anyway this should be implemented as part of #1039.

[2016-01-10 01:13] bergey commented on #833
I think that we should change `haskell-add-import` to not use any of the other code in `haskell-complete-module` or `haskell-modules`, remove the import-completion behavior from `haskell-mode-contextual-space`, and deprecate the remaining code.  If this seems reasonable, I'll make a PR.

It seems that `haskell-complete-module` has a completing-read function, which does .-separated prefix completio

[2016-01-10 10:07] gracjan commented on #833
Seems reasonable.

Please add tests for every functionality that you implement.

[2016-01-10 22:08] gracjan opened #1062 "Use undercover.el and https://coveralls.io/"
Create a code test coverage metric:

- [x] use `undercover.el` from https://github.com/sviridov/undercover.el
- [x] connect metrics to https://coveralls.io/
- [x] prominently show badge in README

[2016-01-12 20:10] gracjan opened #1065 "Remove/reconsider haskell-indent"
Remaining part of confusion for newcomers is `haskell-indent`. As far as I understand there is only one missing feature in `haskell-indentation` before we will be able to remove old mode, this is #1027.

[2016-01-12 20:10] gracjan commented on #1027
This one is blocking #1065.

[2016-01-12 20:13] gracjan commented on #1057
@mrBliss: Are you able to write a (failing) test case? Usually when a test case is there somebody comes along and fixes the issue.

[2016-01-12 20:14] gracjan commented on #1062
Fixed by #1063.

[2016-01-12 20:14] #1062 closed

[2016-01-12 21:46] gracjan commented on #1057
We can easily keywordize `role`. The specifiers seem to be more of a problem, we may look at this later.

[2016-01-12 21:46] #1057 closed

[2016-01-12 21:51] gracjan commented on #1012
Hmm, interesting functionality.

Instead of waiting in a loop it would be better to convert the code to callback style. There is a way to trigger a callback when a process has ended, see here [`set-process-sentinel`](http://www.gnu.org/software/emacs/manual/html_node/elisp/Sentinels.html#index-set_002dprocess_002dsentinel).

Note that we will need some unit tests before this functionality is accep

[2016-01-14 06:41] #635 closed

[2016-01-14 11:06] gracjan commented on #1046
Test case for this is in #1073.

[2016-01-14 11:22] gracjan opened #1074 "haskell-mode-stylish-buffer is called in haskell-mode-after-save-handler"
Why AFTER save? Why not BEFORE?

Also `haskell-mode-after-save-handler` is pretty creepy as it conflicts with any other after save hook functions.

[2016-01-14 14:40] bergey commented on #1074
Ick.  That is bizarre.  a37fa715f3335544994da3b39fb1fe9d6da9fc2b seems to be the relevant commit, but it doesn't explain *why*.  That predates b5e8f40a181369e6949d64f34b42e74c12261780, which makes `haskell-mode-stylish-buffer` use a temporary file.  I think I understand why if the sequence was

- save
- `stylish-haskell`
- `revert-buffer`

.hat would make more sense in the `after-save-hook`.

Anyh

[2016-01-14 14:55] gracjan commented on #1074
@bergey: Good investigation! I think we should strive to get this code into expected shape, so into before save hook.

[2016-01-14 15:21] gracjan opened #1076 "haskell-cabal-strip-list and haskell-cabal-listify"
Probably useful functions, undocumented, nor bound to any keys, untested.

[2016-01-14 15:34] jstolarek opened #1078 "M-j does not work in block comments"
Assume I have:

[code]
where `|` represents cursor position. Pressing `M-j` should continue the comment in the next line (currently affected by #981):

[code]
That doesn't work with block comments. Assume I have:

[code]
Pressing `M-j` gives:
[code]
The correct result is:
[code]

[2016-01-14 15:55] gracjan commented on #1078
Documentation says:

So it seem we are doing things according to the documentation, although I agree that it does not make much sense.

[2016-01-14 17:10] jstolarek opened #1079 "Indentation of guards does not work sensibly with haskell-indentation"
Say I have:
[code]
where `X` denotes cursor position. I press Enter, type `|` to start a guard and press Tab to indent it:
[code]
So far so good. Now I type in a guard, press Enter, type `=`:
[code]
In this setting pressing Tab removes all indentation before `=`:
[code]
Subsequent presses of Tab do not indent the code. Expected indentation:
[code]

[2016-01-14 17:17] jstolarek opened #1080 "Indentation of first data constructor does not work with haskell-indent"
Say I am declaring a data type:
[code]
where `X` is the cursor position. Pressing enter does not indent the new line, but I would expect there to be some indentation:
[code]
Now I define a data constructor:
[code]
In this setting pressing tab does not indent the code. #1079 might be related.

[2016-01-14 17:34] jstolarek opened #1081 "Annoying indentation behaviour when declaring data types"
Say I have this code:
[code]
where `X` is the cursor position. If I press Enter twice the cursor ends up at the beginning of a new line:
[code]
This is all fine. Now consider a similar situation with data type declaration:
[code]
Now pressing Enter twice yields:
[code]
This is mostly annoying. If I press Enter twice after a data constructor declaration then I almost certainly want to start some ne

[2016-01-14 19:28] gracjan commented on #1081
I'm really grateful for these reports. Keep those coming. We will fix as
soon as possible. Thanks again.

[2016-01-14 19:39] bitemyapp opened #1082 "Can't indent, gets error."
[code]

From Esqueleto's tests.

![screenshot from 2016-01-14 13-37-58](https://cloud.githubusercontent.com/assets/320177/12335334/411dfc02-bac4-11e5-9de0-fb88eb0d8d33.png)

[2016-01-14 21:48] bergey commented on #1082
Where is point when you can't indent?  What version of `haskell-mode` are you running?  Is this with `haskell-indentation-mode`

I tried to reproduce this, and haven't succeeded.  I'm running ef3e9dfb03b49ca8b37c85895d45bc03ada53354

[2016-01-14 22:42] bitemyapp commented on #1082
Doubled up `describe "inserts by select" $ do`

![screenshot from 2016-01-14 16-42-25](https://cloud.githubusercontent.com/assets/320177/12339988/cd2ce668-badd-11e5-88c6-7518ee4161f9.png)

[2016-01-14 22:44] #1082 closed

[2016-01-14 22:44] bitemyapp commented on #1082
@bergey thank you! :+1:

[2016-01-15 09:12] jstolarek commented on #1081
I thought a bit more about this and I think that pressing Enter in this situation:

[code]
should yield:
[code]
that is assume by default that I will be writing arguments of `Bar`. In this example this doesn't look good, but it seems to make sense in general. For example:
[code]
It would be nice if entering a vertical bar in the setting above was detected and indentation corrected automatically to

[2016-01-15 09:17] jstolarek opened #1084 "No indentation cycling for case alternatives with haskell-indentation"
Say I have:
[code]
where `X` is the cursor position. Pressing Enter indents new line by two spaces:
[code]
That's not bad, but I think most haskell-mode's users over the years got used to behaviour of haskell-indent, which indented case alternatives relative to a `case` expression:
[code]
While the default behaviour might be disputable I would certainly expect that pressing Tab will cycle me betwe

[2016-01-15 09:25] jstolarek opened #1085 "Add `indentation` label to relevant tickets"
I noticed there is an `indentation` label created to label reported issues. These issues should be labelled with it: #1084, #1081, #1080, #1079, #1065, #1046, #1034, #1032, #1027 (?), #981, #952, #951 (not sure if worth fixing in light of #1065), #813, #721, #719

[2016-01-15 09:26] gracjan commented on #1081
Electric behavior for bar comma semicolon is in the plans. Hard to say when
we will have energy to do this.

[2016-01-15 09:27] jstolarek commented on #1078
Related: #393

[2016-01-16 09:21] arybczak opened #1086 "[Discussion] Make haskell-indentation external, editor agnostic project"
Hey,

I've recently realized that even though haskell-indentation has seen a lot of improvements recently and is quite pleasant to use, there are two fundamental problems:
1) It's emacs specific, so it doesn't benefit anyone who is not an emacs user.
2) It's written in elisp, which creates high entry barrier for newcomers who would want to contribute.

Both of these severely reduce the pool of peo

[2016-01-16 09:43] geraldus commented on #1086
I had some similar thoughts, however, Emacs provide a way to package authors control various aspects of Emacs behaviour such an indentation, pairs, completions via special variables, e.g. `indent-line-function`, `completion-at-point-function` and etc.  Surely, if you design some major mode you could rely on Emacs default behaviour, but if there is a way to customize this stuff why not to do this?

[2016-01-16 10:11] gracjan commented on #1086
@arybczak: Possible and doable although a lot of work.

Note also that indentation has a couple of unintuitive requirements:
- has to work for invalid haskell code (basically any stream of bytes)
- has to support haskell, haskell+cpp, literate haskell, hsc, all future versions of haskell, etc
- has to not fail if source code has git conflict markers
- there are things like hsx, layers on top of ha

[2016-01-16 10:53] arybczak commented on #1086
@geraldus

Can you provide an example of limitation arising from having indentation helper as external application? My understanding is that if you treat the helper as referentially transparent function, i.e. you pass a config and a fragment of Haskell code and you get a list of indentation points, you're good. A conversion from haskell-mode config to helper config would be needed, but that is not

[2016-01-16 11:04] geraldus commented on #1086
@arybczak if such helper indentation application will support *all* possible platforms suitable for Haskell+Emacs workflow I guess this won't be an issue.

[2016-01-16 11:13] gracjan commented on #1085
Done, thanks.

[2016-01-16 11:13] #1085 closed

[2016-01-16 18:45] dmich2 opened #1088 "haskell-hoogle command's *hoogle* window results are not clickable"
When I get `haskell-hoogle` results in the `*hoogle*` window (as opposed to opening hoogle results in browser), I am unable to get any further details on the choices shown. I can't select an entry and hit `<Return>` for example to see the details on the chosen function.

[2016-01-16 20:48] geraldus commented on #1088
@dmich2, thanks.  However, now I'm thinking about what that further *details* should actually be, I mean what information you expect to see and where to get it from?

[2016-01-17 05:11] dmich2 commented on #1088
For example, if in a haskell buffer I type `he`, company-mode pops up a list that shows `head Prelude`. If I then hit `<F1>` it shows in `*company-documentation*` buffer:
[code]
See https://github.com/iquiw/company-ghc#34display-hoogle-document-as-doc-buffer for a screen-shot.

[2016-01-17 05:12] dmich2 commented on #1088
Possibly related to issue #215

[2016-01-17 08:19] geraldus commented on #1088
@dmich2 good, I ask because I'm not using hoodle in Emacs, so I do not know what it can.  Maybe this is a time to get used.  So, we can get some detailed documentation from hoogle indeed.

@gracjan What will you say, it looks like reasonable addition to functionality?  I vote to clickable search results in hoogle buffer, it should not be hard to implement this I guess.

[2016-01-17 09:11] gracjan commented on #1088
Can either of you or both write a more detailed specification how this should be implemented?

We need a spec that is detailed enough so it deserves 'well-defined-task' label.

[2016-01-17 13:11] geraldus commented on #1088
@gracjan I did some investigation.

First,

But it shows extra documentation only for single entry, not for whole list, e.g.
`(haskell-hoogle "map")` gives long list of matching results,
while `(haskell-hoogle "map" t)` shows documentation only for `Prelude.map`.

This function relies on **external** `hoogle` executable.

So, we can achieve our goal only if:
+ we'll write some `hoogle` output pars

[2016-01-17 16:02] bergmark opened #1091 "Support indentation for Utrecht style (prefixed) commas"
Below, `X` marks where the caret ends up when i press RET and where I would like different behavior (marked by `Y`). These examples are only for cases where the position of a new comma is obvious by looking on the previous line.

For all of these I think the most flexible solution would be to indent to the position of the previous comma since that would allow me to insert a comma and a space for a

[2016-01-18 13:30] bergmark opened #1094 "haskell-cabal-subsection-arrange-lines inserts superfluous commas"
If I `C-c C-s` a section of exposed modules this happens:

[code]

=>

[code]

This isn't wrong, but it's also unnecessary to insert commas under `exposed-modules`, `data-files`, `extra-source-files`, and possibly others. The only time I know the comma is necessary is in `build-depends` since individual constraints can contain spaces.

[2016-01-18 13:33] bergmark commented on #1094
Additionally, if i run the same command on e.g. the `ghc-options` field the output depends on whether it contains a comma (maybe this is the case for all sub-sections),

[code]

and

[code]

[2016-01-18 20:06] gracjan commented on #1094
@bergmark: you have ventured into an interesting territory. Thanks for the report. We need to wait on volunteer that will fix this issue.

[2016-01-20 22:32] geraldus commented on #1094
@bergmark thank you!  I missed this functionally for ages _(but haven't a chance to find a time to put my hands on this question)_, didn't know that this is already exists.

[2016-01-21 08:56] mrBliss commented on #1094
I would like to have a go at this.

Some remarks:

* I suppose this behaviour should be configurable. I propose to add a `defcustom` `haskell-cabal-comma-separated-fields` (in `haskell-cabal.el`) which is a list of strings (or symbols?) that indicate which sections should be separated by comma's when calling `haskell-cabal-subsection-arrange-lines`. bergmark can then remove `"exposed-modules"`, `"

[2016-01-21 09:08] gracjan commented on #1094
Great!

Please keep section style:

- if a section had commas before `C-c C-s`, then it should be formatted with commas
- if a section did not have commas before `C-c C-s`, then it should be formatted with spaces

No `defcustom` required.

Note that this functionality needs to properly support quoted items in lists. Do not forget about ERT tests.

[2016-01-21 09:13] mrBliss commented on #1094
Thanks for the hints! Good idea to just adhere to the current style.

I had already begun with first writing the ERT tests :smiley:

[2016-01-21 09:24] geraldus opened #1097 "haskell-cabal-subsection-arrange-lines should take in account comments"
This is a tricky case I want to discuss.  Consider following dependencies list of scaffolded Yesod application with three extra dependencies I've added manually at the end:
[code]
Now if I run `haskell-cabal-subsection-arrange-lines` it becomes:
[code]
So, as you can see, everything till comment is rearranged as expected, but lines after comment leaved untouched.  It is not matter where the point

[2016-01-21 09:38] gracjan commented on #1097
This is relevant:

https://github.com/haskell/cabal/issues/2681

[2016-01-21 09:40] gracjan commented on #1097
@geraldus: Your example is better formatted like this:

[code]

Then `C-c C-s` can format whole value as is.

[2016-01-21 10:11] geraldus commented on #1097
@gracjan indeed!  I didn't know it is allowed to have several `build-depends` sections, thanks!  Ok, let's discuss "comments as comments" cases in this case.

[2016-01-21 14:55] gracjan commented on #1094
Nice.

It seems that `C-c C-s` is hardcoded to sue only commas-before mode. Should we care about the commas-after, too?

[2016-01-21 15:29] gracjan commented on #1091
Insert `comma`, press `TAB`.

We can talk about electric commas.

[2016-01-21 15:44] bergey commented on #1097
My preference would be:
- comments starting a line are section separators
- comments after other text are kept with that line

I think that captures the styles I see most often.  But obviously we can't support all possible styles, so I'm fine with whatever you decide to implement.  If you decide not to treat comments as section separators, I have a slight preference for comments describing the fol

[2016-01-21 15:48] geraldus commented on #1091
@gracjan I always have to do this when work with records, and I find it's quite tedious (:

[2016-01-21 15:55] mrBliss commented on #1094
It's not really hardcoded because `haskell-cabal.el` contains the following code:

[code]

However, I don't think many people know of this option. An alternative is to remove it altogether and to just detect the used style. I'll have a go at this too.

[2016-01-21 16:00] mrBliss commented on #1094
What about a single line with comma-separated options, e.g., `ghc-options:`? It would be unclear whether the user intends to use commas before or trailing commas.

I think it would be better in this case to just keep them on a single line. If the user wants them on separate lines, he can always insert a single newline at the right place, and then call `haskell-cabal-subsection-arrange-lines` to fi

[2016-01-21 17:14] gracjan commented on #1094
Yes, `defcustoms` are evil and should be eradicated.

[2016-01-22 13:25] jstolarek opened #1101 "haskell-indentation misbehaves for comments"
Say I have:
[code]
where `X` is current cursor position. I would expect that pressing `M-j` will align comment on the new line with comment on the previous line, but it doesn't:
[code]
Pressing `TAB` cycles only between that indentation and no indentation at all. Expected result:
[code]

[2016-01-22 13:27] jstolarek commented on #1085
New indentation tickets: #1086,  #1091, #1101

[2016-01-22 19:18] gracjan commented on #1085
Added, thanks.

[2016-01-22 19:19] gracjan commented on #1101
Already reported as #1034. So closing as duplicate.

[2016-01-22 19:19] #1101 closed

[2016-01-22 19:20] gracjan commented on #1091
Well, we can talk about electric commas :)

[2016-01-22 19:20] gracjan commented on #1101
BTW, was this comment handling working in `haskell-indent`?

[2016-01-22 19:44] gracjan commented on #847
One more reason to use Emacs 24 is `syntax-propertize-function` that is not available in Emacs 23 but is mandatory to properly support Haskell's token lexing for font-lock.

[2016-01-22 19:50] jstolarek commented on #1101
Yes. `haskell-indentation` is really lacking in basic features compared to `haskell-indent`.

[2016-01-22 20:12] gracjan commented on #1101
This is interesting. General knowledge was that `haskell-indentation` is improved version of `haskell-indent` and then it itself was improved in `hi2` iteration. Then `hi2` was renamed to `haskell-indentation` and merged back to `haskell-mode`.

`haskell-indent` code is rather hard to modify, uses short uninformative identifiers, uses decision tables, etc. I do not know if we are able to work on `

[2016-01-22 20:35] #847 closed

[2016-01-22 21:06] gracjan opened #1104 "Reconsider haskell-indent"
@jstolarek made me aware of functionality in `haskell-indent` that is not present in `haskell-indentation`.

I was under the impression that `haskell-indentation` is evolved and improved form of `haskell-indent` and itself was superseeded by `hi2` (later renamed back to `haskell-indentation`).

It does not seem to be the case.

The plan:
- [ ] see what is different
- [ ] find out features in `hask

[2016-01-23 09:09] jstolarek commented on #1101
I understand that sometimes it's just easier to throw away old code and rewrite it from scratch. But at the moment it seems that in terms of usability `haskell-indentation` is still not fully developed and that there is not enough manpower to fix the reported issues (ie. they are not worked on actively). So perhaps it would be a possible to put some minimal effort into maintaining `haskell-indent`

[2016-01-23 09:31] jstolarek commented on #1101
Oh, I just noticed #1104

[2016-01-23 10:59] gracjan commented on #1101
Our effort is already spread super thin and you can feel that. Spreading it even thinner would create even more misery as there is now.

[2016-01-23 12:47] #1080 closed

[2016-01-23 12:50] #1079 closed

[2016-01-23 12:54] gracjan commented on #1076
Fixed by #1098.

[2016-01-23 12:54] #1076 closed

[2016-01-23 13:16] gracjan commented on #1081
Note that `haskell-indent` behaves the same. Logic what should happen after ENTER is pressed is here:

https://github.com/haskell/haskell-mode/blob/master/haskell-indentation.el#L188

[2016-01-23 13:18] #1094 closed

[2016-01-24 04:50] rainbyte commented on #820
Hi. We are experiencing this behavior with release 13.18, using Emacs 24.5.1 on Arch Linux.

Please let me know if I can provide you with any further information.

[2016-01-24 05:32] Ericson2314 commented on #1004
^ I hope there is an issue for that?

[2016-01-24 08:04] gracjan commented on #820
@geraldus: Can you try to find out what is going on here?

[2016-01-24 08:06] gracjan opened #1107 "Support spaces in project paths for haskell-process-load-file or haskell-process-load-or-reload with errors in source file"
Reference #1004.

[2016-01-24 08:07] gracjan commented on #1004
There is now :)

[2016-01-24 12:47] geraldus commented on #820
@gracjan there was some issues related to `doc-mode` in past if I'm not mistaken.

Apologize pals, I will be able to put my hands on this issue only in the middle of next week.

[2016-01-25 05:04] geraldus commented on #820
@gracjan ok, one small notice:

we are talking not about language pragma being inserted manually, Emacs hangs when offers to insert language pragma automatically or when offers to remove redundant imports (I believe this happens when starting/loading/reloading interactive process).  If I'm not mistaken I had same issue with `doc-mode` long ago.  I'll share my further investigations here.

[2016-01-25 05:13] geraldus commented on #820
Ok, I was able to reproduce this:
+ turn on `haskell-doc-mode`
+ add some unused import, e.g. `import Data.Char`
+ load file in REPL `haskell-process-load-file`
+ when asked to remove redundant import answer `y` or `c`
+ Emacs hangs, triple `C-g` resumes normal functionality.

Answering `n` does not lead to hang.

[2016-01-25 05:25] geraldus opened #1109 "haskell-process-suggest-remove-import leaves blank line rather than completely remove it"
Current implementation of `haskell-suggest-remove-import` just clears line contents but do not removes it when user answers `y`.  I propose to remove entire line, e.g.
[code]

[2016-01-25 06:03] geraldus opened #1110 "Orphan instances detection in haskell-process-trigger-suggestions is outdated"
I can't be certain, but it looks like orphan instance warning have changed in recent versions of GHC.  Currently `haskell-process-trigger-suggestions` function uses following regex to detect orphan instance warnings in compiler response `"Warning: orphan instance: "` [[1]], while GHC 7.10.3 gives a bit different formatting:

[code]

@gracjan I know we need tests for this function, it's quite big a

[2016-01-25 06:41] geraldus commented on #1110
**TODO**: test other suggestions:

+ [ ] Use … to permit this
+ [ ] Use … to allow
+ [ ] Use … if you want to disable this
+ [ ] use …
+ [ ] You need
+ [ ] against inferred type [Char]
+ [ ] with actual type [Char]
+ [ ] `haskell-process-suggest-google-imports`
+ [ ] `haskell-process-suggest-haskell-docs-import`
+ [ ] `haskell-process-suggest-hayoo-imports`
+ [ ] `haskell-process-suggest-add-packa

[2016-01-25 08:40] geraldus commented on #820
Ok, folks, I guess I've found the crux of the matter:
+ Firstly, when you move point at the beginning of import statement `haskell-doc-mode` shows you a tip `import [qualified] modid [as modid] [impspec]`_(which helpfulness is quite questionable)_.
+ Secondly, the hang occurs when `read-event` is called and waiting for keyboard event while `haskell-doc-mode` produces output to mini-buffer.

To see

[2016-01-25 10:11] gracjan commented on #820
So `haskell-process-load` asks modal questions in minibuffer and minibuffer is overwritten?

Short term solution:
1. `haskell-doc-mode` needs to suspend showing anything while a modal question is running, that is while `haskell-process-trigger-suggestions` is running.

Long term solution:
1. `haskell-process-load` puts warning overlays in place of code where it can do fixes, fixes are triggered by

[2016-01-25 12:03] geraldus commented on #820
Agree, also I always miss the moment when REPL asks me to add/remove something and waiting till spot that question in mini-buffer.

Do you mean mouse-over tooltips?

[2016-01-25 12:34] gracjan commented on #820
I mean same mechanism as flycheck.

Actually I planned to use flycheck as overlay management layer, but current
flycheck does not provide that functionality.

[2016-01-25 15:09] jstolarek commented on #1104
In the last couple of days I realized that blaming all these indentation problems entirely on `haskell-indentation` might not be fair. All these problems began for me after updating Emacs 24.3.1 to 24.5.1. This switch broke behaviour of `haskell-indent` (#1013), which forced me to switch to `haskell-indentation`. But now I see that indentation behaviour has generally changed in Emacs after the upd

[2016-01-25 15:51] jstolarek commented on #1104
After a few minutes of investigation I learned that since version 24.4 Emacs comes with `electric-indent-mode` enabled by default. Disabling it restores `haskell-indent`'s behaviour to normal. But it doesn't seem to affect `haskell-indentation` in any way. For now I am happy that I can once again use `haskell-indent`.

[2016-01-25 18:04] bgamari commented on #952
Note that the indentation issue that I mention above came up again in #1042.

[2016-01-26 12:53] mikesperber opened #1112 "haskell-process-path-* now allowed to be lists"
The customize specs for haskell-process-path-ghci & friends say they can be lists of strings. But the code actually only works with strings.

(I want to use `("nix-shell" "--run" "ghci")`.)

[2016-01-26 13:42] gracjan commented on #1112
Thanks for the report. This should not be hard to fix. Can you help?

[2016-01-26 14:44] mikesperber commented on #1112
I'd be happy to - I assume you mean actually handling lists, right? (Rather than outlawing them at the `defcustom`.)

[2016-01-26 16:56] gracjan commented on #1112
Yes, handling lists.

[2016-01-26 20:56] Wysaard commented on #980
After updating emacs just now, the problem is no longer there. As I was seemingly the only one with this issue, it can be regarded as solved.

[2016-01-26 21:49] gracjan commented on #980
Great, thanks.

[2016-01-27 11:10] gracjan commented on #1104
I'm checking out `haskell-indent` code and this is my personal opinion so far. `haskell-indent` seems to be very cleanly written. It tries to find definitions and then separate definition parts so that each part may be indented according to its own indentation rules. There is a decision table and a bit of special logic here and there. Variable names are short and this does not help but then commen

[2016-01-27 11:12] gracjan commented on #809
Looks like HIE is better forum to discuss this.

[2016-01-27 11:12] #809 closed

[2016-01-27 11:14] gracjan commented on #1074
Fixing this one will also fix #256 and #788.

[2016-01-27 11:15] gracjan commented on #1074
@bergey: Can you take this on you?

[2016-01-27 11:46] gracjan commented on #1104
`haskell-indent` will suggestion `function` after this code:

[code]

but not after this:

[code]

`haskell-indent` will suggest `z` in line after this code:

[code]

Looks like there are plenty of bugs here and there.

[2016-01-27 11:48] gracjan commented on #908
If this happens again please report here and we will reopen the issue.

[2016-01-27 11:48] #908 closed

[2016-01-27 11:50] gracjan commented on #1081
This is a duplicate of #747.

[2016-01-27 11:50] #1081 closed

[2016-01-27 11:58] gracjan commented on #801
As I understand `ghc-mod` supports `.stack` these days, doesn't it?

If there is something to do on `haskell-mode` then write here and we will reopen this issue.

[2016-01-27 11:58] #801 closed

[2016-01-27 12:07] gracjan commented on #754
Closing in favor of #820, there is more information there.

[2016-01-27 12:07] #754 closed

[2016-01-27 12:07] gracjan commented on #820
Also see discussion in #754.

[2016-01-27 14:27] geraldus commented on #820
Should we just use this as temporal workaround?
[code]

I still didn't catch what you mean by "tooltip"?

[2016-01-28 04:28] issue-dispenser opened #1113 "Wrong completion-at-point in Haskell interpreter with helm"
Suppose you have a folder structure like so:
* ~
  * top
    * mid1
    * mid2
      * bot

and you start the interpreter inside ~.

With the prompt `:cd top/_` and with _ as the cursor, doing `haskell-interactive-mode-tab` (or `(completion-at-point)` as that's what it actually uses) gives a selection for helm between `top/mid1/` and `top/mid2/`.

Selecting the latter then yields:
`:cd top/top/mid

[2016-01-28 05:54] geraldus commented on #1113
Can you please inspect and post here values of `completion-at-point-function` variable for both REPL buffer and eshell buffer.

[2016-01-28 09:17] jstolarek commented on #1104
Good point. But TBH these bugs never bothered me too much - pressing Tab cycles to another indent alternative.

[2016-01-28 12:14] gracjan commented on #1104
I guess you just learned to not see it just like other people have learned
to not see issues with haskell-indentation.

[2016-01-28 14:21] #1112 closed

[2016-01-28 16:01] gracjan commented on #1104
I added a test suite for `haskell-indent`. It does not look good but it is a good start if somebody would like to take over from there.

[2016-01-28 18:16] issue-dispenser commented on #1113
In REPL: `(haskell-interactive-mode-completion-at-point-function t)`
eshell: `(pcomplete-completions-at-point t)`

[2016-01-28 19:26] geraldus commented on #1113
@issue-dispenser thanks, using `company` as my completion backend I did not meet this issue, it looks like we should do some extra work for `helm`.

[2016-01-28 19:29] gracjan commented on #1113
@issue-dispenser: you seem to know what you are doing and to know Emacs. Can you help us with this and submit a pull request?

[2016-01-28 19:32] geraldus commented on #1113
Yeah, join in! (:

[2016-01-28 20:02] gracjan opened #1117 "Find a professional template for web presence"
Find a professional template for web presence, that is for documentation:

http://haskell.github.io/haskell-mode/manual/latest/

and for future Haskell Mode page:

http://haskell.github.io/haskell-mode/

[2016-01-28 20:47] issue-dispenser commented on #1113
You overestimate me, but I still might be able to do something.

I found the secondary issue (easy one) in `haskell-interactive-mode-completion-at-point-function`:
[code]
This assumes that if you have the same partial input (in this case `:cd `) that the completion should be the same. This is of course wrong when commands like `:cd` change the state of the REPL (its pwd).
I'd say that this means t

[2016-01-28 21:16] gracjan commented on #1113
This cache thing is an interesting find... I did not know we have it there.

Anyway a cache without a solid invalidation scheme is a source of issues.

Can you remove `haskell-interactive-mode-completion-cache` variable and everything that tries to use it?

[2016-01-28 21:17] gracjan commented on #1113
@issue-dispenser: Can I assign this issue to you? We will see how far you will get.

[2016-01-28 22:17] issue-dispenser commented on #1113
I can get rid of the cache.

However, I can't seem to find the cause of the main issue. When completing `:cd to` in the ~ directory, the result of `haskell-interactive-mode-completion-at-point-function` is `(313 315 (top/))`, where 313-315 contains `to`. The result after completion is `:cd top/`, meaning `to` was correctly replaced with `top/`

When completing `:cd top/` the result is `(313 317 (t

[2016-01-28 23:03] issue-dispenser commented on #1113
Maybe the issue is on helm's side after all. Apparently `completion-at-point` calls `completion-in-region` on the result, and that works fine without helm, but when helm-mode is active that gets replaced with `helm--completion-in-region` which looking at the source does a lot of stuff I don't understand.

[2016-01-28 23:20] #1113 closed

[2016-01-29 04:30] xuzhao9 commented on #719
Still have this problem on haskell-mode-20160128.621 and yasnippet-20160122.1056.
My snippet that triggers this problem see here:
https://pastebin.com/DQLzy2rg

[2016-01-29 06:12] gracjan commented on #1113
Can you link the relevant helm PR here? (And thanks for digging into this issue).

[2016-01-29 06:13] gracjan commented on #1107
@issue-dispenser: You looked into a problem that is close in code to this one. Can you look into fixing also spaces in paths problem?

[2016-01-29 06:27] gracjan commented on #719
@xuzhao9: Can you help us finding the root cause of this? Please do:

- [ ] restart Emacs
- [ ] try yassnippet with `haskell-indent` instead of `haskell-indentation`
- [ ] disable `electric-indent-mode`

Please report back what you found, thanks.

[2016-01-29 08:46] geraldus commented on #1113
Phew, great.  Also, I can't remember that I did anything to completion cache, likely is it a heritage from past times.

[2016-01-29 15:53] issue-dispenser commented on #1107
Is this still an issue? I successfully executed `haskell-process-load-file` and `haskell-process-load-or-reload` on `~/abc/Ubuntu One/def/def.hs` in `emacs -Q`. It also works for `~/ab  c/U b u n t u One/de       f/d   e  e e  ef.hs"`

[2016-01-29 16:27] gracjan commented on #1107
Changed title accordingly :)

[2016-01-29 16:51] issue-dispenser commented on #1113
It's emacs-helm/helm#1357

[2016-01-29 21:38] issue-dispenser commented on #915
Doesn't `interactive-haskell-mode` use a defcustom for the prompt? What makes it special? I noticed that it's hardcoded into `inferior-haskell-mode` though.

What's stopping `haskell-mode` from using a new defcustom for `prompt2`?

[2016-01-29 23:13] gracjan commented on #915
What has prompt to do with spaces?

[2016-01-30 04:28] issue-dispenser commented on #1107
Well, it appears that something else is causing the error, namely ` haskell-check-paint-overlay`. Sadly it's undocumented so I don't really understand the contents. But this function is indeed getting called with the wrong arguments ONLY when there's a space in the file name for some reason. Called when loading a file with no spaces:
[code]
and with spaces:
[code]
So it replaces the `line` and `co

[2016-01-30 04:58] issue-dispenser commented on #1107
Issue appears to be here (in `haskell-process-errors-warnings`):
[code]

`location-raw` is the same between no space/space, so the spaces in `file` must affect all of the regex magic in `haskell-process-parse-error`

I really don't see why `haskell-process-parse-error` is being used though. The only two properties that are used in the function are `line` and `col1`, which seems like it can be dire

[2016-01-30 05:20] issue-dispenser commented on #915
Different issue.

[2016-01-30 18:48] patrickt opened #1120 "haskell-font-lock-symbols no longer works"
As of 20160128.2207, setting `haskell-font-lock-symbols` to `t` does not display characters' Unicode equivalents.

I am running Emacs 25.0, compiled myself from HEAD.

This feature still works as expected on MELPA stable.

[2016-01-30 19:04] gracjan commented on #1120
Can you quit and start Emacs again?

[2016-01-30 19:53] patrickt commented on #1120
@gracjan Tried it; no luck.

[2016-01-30 20:00] geraldus commented on #820
Should be fixed now.  Please reopen if still relevant.

[2016-01-30 20:11] anakreontas commented on #820
Thank you

On Sat, Jan 30, 2016 at 8:00 PM Артур Файзрахманов <notifications@github.com>
wrote:

[2016-01-30 20:36] gracjan commented on #1120
Unicode prettification in haskell mode is very fragile.

The true solution will be to use `prettify-symbols-mode` from Emacs 25, when it is released.

Temporary solution is embedded in #1050 . When that is merged this one will be also solved.

[2016-01-31 13:39] gracjan commented on #1086
I guess the following holds true:

- external indentation tool is not going to happen under Haskell Mode umbrella due to lack of manpower
- if such tool appears we will be eager to support it

I'll close this ticket. Please reopen if you have such a tool running :)

[2016-01-31 13:39] #1086 closed

[2016-01-31 13:43] gracjan commented on #876
Fixed by #1116.

Leave a comment if it happens again.

[2016-01-31 13:43] #876 closed

[2016-01-31 13:50] gracjan commented on #721
Is this the same request as in #866? If so I'd like to understand how this is supposed really work, I've tried to use it and it was horrible.

[2016-01-31 13:52] gracjan commented on #709
Fixed long time ago.

[2016-01-31 13:52] #709 closed

[2016-01-31 13:53] gracjan commented on #599
This is no longer bailing out with parse error.

[2016-01-31 13:53] #599 closed

[2016-01-31 13:54] gracjan commented on #549
This is more or less fixed in the new `syntax-propertize0-function`.

[2016-01-31 13:54] #549 closed

[2016-01-31 14:28] gracjan opened #1122 "Research Wisent/Semantic"
@kuribas: Thanks for the tip about [Wisent](https://www.gnu.org/software/emacs/manual/html_node/wisent/index.html). So far this looks really good.

From a short research it seems that we can write a pretty easy and forgiving parser that will be able to parse layout vs non-layout and type vs expressions.

As experiment I'll try to implement #899.

[2016-01-31 14:29] gracjan commented on #450
See also #1122.

[2016-01-31 14:44] gracjan commented on #1122
If I understand correctly iterative parsers (as they are called in wisent) can be very useful in Haskell thanks to offside rule, basically if something is indented more than initial line it can be reparsed separatelly. Nice!

[2016-01-31 17:13] issue-dispenser commented on #1107
Oh, I happened to look at it again and while I thought that the regex in `haskell-compilation-error-regexp-alist` looked pretty volatile, removing the space from the first block seems to fix the error without any other changes.

Also, looking at the regex, it seems that it doesn't support directories like `Corinthian-1:13-19/something.hs` (due to the `#:#-#`format). While it doesn't issue an error

[2016-01-31 17:20] gracjan commented on #1107
https://github.com/haskell/haskell-mode/blob/fae18756f53ef2f7ff135b6bc746e100a5fdc2dd/haskell-compile.el#L65

My take:

If reparsing error information can be avoided it should be avoided.

Then this regexp does not look right. Does GHC escape paths with spaces or just ignores the problem?

[2016-01-31 17:28] gracjan commented on #1107
GHC just ignores the problem. That means the regexp should just accept spaces in file names.

[2016-01-31 18:00] gracjan commented on #1122
Some results:

Wisent/Semantic is great, at least on paper, haven't run anything yet. Although documentation (for programming) is scarce, the source is pretty decent and there are examples.

Semantic has some magic to first parse the buffer in full, then reparse only parts that have changed. Default idle reparse time is 1 min (60 sec), that is too much. Reparse trigger key is `C-c , ,`. To see how

[2016-01-31 22:01] issue-dispenser commented on #1107
Right, so that should about do it for the space issue then. Are you going to bother with the support for directories with `#:#-#` or `(#,#)-(#,#)` in them (no elisp errors, but no reported Haskell errors)? Might require some refactoring.

Also, I noticed this line
` (plist-get (haskell-process-parse-error final-msg) :line))`
in `haskell-process-errors-warnings`. It looks like the line property wou

[2016-01-31 22:07] kuribas commented on #1122
We could trigger reparse when the user presses TAB or ENTER.  Maybe have a hook to show which region is *dirty* when the buffer changes, then test if the region is dirty before triggering idle reparse.

[2016-02-01 03:09] xuzhao9 commented on #719
Hello, I have restarted emacs.
1. The result of using haskell-indent instead of haskell-indentation is slightly different but still problematic.
See: http://pastebin.com/pAZnPiw7.
2. Disabling electrc-indent-mode does not help either.

[2016-02-01 07:16] gracjan commented on #1107
No, those super special directories do not bother me.

Can you remove the places where line is unnecesarily reparsed and add space handling to the regexp?

[2016-02-01 16:32] #1107 closed

[2016-02-01 18:53] karljs opened #1125 "Indenting data types seems broken and not configurable"
I realize there is a lot going on with indentation right now, but this seemed like a pretty extreme case of something simple not working at all.  I looked through the other issues, too, and didn't spot anything.  Here's the scenario.  Start defining a new data type:

    data Foo = Bar

Newline, pipe character, indent, now gives:

    data Foo = Bar
      | Baz

And repeated tab presses do nothing

[2016-02-01 19:09] gridaphobe commented on #1005
This would indeed be nice! We have a (possibly outdated) syntax highlighter for vim.

https://github.com/ucsd-progsys/liquid-types.vim/blob/master/haskell.vim#L224-L234

I don't know how portable vim-style highlighters are to emacs font-lock, but it might be a start.

[2016-02-01 21:18] aplanas opened #1126 "Error: defcustom for ‘haskell-indent-spaces’ fails to specify type"
Using last emacs from git, and last haskell-mode from git, make produces this error:

[code]

[2016-02-01 21:24] aplanas commented on #1126
With this patch I am able to compile:

[code]

[2016-02-02 08:29] geraldus commented on #1110
It looks like orphan instances warning was changed really long ago: https://github.com/ghc/ghc/commit/5508ada4b1d90ee54d92f69bbff7f66b3e8eceef#diff-e8ff0f7ff4e9411e2df0dba1dbd4bdd8L846

[2016-02-02 21:30] gracjan commented on #1126
Fixed by #1128.

[2016-02-02 21:30] #1126 closed

[2016-02-02 21:33] gracjan commented on #1005
Thanks. As usual we are waiting on a volunteer. @gridaphobe, maybe you will try?

[2016-02-02 21:35] gracjan commented on #1125
Thanks for the report. Can you add a test case in `tests/haskell-indentation-tests.el`?

[2016-02-02 21:39] gracjan commented on #1110
We should have a test file per each warning message. Then we should run each supported GHC version with each file producing a matrix of NxM messages.

And then we need to support all of that :)

[2016-02-02 21:40] gracjan commented on #1110
@geraldus: Can you do first step, that is generate X.hs files, each generating one message of interest?

[2016-02-03 05:49] karljs commented on #1125
Should be no problem.  I'll take a look when I have some more spare minutes.

[2016-02-03 07:14] gracjan commented on #1125
Great!

[2016-02-03 11:54] geraldus commented on #1110
@gracjan Maybe at the of week, but no promises.

[2016-02-04 20:08] gracjan opened #1131 "Use font-lock-fontify-region-function directly"
Emacs multipass regexp based font lock functionality as defined by `font-lock-syntactic-kaywords` has a couple of issues with Haskell code, mostly due to heavily overloaded meanings for dot and apostrophe. Meaning of dot as either a module name separator or composition or part of other operator is hard to get right with multipass syntax highlighter.

The solution is to use `font-lock-fontify-regio

[2016-02-04 20:10] gracjan commented on #1131
@deepfire, I'm pinging you about this one issue as I know you were good with large overhauls. Can you fix this one?

[2016-02-04 20:35] gracjan commented on #1112
Hi @mikesperber, I noticed that docstrings for `haskell-process-path-ghci` and friend are confusing now. Can you help and write better description?

(While you are at it a section about those does not exist in `doc/haskell-mode.texi`. Can you add it there?)

[2016-02-04 20:37] drvink commented on #721
That was part of it, but not all, if I recall. I filed this issue a while ago. :)

[2016-02-04 20:49] gracjan commented on #1074
ping?

[2016-02-04 21:22] gracjan opened #1133 "Implement electric comma, semicolon, etc"
`haskell-indentation` reacts to a couple of characters, most notably comma and semicolonbut also other chars.

Implement function that can be used in `post-command-hook` that will:
- [ ] check if there is exactly one character on the line
- [ ] check if there is only one indentation position returned from `haskell-indentation-find-indentations`
- [ ] do the indentation if both are true
- [ ] conne

[2016-02-04 21:23] gracjan commented on #1091
Note #1133. @bergmark, I do not know how much time do you have, but would be great if you took a look at #1133 yourself. What do you think?

[2016-02-04 23:45] enolan opened #1134 "inferior-haskell-find-haddock should be aware of sandboxes"
It ends up calling `ghc-pkg --simple-output list`. It should call `stack exec -- ghc-pkg --simple-output list` or `cabal sandbox hc-pkg -- --simple-output list` when Cabal sandboxes or Stack are used.

[2016-02-05 07:11] gracjan commented on #1134
`inferior-haskell` does not know about cabal  or stack. @enolan, Can you help and implement missing functionality?

[2016-02-05 07:11] #1125 closed

[2016-02-06 14:28] ruomad commented on #876
I'm running into the same (or a similar problem).
(haskell-process-type 'stack-ghci)
When I hit C-c C-l the interactivewindow opens and displays the lambda prompt, but not the welcome message. I can type anything in the prompt but nothing happens when I press enter (and I can carry on typing).
The haskell-process-log says that everything is loaded and OK, which means stack-ghci did work properly.

[2016-02-06 15:25] gracjan commented on #876
Do you have `haskell-doc-mode` enabled?

[2016-02-06 16:02] ruomad commented on #876
I turned it off, no visible change
(remove-hook 'haskell-mode-hook 'turn-on-haskell-doc-mode)

[2016-02-06 18:49] fice-t commented on #669
I don't know, is it the standard? I `zrgrep`'d `/usr/share/emacs/24.5/lisp/` and got 47 results for `let ((map (make-keymap)))` and 17 results for `easy-mmode-defmap`. 3rd party packages seem to use the `let` method as well.

It does look a bit nicer though.

[2016-02-06 19:30] gracjan commented on #669
Hmm, I'm not sure at this point. Can you just look at the keymaps and do some cleanup there so that all keymaps are defined in the same way?

[2016-02-06 19:37] #256 closed

[2016-02-06 19:37] #788 closed

[2016-02-06 20:06] gracjan commented on #1122
@kuribas, can you prepare, well, anything? I have problems getting started with semantic. What is the general architecture to get anything running?

[2016-02-06 20:13] gracjan commented on #1046
@issue-dispenser, how do you feel about tackling this one? It will require a bit of shuffling in `haskell-indentation.el`, but overall is rather doable. What do you think?

[2016-02-06 20:16] gracjan commented on #955
@bergey, can you take a look at this one? I'm not sure what is missing here really...

[2016-02-06 21:12] fice-t commented on #876
I can't really reproduce this using Cabal or Stack under normal conditions (ie. process-log clean). The most is that there's a few second delay even in a fresh Stack project where the issue temporarily occurs.

@ruomad does the problem still occur in a fresh Stack project?

[2016-02-06 21:15] ruomad commented on #876
Humm, no it doesn't...
I'll try some tests

[2016-02-06 21:26] gracjan commented on #820
@geraldus, I've found much better way to fix this: http://emacs.stackexchange.com/a/20126/5213

Basically `(not this-command)` ensures that we are free to use minibuffer.

Can you please:
- [ ] revert your changes (sorry about that)
- [ ] use `(not this-command)` to safeguard output to minibuffer
- [ ] use `(not (minibufferp))` to prevent overwriting minibuffer while in minibuffer

Thanks.

[2016-02-06 21:32] gracjan opened #1138 "Remove haskell-doc-mode in favor of eldoc-mode"
In light of issues mulled over in #649 and #820 `haskell-doc-mode` should be removed, functionality should be put in `eldoc-mode`. `eldoc` actually works already with `haskell-mode`:

[code]

- [ ] find out if the above snippet is all that is needed for `eldoc-mode`
- [ ] implement what is missing
- [ ] write some coverage tests
- [ ] kill `haskell-doc-mode`
- [ ] remove mentions of `haskell-doc-m

[2016-02-06 21:36] gracjan commented on #624
Related: #1122.

[2016-02-06 21:37] gracjan commented on #623
Related #1122.

[2016-02-06 21:42] gracjan commented on #564
This looks like a bug, because apparently the functionality is there (just not working).

The task is then:
- [ ] create a Haskell source file that triggers two import suggestions for the same module
- [ ] make sure that if the first suggestion was accepted it isn't asked second time

[2016-02-06 21:43] gracjan commented on #521
Note though #1131. This one seems to be in conflict, so closing.

[2016-02-06 21:43] #521 closed

[2016-02-06 21:48] gracjan commented on #215
@geraldus, @creichert: Is this issue still needed? What is left to be done here?

[2016-02-06 22:27] ruomad commented on #876
The problem seems to be that I have a cabal project that includes both a library and executables

[2016-02-06 23:51] geraldus commented on #215
@gracjan ahh, I have a plan to have three config files for autocompletions: Emacs native completions, `company-mode` and `auto-complete`, and update completion code to provide annotations and etc.  But I don't know when I will be able to do this.  Let's keep this issue for some time for now, if I decide to leave this idea I will ping you.

[2016-02-07 00:00] geraldus commented on #820
@gracjan hmm, it's ok, but I could delay with this for some time, very short in time now ):

[2016-02-07 06:53] gracjan commented on #820
Or, do nothing about this one :) We will remove `haskell-doc-mode` soon enough :) Closing in fovor of #1138.

[2016-02-07 06:53] #820 closed

[2016-02-07 06:56] gracjan commented on #215
Okay, can you describe your idea in a bit more detail here in comments so that we know what you are thinking. Somebody might be coming by and be able to help.

[2016-02-07 10:24] ruomad commented on #876
More precisely, it seems that the problem is that I have more than one executable in the project. Works ok with stack, but prevents the REPL to open correctly.

[2016-02-07 10:46] ruomad commented on #876
A hint could be that when I'm only building one executable, the logs show a final ^D .I get the greeting in the REPL window and I'm able to evaluate an expression by pressing ENTER.
In the contrary, when there are 2 executables, this ^D does not appear in the logs and the REPL window does not work.
The different logs are in the attached zip
[log.zip](https://github.com/haskell/haskell-mode/files/1

[2016-02-07 11:03] ruomad commented on #876
Hereattached a better version of the logs : in the normal build, the ^D appears and then the source file is loaded, whereas in the abnormal one, the process seems to hang.
[logs.zip](https://github.com/haskell/haskell-mode/files/120665/logs.zip)

[2016-02-07 12:37] bergey commented on #734
This is not quite straightforward.  There are 5 other modules between `haskell` and `haskell-interactive-mode` in the [dependency tree](http://bergey.s3.amazonaws.com/haskell/haskell-mode.svg), and the functions that should move depend on 4 of them.
I can think of a few options (below).  Would one of these satisfy?

- make a new module, `haskell-interactive-commands`, sitting above `hasklel-repl`

[2016-02-07 13:37] ruomad commented on #876
Confirmed with an empty new project (stack new) modified to include 2 executables.
Furthermore, adding --main-is TARGET in haskell-process-args-stack-ghci doesn't work, whereas it works when I run stack ghci --main-is TARGET from command line
I'm using stack-1.0.2, so the change may have been in the recent stack upgrades

[2016-02-07 14:04] ruomad commented on #876
It must somehow be related to the work done in stack-1.0.2
From changelog :

[2016-02-07 14:16] ruomad commented on #876
The behavior is ok if I add "--no-load" to haskell-process-args-stack-ghci, but no modules are loaded except the current one

[2016-02-07 16:47] #955 closed

[2016-02-07 16:58] gracjan commented on #734
Lets do option 1 `haskell-interactive-commands` as you described. If there is an easy and obvious way to move some functions down the hierarchy then occasionally do option 2.

Option 3 is too much work and in the light of coming Haskell IDE Engine it does not make much sense right now.

[2016-02-07 22:08] kuribas commented on #1122
I think the best is to start from the existing examples, and modify them for our needs.  There is a simple calc example in the docs.  For haskell we'll need a tokenizer (which we already have right?).  The output format of the tokenizer is described in the manual.  I suggest to use two tokenizers, one for "raw" tokens, and the other with a layout stack, and which generates (implicit) layout tokens

[2016-02-07 22:10] gracjan commented on #1122
Current tokenizer can be adapted to Wisent interface.

[2016-02-08 21:28] gracjan opened #1141 "Consider font-lock faces for identifiers based on identifier origin"
Consider different faces for identifier:
1. Local identifiers (arguments, patterns, `where` or `let` clauses).
2. Same module identifiers.
3. Imported identifiers.

With #1122 font-lock should have necessary information available in Semantic layers.

This idea is based on a similar concept presented at the end of [Making Semantic Highlighting Useful](https://medium.com/@brianwill/making-semantic-h

[2016-02-08 22:14] geraldus commented on #1141
Wow, this will be super cool!

[2016-02-08 22:38] bergey commented on #1074
@gracjan Can you reopen this per discussion in #1137

[2016-02-10 15:45] gracjan commented on #669
Okay, lets just close this as I'm no longer sure this is a good idea.

[2016-02-10 15:45] #669 closed

[2016-02-10 15:51] gracjan commented on #669
@fice-t: I've closed this easymenu, wasn't clear if it was a good idea. But there is a good idea to make eldoc-mode subsume haskell-doc-mode: https://github.com/haskell/haskell-mode/issues/1138. Do you think you could take care of it?

[2016-02-11 04:42] fice-t commented on #669
Hmm, sorry, I don't think I'll be able to man that. I expect to be busy in the next few months (I put off some stuff I shouldn't have...), so I probably won't have much time for anything bigger.
Maybe if I see something really small myself I might try it, but no requests. :-)

[2016-02-11 05:13] fice-t commented on #1138
Few things I noticed:
* `haskell-doc-mode` already seems to be absent from the wiki and .texi
* spacemacs doesn't appear to have any mention of it either; they use haddock
* `haskell-doc-prelude-types` and its generator `haskell-doc-extract-and-insert-types` appear to be Haskell 98-specific, which I don't think is terribly useful. That should be changed. The same goes for `haskell-doc-strategy-ids

[2016-02-11 07:02] jb55 commented on #896
This is super annoying, any ideas on how to fix? It would be less annoying if you didn't have to press TAB twice...

[2016-02-11 08:56] gracjan commented on #1138
Hmm, is there anything of value to salvage from there?

[2016-02-11 09:00] gracjan commented on #896
The 'twice' part is a misarchitecture in https://github.com/haskell/haskell-mode/blob/master/haskell-indentation.el#L236 . Can be fixed, just somebody needs to sit down and write a specification how this is supposed to work.

[2016-02-11 09:10] #1039 closed

[2016-02-11 09:10] #1038 closed

[2016-02-11 09:10] #1040 closed

[2016-02-11 09:10] #1120 closed

[2016-02-11 09:11] gracjan commented on #1120
Should work again now.

[2016-02-11 12:46] gracjan opened #1145 "Improve company-mode"
As per company documentation:

As far as I understand we do not support this although we could. `<f1>` could bring haddock, `C-w` could try to navigate to source.

[2016-02-11 13:07] geraldus commented on #896
It annoys me too (:

[2016-02-11 13:24] geraldus opened #1146 "Reconsider word breaks for haskell-cabal-mode"
One thing I dislike in `haskell-cabal-mode` that functions such
* `left-word`
* `right-word`
* `backward-kill-word`

and etc. do not considering point `.` as word break char, for example
[code]
if I place point at beginning of exposed module name `Internal.Type` and invoke `right-word` it moves point to line end, while I expect that point should go to beginning of "Type" (like in `haskell-mode`).

[2016-02-11 13:27] geraldus opened #1147 "Case sensitive completions in haskell-cabal-mode"
I know we have some auto-completion customizations for `haskell-mode`.  Could we make completions case sensitive by default in `haskell-cabal-mode` too?

[2016-02-11 13:33] mrBliss commented on #1146
That annoys me too! I found the cause of this and will post a pull request shortly.

[2016-02-11 13:54] cruegge opened #1148 "haskell-forward-sexp should signal scan-error at the end of list like forward-sexp"
Emacs' own `forward-sexp` does not jump out of balanced expressions. Instead, it signals a `scan-error`. This behaviour is used by functions like `up-list` to determine the end of the expression. `haskell-forward-sexp`, on the other hand, jumps out of the expression without error. While this behaviour is probably more intuitive from the user perspective, it breaks at least one other useful navigat

[2016-02-11 15:51] bergey commented on #1146
Agreed.  Can we treat hyphens as punctuation too, given how we use them in package names?

[2016-02-11 16:26] gracjan commented on #1148
Agreed. @cruegge: can you add a failing test case for this?

[2016-02-11 16:27] cruegge commented on #1148
Never did this, but I think I'll figure it out. Might take a while.

[2016-02-11 16:30] gracjan commented on #1148
Please put those tests in this file: https://github.com/haskell/haskell-mode/blob/master/tests/haskell-mode-tests.el

[2016-02-12 21:37] issue-dispenser opened #1154 "Indentation level is missing for `deriving` keyword"
As defined [here](http://hackage.haskell.org/package/base-4.8.2.0/docs/src/GHC.Base.html#Maybe):
[code]

There's no indentation level that will result in the deriving being 2 spaces. It'll only do this:
[code]

[2016-02-12 21:43] bitemyapp opened #1155 "Syntax highlighting is broken for quasiquoted code"
![screenshot from 2016-02-12 15-42-58](https://cloud.githubusercontent.com/assets/320177/13021181/4ca50588-d19f-11e5-9cf0-e07f4d27e180.png)
![screenshot from 2016-02-12 15-42-18](https://cloud.githubusercontent.com/assets/320177/13021182/4cb3c6f4-d19f-11e5-87c1-ce4c24efc407.png)

[2016-02-12 21:43] bitemyapp commented on #1155
It was not this broken before. Previously it treated QQ'd sections like strings and colored them uniformly which I was alright with.

[2016-02-12 21:49] bitemyapp commented on #805
/cc @gracjan did #787 fix this?

[2016-02-12 21:49] bitemyapp commented on #856
@gracjan @deepfire where's this at?

[2016-02-12 21:50] bitemyapp commented on #1155
incidentally I think the most recent update broke indentation inside of quasiquotes too.

[2016-02-13 06:27] gracjan commented on #1154
Can you add a test case for this?

[2016-02-13 06:29] gracjan commented on #805
@bitemyapp, might be, can you check if it works now for you?

[2016-02-13 06:49] #1155 closed

[2016-02-13 14:19] gracjan commented on #1122
More results:

1. To define what is top level use `define-mode-local-override semantic-tag-boundary-p`.
2. To define how tags are structured inside use `define-mode-local-override semantic-tag-components`.

Overall good source of ideas is in [grammar.el](https://sourceforge.net/p/cedet/git/ci/master/tree/lisp/cedet/semantic/grammar.el) and [grammar.wy](https://sourceforge.net/p/cedet/git/ci/master

[2016-02-13 17:54] gracjan commented on #759
Idea how to do this:

1. Navigate to previous save point that for sure is not in a token, so a whitespace
2. Navigate forward until point is passed.
3. Return the one less sexp.
4. Repeat until done with argument (this could be optimized, optionally).

[2016-02-13 17:56] gracjan commented on #331
@listx: I know this is an old issue, but could you create a test case in `tests/haskell-font-lock-tests.el`? Thanks.

[2016-02-13 17:59] gracjan commented on #836
Seems like the discussion dried out. Lets agree on the following:

1. If somebody comes along and will want to take over maintenance of components in separate way, we will be okay with that.
2. We will try to not let more complexity inside haskell-mode.
3. We will reduce complexity and duplication of what is already there.
4. Overall we will try to reduce barrier to entry for new contributors by w

[2016-02-13 17:59] #836 closed

[2016-02-13 18:50] gracjan commented on #1148
Fixed  by #1151.

[2016-02-13 18:50] #1148 closed

[2016-02-13 18:56] gracjan opened #1157 "Font lock module qualification differently"
Currently we can recognize tokens that are qualified by module path. For example:

[code]

We have a regexp that knows about module prefix and the unqualified part. It means that we can highlight differently the parts:

1. The module names.
2. The dots that are module separators (last dot can be different if we care).
3. The unqualified identifier, constructor or symbol.

Note that we do good job

[2016-02-13 19:34] gracjan commented on #1157
Related: #725.

[2016-02-13 21:38] #1146 closed

[2016-02-15 17:33] WraithM commented on #896
I also have similar issues with `evil-open-below`.

[2016-02-15 20:58] bch29 commented on #1133
This function does the job, but unfortunately I'm not familiar enough with emacs to know how to hook it into electirc keys:

[code]

[2016-02-15 21:42] gracjan commented on #1157
So the pull request highlight whole qualified name in the same way as unqualified name would be highlighted. Much less visual noise and I like it that way much better.

[2016-02-15 22:04] gracjan commented on #1133
`cc-mode` knows how to do electric keys. Can you look there?

[2016-02-16 06:03] listx commented on #331
Between work and my other projects I do not have the time to learn how the test suite works, and to add a test case for it. Sorry!

FWIW the issue is still relevant.

[2016-02-16 10:26] gracjan commented on #1131
Step in this direction is in #1157.

[2016-02-16 10:30] gracjan commented on #842
I would not mind somebody taking Release Manager responsibility. Until that happens we need to do releases when it feels safer than usual and that means irregular releases.

[2016-02-16 10:30] #842 closed

[2016-02-16 10:32] gracjan commented on #675
Note that there is newer and better answer: http://emacs.stackexchange.com/questions/10010/display-other-text-centered

[2016-02-16 10:34] gracjan commented on #608
Related #1122.

[2016-02-16 10:37] gracjan commented on #331
Note that we have changed significantly how comments are marked in Latex sources. It used to use start and and of comment, right now it is per line. Can you check if the issue really persist after #1050 got merged?

[2016-02-16 10:39] gracjan commented on #324
This seems to be fixed properly by now. Leave a message here if you disagree.

[2016-02-16 10:39] #324 closed

[2016-02-16 10:40] gracjan commented on #321
@kini: Can you add a test case for this in 'tests/haskell-indenttion-tests.el'?

[2016-02-16 10:41] gracjan commented on #229
Related #1122.

[2016-02-16 20:28] gracjan opened #1160 "HTML manual Retina resolution animated gifs"
Write an Emacs function that will change IMG tags in documentation from:

    <img src="xxx.gif">

to

    <img width="W" height="H" src="xxx.gif">

where `W` and `H` are half of gif width and height. (Half because screenshots are made on retina display).

Invocation should be:

    emacs -l haskell-manual-gif-size-fixup.el -f haskell-manual-gif-size-fixup-batch-and-exit *.html

[2016-02-16 20:28] gracjan commented on #1160
To get gif dimensions:

[code]

[2016-02-16 23:38] issue-dispenser commented on #1154
Is the hindent test 55a correct behaviour? From what I can tell, it seems like deriving on a new line should be indented like `where` is instead of aligned to an equals.

[2016-02-17 06:38] gracjan commented on #1154
Looks good to me, can you also add tests covering #1046?

[2016-02-17 08:55] #1160 closed

[2016-02-17 08:57] #628 closed

[2016-02-17 08:57] #1157 closed

[2016-02-17 09:09] gracjan commented on #378
@codygman, is this still a problem?

[2016-02-18 03:44] listx commented on #331
So, my last comment stating that the issue still persists was in error. Since the time of the original report, I had moved to MMM (Multiple Major Modes) and had enabled LaTeX mode for the latex-style comment regions. For some reason I had equated the long-line highlighting within the LaTeX mode (not `literate-haskell-mode`) parts with this bug report.

Simply enabling `literate-haskell-mode` only

[2016-02-18 03:44] #331 closed

[2016-02-18 04:27] fice-t commented on #1138
The unicode output of function type signatures seems helpful. For example, `haskell-process-do-type` could use that.

Otherwise I don't see a whole lot. For example, there's an option to use `inf-haskell` to do completions, but a new version might as well use `interactive-haskell-mode` instead.

[2016-02-18 07:07] gracjan commented on #1138
So now we need a brave decision to kill it wholesale. Lets do like this:

1. In Monthly Report we announce the killing.
2. Wait one month so that people can chime in.
3. Do the kill after a month.

It seems to be a good time to do stable release before this happens.

[2016-02-18 12:05] gracjan commented on #1122
Pushing this further:

1. Semantic first tokenizes a region, then run Wisent, so usual lexer hack will not work.
2. Reparsing code is very ad hoc and looks like a buggy hack. It might mostly work.
3. Reparsing needs a specialized function that will take a change and produce a region that needs to be reparsed. This is fragile again.

If reparse regions are selected in a principled way then there mi

[2016-02-18 19:52] gracjan commented on #1131
Hmm, there might be an issue with rainbow-identifiers. Investigate.

[2016-02-18 20:00] gracjan opened #1164 "Syntax propertize could mark layout blocks"
The existing `haskell-syntax-propertize` could mark first token after a `where` and other layout tokens as beginning of a layout block. Then whenever a first token on a line comes in it could check to which layout block it belongs (if any).

This should be good enough to implement #899.

I'm not sure what kind of marker should that be. Marker? Overlay? What else Emacs has?

[2016-02-18 20:00] StreakyCobra commented on #896
I did some research on the Spacemacs issue concerning `evil-open-below` https://github.com/syl20bnr/spacemacs/issues/5010.

As far as I understood, the function responsible to indent the line after `evil-open-*` is the function set in the `indent-line-function` variable, which is set to `haskell-indentation-indent-line` in this precise case.

Calling `haskell-indentation-indent-line`  on the follo

[2016-02-18 21:22] fice-t commented on #896
It's valid Haskell, but so is:

[code]

So even without a `->` at the end, it's still valid (unlikely though) to indent it.

[2016-02-18 21:31] StreakyCobra commented on #896
Ok, but there may be some better approaches though, like using the statistically most probable indentation to diminish the need of using `TAB`.

I don't have special opinion on this, as I said I'm not doing Haskell, so I let you discuss this inbetween interested people :smiley:

[2016-02-18 22:12] fice-t commented on #896
Normally it does just indent to the 0th column. Evil is an exception as it uses `(newline)` then `(indent-according-to-mode)` instead of using `haskell-indentation-newline-and-indent` (RET is bound to that in `haskell-mode`). I'm not sure why that function is necessary. If one could remove that then that would make things better.

Changing the indentation function when using Evil to something simi

[2016-02-18 22:17] WraithM commented on #896
emacs noob here. Would just dumping this code into my `init.el` be a good way of testing this code out?

[2016-02-18 22:18] fice-t commented on #896
You can just paste it into any buffer (scratch is usually for these things), and press C-x C-e at the end of the function(s).

[2016-02-18 22:21] WraithM commented on #896
Yeah, just dumped into scratch. Thanks!

My initial impression is that this is much better.

Something sorta interesting in just testing right now, when I'm in the middle of a `do` expression, it doesn't indent, need to tab to go over.

[2016-02-18 22:59] fice-t commented on #896
Yeah, that would make sense. I updated the first function. Hopefully it should work this time.

[2016-02-18 23:12] WraithM commented on #896
Oh wow! This is fantastic.

Just noticed while playing around:
[code]

If you do open below on the line with `require`, it'll indent over. This example works properly:
[code]

Having the weird hanging import thing confuses it.

[2016-02-18 23:41] fice-t commented on #896
That seems to be an unrelated bug. `haskell-indentation-current-indentation` returns 59 when on the `require` line, which is greater than any indent column (0 and 17 here) of the newline, so it takes the last/greatest one (17) and indents there. This also happens when just pressing RET and the end of the `require` line. Perhaps you should make a new issue for that (if there's not one already).

Di

[2016-02-19 06:59] gracjan commented on #896
@fice-t, Nice! Can you create a test suite for this cycle function?

[2016-02-19 17:57] gracjan commented on #1109
@geraldus, @chrisdone: reopened.

[2016-02-20 05:27] fice-t commented on #896
I don't know, it might be best if someone with more knowledge in the area than myself would do that. I'm just doing a hack job on top of what's already there.

In other news, I updated the above function with one does away with pressing TAB twice on the last indent position. There's a side effect of the function looking a lot worse, but hey.

Both Evil/non-Evil people should test it out.

[2016-02-20 07:49] gracjan commented on #896
`where` is expected to be non-empty (although it can be in some contexts).

[2016-02-20 17:48] fice-t commented on #896
I don't think either case would make it non-empty.

I just changed it to indent to `something`. Also note that this only works for Evil when the commands are called by their keybindings, and not through some custom Lisp that calls `evil-open-x`. That should be enough for most people.

[2016-02-20 21:57] geraldus commented on #215
Well… there is a lot of work on auto completion improvements.

Fist of all, we have two cases: non-interactive and interactive.

# Non-interactive
Let's talk about non-interactive first.

Here the best we can do is to provide dynamic case sensitive completions (dabbrev).  We already support hardcoded pragmas, so why not to add hardcoded keywords too (at this moment my `company-mode` do not gives m

[2016-02-20 22:22] geraldus commented on #1110
@gracjan I have created few files, but have no idea what to do with them :D

[2016-02-20 23:01] PierreR commented on #215
As an extra piece of information, [company-ghc](https://github.com/iquiw/company-ghc/issues) provides auto-completion in non-interactive mode via `ghc-mod`. It is very good but it might get sluggish for bigger projects (see https://github.com/iquiw/company-ghc/issues/23)

[2016-02-20 23:19] PierreR commented on #215
@geraldus Correct me if I am wrong but given that the plan is to do nothing extra in the interactive mode for now, I am under the impression that everything you propose is already achieved by `spacemacs`.
In a way I am just saying it is a matter of configuration and it might not be a job for `haskell-mode` (at least for now). With HIE along the way are we sure such a integration worths the effort

[2016-02-21 07:14] gracjan commented on #215
I'd like to have as much non-interactive completions happening without ghc-mod as possible.

Currently PRAGMA and LANGUAGE completions work only when haskell-interactive-mode is enabled, those should work with only pure haskell-mode.

Question: what is the difference between auto-complete and company-mode? Are those significantly different or are they supported by the same implementation mechanism

[2016-02-21 07:15] gracjan commented on #1110
We need a test case. Can you put them in a directory under `tests` and then create a pull request? We will make something sensible with this.

[2016-02-21 09:30] geraldus commented on #215
@PierreR I haven't used Spacemacs myself, but if I'm not mistaken it have `company-mode` integrated, and my major point that we should provide some uniform completion function for all cases: no auto-completion package installed, `company-mode` and `auto-complete` (and possibly some extended versions depending on if company or AC is available in user config).

Surely?  Does it provide mentioned fuz

[2016-02-21 09:49] gracjan commented on #215
@geraldus: I'm pretty sure that pure haskell-mode does not offer completions, see:

[code]

Am I missing something?

[2016-02-21 09:53] geraldus commented on #1110
Done #1168

[2016-02-21 10:56] geraldus opened #1169 "Auto completions related notes"
There is some mess around completions.  We have:
+ `haskell-completions.el`
  provides:
    + hard-coded pragma names list
    + completion prefix grabbing functionality
    + synchronous completion function, which completes:
       + pragmas, options, extensions **without** REPL
       + identifiers **with** REPL if it is available

+ `haskell-complete-module.el`
  provides:
    + `haskell-comple

[2016-02-21 11:01] gracjan commented on #1169
Thanks for the summary.

Note that pragmas, options, extensions could work without REPL, but it is not connected.

[2016-02-21 11:46] geraldus commented on #215
@gracjan yes, you're right.  But why?  I think we definitely can provide non-interactive completion function which completes:
+ pragmas
+ GHC's options
+ GHC's extensions
+ candidates for identifiers with, candidates and prefix are case sensitive
+ candidates for words in comments, candidates are case sensitive, prefix is not
+ haskell keywords

What do you think?

[2016-02-21 11:56] gracjan commented on #215
In the code we should have nothing dabbrev related. On the other hand in the documentation we should have a page saying: 'haskell-mode works great with dabbrev based completion, here is how to enable it'.

[2016-02-21 11:57] cocreature commented on #215
Isn’t the whole point of `dabbrev` that it works without doing anything? It just searches everything in the buffer.

[2016-02-21 12:05] geraldus commented on #215
and other buffers too.  I have already mentioned this, but will repeat: dabbrev also have some concept of friendly buffers and search expansion there first, for now we can mark all `*.hs` buffers as friendly, in future we can do this based on project files.

dabbrev do not provides a function to get a collection of expansions, it immediately expands thing at point, and if triggered one more time,

[2016-02-21 12:08] cocreature commented on #215
Just let company,autocomplete or whatever else deal with that. There is no need to replicate that functionality inside of haskell-mode.

[2016-02-21 12:15] geraldus commented on #215
@cocreature in general I agree with you, I just stuck a bit with following case:
no special auto-completion package installed;
non-interactive haskell-mode
if we bind `completion-at-point-functions` to yet undefined `haskell-completions-at-point-function` (without REPL capabilities) then <kbd>C-M-i</kbd> will provide no candidates for identifiers.  However, users who aware of `dabbrev` could expan

[2016-02-21 12:20] cocreature commented on #215
Why is that a problem? If people want to have auto completion they’re going to install one of those packages. It’s not like haskell-mode is the only mode requiring you to use one of those.

I agree that something basic completing extensions and the like could be nice in that case.

Again let auto-complete or company take care of mixing completions and falling back on one if the other doesn’t work.

[2016-02-21 12:58] gracjan commented on #215
@geraldus: This is good the way you described. In case of vanilla haskell-mode there should be this:

1. In PRAGMA context <kbd>C-M-i</kbd> should complete PRAGMA.
2. In LANGUAGE context <kbd>C-M-i</kbd> should complete LANGUAGE.
3. In other contexts <kbd>C-M-i</kbd> should do nothing.
4. <kbd>M-/</kbd> should do its own thing always.

Note that I personally would never enable dabbrev autocomplete

[2016-02-21 14:16] gracjan opened #1170 "Create haskell-overlay.el"
Haskell Mode needs an overlay management code that will provide the following:

1. Way to create overlays.
2. Way to remove overlays that are no longer valid (invalidate).
3. Way to associate actions with overlays.
4. Way to associate documentation strings with overlays.
5. Way to navigate to next/prev overlay.
6. Way to navigate to related overlay.

There is already some code about overlays in `h

[2016-02-21 14:16] geraldus commented on #215
@gracjan ok, it become a bit clear now.  Finally let's

+ hardcode completion candidates for keywords
+ introduce `haskell-completion-at-point` (language, pragma name, options, extensions, keywords) in `haskell-completions.el`
+ add it to `completion-at-point-functions` in `haskell-mode.el`

For interactive part:
+ rename `haskell-completions-sync-completions-at-point` to `haskell-sync-repl-comple

[2016-02-21 14:19] geraldus commented on #1109
It was decided to delay this until some infrastructure improvements will be done.

[2016-02-21 14:19] gracjan commented on #215
@geraldus: Create an issue and write there exactly the same text that you wrote here. Then we will close this one.

[2016-02-21 14:20] geraldus commented on #215
Surely.

[2016-02-21 14:23] geraldus opened #1171 "Support non-interactive completions"
Let's:

+ [x] hardcode completion candidates for keywords
+ [x] introduce `haskell-completion-at-point` (language, pragma name, options, extensions, keywords) in `haskell-completions.el`
+ [x] add it to `completion-at-point-functions` in `haskell-mode.el`

For interactive part:
+ [x] rename `haskell-completions-sync-completions-at-point` to `haskell-sync-repl-completion-at-point`
+ [x] use `haskel

[2016-02-21 14:39] geraldus commented on #1145
Related #215

[2016-02-21 14:51] gracjan commented on #896
@fice-t: Can you create a pull request out of this, with unit tests and whatnot?

[2016-02-22 01:35] geraldus commented on #30
This looks irrelevant, in current version I can't move point below prompt (getting "End of buffer" message), pressing <kbd>RET</kbd> on any line other than current prompt yields nothing.

@chrisdone shout it be finally closed?

[2016-02-22 01:41] geraldus opened #1173 "Completion function hangs in REPL in multi-line editing mode"
Steps to reproduce:
+ start REPL process
+ enter multi-line edit mode, e.g. type `:{` and hit <kbd>RET</kbd>
+ type something that could be auto-completed
+ invoke `complete-symbol` function <kbd>C-M-i</kbd> _(or in case when `company-mode` enabled issue appears immediately)_

[2016-02-22 02:21] geraldus commented on #82
This is still relevant and I'm often annoyed of this.  If I'm not mistaken, currently is't hard to understand is function supplied with all arguments or not, so in first case indentation order should be
[code]
`?` is optional indentation step according to tab width (offset) value _(I'm not familiar with indentation code yet, is it possible to jump to `2` second position after first <kbd>TAB</kbd>

[2016-02-22 03:44] fice-t commented on #1173
Seems to be a duplicate of #871. This bit me as well.

Everything seems to be screwed in multi-line mode though. One thing that would be really nice is automatic indentation inside of it.
Perhaps there should be one big issue for REPL multi-line mode?

[2016-02-22 04:13] fice-t commented on #981
@gracjan That's because they changed the function in the core. There's this included part:
[code]

[2016-02-22 06:43] gracjan commented on #1173
Dupe of #871. Please discuss this issue there.

[2016-02-22 06:43] #1173 closed

[2016-02-22 06:45] gracjan commented on #981
Oh, sneaky!

[2016-02-22 12:45] gracjan commented on #1042
Default indentation should support the style that is used in GHC own source code. This is the user base we would like to win over for haskell-indentation.

This is not Tibells style, sorry.

[2016-02-22 12:45] #1042 closed

[2016-02-22 12:46] gracjan commented on #1015
Related #1170.

[2016-02-22 12:46] gracjan commented on #1015
And it seems that it overall works, @qrilka: write here and we will reopen the issue if it still is a problem.

[2016-02-22 12:50] gracjan commented on #872
@sgillis: Were you able to proceed with this further?

[2016-02-22 12:51] gracjan commented on #848
Or better not. I see gifcasts as a separate script.

[2016-02-22 12:51] #848 closed

[2016-02-22 12:54] gracjan commented on #821
Flycheck declared error fixups as low priority https://github.com/flycheck/flycheck/issues/530, it means we need to do it ourselves.

Closing in favor of #1170.

[2016-02-22 12:54] #821 closed

[2016-02-22 12:55] gracjan commented on #759
Done in #1158.

[2016-02-22 12:55] #759 closed

[2016-02-22 12:57] gracjan commented on #727
I do not see temporary buffer as a good design in usability terms.

Indentation supports multiline strings and this has to be good enough for now.

[2016-02-22 12:57] #727 closed

[2016-02-22 13:01] gracjan commented on #667
Closing because #1043 is fixed.

[2016-02-22 13:01] #667 closed

[2016-02-22 13:02] gracjan commented on #649
We will not be fixing `haskell-doc-mode`, we will work on `eldoc-mode` support instead.

[2016-02-22 13:02] #649 closed

[2016-02-22 13:03] gracjan commented on #564
Related #1170.

[2016-02-22 13:04] gracjan commented on #399
Closing as old. If somebody would like to take case of `haskell-debug.el` then we can talk again.

[2016-02-22 13:04] #399 closed

[2016-02-22 13:18] gracjan commented on #624
`beginning-of-defun-function` should be same functionality as in `haskell-indentation-mode`, so it is part of common functionality.

[2016-02-22 13:22] gracjan commented on #624
Spec:

- `beginning-of-defun-function` should move up to the beginning of line that: 1) starts in the first column (for normal haskell) 2) starts in the 3rd column after bird (in literate) 3) is not in string 4) is not in comment 5) is not in quasiquote 6) is not in any parenthesized expression
- `end-of-defun-function` should move down to the beginning of line that: 1) is right after newline past

[2016-02-22 13:24] #572 closed

[2016-02-22 13:27] gracjan commented on #185
It seems that HIE will provide this functionality. I do not see this happening in haskell-mode due to lack of resources.

[2016-02-22 13:27] #185 closed

[2016-02-22 13:28] gracjan commented on #127
There does not seem to be enough interest in pushing this forward. Let HIE save us here.

[2016-02-22 13:28] #127 closed

[2016-02-22 13:30] gracjan commented on #1147
We have `dabbrev` customizations in `haskell-mode`. We can have same in `haskell-cabal-mode`. Can you create a PR?

[2016-02-22 13:32] qrilka commented on #1015
No, it does not work for me, `RET` is bound to `haskell-interactive-mode-return` but pressing it with cursor on the error message does not do anything and nothing appears in `*Messages*`
I use the latest 13.18 version from melpa.
Is there any other way I could debug this problem? it annoys a bit :(

[2016-02-22 13:33] gracjan commented on #1015
Reopening in this case. @qrilka, can you help debugging it?

[2016-02-22 13:37] qrilka commented on #1015
I'd be glad to help though I'm not an advanced emacser

[2016-02-22 14:15] geraldus commented on #1147
I tried to play with `dabbrev-case-fold-search`, `dabbrev-case-distinction`, and `dabbrev-case-replace` variables, but didn't understand how this stuff works (reading docs does not helped also).  It seems that all time I get same candidates, I'm with `company-mode` and not sure how it gets completion candidates: there are a bunch of backends listed in `company-backends`, and `completion-at-point-f

[2016-02-22 14:22] geraldus opened #1176 "[Discussion] Interactive mode improvements"
I want to discuss few things about interactive haskell mode.

First, would it make sense to load opened file in REPL immediately when opening very first file in project, that is, if there is no session for visited file yet invoke `haskell-process-load-file`.  Currently, doc-mode shows only keyword hints when no process session is available; also REPL completions is not available until there is no

[2016-02-22 14:54] geraldus commented on #1147
Hmm… Something wrong with `company-dabbrev` backend https://github.com/company-mode/company-mode/issues/474

[2016-02-22 14:56] mrkkrp opened #1177 "Fontification is too inefficient"
Haskell mode currently has inefficient fontification:

[code]

Try it yourself — set quite high frequency of key repeat on OS level and hold a key when is Haskell mode. You will see that dislay update is sporadic (well, of course you should turn off Smartparens and Flyspell, because they skyrocket typing latency). Compare with Emacs Lisp mode where characters appear continuously.

My understanding

[2016-02-22 15:05] gracjan commented on #1147
Use <kbd>M-/</kbd>.

[2016-02-22 15:11] geraldus commented on #1177
@mrkkrp hi!  Performance is my idea fix, I always want to make things faster.  Recently, I have read few articles and increased GC threshold, byte-complied my .emacs and disables `linum-mode` everywhere.  And I noticed that haskell-mode is slower than, say elisp mode also.  And both of them are much much slower than fundamental mode.  Honestly, I though about benchmarking haskell-mode fontyficatio

[2016-02-22 15:50] mrkkrp commented on #1177
I recently found that although some recommend this, it's not a very good idea because the higher threshold you have the longer GC actually takes. With default setup GC is so fast that you won't actually notice while increased `gc-cons-threshold` can cause obvious lags. It makes sense to temporarily increase the value during start-up, but I don't see much difference either.

Oh come on, I have no s

[2016-02-22 17:07] geraldus commented on #1177
Yep, I've found similar precautions, but I didn't see any lags though I have quite performant hardware.  For now I have threshold set to 100MiB

Oh, I really missing spell check in Emacs for ages and still haven't any chance to read something about this issue :D

Recently, my restless mind made to install NeoVim, Vim and read few articles comparing Atom and other editors/IDEs performance to Emacs,

[2016-02-22 17:55] geraldus opened #1178 "Indentation issues"
We have a lot of issues related to indentation and a lot of efforts to fix this.  However, having done so much job we still struggling with this.  Maybe we are doing something wrong and should re-think this question a bit deeper?

I think this is because Haskell itself quite complex and flexible in question of indentation.  It allows programmers many valid ways to indent the code, and trying to pr

[2016-02-22 18:18] gracjan commented on #1177
@mrkkrp, the only part of efficiency  that we have control over hides behind this line:

[code]

As you see we need some help getting more detailed information.

As I see you are on a crusade for efficiency in a couple of Emacs packages. Will you create a package or at least a methodology to measure font-lock efficiency? That would be really good.

[2016-02-22 18:30] gracjan commented on #1177
Note also that it looks like this for me:

[code]

@mrkkrp: We need more help in reproducing this issue.

[2016-02-22 18:38] mrkkrp commented on #1177
Interesting. Did you try without any config or with some config? I tired with most part of my config enabled expept for Smartparens and Flyspell.

Also note that it's not really important how much percents rendering funtion gets (well, from my experience), it's time spent in GC somehow correlates with typing experience. Anyway, it would be much more helpful if you posted full profiling report.

[2016-02-22 18:39] gracjan commented on #1176
I find myself editing Haskell files as text. Loading them would require a lot of context and setup, so I skip that.

I find it useful to edit files that aren't loaded. Maybe when HIE is ready I'll change my mind.

[2016-02-22 18:48] gracjan commented on #1177
Here you go:

[code]

[2016-02-22 18:52] gracjan commented on #1177
Another run:

CPU samples:

[code]

Bytes:
[code]

Code that tests produces those:

[code]

[2016-02-22 19:35] mrkkrp commented on #1177
59% of cycles spent in GC is not very good anyway. I don't really think this stuff is interesting read for `/r/haskell`, but well…

[2016-02-22 19:53] geraldus commented on #1176
Hm… I'll try to play with auto-loading files in my local setup when I'll find a time for this; and if I'll have something reasonable I will post here the results.

[2016-02-22 20:26] gracjan commented on #1178
In languages where braces or parentheses delimit block indentation, that is the <kbd>TAB</kbd> does has only aesthetic meaning: it just indents the line so that it looks better. To the contrary in Haskell (but also Python) <kbd>TAB</kbd> has semantic meaning: it is equivalent to either <kbd>{</kbd> or <kbd>}</kbd>.

I think our issues come from this fundamental misunderstanding that <kbd>TAB</kbd>

[2016-02-22 23:04] geraldus opened #1179 "Remove `haskell-doc-prelude-types` from `haskell-doc.el`"
Since we already rely on GHC output for supported language extensions and pragmas why not to drop `haskell-doc-prelude-types` from `haskell-doc.el`? This could be done parsing output of `ghc -e ':bro Prelude'`.

One caveat: now `stack` allows multiple GHC versions without any global GHC compiler in PATH, I think we should add these variables to session when starting new interactive process and pop

[2016-02-22 23:32] geraldus commented on #1169
It was decided not to deal with dabbrev, `company-mode` seems handles this already.  In case of vanilla Emacs users can't run dabbrev-expansion directly or add some anther dabbrev completion provider to `completion-at-point-functions` hook

[2016-02-22 23:45] geraldus commented on #1109
Step 1 in direction you proposed could be:

1. introduce some global suggestions / info stack
2. do not prompt user during file loading, package building, rather collect all info from compiler output to stack.
3. ignore / mark as irrelevant messages for visited files if buffer have modified (unsaved) state.

Until overlay infrastructure is not ready:
4. after loading finished either process sugges

[2016-02-22 23:52] geraldus commented on #706
Can you make this a bit clearer? (: Looks like a well-defined-task.

[2016-02-23 02:25] Fanael commented on #1177
Nonsense. Emacs GC is your average naïve mark-and-sweep, where collections take time proportional to the total heap size. The default `gc-cons-threshold` is so small (800 KB, I think) that any potential benefit from having to scan and throw away less garbage is dwarfed by the time spent scanning live objects, and by the fact that collections are much more frequent than they are with a reasonably s

[2016-02-23 08:42] sgillis commented on #872
Unfortunately I haven't had a lot of extra time to invest into further investigating this, so no progress.

[2016-02-23 09:45] mrkkrp commented on #1177
@Fanael, As with many things, I think it's about golden mean, which depends on your hardware. What I said is not something I made up, but my actual experience from tests I performed. Yes, default value is likely to be too small, and it's OK to increase it to 8 MB I think, but too big values can make situation worse. I also think that your argumentation would look even better without attacking peop

[2016-02-23 10:17] mrkkrp opened #1180 "Enable jump to tag without activating a session"
I only activate session when I need to use REPL. Why jumping to a tag cannot work without this? `hasktags` gererates TAGS file, just read it and jump? No?

[2016-02-23 11:01] gracjan commented on #1180
Misarchitecture. Haskell mode checks if session exists so that it can use it to jump to definitions better. Checking if sessions exists has this side effect of starting a session. Somebody needs to fix this.

[2016-02-23 13:29] gracjan commented on #1179
Actually I was about to propose exactly opposite direction: that is NOT populating pragmas and extenstions dynamically from the `ghc` available in `PATH`, instead prepopulate both in the source code as a set union of all options available on all compilers from 7.2 to 8.0.

It is just me who is bothered that the `ghc` that happens to be found in the `PATH` is some dysfunctional random installation

[2016-02-23 13:33] gracjan commented on #1177
I find efficiency stuff very interesting and that is why I shared with both /r/haskell and /r/emacs. I suffer fontification sluggishness (or a similar problem) in org-mode and it annoys me to no end.

We should not let `haskell-mode` be annoying at character typing level, because how will we be able to provide great user experience with more advanced functions if we fail at such a basic level?

[2016-02-23 13:36] gracjan opened #1181 "Devise a performance framework"
We would like to add more and more semantic features to haskell-mode and we risk performance degradation. We would not like to be surprised by such basic issues so we need to monitor performance of haskell-mode.

Tasks:

1. Find a performance metric in Emacs that is stable and deterministic.
2. Select a set of functions that are performance sensitive.
3. Attach performance tests that will make sur

[2016-02-23 13:48] gracjan commented on #1181
Notes:

The stable metric seems to be **allocations**.

Performance sensitive functions seem to fall in the following categories:

1. One-off functions run when opening a file.
2. Font lock.
3. Functions bound to a key.

[Emacs Profiler](https://www.gnu.org/software/emacs/manual/html_node/elisp/Profiling.html): this seems to be native profiler that can do both time and allocation profiling.

[Emac

[2016-02-23 13:51] gracjan commented on #1177
This particular problem seems to be in your configuration only, so I'm closing this particular issue in favor of more general approach described in #1181.

[2016-02-23 13:51] #1177 closed

[2016-02-23 13:52] gracjan commented on #1176
In #1180 you have another guy that does not want to start sessions and load files immediately.

[2016-02-23 13:58] gracjan commented on #1133
This is great find: https://github.com/haskell/haskell-mode/pull/1175#issuecomment-187692908 .

[2016-02-23 14:05] geraldus commented on #1179
It's tedious but pretty simple.  Can we even further and populate this things using Travis automatically when merging stuff in master branch?  For example create some template files, and make Travis generate required lists running same command for custom set of compilers then run normal build and test routine and finally somehow commit these files to master?
Or maybe to have some submodule git rep

[2016-02-23 14:29] gracjan commented on #1179
Yes, automation is king.

I think we should have a script that adds items to lists. So when a new compiler version is released all the missing flags or extensions are added to the list. Each item on the list could have attached a version of the compiler when it was seen first time.

The lists should just accumulate stuff, so that completion can propose any of the options of any of the versions of

[2016-02-23 14:33] geraldus commented on #1176
Well, I start session basically to have nice completions, this speeds up my workflow significantly, in past I used REPL to play with code rarely.  This is because of two things: I wan't used to REPL interactions in general, and when I got used to, there were some notable difference in performance when Emacs REPL outputs a lot of stuff comparing to REPL running in terminal.  But my recent tests sho

[2016-02-23 14:45] geraldus commented on #1179
One last caveat how to generate keyword list or just leave it hard-coded?

[2016-02-23 14:50] gracjan commented on #1179
Hard coded. This does not change that often :)

[2016-02-23 16:44] gracjan commented on #1181
So far so good, some code:

[code]

Running it with:

[code]

gives:

[code]
[code]

[2016-02-23 16:49] gracjan commented on #1181
Note that performance framework will most probably conflict with code coverage tracking, because code coverage needs to do its own allocations. It might be possible to filter out those allocations.

[2016-02-23 17:43] gracjan commented on #1181
Memory allocation seems to be stable (same number) between batch runs of the same version of Emacs, but it is not stable between versions.

CPU time is not stable at all.

[2016-02-23 17:48] gracjan commented on #1181
Nice performance trick: https://github.com/gareth-rees/p4.el/issues/112

[code]

[2016-02-23 20:29] lyro commented on #896
Maybe it is possible to change the implementation of `evil-open-below`. AFAICT its behaviour should be equivalent to moving point to eol and then pressing return. The reason for the current implementation using `indent-according-to-mode` is historical: this worked best in Emacs 23. In particular, the command bound to RET is often redefined in modes (or by the user), it might be `newline`, `newline

[2016-02-23 21:11] fice-t commented on #896
That sounds nice. I edited `evil-insert-newline-below` to use `(execute-kbd-macro (kbd "RET"))` instead of `(insert "\n")`, and that makes `evil-open-below` work as expected in Haskell. `evil-open-above` can be changed in a similar way (plus changing the `evil-move-to-beginning-of-line` call in `evil-insert-newline-above` to `(evil-move-end-of-line 0)` with no `forward-line` call) to work as well.

[2016-02-23 22:12] geraldus commented on #1176
I'll close this for now

[2016-02-23 22:12] #1176 closed

[2016-02-24 10:36] geraldus commented on #871
I did some research.

+ start a new session for some haskell project
+ now REPL completions is available when editing Haskell files
+ go to REPL buffer
+ enter multi-line editing mode: type `:{` hit <kbd>RET</kbd>
+ go back to Haskell file you edited before
+ now completions is not available

Likely, all this is because when REPL in multi-line mode it does not evaluate received commands and does n

[2016-02-24 10:51] geraldus commented on #896
@lyro thanks for your quick response! (:
I've tested how open-below works in NeoVim and it looks like it does not make something special, it just enters newline and moves cursor according to previous line, e.g. to first non-blank column.  One solution may be copy white+tabs from preceding line and paste them after new line char, but this looks like a dirty hack.  Another (possibly better solution)

[2016-02-24 16:23] geraldus opened #1182 "[Discussion] Deprecate haskell-mode-contextual-space"
This is from online haskell-mode manual

`haskell-mode-contextual-space`<sup>[[1]]</sup> seems not to be used at all these days and is not bound to any key sequence<sup>[[2]]</sup>.  It provides following functionality:
+ prompt user to select module name when pressed <kbd>SPC</kbd> after `import` keyword (using `haskell-complete-module-read`)
  + it does not provide qualified import support
  + m

[2016-02-24 18:41] ozataman opened #1183 "Paredit M-s no longer works after upgrade to 13.18"
Apologies if this is a known issue - a quick search for "paredit" did not reveal any issues.

Just upgraded via the package manager to 13.18 and my paredit in Haskell files started acting strangely. Most notably, I can no longer get rid of parentheses from within them using M-s.

Example:

I want `(map go m)` to become `map go m`. I used to be able to put cursor on, say, "go" and hit M-s and the p

[2016-02-24 22:02] bergey commented on #1183
Short term fixes include using `sp-splice-sexp` (from `smartparens`) or setting `(setq forward-sexp-function nil)` in Haskell buffers.  The latter may break other things, I'm not sure.

I haven't figured out what `haskell-forward-sexp` is doing wrong.

[2016-02-25 21:03] geraldus commented on #215
Sorry for extra noise on this, but I decided to clarify type signature and info aspects a bit.

We do not want to depend on extra tool in haskell-mode itself, and due to GHCi does not provide an ability to get type signatures and info among with completion candidates yet the only way to provide this data (both for `auto-complete` and `company-mode`) would be send REPL another command after candida

[2016-02-25 21:48] geraldus opened #1184 "Extend non-interactive completions for identifiers from TAGS"
+ [x] make `hasktags` to work in non-interactive mode too
+ [x] combine TAGS completions with haskell-completions in non-interactive mode
+ [x] bring some light about this in docs
+ [x] interactive mode should override completion functions hook (as it does now)

Look like we can improve static completions to provide identifier and module name completions too making use of tags.

I need some time t

[2016-02-27 17:42] ozataman commented on #1183
@bergey Thanks for the tip on smartparens - looks pretty good so far!

[2016-02-27 17:59] geraldus commented on #1183
@bergey any chances you will have a time to find real issue and fix it?

[2016-02-27 18:20] bergey commented on #1183
@geraldus That seems unlikely, I'm afraid.  Not any time soon, certainly.

[2016-03-02 01:25] bitemyapp opened #1185 "Syntax highlighting is broken for list comprehensions"
![screenshot from 2016-03-01 19-25-02](https://cloud.githubusercontent.com/assets/320177/13447731/5ea979f6-dfe3-11e5-947e-790c89c291e5.png)

Result of running `chris-done` style from hindent on some Yesod code.

[2016-03-02 01:31] geraldus commented on #1185
I also use similar style, but I believe it does not matter and this is related to recent quasi-quoters updates.

Thank for report.

[2016-03-02 22:46] johnw42 opened #1186 "Incorrect indentation for 'let' inside list comprehension"
Using haskell-indentation mode, I only get the indentation option marked "2" in the example below.

    foo = [undefined |
           let _ = undefined,
           1       2

I believe 1 is the only correct indentation, because of the comma after the 'let' clause. If I go ahead and continue the code like this...

    foo = [undefined |
           let _ = undefined,
           _ <- undefined

...th

[2016-03-02 22:55] johnw42 commented on #1186
I just found a strange workaround. If I rewrite the code like this, it still tries to indent incorrectly, but I at least don't run into parse errors on the following lines:

[code]

[2016-03-03 00:17] geraldus commented on #765
I think this is not relevant now.

[2016-03-03 00:17] #765 closed

[2016-03-03 00:30] geraldus commented on #900
Due to `ghc-show-type` is not a part of `haskell-mode` I'll close this, `haskell-process-do-type` (and `haskell-mode-show-type-at`) inserts type signature in presence of universal prefix arg.

[2016-03-03 00:38] geraldus commented on #739
This is still relevant.  @gracjan are lexemes allow us now to easily grab operator bounds for both infix and bracketed forms?

[2016-03-03 03:40] fice-t commented on #1186
Are you on the latest version with the default settings? I appear to get something different:

[code]
and I don't get any error. Though I agree that it should indent aligning to the `let`.

[2016-03-03 13:41] geraldus commented on #1186
If I'm not mistaken, indentation should not throw exceptions now.

[2016-03-03 15:22] mx4492 commented on #90
The fix mentioned in https://github.com/haskell/haskell-mode/issues/90#issuecomment-15070662 did not work for Emacs 24.5.1 and haskell-mode 20160117.1345. The default hook does not have `turn-on-haskell-indent` in there anymore. Instead, when haskell-mode is loaded it calls `(haskell-indentation-mode)` by default (expecting it to be overridden by items in the hook).

The following alternative work

[2016-03-03 17:49] fice-t commented on #1133
I don't believe that we should put this in `post-command-hook` (as far as I can tell, `cc-mode` doesn't use that approach either). I'm unsure about using `electric-indent-mode` but it does make the code shorter. The following should work:

[code]
We'd have to turn off `electric-indent-inhibit` of course.

[2016-03-03 22:34] fice-t commented on #1133
Actually, looking a bit more closely, the above won't cut it. I thought that `electric-indent-functions` would only be called after typing one of `electric-indent-chars`. Apparently `electric-indent-functions` gets called after *every* character typed, and if one of the functions returns true *or* the character typed was in `electric-indent-chars` then it indents.

So now I'm really against using

[2016-03-04 00:40] geraldus commented on #1133
@fice-t very nice!  Will you send a pull request for this?

[2016-03-04 02:37] johnw42 commented on #1186
I checked with the latest source and it's not throwing exceptions.

[2016-03-04 05:03] geraldus commented on #1186
@johnw42 nice! So can we close this now?

[2016-03-04 17:06] fice-t commented on #1133
I could, but I don't think it's a good way to go about it. Wouldn't just defining the electric functions as needed be a better solution since nothing meaningful would be added to `post-self-insert-hook`?
(`cc-mode` does this, though in their case they need to do it as the electric keys have different behaviour).

I have a solution for it that I can post later, which is slightly more involved. Inst

[2016-03-04 17:11] fice-t commented on #1186
I'd say to leave it open as the main problem still stands -- it's not indenting correctly.

[2016-03-04 17:39] geraldus commented on #1133
@fice-t maybe customizing `electric-indent-chars` should be sufficient if we'll implement `haskell-mode-electric-indent` function and add it `electric-indent-hook`?

[2016-03-04 17:44] geraldus commented on #1186
Oh, I've overlooked this.

[2016-03-04 17:44] fice-t commented on #1133
Unless I misunderstand, that was my previous approach -- `electric-indent-functions` would be called after every `self-insert-command`, and typing characters in `electric-indent-chars` would unconditionally re-indent, which is not what we want.

[2016-03-04 18:02] geraldus commented on #1133
@fice-t I can't remember have you tried to implement some function which should decide what to do in your previous approach?

_Sorry, I have weak mind today, all this indentation stuff is still messy in my head.  I'm more inclined in direction to provide just semantic indentation support but not aesthetic (as was recently discussed in #1178) leaving this to third party packages.  For now I'm confu

[2016-03-04 18:48] fice-t commented on #1133
Yeah, the problem is that `electric-indent` (to my understanding) will indent automatically if at least one of these is true:

1) A function in `electric-indent-functions` returns true
2) The character typed is in `electric-indent-chars`

So we can't just add special characters to `electric-indent-chars` because then when typing these characters it will pretty much always indent (it doesn't go thr

[2016-03-04 18:53] geraldus commented on #1133
Ah, so, due to Haskell have indentation related syntax the real solution would be not to customize `electric-indent-chars` but rather implement `haskell-mode-electric-indent` function, wouldn't it?

[2016-03-04 19:00] fatlazycat opened #1187 "Choosing a test target using Stack"
Hi, probably my own lack of knowledge but I use haskell-session-change-target to set the target to be the test of my cabal file within a stack project.

When I start the repl it fails to find modules defined within the test target.

What obvious stupid thing am I doing wrong ? :)

Thanks

[2016-03-04 20:46] geraldus commented on #1187
@fatlazycat how do you start your REPL by the way?

[2016-03-04 20:52] geraldus commented on #1187
`haskell-session-change-target` also fails for me when I select executable.  What is the purpose of target selection, usually I'm either reloading file in REPL <kbd>C-c C-l</kbd> or running build command <kbd>C-c C-c</kbd>.

[2016-03-04 22:58] fice-t commented on #1133
Yeah, I think so. The below does just that:

[code]

`haskell-electric-command` is basically the same as the above except it handles the input of the character as well.

`define-haskell-electric-keys` is a macro that both creates the `defun`s for the electric keys and their keybindings. So it will create `haskell-electric-comma` and in `haskell-mode-map` bind it to `,`, and so on.

[2016-03-05 08:35] fatlazycat commented on #1187
In a test haskell file, i do haskell-session-change-target then start the repl ( I'm using spacemacs ) SPC m s b to load the current file into the repl which i believe is fn haskell-process-load-file

[2016-03-05 09:44] gracjan commented on #1186
We have had a test case for that for a long time already:

https://github.com/haskell/haskell-mode/blob/master/tests/haskell-indentation-tests.el#L206

Just need a volunteer to fix this. It should not be that hard.

[2016-03-05 11:25] gracjan commented on #1185
Does this code parse in GHC when TemplateHaskell is enabled?

[2016-03-05 11:26] gracjan commented on #1185
No, it does not:

[code]

[2016-03-05 11:37] gracjan commented on #1182
Agreed. Last time a guy tried to use it he was burned in #572. Just remove it, no deprecation needed.

[2016-03-05 11:49] gracjan commented on #1183
This issue was fixed by #759.

@ozataman: for now either use workaround provided by @bergey or use the git version of haskell-mode.

[2016-03-05 11:49] #1183 closed

[2016-03-05 11:53] gracjan commented on #1117
Actually we should have some content first, then dress it nicely.

[2016-03-05 12:01] geraldus commented on #1185
I tested this.  Adding spaces around variable in Chris' example fixes fontifycation.  So, should we force users to always put surrounding spaces even if Template Haskell is not enabled?

Here is some complicated example:

+ to support both options we have to check cabal file for default extension enabled for current file and a list of pragmas defined in file itself
+ in this case we can adjust lex

[2016-03-05 12:04] vlatkoB opened #1188 "haskell-mode and delete-trailing-whitespace delete content of buffer on save"
This is one very, very strange bug.
Happens on  GNU Emacs `25.0.50.2` (x86_64-pc-linux-gnu, GTK+ Version 3.10.8), Mint,
but not on     GNU Emacs `24.5.1` (x86_64-unknown-linux-gnu, GTK+ Version 3.16.6), Arch

I tested to get most minimal example and here it is.
- Create empty .emacs.d/
- Put init.el:
[code]

- Create .emacs.d/elpa dir and copy just haskell-mode in
  (notice haskell-mode is not eve

[2016-03-05 12:05] gracjan commented on #1185
First QuasiQuote syntax required a `$` like this:

[code]

Then somebody decided to make the lexing ambiguous.

Overall I find this frustrating. There are plenty of `$` in Haskell in useless places just before `do`:

[code]

How about removing requirement for useless dollars and using then where they are actually useful?

[2016-03-05 12:08] gracjan commented on #1154
Note that `deriving` can be on its own line, too:

[code]

[2016-03-05 12:08] geraldus commented on #1182
Will do in few hours

[2016-03-05 12:11] geraldus commented on #1182
@gracjan by the way how long we keep obsolete code in?

[2016-03-05 12:14] gracjan commented on #1182
We do not have specific rules about deprecation.

[2016-03-05 12:23] gracjan commented on #1188
Related #395.

[2016-03-05 13:04] vlatkoB commented on #1188
Are you sure? I think this started to happen few months ago. But occasionally, so I didn't investigate.
I can't believe no one has noticed this before.

[2016-03-05 14:26] bgamari commented on #1185
@gracjan I agree that the ambiguity in quoting syntax is a bit unfortunate. I've opened a [GHC ticket](https://ghc.haskell.org/trac/ghc/ticket/11679) to track the ambiguity here. In short, Simon removed the requirement for a dollar sign in 2010, with the intent of removing the old syntax entirely. Given how long ago this was, I suspect it is too late to revert this change.

[2016-03-05 15:49] fice-t commented on #1188
Works in Emacs `25.0.92.1` -- you can try it [here](https://lists.gnu.org/archive/html/emacs-devel/2016-03/msg00024.html).

[2016-03-05 16:18] geraldus commented on #1188
Also works for me in Emacs `25.0.91.1`

[2016-03-05 17:50] gracjan commented on #1185
Thanks @bgamari. So what do we do with the pink flood in @bitemyapp screenshot?

[2016-03-05 18:01] neongreen opened #1189 "Indentation is broken for quasiquotation with quote symbols"
[code]

After pressing Enter after `do`, the cursor is at the position marked with `_`, which is rather wrong.

This doesn't happen when:

  * quasiquotation isn't present
  * or `"Cancel"` is removed
  * or quotes around `"some text"` are removed

[2016-03-05 18:39] gracjan commented on #1189
Thanks for the report. Can you add a test case in `tests/haskell-indentation-tests.el`?

[2016-03-05 18:41] neongreen commented on #1189
Sure.

[2016-03-05 18:48] geraldus commented on #1185
I'm afraid all we can is to offer surrounding spaces.

[2016-03-05 18:52] gracjan commented on #796
Reopening as this does not seem to be solved good enough with #1032 (i.e. I have bad feelings but no proof yet).

[2016-03-05 18:55] bgamari commented on #1185
It's a tricky question; here are various thoughts in no particular order,

 * As I said earlier, I think dropping the requirement for a dollar sign was a mistake, but any attempt at reverting this change would take several GHC releases (e.g. years) since it would be a breaking change.
 * it's a shame you can't rely on the presence of a `LANGUAGE QuasiQuotes` pragma to modify the parser behavior si

[2016-03-05 18:57] gracjan commented on #796
Yes, `sp-forward-slurp-sexp` usually bound to <kbd>C-right</kbd> calls `indent-region-function` without looking at `sp-no-reindent-after-kill-modes` and messes up the layout.

[2016-03-05 19:09] gracjan commented on #796
`smartparens` will also interact poorly even if `haskell-indent-region` is implemented properly. Consider:

[code]

And now use `sp-splice-sexp` <kbd>M-s-d</kbd> inside the parentheses:

[code]

Layout is already messed up and even properly implemented `haskell-indent-region` cannot salvage the meaning of this program.

[2016-03-05 20:50] #1182 closed

[2016-03-05 20:53] geraldus commented on #1171
@gracjan can you take care about section 4.3 of manual?

[2016-03-05 22:02] geraldus opened #1194 "Write a script for generation some hard-coded stuff"
Write script(s) to generate:
for Haskell Doc mode
+ [ ] a list of Prelude identifiers (`ghc -e ':bro Prelude'`)

for Haskell Completions package
+ [ ] a list of supported extensions (`ghc --supported-extensions`)
+ [ ] a list of supported GHC options (`ghc --show-options`)

+ [ ] collect all this stuff in some elisp file
+ [ ] `haskell-doc-prelude-types`, `haskell-ghc-supported-extensions`, `haske

[2016-03-05 22:03] gracjan commented on #1171
Okay. Maybe not that soon, but yes...

[2016-03-05 22:05] geraldus commented on #1171
Cool, then I can proceed with some other stuff.

[2016-03-05 23:36] geraldus commented on #1184
The best way I can think of is to steal this code from company mode
https://github.com/company-mode/company-mode/blob/250ca1c395c6f05b733abce69a2d928b6cd31618/company-etags.el#L62-L84

[2016-03-05 23:43] geraldus commented on #702
I have updates this list a bit

[2016-03-05 23:49] geraldus commented on #30
<kbd>RET</kbd> now copies line to prompt (#457)

I vote to close this

[2016-03-06 00:14] geraldus commented on #1184
Ok, let's not complicate things!  I have a better solution.  Default value of `completion-at-point-functions` is `(tags-completion-at-point-function)`, so let's
+ in `haskell-mode` set `completion-at-point-functions` to
[code]
+ in `haskell-interactive-mode` set `completion-at-point-functions` to
[code]
This should give tags completions in static mode without even without any completion backend.

[2016-03-06 00:18] geraldus commented on #164
Looks like I misunderstood the subject when wrote my last comment.  Are we talking about TAB-completions in interactive buffer or any haskell buffer?

[2016-03-06 07:13] #30 closed

[2016-03-06 07:14] gracjan commented on #1184
Good idea.

[2016-03-06 07:15] gracjan commented on #164
In inf-buffer.

[2016-03-06 08:53] geraldus commented on #164
Oh, I see now… Also I can delete prompt itself.

I'm not familiar neither with `comint-mode` nor with `inferior-haskell-mode`.  Can someone clarify what is the main advantage of Inf-Haskell comparing to Interactive-Haskell?  Do we really need to keep them both?

[2016-03-06 09:32] vlatkoB commented on #1188
Thanks, I'll upgrade.

[2016-03-06 09:32] #1188 closed

[2016-03-06 09:33] geraldus commented on #1184
Ahh… Tags are generated only when session is present, so basically this won't work well: user must to generate tags manually and visit it manually.  Some features of Haskell Mode require minimal project information, and I often think about such functionality.  I think we should discuss this.

[2016-03-06 09:40] geraldus commented on #496
@gracjan also trying to read value of `whitespace-mode` markers first would be nice.

[2016-03-06 09:43] geraldus commented on #1179
Related #1194
Closing this one

[2016-03-06 09:43] #1179 closed

[2016-03-06 09:45] vlatkoB commented on #1188
Works fine on Emacs `25.1.50.2`.

[2016-03-06 10:20] neongreen commented on #1189
@gracjan: Could you help me a bit?

`haskell-indentation-skip-token` has this code:

[code]

When the point is here, `\s"` treats `|` as a quote character:

[code]

[code]

And when it's inside the quote, it doesn't treat `|` as a quote character anymore but it treats `"` as a quote character:

[code]

[code]

(Moreover, `|` isn't treated as a quote-character outside of the quasiquotation context.

[2016-03-06 10:27] neongreen commented on #1189
Also, what exactly is `haskell-indentation-peek-token` supposed to do? Its idea of “token” seems to be different from `haskell-indentation-skip-token`'s:

[code]

[code]

[2016-03-06 12:05] gracjan commented on #1189
Character properties are added in `haskell-syntax-propertize`. It sets 'generic string delimeter' property on the first and last `|` in quasiquote.

But then I would not rely on this and I'm not sure why peek-token does this. It should just match `"` and `[xxx|` and `|]` and that's it.

[2016-03-06 12:09] gracjan commented on #1184
See #964.

[2016-03-06 12:14] gracjan commented on #164
[`comint-mode`](https://www.masteringemacs.org/article/comint-writing-command-interpreter) is standard for Emacs and a lot of shell-like buffers are based on comint. It uses pseudo terminal. It defines some standard keys and protocols.

On the other hand `haskell-interactive-mode` is not based on anything and codes everything from scratch.

There should be one mode, comint based. Sadly there is cu

[2016-03-06 12:14] gracjan commented on #1188
Nice to hear!

[2016-03-06 12:17] gracjan commented on #702
I'd direct people from README to the manual, or actually even better to the (not yet existing) web page here http://haskell.github.io/haskell-mode/.

[2016-03-06 15:14] geraldus commented on #164
Can anyone

+ clarify why

  (what good reason were taking this way?)

+ write some summary overview for both modes

When I installed Haskell Mode very first time Interactive Mode was already mentioned as successor of Inferior Mode, so I have never tried the latter, hence I would take "make Haskell Interactive mode comint based" approach and deprecate Inferior Haskell personally, but anyway we nee

[2016-03-06 16:21] geraldus commented on #1184
@gracjan aha.  I though about some very simple `.cabal` file lookup in static mode (just for tags generation, enabled extensions and modules related to current file); though it looks very simple I guess the complexity is hidden underneath, for example cashing issues and etc.

[2016-03-06 16:25] geraldus commented on #964
Other question, should be generated tags table visited automatically?  Recently Emacs start to ask me almost every time I call `magit-status` something like this "TAGS was updates, visit new file?", and it annoys me (I'm not certain but I think this is started after `projectile` installation).

[2016-03-06 16:25] geraldus commented on #964
Before calling `hasktags` should we make some `.cabal` file lookup first?

[2016-03-06 17:54] gracjan commented on #164
Survey results from 2013 suggest that `haskell-interactive` was 2.5x less popular than `inf-haskell`. We do not know if these modes achieved parity by now, might be `inf-haskell` is still the go to mode for most Haskellers out there.

Personally I'd cater to long time haskell-mode users and made them exceptionally happy. They are our solid user base and best evangelizers.

[2016-03-06 18:53] gracjan commented on #1109
I'm okay with this plan.

[2016-03-06 20:00] gracjan opened #1197 "Refactor `haskell-indentation-phrase-rest`"
`haskell-indentation-phrase-rest` has special cases for `if-then-else`, `let-in` and something for `->`. This is not common code for these cases so split into specific functions and refactor.

[2016-03-06 21:04] fatlazycat commented on #1187
Is the there a difference given I would start a stack repl with
[code]
?

[2016-03-07 01:25] MichaelXavier commented on #964
@geraldus I'm not sure if this will solve your case but you may want to set `tags-revert-without-query` to `t`.

[2016-03-07 21:59] geraldus commented on #964
@MichaelXavier thanks, I'll give it a try.

[2016-03-08 11:44] fatlazycat commented on #1187
Ah, can get it to work if I type that pattern when i do haskell-session-change-target so can work around it.

Guess the targets are just incorrect as it's just showing the cabal versions ?

[2016-03-08 13:54] geraldus commented on #1187
@gracjan can you help with this?  I have no much experience personally.  I guess target selecting makes some sense when running <kbd>C-c C-c</kbd> `haskell-process-cabal-build`.  I'm not sure.

[2016-03-09 09:24] gracjan commented on #1187
I tried to understand what you are talking about here but no avail. I'm lost. What is the problem again?

[2016-03-09 09:35] fatlazycat commented on #1187
Sorry, when showing the targets for ```haskell-session-change-target``` for a stack based project I see the cabal entries for executables & test suites.

But when attempting to use any, such as the test target, it does not start CHCI correctly.

I assume it's running the command ```stack ghci test-suite```

But as far as I understand for a stack project you want to invoke it as

```stack ghci proj

[2016-03-09 09:46] gracjan commented on #1187
Ah, now it is clear as sun.

You are right that command line invocation is the same for cabal and stack projects, as I see it started to diverge. We have to split this functionality into two: cabal and stack.

Should not be that hard. @fatlazycat, are you able to look at this?

[2016-03-09 10:13] fatlazycat commented on #1187
Sure will try and take a look.

[2016-03-09 10:24] gracjan commented on #1185
@bitemyapp, seems like we cannot do much here. I've reported this issue to `hindent` https://github.com/chrisdone/hindent/issues/180 so that it does not generate invalid code when `QuasiQuotes` are enabled.

Syntax ambiguity is very unfortunate.

[2016-03-09 10:24] #1185 closed

[2016-03-09 10:29] gracjan commented on #871
Hmm, so basically haskell-mode would need to track if GHCi is currently in mulitline mode by checking when it enters multiline mode and when it exits multiline mode.

This is too much to ask for.

Solution for now is:
- do not use multiline mode with GHCi
- start using haskell-ide-engine when it is ready

I'm sorry but we have too much work in other places of haskell-mode to support multiline mode

[2016-03-09 10:31] gracjan commented on #830
We will need to see the source code file to debug this issue. @mageshb, can you provide it?

[2016-03-09 10:32] gracjan commented on #1187
Great!

[2016-03-09 10:35] gracjan opened #1200 "Automatic ghci-ng/ghci-8.0 support for :set +c"
Support for `:complete` command requires `:set +c` in the beginning of a ghci session. We should support this out of the box:

1. Issue `:set +c` unconditionally for every GHCi session started.
2. Look for response, if there was an error mark session as incapable of `:complete`.
3. Use this marker to either issue `:complete` commands of not.
4. Remove from documentation mentions of `:set +c` in `.

[2016-03-09 10:37] #1189 closed

[2016-03-09 10:41] gracjan commented on #721
The consensus so far is that binding <kbd>DEL</kbd> is not the best usability option and should not be done. <kbd>S-TAB</kbd> works more predictably.

[2016-03-09 10:41] #721 closed

[2016-03-09 10:42] gracjan commented on #650
Closing in favor of #1180, there is more information there.

[2016-03-09 10:42] #650 closed

[2016-03-09 10:44] gracjan commented on #735
Hmm, can we somehow push this forward?

[2016-03-09 11:21] gracjan commented on #823
Further research shows that using `prettify-symbols-mode` with `haskell-mode` requires significant hacks to make it aware of all the lexical conventions for Haskell:

1. Know when `.` is an operator and not `forall` separator or module separator.
2. Know when operator starts and where it ends.

This is doable in Emacs 25 thanks to [`prettify-symbols-compose-predicate`](https://lists.gnu.org/archiv

[2016-03-09 12:01] gracjan commented on #824
This is done.

[2016-03-09 12:01] #824 closed

[2016-03-09 12:02] gracjan commented on #734
@bergey, were you able to push this forward?

[2016-03-09 14:14] geraldus commented on #871
@gracjan let's keep this open as a reminder.  I have many thoughts about interactive Haskell improvements (and going to spend some time on it).

[2016-03-09 14:15] geraldus commented on #871
Just add some labels such as milestone infinity, won't be fixed in near future.

[2016-03-09 14:17] geraldus commented on #1200
@gracjan `:complete` forks fine in GHC 7.10+ without `+c`!  But  `:type-at` does not

[2016-03-09 14:24] geraldus commented on #735
@gracjan I didn't had GHCi-ng last few months, but now I have GHC 8.  GHCi-ng's features are merged in GHC 8 and I was asked to test Haskell Mode functionality with v8.  I need to configure test environment somehow, then I will be able to take care about this stuff and I also want to exploit `type-at` a bit more, for example provide an option allowing Eldoc to get type info via `type-at` command i

[2016-03-09 16:47] cpitclaudel commented on #823
One significant advantage of moving to prettify-symbols-mode is that you'll automatically benefit from the extensions that it will get in the future. A simple example is the new `prettify-symbols-unprettify-at-point` variable:

[code]

[2016-03-09 16:57] geraldus commented on #823
Oh, great!  @cpitclaudel can I use this (with your code snippet) in Emacs 25.0.91.1?  Also, does it visually breaks layout?

[2016-03-09 19:17] gracjan commented on #871
We can reopen anytime anybody has something useful to add. Resolution for now is that we aren't going to implement this, sadly it is too much.

[2016-03-09 19:18] gracjan commented on #1200
Aha. Anyway I would do `+c` by default.

[2016-03-09 19:25] gracjan commented on #823
@cpitclaudel: true. I wonder how to make it work. Basically at every symbol haskell-mode would need to check if it really should be composed, that can be achieved in at least two ways:

1. Move back to preceding whitespace, beginning of line or other safe character that will never be part of symbol and to do lexical analysis again. This means a bit of double work.
2. Make haskell-font-lock put add

[2016-03-09 19:30] geraldus commented on #823
I think extra memory is OK at present days (:

[2016-03-09 19:32] geraldus commented on #1200
I have this in my `~/.ghci` for ages :D

[2016-03-09 19:47] gracjan commented on #823
It might me both slower AND extra memory at the same time. Reparsing a line is a no brainer really.

[2016-03-09 19:48] gracjan commented on #1200
We have this is documentation and that irks me. It should JustWork (tm).

[2016-03-11 15:45] geraldus commented on #964
So, what is the plan?  Should we try to look up cabal file first going upward for some fixed depth?  If this is a case, should we:
a) parse cabal file to check if current file is listed as module in any project section
b) cache cabal file location somehow?

[2016-03-11 16:24] gracjan commented on #964
`haskell-cabal.el` already has this functionality.

This issue is about implementing exactly same functionality as right now, just in a more direct manner. So:

1. Find .cabal file going upwards in directories.
2. Execute `hasktags` there.

That is all.

[2016-03-11 18:40] fatlazycat commented on #1187
@gracjan from http://docs.haskellstack.org/en/stable/build_command/#target-syntax the targets have changed for build etc as well as ghci . Can you see any reason why I wouldn't change the targets it gets from the cabal file for haskell-cabal-enum-targets ?

[2016-03-12 08:48] gracjan commented on #1187
We still support plain `cabal` so we cannot drop old target syntax.

[2016-03-12 08:49] fatlazycat commented on #1187
Hi, yes just wondering if change the syntax when using stack ? Likely to break anything else ?

[2016-03-12 09:20] gracjan commented on #1187
Stack has its own documented syntax and we should be using that.

[2016-03-12 12:55] gracjan commented on #1122
Further lessons:

1. I'm still not sure how reparsing works. Luckily this can be left as exercise for next generation parser.
2. Haskell grammar is horribly complicated. It took me 2 weeks to understand patterns.
3. I was advised to use a testing framework while developing grammar. It seems we have to create a framework as there is nothing out of the box present out there.

[2016-03-14 09:47] gracjan opened #1206 "Invent a way to test external programs integration"
`haskell-mode` invokes many external programs. There is a need to have integration tests for such interactions so that we can ensure smooth cooperation. Integration tests is a category of tests that is completely absent from our test suite right now.

Requirements:

1. Integration tests help with development. It should be easier to write an integration test than to do the testing manually.
2. Inte

[2016-03-14 12:33] gracjan commented on #1178
There are indentation scenarios when everybody seems to agree on. These include how to indent after `where`, `do`, `let` and `of`, how to continue when in parenthesized expression `{}`, `()` or `[]`, how to continue with `,` and `;` at the end of line or at the beginning of line. That seems to be solid consensus.

A bit of a question is how to indent the `where` keyword itself.

The big question i

[2016-03-14 12:51] gracjan commented on #379
So, grepping for offending functions:

    $ grep haskell-indentation-delete *.el

shows zero results. I guess we were taling about previous version of `haskell-indentation-mode`. Current one tries to bind neither <kbd>DEL</kbd> nor <kbd>BACKSPACE</kbd>.

[2016-03-14 12:51] #379 closed

[2016-03-14 12:53] gracjan commented on #351
@geraldus: can you try to reproduce this issue in GHCi so that we know when GHCi returns a file name and when it returns module name?

[2016-03-14 12:54] gracjan commented on #215
@geraldus: Can you create this new issue for this topic? This one has grown out of manageable state.

[2016-03-14 12:58] kostya-sh commented on #379
Yep, it works now. I haven't use haskell recently so I am not sure when it got fixed though.

[2016-03-14 14:47] geraldus commented on #1178
Yes, `where` keyword is tricky, often I see people have 4 spaces as indent unit but indent `where` using only two.  Personally, I use two spaces everywhere and indent `where` this way:
[code]

[2016-03-14 16:24] PierreR opened #1209 "Error: (void-function haskell--rx-let)"
I have just updated `haskell-mode` to `20160314.416` from elpa  and I have got the following error:
[code]
It is probably due to a recent commit because if I use `20160309.237` the error disappears and I can use `haskell-mode` again.

PS: using `spacemacs with NixOS 15.09`

[2016-03-14 17:09] nomicflux commented on #1209
Same issue, using `spacemacs` on `Kali 2.0` (which I believe uses packages from `Debian "jessie"`), as well as on `Windows 10`.

[2016-03-14 17:28] gracjan opened #1210 "Check if `haskell-mode-autoloads.el` really loads"

[2016-03-14 17:29] gracjan commented on #1209
Already fixes with 86b6ffd148451e313b7cacaafd614d1a49ee3c98

[2016-03-14 17:29] #1209 closed

[2016-03-14 17:47] nomicflux commented on #1209
Made the same change in haskell-c2hs.el, removing `;;;###autoload` in front of `c2hs-font-lock-keywords `; still getting `(void-function haskell--rx-let)` when loading Emacs, rendering haskell-mode unusable.

[2016-03-14 18:23] gracjan commented on #1209
You needs also run `rm haskell-mode-autoloads.el` and `make haskell-mode-autoloads.el`

[2016-03-14 22:25] nomicflux commented on #1209
Perfect - that worked.

[2016-03-15 09:22] geraldus commented on #735
Well, the first thing we should do is to fix `haskell-ident-pos-at-point` for operators.

[2016-03-15 09:31] geraldus opened #1213 "haskell-ident-pos-at-point does not work for operators"
`haskell-ident-pos-at-point` returns `nil` when point stands at operator.  I believe it should work for them too.  We have two cases: infix and normal form.  I believe for normal form this function should take into account surrounding parentheses too.

One caveat: it's not clear what to do when point is at operator in unfinished expression preceded by opening parenthesis, e.g. `(++`.  It may refer

[2016-03-15 09:47] gracjan commented on #1213
One more thing to observe is qualified operators: `a Control.Monad.>>= b`, `(Control.Monad.>>=) a b`

[2016-03-15 11:23] gracjan commented on #1210
Fixed by #1211.

[2016-03-15 11:23] #1210 closed

[2016-03-15 19:06] geraldus commented on #1213
I'm confused a bit.  `haskell-ident-pos-at-point` uses `(skip-syntax-forward "w_")` and `(skip-syntax-backward "w_")` to determine initial boundaries of expression.  These functions return `0` when point stands at operator symbols, however `(char-syntax (point))` returns me `?w`.  Also, skip-syntax functions stops at `.`, this is bad in case of operators.  @gracjan can you suggest something?  Can

[2016-03-15 19:27] geraldus commented on #351
I have no clue how to reproduce module name issue in GHCi itself.  I played with `:info` command (which is used under the hood) but it always prints me file location.  The simplest way to resolve this issue I see is to examine value returned by `haskell-mode-find-def` in `haskell-mode-jump-to-def-or-tag` directly rather than calling `haskell-mode-handle-generic-loc`.  The latter function is culpri

[2016-03-15 20:43] geraldus commented on #1213
Hmm… I think this much involving that seems to be.

Actually, `haskell-ident-pos-at-point` is `haskell-ident-pos-backward-near-point`, because it skips preceding whitespace first and then tries to determine identifier bounds.  I think this is what we _have_ to do:
+ [ ] find all use cases of `haskell-ident-pos-at-point`
+ [ ] analyze that list and understand what this function should return, e.g.

[2016-03-15 20:44] gracjan opened #1216 "Add tests for external dependencies"
We know there are other elisp packages that depend on haskell-mode. Sometimes we happen to break them, usually those breaks easy to detect because those are about function or variable renamings.

Easy test is to install such a package and see if it loads. Sometime later we can have more sophisticated tests.

Packages:

- [ ] ghc-mod
- [ ] spacemacs
- [ ] flycheck-haskell

Tasks:

1. Create a new `

[2016-03-15 20:46] gracjan commented on #1213
`haskell-lexeme` knows how to do syntactic analysis from beginning to the end. Finding things around point requires a bit more cleverness.

[2016-03-15 21:48] geraldus opened #1217 "Improvements for Haskell-Cabal mode"
Current implementation of `haskell-cabal--get-field` is quite simple and is not very helpful.  It takes field name as argument and then simply tries to find `:NAME` pattern in current buffer.  It returns value of first field occurrence.  So, if I want to get build dependencies of test section coming after library section in my cabal file it won't help.  Also, it reads value as multi-line string un

[2016-03-16 11:38] gracjan opened #1218 "Require at least Emacs 24.3 or properly support Emacs 24.1 and Emacs 24.2"
Currently `haskell-mode` claims compatibility with Emacs 24.1, this is not true.

Note that our test suite runs properly on both Emacs 24.1 and Emacs 24.2.

Support for Emacs 24.1/2 faces compilation warnings/errors:
- `eval-after-load` signals `"Error: Attempt to modify read-only object"`
- there are issues with `cl` package: function 'cl-find-if' from cl package called at runtime
- `setq-local`

[2016-03-16 15:30] gracjan commented on #1218
Note: since c2hs we are using `setq-local` and nobody reported issues about it. This means people aren't using Emacs 23.2 or less.

[2016-03-16 16:05] gracjan opened #1219 "Emacs 24.4 has eww (in-Emacs browser)"
Consider if we want to kill whatever is in there in the `w3m-haddock.el` file.

[2016-03-17 09:16] gracjan commented on #1117
Done with 5e9e3ddfe3b17dffa791366eda597753296942f2.

[2016-03-17 09:16] #1117 closed

[2016-03-17 13:35] gracjan opened #1220 "Consider event tracking"
At this point we are in the dark about haskell-mode usage and about which parts of haskell-mode are used and in what ways. It is hard to make decisions about priority of optimizations, feature implementation or feature removal.

Insight by automatic event tracking could help a lot knowing what features are actually used and how.

Rough plan:

1. Use [Google analytics event tracking](https://develo

[2016-03-18 07:08] crocket opened #1221 "REPL often hangs inside :{ and :}"
GHCi 7.10.3
haskell-mode 13.18
emacs 24.5.1 built on 2015-09-10
GTK+ 3.16.6

When I type things in :{ and :}, REPL often hangs. I have to press Ctrl+G several times to thaw REPL.

[2016-03-18 07:21] gracjan commented on #1221
Thanks for the report. We have decided to not support multiline ghci because it is hard.

But seems people are hitting the issue very often so we need a volunteer that will invent a way how to support ghci multiline mode in Emacs.

[2016-03-18 08:55] geraldus commented on #1221
@gracjan let me repeat myself with few additions :D
0. the issue occurs because after GHCi entered multi-line mode it can't respond to command, most usually because of auto-completions.
1. this can be avoided if we'll use separate hidden process to get completions, types and etc.
2. or we can pop-up separate buffer when user entered `:{` where he write whole code and then sends it to REPL (this is

[2016-03-18 08:56] geraldus commented on #1221
Let's close this as #871

[2016-03-18 08:56] #1221 closed

[2016-03-18 09:06] geraldus commented on #1213
@gracjan do we have some predicate for operator symbols?  If not should we support only ASCII symbols only or all unicode stuff too (there are very large variety of unicode symbols GHC treats as operator symbol)?

[2016-03-18 09:28] gracjan commented on #871
I'm no longer sure we should not take care of this. There are too many reports from people hitting this problem to ignore it outright.

[2016-03-18 17:20] mmaz opened #1222 "haskell-mode-contextual-space binding on the wiki is preventing space insertion"
Hi, I upgraded haskell-mode today (this was my output from Cask):

[code]
My `init.el` includes [the wiki settings](https://github.com/haskell/haskell-mode/wiki/Haskell-Interactive-Mode-Setup). After upgrading I tried to edit the following line in a `diagrams` file:

`hsep 0.1 (...)`

and I wanted to make the following modification:

`vsep 0.1 [hsep 0.1 ..., ...]`

but when I moved my cursor to th

[2016-03-18 19:40] geraldus commented on #1222
Hi @mmaz ,  yes it was removed in #1191 . Initially I tended to deprecate this function, but then we decided to remove this silently.  Please tell us does these changes broken your workflow?  Was `haskell-mode-contextual-space` really useful for you?

[2016-03-18 19:43] geraldus commented on #1222
Sorry for confusion, I've removed `haskell-mode-contextual-space` from manual, but did not noticed that we have it in Wiki too, GitHub search do not shows me wiki pages.

[2016-03-18 19:46] geraldus commented on #1222
@gracjan how we can make wiki to be consistent with manual in automatically?

[2016-03-18 19:57] mmaz commented on #1222
@geraldus Thanks for the response - the change won't break my workflow. I haven't personally used `haskell-mode-contextual-space` for anything; I only copied + pasted the binding in my `init.el` config from the wiki long ago when I first configured `haskell-mode`

[2016-03-18 20:07] geraldus commented on #1222
Thank you for feedback.  I've removed this from Wiki.

[2016-03-18 20:07] #1222 closed

[2016-03-18 23:23] slpopejoy opened #1223 "Font-lock misidentifying valid non-TH haskell as quasiquote"
To reproduce issue the following code anywhere in a .hs file: `[True||False]`

This will incorrectly grey out from '||' *through the rest of the buffer.*

I came across this because of another valid non-TH case: I defined an binary op `|:`, use it in a list, ie `[1|:2, 3|:4]`, same problem.

There is no workaround other than adding extraneous space, a la #1185 . This is unsatisfactory as a resolut

[2016-03-18 23:25] geraldus commented on #1223
Is this related #1185 ?

[2016-03-18 23:26] slpopejoy commented on #1223
Yes please see desc, I reference it twice.

[2016-03-18 23:26] geraldus commented on #1223
Yeah, sorry, I tried to answer too fast :D

[2016-03-18 23:40] geraldus commented on #1223
As for me, I see the only one right way to solve this puzzle — to take into account file-local pragmas and cabal file pragmas (in case when cabal file is present).  Obviously, this approach requires some caching of project configuration, hence observation of cabal file changes and file-local pragmas.  _But I always try to complicate things, described method is likely would bring some degree of com

[2016-03-19 07:07] gracjan commented on #1213
`haskell-lexeme` can recognize operators properly.

[2016-03-19 07:12] gracjan commented on #1223
[code]

This means that QuasiQuotes can only be started by `varid` and we can rule out `True` because it starts with upper case and rule out `1` because it is a number.

[2016-03-20 08:49] gracjan commented on #1223
@slpopejoy: Can you add test cases for `[1|:...]` and `[True||...]` and mark them as failing? Put it in `tests/haskell-font-lock-tests.el`, thanks.

[2016-03-20 15:02] geraldus commented on #1213
@gracjan great, I've tested `haskell-lexeme-classify-by-first-char` and likely it will help me with operators.  But now I'm confused a little.  `haskell-ident-pos-at-point` is indiscriminate: it works inside string and comments (I've already fixed this); in current implementation it returns spans for any word in buffer (or words sequence concatenated by `.` dots).  This looks a bit odd for me beca

[2016-03-20 21:23] ikirill opened #1225 "Error overlay is put in the wrong place sometimes"
There is a function `haskell-check-paint-overlay` that paints an overlay from an error message that you get after loading a file with `C-c C-l` in an interactive session. Its argument `error-from-this-file-p` is set by `haskell-process-errors-warnings` according to

[code]

https://github.com/haskell/haskell-mode/blob/master/haskell-load.el#L524

But when I am visiting the source file in a directo

[2016-03-20 21:29] gracjan commented on #1213
So GHC parses stuff like this:

- `List.list.list` => `List.list . list`
- `where.x` => `where . x`
- `Module.where` => `Module.where`

Note that in the last case `where` is not a keyword, it is an qualified identifier (although impossible to generate).

So to find real beginning of a qualified identifier we have to go back to a safe character and then move forward (possibly a couple of times). A

[2016-03-21 11:34] geraldus commented on #735
@fatlazycat hi!  Can you please test described behavior (e.g. blank lines) issue with current version of haskell-mode and then with these changes #1224 ?
Note, `:type-at` looks buggy when called over region in the left hand side of declaration (I will open new ticket on Trac explaining the issue).

[2016-03-21 20:25] gracjan commented on #1122
After initial bumps I have the feeling I can have control over this and create a workable Haskell grammar in finite time. Then we can see what to do with this later.

[2016-03-22 09:51] geraldus opened #1227 "Unify haskell-ident functions"
Merge functionality of `haskell-ident-pos-at-point`, `haskell-ident-at-point`, and `haskell-spanable-pos-at-point` into one function.  This function should return a cons cell of form `(BOUNDARIES . VALUE)`, where `VALUE` is a string representing found identifier, and  `BOUNDARIES` is a cons cell of form `(START . END)` representing left and right bounds of identifier.  This function should take op

[2016-03-22 13:01] gracjan opened #1229 "Define `haskell-project.el`"
I sense the need to define what a Haskell project is. Currently we have at least three different competing definitions:

1. A bunch of source files that are rooted in the same directory. This is discovered by counting number of dots in `module A.B.C where`.
2. A cabal project discovered by finding nearest `.cabal` file by going up the directory hierarchy. Then `.cabal` is parsed and some things ar

[2016-03-23 14:53] CarstenKoenig opened #1231 "emacs hangs with "Haskell Process Suggest Add Package""
If I enable this feature everything works fine - the process sees when there is a hidden package used, asks me if I want to include it into the `.cabal` file, includes it in the right places.

But once I get to the point where it asks me if I want to import it into the ghci session emacs hangs until I kill the GHC process from my system with my OS-process manager.

[2016-03-23 15:41] geraldus commented on #1231
@CarstenKoenig can you please clarify a bit, e.g. describe steps to reproduce the issue (sorry I didn't catch where issue occurs exactly)?  Also, can you please test is it possible to un-hang Emacs pressing <kbd>C-g</kbd> several times?

[2016-03-23 16:08] CarstenKoenig commented on #1231
ok - first no hitting `C-g` (a lot) will not change anything.

Indeed the minibuffer seems to be working (the cursor is displayed and you can activate other visible windows but you cannot type nor interact in any way with emacs).

So let's say I have a project - the latest case was a simple yesod-project using stack - and I want to use a function from a package not directly refered in the `build-d

[2016-03-24 13:06] gracjan commented on #1122
I looked at parser source files in GHC itself:

- [Lexer.x](https://github.com/ghc/ghc/blob/master/compiler/parser/Lexer.x)
- [Parser.y](https://github.com/ghc/ghc/blob/master/compiler/parser/Parser.y)

Boy, those are complicated. I do not really see how those could be used to generate Wisent grammars. Moreover as the requirements are substantially different I have the feeling that we might not wa

[2016-03-24 14:30] gracjan commented on #1122
On top of that we may be able to implement incremental with Semantic (although at this point I do not know how). Semantic does not require any additional dependencies and that is a great feature.

[2016-03-24 20:18] geraldus commented on #1184
I'm closing this

[2016-03-24 20:18] #1184 closed

[2016-03-25 09:25] mrkkrp opened #1232 "Regression in indentation logic"
Example:

[code]

First caret shows where `haskell-mode` puts cursor now, the second caret shows where it should be (and it worked until yesterday or so).

[2016-03-25 09:37] mrkkrp commented on #1232
Oh, wait, it does not work in one buffer, but works in another identical buffer. WTF. I'm not going to even investigate it, will indent manually.

[2016-03-25 09:46] gracjan commented on #1232
Might be something just before this confused the parser. Can you paste also two definitions that are directly before this one?

[2016-03-25 09:50] mrkkrp commented on #1232
I mean, even if I create new buffer, enable `haskell-mode` there, then copy all contents of buffer where it does not work, it won't reproduce. But in original buffer it does not work. I have experienced this a couple of times, and I have no idea what triggers this. Sorry.

[2016-03-25 10:09] mrkkrp commented on #1232
Honestly, if you want my opinion, current apporach will never succeed (unless you cover 100% of cases in test suite and probably spend a lot of time hacking it and adjusting).

Have you looked into how Chris Done manages parsing in his Structured Haskell Mode? I believe that for reliable result, some parser on Haskell side should be used (again, what does HLint uses?). You need to run Haskell scri

[2016-03-25 11:06] geraldus commented on #1232
There is no need to predict them, 'cause this is deterministic.  What is required to be predicted is the desired indentation, e.g. where point should go when new-line inserted.  And trying to _predict_ things is not quite smart idea I believe.  If I'm not mistaken both following definitions are valid Haskell:
[code]
So, when user hits <kbd>RET</kbd> after `User` which indentation level should be p

[2016-03-25 11:09] mrkkrp commented on #1232
Well, maybe that term is confusing. By *prediction* I meant just calculation (of coure it's deterministic) of where indentation should be on next line, possibly based on user's preferences.

[2016-03-25 11:11] mrkkrp commented on #1232
I'm just telling you a way to make it robust and bug-free. You can continue trying to make your Lisp parser work, of course.

[2016-03-25 11:34] geraldus commented on #1232
@mrkkrp hey pal, what are talking about?  What you mean by "your parser"?  Neither `haskell-mode`, nor its parser is mine.  Calm down, please.

I agree, that parsing Haskell by Haskell is much better.  However, I think we should not force users to be dependent on external tools.

GHCi itself could help to solve some problems, but again there are many users who do not use and do not like interactiv

[2016-03-25 11:41] PierreR commented on #1232
Well I don't quite mind how the parser is written but I find it is a bit of a shame that simple snippet like these is already difficult to type (I would argue this style is quite common):
[code]

To me, a good indentation mode is my first expectation from a tool such as  `haskell-mode`. That said I am quite aware it is easier to say it than to make it happen ;-)

[2016-03-25 11:47] geraldus commented on #1178
I think that we unnecessarily overcomplicated indentation logic.  Can we follow this principle:

+ collect all possible indentation steps based on tab width and delimiting whitespace from preceding line;
+ pick previous line margin first as default indentation step;
+ indent one step further only iff layout requires it, e.g. indenting new line as previous one will produce invalid Haskell code;

?

[2016-03-25 12:10] mrkkrp commented on #1232
@geraldus, I'm not quite excited yet to need to calm down. I said “your”, because you're an active contributor, so in this conversation I consider you part of maintainer team.

What you describe can be easily handled via combination of preferences/customization and the fact that there may be several indentation positions and user can cycle through them pressing <kbd>↹ Tab</kbd>. But you need to pa

[2016-03-25 12:20] PierreR commented on #1178
If I understand this a bit, it would ease the typing of record declarations
[code]
So :+1:
Thanks for your effort to take a stab on indentation issues.

[2016-03-25 12:45] gracjan commented on #1232
@PierreR: This looks like a bug (or a leftover actually). See #366. Indentation style that aligned expressions after equal sign used to be preferred one, now there is tendency to indent by 2 spaces independent of context. New fashion.

Actually should be rather easy to fix I encourage you to have a look and fix it.

@mrkkrp: I've looked into external parsers and do not see how the available ones c

[2016-03-25 12:53] gracjan commented on #1232
Please continue discussion in #1178.

[2016-03-25 12:53] #1232 closed

[2016-03-25 12:54] geraldus commented on #1232
Though it seems to be a good way to go, there are a lot of customizations in Haskell mode already which end user never discovers.  I believe this is a matter of choice, usually I prefer simplicity in any software preferences, so there is no need to spend hours learning all options I can customize, however sometimes it is required to have ability of fine-grained customizations.  I think that prefer

[2016-03-25 15:33] gracjan commented on #1178
@geraldus, there used to be indentation mode called `haskell-simple-indent`. It differed from you are saying in two important ways:

1. It did not align on tabstops.
2. It analyzed multiple preceding lines so that indentation stops could trickle down unless they were covered by later lines.

In practice it did not work that well because of the whitespace significance. It was removed it pull reques

[2016-03-25 16:56] geraldus commented on #1178
I would be glad to write some code, but currently there are several task I already have assigned myself.  So, if you'll manage to fix `haskell-indentation` it will be really cool.  And I'm still affected by #896 :relieved:

[2016-03-25 17:46] gracjan commented on #1178
Note that #896 is actually one level above. I mean whatever indentation candidate list is generated you have a couple interaction problems, for example:

1. What to do on <kbd>RET</kbd>?
2. What to do on <kbd>RET</kbd> <kbd>RET</kbd>?

And that is a different matter that we need to also solve. But then it requires different skills as it is about user interaction.

[2016-03-25 17:50] gracjan commented on #1178
@PierreR: You seem to affected by #1125. Now a puzzle: how to reconcile the wish to align `=` with `|` and the wish to use 2 spaces only indentation? What is the expected indentation for:

[code]

?

[2016-03-25 17:51] gracjan commented on #1125
@karljs: How do you indent this fragment:

[code]

?

[2016-03-25 17:59] geraldus commented on #1178
Wow, what a tricky case!  Is it valid code?  Normally, I would write:
[code]

[2016-03-26 06:14] gracjan commented on #1178
Note that `haskell-indentation` does not really have the option to split lines it wasn't asked to split.

[2016-03-27 01:00] karljs commented on #1125
I wouldn't claim to have the definitive answer to this, but I would probably do the following.

[code]

This also seems to work fine for me currently.

[2016-03-27 11:27] jfdm opened #1234 "Emacs keeps asking for a TAGS file when TAGS aren't used"
I recently updated my Haskell mode and every time I complete a word, emacs is asking for me to point to a tags file.

The problem is that I do not use tags with emacs, and this new functionality (which might be related to a recent PR #1228) is getting annoying. Is there any chance for this new functionality to be revisited.

[2016-03-27 11:50] jfdm commented on #1234
Actually, this might not be haskell-mode's fault. Disabling company mode did the trick.

Sorry about that will close the issue.

[2016-03-27 12:22] geraldus commented on #1234
@jfdm since recent time company annoys me asking about TAGS too, this is not an issue with Haskell sources, but occurs for me in `magit` buffers.  I was suggested to try `tags-revert-without-query`.

But I believe #1128 indirectly affects you.  @gracjan maybe we should provide tags completions only iff `haskell-tags-on-save` is enabled?

[2016-03-27 12:34] jfdm commented on #1234
Thanks for the quick response, and the tip, will check it out asap.

Further, I was just using plain-old haskell-mode.

Thanks.

[2016-03-27 14:21] PierreR commented on #1178
I would do according to @geraldus.

In the current situation after `data User` (with or without `=` after) then `RET` would jump expectedly below the `t` of `data`.

Isn't it quite surprising that `data User = User`  then `RET` is jumping at the beginning of the line; then pressing `TAB` goes below the equal sign ? Just to support a style that seems quite uncommon.

[2016-03-27 14:35] gracjan commented on #1125
Thanks. We try to reconcile two styles of indentation to reduce a bit of complexity. Hence the question.

[2016-03-27 14:38] gracjan commented on #1234
Reopened as this looks important to me. We should make sure that we do not invade usual workflows unless asked explicitly.

Is there a way to use `TAGS` in completions when present but to not auto-generate them?

[2016-03-27 14:42] PierreR commented on #1178
That said, I would not mind adopting such a style
[code]
or
[code]
or with the equal sign above according to what is the most common style.

[2016-03-27 14:46] PierreR commented on #1178
In any case, the manual should describe what style is currently supported (If it helps I can PR the doc as soon as it is well described).

[2016-03-27 15:01] gracjan commented on #1178
Such a style would be also consistent with other declarations:

[code]

etc.

[2016-03-27 15:47] PierreR commented on #1178
Yep but I have just realized that contrary to what I thought:

data User then `RET` is jumping at the beginning of the line too. So somehow currently `haskell-indentation` is forcing me to use:
[code]
instead of
[code]
As previously mentioned the second one is probably more convenient because we can align `|` with `=` if needed.

[2016-03-27 16:03] #1171 closed

[2016-03-27 16:04] geraldus commented on #1213
Fixed by #1224

[2016-03-27 16:04] #1213 closed

[2016-03-27 16:07] PierreR commented on #1178
As an extra note, who knows why (because I agree with you it is less consistent) the most common style for record seems to be:
[code]
But as I said I would be personally happy to switch and use @geraldus proposition

[2016-03-27 16:32] mineo opened #1235 "Question: Is the wiki still maintained?"
or is http://haskell.github.io/haskell-mode/manual/latest/ the one true source of documentation?

[2016-03-27 16:58] gracjan commented on #1235
We progressively move information to the manual. We need help there as it is a sizeable undertaking.

[2016-03-27 17:01] gracjan commented on #1178
Note that:

[code]

is perfectly valid declaration provided `-XEmptyDataDecls` is in effect. We support this out of the box.

[2016-03-28 12:39] geraldus commented on #1234
The short answer is yes.  But the question is not about generating tags, but selecting tags file.  Using existing file without generation looks wrong, because such tags file can be outdated.

@gracjan I think we should redesign `haskell-tags-on-save` a bit.  In my point of view, this variable should have another name and meaning.  Obviously, the only purpose of tags generation is further usage of

[2016-03-28 15:50] gracjan commented on #1164
Note that this might not be that easy without lexical analysis, for example:

[code]

Here the `in` keyword end the layout.

[2016-03-28 16:00] gracjan commented on #1164
Oh boy:

From: https://www.haskell.org/onlinereport/syntax-iso.html#layout

So basically cannot do lexical analysis while not doing parsing. Ugh.

[2016-03-28 16:03] gracjan commented on #1164
Seems this is impossible without significant parsing machinery. Closing with sadness and tears.

[2016-03-28 16:03] #1164 closed

[2016-03-28 16:07] gracjan commented on #1027
Note that `where` is overloaded keyword in Haskell, because it is used in a couple of places:

- function declaration ... `where`
- `module` ... `where`
- `class` ... `where`
- `instance` ... `where`
- `data` ... `where`

We would like to provide completions where `where` introduces function declaration scope, that is all cases except the `data` ... `where` case when no two constructors should hav

[2016-03-28 16:08] gracjan commented on #1012
@unhammer, can you turn this into proper PR? Thanks.

[2016-03-28 16:14] gracjan commented on #899
More tricky:

[code]

[2016-03-28 16:26] gracjan commented on #899
How about this as approximation:

1. Start with `::` (or Unicode version of it).
2. Go over the line.
3. Stop at any keyword.
4. Stop at any closing parenthesis.
5. If an open parenthesis is found, jump over whole block.
6. If at the end of line look at the last token and the next token in the next line, if any is any operator then continue.

This should properly catch cases:

[code]
[code]
[code]

[2016-03-28 16:42] gracjan commented on #899
Now about the mechanics of this.

Seems the only way to parse Haskell is from beginning to the end, we have one place where we do this, its `haskell-syntax-propertize`. It uses lexemes as its building block.

It could get sensitive to `::` `class`, `data`, `newtype`, `type` and `instance` and also keywords that are type-enders and then just go by tokens, enable type mode when it sees one of type i

[2016-03-28 16:52] gracjan commented on #1234
Looks like you are right.

Just to confirm: is there a situation when a user might like to use TAGS-based completion but opt to generate tags only explicitly?

[2016-03-28 16:57] gracjan commented on #1122
Haskell2010 has about 80 syntactic definitions, lets add 20 for non-Haskell2010 features plus 20 that are technical necessity for Wisent, that gives us 120 rules. Manageable.

[Context-Free Syntax](https://www.haskell.org/onlinereport/syntax-iso.html#sect9.5)

[2016-03-28 21:01] gracjan commented on #899
More cases to handle:

[code]

[code]

[code]

[code]

[2016-03-29 06:37] unhammer commented on #1012
I actually wanted it to be a blocking wait when I was using hsc2hs, but I suppose if it's a long-running compilation people will want async. I'll make a PR with callbacks, just a sec …

[2016-03-29 08:19] nrolland commented on #1222
Is there a way to display a deprecation warning when this happens ? got stung with this

[2016-03-29 08:45] unhammer commented on #1012
See https://github.com/haskell/haskell-mode/pull/1238

[2016-03-29 08:57] gracjan commented on #1222
We try to get under control what is public and what is private interface. Currently this is very loosely defined, hence issues like this. Sorry about that, we try to get better.

[2016-03-29 10:23] nrolland commented on #1222
that's ok, dont be sorry it's not really a pb. but it can be surprising when it breaks down. maybe leaving the symbol there and output a message is possible..

[2016-03-29 11:49] gracjan commented on #1222
Usually we do what you say.

[2016-03-30 04:47] geraldus commented on #1234
I can't be certain here.  Obvious answer is yes, but more code you write more new completions emerges, so if you want to have accurate completions you have to regenerate tags quite often.  Personally I use interactive mode almost all the time and needs of accurate completions forced me to get habit to reload files on each save very fast.  (Though now I see that I don't use auto-completion often be

[2016-03-30 10:37] gracjan commented on #975
Updated to note handling of both direct paths and list of path plus arguments.

[2016-03-30 11:40] gracjan opened #1240 "Fix inferior-haskell-send-decl-post-filter"
`edebug` is unable to parse `inferior-haskell-send-decl-post-filter` and undercover is unable to use it.

More info: https://github.com/sviridov/undercover.el/issues/16#issuecomment-203390019

[2016-03-30 13:29] #1240 closed

[2016-03-30 19:48] cokleisli opened #1242 "Error message when hitting space bar"
I'm running GNU Emacs version 24.5.1 and the following version of haskell-mode:

`haskell-mode       20160330.629  installed             A Haskell editing mode`

I'm getting the following error when hitting the space bar in the editor:

Symbol's function definition is void: haskell-mode-contextual-space

[2016-03-30 22:16] fosskers commented on #1242
They removed that function, see #1182 .

The error goes away if you remove the binding to `SPC` in your `.emacs`.

[2016-03-30 23:15] cokleisli commented on #1242
Cool - I removed it from my `.emacs` - all is good again. Cheers.

[2016-03-30 23:15] #1242 closed

[2016-03-31 18:15] gracjan opened #1243 "Move all documentation from wiki to manual"
Bite the bullet and move all the info from wiki to manual.

[2016-03-31 18:23] #830 closed

[2016-03-31 18:23] gracjan commented on #830
We need source to proceed.

[2016-03-31 21:24] fosskers commented on #1242
Mind you, pressing `SPC` after `import` no longer opens up the import completor. That completion hasn't worked for me for a while, so I guess there's no harm done. Do you know a good alternative for import completion?

[2016-03-31 22:23] geraldus commented on #1242
@fosskers you don't use interactive Haskell mode, do you?

[2016-04-01 04:23] fosskers commented on #1242
As far as I know I do. My emacs bottom bar says `(Haskell Interactive FlyC Helm)`, and I have `(add-hook 'haskell-mode-hook 'interactive-haskell-mode)` in my `.emacs`.

[2016-04-01 08:01] geraldus commented on #1242
In this case if you will load your file into REPL <kbd>C-c C-l</kbd> Emacs will be able to autocomplete module name.  This is not the same as contextual menu, but very close to that.  I'm using company mode for completion and have stylish haskell enabled, I type `import ` then company mode helps me with module names and finally stylish haskell aligns them.

[2016-04-01 15:01] fosskers commented on #1242
No, it doesn't do that anymore, even with a REPL open in emacs (that is my usual workflow). Maybe I'll try company.

[2016-04-01 17:36] fosskers commented on #1242
...my god, it's amazing. How haven't I been using this the whole time?

[2016-04-01 17:51] gracjan commented on #1242
Hmm, it is even documented with beautiful animated gifs: http://haskell.github.io/haskell-mode/manual/latest/Editing-Haskell-Code.html#Completion-support

[2016-04-01 18:43] gracjan commented on #1235
Closing in favor of #1243.

[2016-04-01 18:43] #1235 closed

[2016-04-01 21:38] fice-t commented on #1133
@gracjan @geraldus Do you prefer one of the above solutions? It's been a month, but I think both solutions worked.

Basically:
* `electric-indent-function` approach: shorter code, but perhaps too much overhead
* Approach right above: a bit of a mess, but better at runtime

[2016-04-01 22:57] geraldus commented on #1133
@fice-t hi, I need some time to overview both again, I will be able to do this in few days.  However, here is some quick thoughts.  Short and concise code is always better long messy one.  If you have messy but effective code please just spent some little time to make it cleaner a bit (e.g. splitting into small chunks) to make it easier to follow the idea.  In practice only messy code need to be r

[2016-04-02 02:42] fice-t commented on #1133
Yeah, you're right. I guess since the list of electric keys doesn't really change much then a special macro doesn't need to be made. I made the macro since I didn't feel like writing essentially the same defun/define-key for each key, but the following would be more clear (it's basically what the macro expands to):

[code]

[2016-04-03 20:27] gracjan opened #1245 "Document paredit and smartparens interaction"

[2016-04-03 20:40] gracjan commented on #1229
There is a thing called [`projectile`](https://github.com/bbatsov/projectile). It defines a project as a directory with a special file, like `.git` or `.projectile`. It can find project root itself.

We could make `haskell-project` depend on `projectile` or optionally depend. And it already has a bit of Haskell support: https://github.com/bbatsov/projectile/blob/master/projectile.el#L282

[2016-04-03 20:44] gracjan commented on #1229
Projectile has `projectile-project-compilation-cmd` and `projectile-project-run-cmd` bound to nice keys. `haskell-mode` could automatically provide those depending on selected project type `stack` vs `cabal` vs `ghci`.

[2016-04-04 00:24] fice-t commented on #1218
I happened to try the latest version out on 24.1 and it turns out Haskell Interactive mode doesn't work:
[code]
I'd imagine being backwards compatible for a 3 year old version is good enough.

[2016-04-04 07:04] gracjan commented on #1218
@fice-t: This particular error might be there because your Emacs 24.1 used compiled versions of elc from Emacs 24.3.

[2016-04-04 07:05] gracjan opened #1246 "Remove usage of (require 'cl)"
Supposedly `cl-lib` is the way to go, so change those:

[code]

[2016-04-04 09:14] #899 closed

[2016-04-04 13:30] gracjan commented on #1243
Fixed by #1244

[2016-04-04 13:30] #1243 closed

[2016-04-04 15:28] fice-t commented on #1218
I don't believe so; I sandboxed the 24.1 version off. I found the .elc file responsible `haskell-customize.elc` and indeed it says `;;; in Emacs version 24.1.1`.
Does it work on your copy of 24.1?

[2016-04-04 15:42] fice-t commented on #1246
From what I can tell, the only `cl` function used in `haskell-doc` is `lexical-let`, which when using lexical binding is useless.

[2016-04-04 20:30] gracjan commented on #1218
Okay, @fice-t, can you alter those places where we say we are Emacs 24 or 24.1 compatible and put 24.3 in there? Thanks.

[2016-04-04 20:33] gracjan commented on #1246
@fice-t: Can you fix those two places?

[2016-04-04 21:37] fice-t commented on #1218
I could do that later. Should there be a new corresponding stable release with this?

[2016-04-05 01:07] fice-t commented on #1218
Couple questions:

1. Should `haskell-mode` error when on 24.1 and 24.2? Or perhaps just give a warning for those two versions as some parts work?

2. Should the `cl-lib` in the `tests/compat` directory be removed?

[2016-04-05 01:10] ivan-m commented on #1229
I thought a Stack-based project still needed `.cabal` files, with the `stack.yml` file just providing some extra metadata regarding dependency versions.  Or do you mean it doesn't need cabal-the-executable?

[2016-04-05 05:21] mrkkrp opened #1249 "Highlighting of data types is broken"
Now it somehow uses `font-lock-function-name-face` or something visually similar instead of `font-lock-type-face`.

[2016-04-05 05:56] #1246 closed

[2016-04-05 05:57] gracjan commented on #1229
I mean they are working on stack that does not require cabal at all.

[2016-04-05 08:01] mrkkrp commented on #1249
Now highlighting does not quite work and indentation is still not working for me (even that bare minimum that used to work). I'm beginning to think that `haskell-mode` is just getting worse and worse. Perhaps soon it will be completely unusable. You publish monthly reports with some words in them, but I'm not going to be excited about that when most basic functionality suffers such degradation. Ca

[2016-04-05 09:54] mrkkrp commented on #1249
![shit0](https://cloud.githubusercontent.com/assets/8165792/14277760/db98a1f4-fb4e-11e5-8eb8-14a54633ef9d.png)

↑ Here, every capitalized word should be orange, now they are highlighted seemingly randomly. Can we have proper highlighting back?

[2016-04-05 10:17] geraldus commented on #1249
I think that idea (to distinguish module names, type constructors, value constructors, and _maybe_ class names from each other) is good and reasonable itself.

[2016-04-05 10:23] mrkkrp commented on #1249
Well, *maybe*. But now we've got a lot of *different* things that are colored the same way (identifiers and type-level things for example). I find this harder to read.

[2016-04-05 10:36] geraldus commented on #1249
I agree the algorithm should be fixed.  Coloured code is a matter of choice, there are people who find monochrome code is much readable.

[2016-04-05 11:45] gracjan commented on #1249
Types are colored using `haskell-type-face`. Place change it to the color of your liking.

[2016-04-05 12:06] mrkkrp commented on #1249
Why not use standard `font-lock` collection of faces that are defined in all color themes nicely? Do you expect me to tune this stuff myself? I set up a theme and then open a Haskell source and it should look OK, just like in every other mode (what a nightmare would it be if every major mode used its own collection of faces when there is a conventional set of `font-lock-` ones?). No? Quasi-quotes

[2016-04-05 12:16] mrkkrp commented on #1249
![shit2](https://cloud.githubusercontent.com/assets/8165792/14281316/8993a598-fb62-11e5-9c52-c19f9081fd4e.png)

↑ I'm just trying to understand how to work with this without feeling like I'm messing with something absolutely broken.

[2016-04-05 13:20] ivan-m commented on #1249
I think QuasiQuotes are done by trying to font-lock according to a mode by assuming that the quasiquoter used is the same as the name of a mode.  I think if a mode isn't found though that it should just default to being the same as a String.

[2016-04-05 14:18] gracjan commented on #1249
@mrkkrp: I see only three issues reported by you and not closed #870, #1180 and this one.

QuasiQuotes are colorized like the respective mode. There is a bug when colorization gets in the way, it is tracked by tests case here: https://github.com/haskell/haskell-mode/blob/master/tests/haskell-font-lock-tests.el#L378

`haskell-type-face` has wrong default `font-lock-function-name-face`, should be `f

[2016-04-05 14:20] gracjan opened #1250 "Prevent font-lock colision in QuasiQuotes"
Do not do double coloring of QuasiQuotes,

![shit2](https://cloud.githubusercontent.com/assets/8165792/14281316/8993a598-fb62-11e5-9c52-c19f9081fd4e.png)

[2016-04-05 14:20] gracjan commented on #1250
Taken from #1249.

[2016-04-05 14:31] #1249 closed

[2016-04-05 14:35] gracjan commented on #1250
So font-lock first does syntactic and later keyword fontification;

[code]

So the second one overrides the first when there is no face set.

[2016-04-05 14:46] mrkkrp commented on #1249
“QuasiQuotes are colorized like the respective mode” — cool, but I've got a mode for hamlet templates and it doesn't seem to work here.

[2016-04-05 14:50] gracjan commented on #1249
How is it called?

[2016-04-05 14:51] mrkkrp commented on #1249
I'm using this: https://github.com/CodyReichert/shakespeare-mode, is there another one?

[2016-04-05 14:59] gracjan commented on #1249
Can you add it in `haskell-font-lock-quasi-quote-modes` in place of `("shamlet" . xml-mode)` so basically `("shamlet" . shakespeare-mode)` and see if this is any good? If it is we will change the default.

[2016-04-05 14:59] gracjan commented on #1250
@mrkkrp, note this issue.

[2016-04-05 14:59] #1250 closed

[2016-04-05 15:04] mrkkrp commented on #1249
Tried pushing `("shamlet" . shakespeare-mode)` as well as `("shamlet" . shakespeare-hamlet-mode)`. Something is different in every case but I cannot say that proper highlighting from that mode is applied.

[2016-04-05 15:27] gracjan opened #1253 "Reenable interactive operator completions"
Disabled in #1247.

GHCi prior to version 8.0.1 have bug in `:complete` command: when completing operators it returns a list of all imported identifiers (see Track [ticket](https://ghc.haskell.org/trac/ghc/ticket/10576)).  This leads to significant Emacs slowdown.  To aviod slowdown operator completions are disabled for now.

Suggested solution:

1. In the beginning of a session issues a test `:co

[2016-04-05 16:39] gracjan commented on #1229
It seems it is good enough to identify a project by its root directory.

Each source code file could implicitly belong to an open project based on relative paths. If a source file is outside of any open projects then there is a need to open a project.

New project needs its root dir, everything else can be initialized from defaults. If there is a need to change there should be a way to edit projec

[2016-04-05 16:41] mrkkrp opened #1255 "Regression: dots (functional composition) are not highlighted as operators anymore"
Here we go:

![bad-dot](https://cloud.githubusercontent.com/assets/8165792/14290078/d3787fa6-fb87-11e5-9a2f-e8adee9887ce.png)

[2016-04-05 16:43] geraldus commented on #1255
Hmm... I have not seen before that composition was highlighted properly.  If I'm not mistaken there is related issue already.

[2016-04-05 16:45] gracjan commented on #1255
Good catch...

[2016-04-05 16:47] mrkkrp commented on #1255
@geraldus, I'm quite sure that they were highlighted correctly in the past. I remember seeing little blue dots all the day…

[2016-04-05 18:24] #1255 closed

[2016-04-05 19:13] shanemikel opened #1257 "Auto add packages to cabal deps omits comma in some cases"
When adding dependencies, I've noticed that if I have
`build-depends: something`
and haskell-mode tries to add `something-else`, I get
[code]
but, if there is
[code]

and haskell-mode wants to add another, it properly inserts the comma

[2016-04-05 19:24] shanemikel opened #1258 "Debugging the system (haskell tooling) environment"
I'm using stack-ghci as my haskell-processtype.  Is there a way, as with ghc-debug in ghc.el, to see what paths haskell-mode is using for the haskell-process?

[2016-04-05 19:29] geraldus commented on #1258
Try to look at `*Haskell Process Log*` buffer.  I believe there you can find executed command .

[2016-04-05 19:30] geraldus commented on #1257
Good catch

[2016-04-05 23:45] shanemikel opened #1260 "Haskell process command errored with: (end-of-buffer)"
Hmm, every now and then I'm hitting this error.  I don't know why it comes up exactly, and peeking at the *haskell-process-log* the haskell process is still doing expected things AFAICT.  If anybody wants to help walk me through debugging this, let me know.

[2016-04-05 23:52] shanemikel commented on #1260
Actually, I can describe part of the situation I encounter it, if it helps.
So far, I've only noticed it in folding-mode, but sometimes the interactive mode and folding-mode seem to work together just fine.

On reload, I was getting the error, until I added an import that was missing to my source, and interactive mode started working again.

I've also checked this without folding-mode, and the err

[2016-04-06 00:14] fice-t commented on #1260
Can you get the error to trigger with `debug-on-error`?

[2016-04-06 00:21] shanemikel commented on #1260
You mean, isolate it with
(setq debug-on-error '(end-of-buffer))
?

[2016-04-06 00:28] fice-t commented on #1260
That or just setting it to `t`.

[2016-04-06 00:50] shanemikel commented on #1260
http://lpaste.net/664605885082894336

If you'd like, I can copy the output here

[2016-04-06 01:10] shanemikel commented on #1260
My debug-on-error is already set to t, I think the error is getting caught, and haskell-mode is printing that line to the message buffer

[2016-04-06 01:19] shanemikel commented on #1260
http://lpaste.net/336486210622980096

Okay, I think that's the info we want.

[2016-04-06 02:17] fice-t commented on #1260
That's odd, `condition-case-unless-debug` should trigger the debugger (that should be fixed if it's broken). Can you replace the following command in `haskell-process`, recompile and show the backtrace? That might be easier to see:
[code]

[2016-04-06 02:20] shanemikel commented on #1260
Do you like the way I've been conducting the traces thus far?  If so, which function should I trace?

[2016-04-06 02:24] fice-t commented on #1260
If you replace that function then the debugger should just pop up on your error without an explicit trace. (Since that `condition-case` is the only place where that error message is located.)

[2016-04-06 02:42] fice-t commented on #1260
Hmm, I found an interesting variable `debug-ignored-errors` which includes `end-of-buffer`. Instead of doing the above (though that should work as well), try setting the that variable to `nil` and try again.

[2016-04-06 02:47] shanemikel commented on #1260
http://lpaste.net/4466009369221267456

[2016-04-06 03:26] shanemikel commented on #1260
I'm pinging this thread because I started that last comment before yours @fice-t.

[2016-04-06 03:38] fice-t commented on #1260
`haskell-check-paint-overlay` seems benign enough. Could you post `Ex.hs`?

[2016-04-06 03:48] shanemikel commented on #1260
Ex.hs
http://lpaste.net/8168584496237510656

OpLaws.hs
http://lpaste.net/826699333813403648

MyNonEmpty.hs
http://lpaste.net/7133813629228417024

[2016-04-06 04:03] fice-t commented on #1260
Odd: I can't reproduce the error with `haskell-check-paint-overlay` when using the same arguments.

The only function in there that would trigger that warning would be the `forward-char` bit.

[2016-04-06 04:18] shanemikel commented on #1260
I'm also using stack-ghci

[2016-04-06 04:32] shanemikel commented on #1260
yes I encountered the same error

[2016-04-06 04:42] fice-t commented on #1260
Could you try turning on debug/edebug for `haskell-check-paint-overlay` and stepping through the expression above? It should error at `(forward-char (1- coln))`, but I don't see why it would with those arguments...

[2016-04-06 05:06] shanemikel commented on #1260
Yeah, are you trying this with folding-mode? That's https://github.com/peterwang/folding.el or the `folding` package on melpa.

I am getting the error at `(forward-char (1- coln))`; I don't know how the other folding modes work, but this one actually changes the line numbers shown in the buffer.  If I debug this with all folds open (even with folding-mode enabled) I don't get this error; if any of

[2016-04-06 05:18] shanemikel commented on #1260
I'm sorry @fice-t, that I didn't make it clearer before you spent all this time with me.

[2016-04-06 05:32] shanemikel commented on #1260
Actually, do you happen to know the purpose of that function?  Why does it get called before I try to jump to the next/previous error?

[2016-04-06 05:40] fice-t commented on #1260
Ha, I actually forgot that bit. My bad. No worries though -- I didn't spend a lot of time here.

I don't think it's reasonably possible that haskell-mode can work around this. Also, it seems like `folding-mode` is dead, so I don't think anything will get done there any time soon.

I'm not sure of the specifics but it looks like the next/previous error function uses the overlays that the function i

[2016-04-06 05:45] fice-t commented on #1260
Not sure if it'll solve all problems, but you could do something like so:
[code]

[2016-04-06 05:53] shanemikel commented on #1260
As for working around, I was thinking there could be an option to disable, and some kind of state + hook pair that could call a registered function when the last compile encountered errors, and another when a compile following the errors encountered none.

The registered function would be whatever function the folding library exposes that expands all folds, and another to collapse them.  Whatever

[2016-04-06 06:02] shanemikel commented on #1260
Just a simple dirty flag that gets reset on a clean compile

[2016-04-06 06:34] shanemikel commented on #1258
I see the commands that are executed in the repl itself, but not the command to start it.

[2016-04-06 07:33] gracjan opened #1261 "Font lock Yesod stuff"
Yesod uses quite some different quasi quotes, listed in http://www.yesodweb.com/book/yesod-for-haskellers

[2016-04-06 07:35] shanemikel commented on #1260
Okay, so I've evaluated `(defun haskell-check-paint-overlay (&rest args) nil)`, and haven't encountered any problems yet.

Now I understand the paint overlay thing.  I guess it's a little more complicated than notifying the folding library, the painting overlay is responsible for painting the error squigglies under the error points.

So if there is to be a solution, it has to involve either haskel

[2016-04-06 07:40] gracjan commented on #1260
Hmm, I think that for the time being we should just disable the overlays. We rushed too fast with those and now there are issues we do not have resources to fix.

[2016-04-06 12:11] gracjan commented on #1260
Seems related: #1225.

[2016-04-06 12:57] gracjan commented on #1178
Indentation after newline is called by `electric-indent` and can be differentiated from other cases because `(equal last-command 'newline)`.

If `electric-indent-inhibit` is `t` then electric indent will call indentation functions only on empty lines. If it is `nil` then `electric-indent` will call indentation both on previous line (the one where cursor used to be before `newline` has happened) an

[2016-04-06 13:10] gracjan commented on #1178
Seems that `electric-indent-chars` is `(10)` by default and that is why it reacts to `newline`.

[2016-04-06 15:26] gracjan commented on #1178
Standard binding for <kbd>TAB</kbd> is `indent-for-tab-command` which routes to either `indent-line-function` of `indent-region-function` depending on `use-region`. But `indent-region` sometimes is called by itself and we had to disable that functionality completely for example for `smartparens` that tried to indent after adding or removing parentheses. Arguably a bug in `smartparens` but well, it

[2016-04-06 15:29] gracjan commented on #1032
This would not help as usually the scenario is:

1. Alter first line somehow.
2. Call `indent-region` to fix remaining lines.

Note that between 1 and 2 program is already semantically broken and knowing what is going on would require time travel.

Add this info to documentation somewhere.

[2016-04-06 16:09] gracjan commented on #896
`evil-open-above` and `evil-open-below` in their full glory:

[code]

So it seems that `evil-auto-intent: t` is equivalent of `electric-indent-mode` and it will call `indent-according-to-mode` only on empty lines.

[2016-04-06 16:30] gracjan opened #1265 "Make indent-according-to-mode continue previous line indentation on empty lines"
`indent-according-to-mode` is called in:

1. In `newline-and-indent`.
2. In `electric-indent-mode` after `\n` has been inserted.
3. In `evil-open-above`.
4. In `evil-open-below`.

Each of these cases is same: it is to semantically continue previous line. So we need:

1. If previous line ends with operator, continue expression.
2. If inside parenthesized expression, continue on the level of the exp

[2016-04-06 16:31] gracjan commented on #896
Closing in favor of #1265 where we will track the real solution.

[2016-04-06 16:31] #896 closed

[2016-04-06 16:37] #1032 closed

[2016-04-06 19:47] gracjan commented on #1122
Currently `haskell-indentation` has a recursive descent parser that takes into account that a special token `end-tokens` can appear at any place and end parsing on the spot. Whenever indentation examines `current-token` it has to explicitly handle `end-tokens``. Note that we do not know if it always does it, but we had fixed bugs when it did not. Indentation makes decision about indentation places

[2016-04-06 23:16] fice-t commented on #1265
I thought this was going to be solved upstream in Evil?

The issue there, from what I can remember, is that in haskell-mode `haskell-indentation-newline-and-indent` uses `haskell-indentation-find-indentations` on the end of the line _before_ entering the newline.
This gives different results compared to the `evil-open-` case where it does `(newline)` then `(indent-according-to-mode)`.

So if this

[2016-04-07 02:33] shanemikel commented on #871
it killed a few of my editing sessions tonight

[2016-04-07 05:26] gracjan commented on #1265
The point is to change the behaviour of haskell-indentation-find-indentations such that haskell-indentation-newline-and-indent is unnecessary would work.

[2016-04-07 05:55] gracjan commented on #871
@shanemikel: Have you manually entered multiline mode?

[2016-04-07 06:11] shanemikel commented on #871
You mean in the repl with `:{`? Sure, is there another way?

[2016-04-07 09:02] gracjan commented on #871
I see. I just thought for a moment that haskell-mode somehow triggers multiline mode by itself.

[2016-04-07 10:16] gracjan commented on #1178
@geraldus: Your idea would produce huge amount of indentation points in some cases. Consider this:

[code]
There are two points that are useful in this case. Your method would produce a lot more. I do not think this is acceptable.

[2016-04-07 17:55] gracjan opened #1270 "Get rid of `haskell-indentation-indent-leftmost`"
Variable `haskell-indentation-indent-leftmost`can be `t` or `nil` or `both`, and it applies in this case:

[code]

When `t` indentation offers just the left position, when `nil` offers just the rightmost, when `both` offers both.

There are some general truths about this situation:

1. **Truth #_1**: Nobody changes the defaults.
2. **Truth #_2**: People are upset when their favorite indentation po

[2016-04-07 18:10] gracjan commented on #1219
`w3m` looks [dead](http://w3m.cvs.sourceforge.net/viewvc/w3m/w3m/?sortby=date#dirlist).

`eww` is not beautiful but it is built-in and works. And we can hope for improvement there. And it does not depend on anything outside.

[2016-04-07 19:00] gracjan commented on #1270
Interestingly indentation handles `if..then..else` with the same code as `case..of` and `let..in`. Now we want `both`/`leftmost` semantics for `case..of`. We want `rightmost` for `if..then..else`. `let..in` has `leftmost`/`both` a this point. Relevant renderings:

[code]

Note that if the second keyword (`of`, `then`, `else`, `in`) is at the beginning of the line it is aligned with the starting ke

[2016-04-07 22:18] semaj opened #1271 "Starting inferior stack GHCi process using stack (when using interactive mode) cannot satisfy package"
Log of error when I `C-c C-l` or `C-c C-c` (haskell process has died):
[code]

Relevant init.el:

[code]

The project in question: https://github.com/semaj/hademlia

Anyone know why? I'm on the most recent melpa version, and I've tried reinstalling.

[2016-04-08 08:58] geraldus commented on #1258
Indeed, there is no path in log.

[2016-04-08 09:55] geraldus commented on #1271
@semaj hi!  Have you tried to run `stack ghci` in shell for your project?

[2016-04-08 13:44] semaj commented on #1271
@geraldus hey -- yes, every stack command works fine from zsh, in this case.

[2016-04-08 14:30] anakreontas opened #1272 "Focus issues when ghc process dies"
When ghc process dies mode line queries if it should restart the process. The focus however is not on mode line. If I try to switch to another window ,C x - o, the query in mode line interferes but still it does not get focus and I can't answer if it should restart the process. There is also a message error:
Error running timer `haskell-doc-mode-print-current-symbol-info': (wrong-type-argument str

[2016-04-08 15:00] geraldus commented on #1271
I guess this is environment issue, what OS do you have?  I've cloned your project, then built it with `stack build` command, and successfully loaded first file I've found in project (namely `Constants.hs`).  Here is a full log:

[code]

[2016-04-08 15:06] geraldus commented on #1272
If I'm not mistaken, you do not need to change buffer, when you see prompt just press <kbd>y</kbd> (or other suggested key).  Personally I dislike the way Haskell mode prompts user currently, this is not obvious that you can answer without focus on mini-buffer and I always miss such prompts, changing buffer or pressing other keys canceling prompt.  Overall this is not very user friendly.

[2016-04-08 15:17] anakreontas commented on #1272
Thanks, didn't know that

On Fri, Apr 8, 2016 at 4:06 PM Артур Файзрахманов <notifications@github.com>
wrote:

[2016-04-08 16:10] gracjan commented on #1271
It would be good to implement #975 so that we can give more info to users when issues happen.

[2016-04-08 16:13] gracjan commented on #1272
Reference #1170 which is supposed to get rid of the prompts and have better usability. When somebody finds time to implement those...

[2016-04-08 16:18] paldepind commented on #1234
I'm experiencing something that might be related. I use company globally. When in a Haskell file I'll be prompted to select a tags file whenever Company is about to show it's completion menu. I have not experienced this before. There seems to be no problems with Company in other major modes.

Also, even though I have `haskell-tags-on-save` set to `t` I cannot see a tags file anywhere?

[code]

[2016-04-08 16:43] geraldus commented on #1234
I'll try to fix this issue in next few days.  There are few options:
+ do not provide completions based on tags when `haskell-tags-on-save` is `nil`
+ do not provide completions based on tags when no TAGS file found
+ conjunction of previous options

I need to think about this stuff a bit.  @gracjan any suggestions?

[2016-04-08 18:47] gracjan commented on #1234
Well, do not ask for TAGS file in any automatic actions.

[2016-04-08 19:11] gracjan opened #1273 "Handle newline in doxif"
In case of code:

[code]

If <kbd>RET</kbd> is pressed inside `doif` then this happens:

[code]

when expected result is:

[code]

Note that when `doif` is written with space `do xif` then the issue does not happen.

[2016-04-08 19:40] gracjan opened #1274 "Make indentation sensitive to operators"
Indentation can be sensitive to lines ending with operators or lines starting with operators. For example:

[code]

the next line has to be indented. Similar with lines starting with operator

[code]

Plan:

1. Introduce a thing called `'operator`.
2. Add `'operator` whenever `'value` is mentioned.
3. Add a state variable that indicates if last token was operator. Take it into account when decidin

[2016-04-08 20:42] gracjan commented on #1265
So `newline-and-indent` takes previous line indentation and indents at least that amount or more.

[2016-04-08 22:23] semaj commented on #1271
`stack upgrade` solved the `C-c C-l` issue. But `C-c C-c` is now attempting to do a 'cabal build' rather than stack. Is something wrong with my init?

[2016-04-08 23:02] fice-t commented on #1218
@gracjan The work is basically done -- just need confirmation on the above.

[2016-04-08 23:41] fice-t commented on #1271
You can use `C-h k` to see which command a key is bound to. Running your config gives me `haskell-process-cabal-build` for `C-c C-c`.

Quick things to note:

- The `progn` in your `eval-after-load` runs straight away as "haskell-mode" is required by `haskell-interactive-mode`.

- Key bindings in minor modes shadow the major mode. There are a list of bindings in `haskell-interactive-mode` that shad

[2016-04-09 00:33] shanemikel commented on #1258
I brought this up, because it's pretty hard at the moment to get the environment quite right (for any haskell development tool-stack).  Disclaimer:  There may be certain issues here that, as a user here, I can safely ignore, but I've mentioned them all, because there's no mention of that in the documentation.

Some users might use a combination of cabal projects and stack/cabal projects...
When I

[2016-04-09 00:41] shanemikel commented on #871
I also get occasional hanging in other circumstances.  Sometimes, when moving to a previous line and trying to edit it (before hitting return, which copies the line to the last prompt), after entering a few characters, the repl hangs.  Even in the case of the repl process failing to respond (or taking it's time), the interactive interface should echo, right?

[2016-04-09 07:14] gracjan commented on #1218
1. Error.
2. Remove `cl-lib`.

Rationale about 1: we either support things or we don't. If somebody wants to use haskell-mode with old versions they can always use one of old versions of haskell-mode.

[2016-04-09 07:17] gracjan commented on #1271
Hmm, the <kbd>C-c C-c</kbd> binding is out of place in `interactive-haskell-mode-map`. It should be somewhere in `haskell-mode-map` provided that we have #1229 done. Then <kbd>C-c C-c</kbd> will know if it is working with stack or cabal project.

[2016-04-09 07:21] gracjan commented on #1258
Yes, I confirm that the situation is horrible. We are working to untangle this mess on our end, ghc-mod is also progressing and then there is haskell-ide-engine. Hopefully we can get to a state where things aren't that confusing as they are now.

Any help appreciated. I think the immediate low hanging fruit is to improve logging and error handling in all the cases so that there is at least user is

[2016-04-09 07:22] gracjan commented on #871
Should. Now somebody needs to find out what made it hang.

[2016-04-09 19:09] semaj commented on #1271
@fice-t  my haskell section was gleaned from : https://haskell.github.io/haskell-mode/manual/latest/Interactive-Haskell.html#Interactive-Haskell.

Removing the `add-hook` solved the issue. This issue can be closed.

Thank you!

[2016-04-09 19:26] gracjan commented on #1271
We need to fix this horrible section in the manual.

[2016-04-09 19:29] #1271 closed

[2016-04-09 20:35] gracjan commented on #871
There is this magic: https://github.com/haskell/haskell-mode/blob/be9044b2e633b9342a68f762d07e82fe9ababf5f/haskell-interactive-mode.el#L254

This means that by using <kbd>C-j</kbd> one can have multiline command like this:

[code]

it will be wrapped in `:{` and `}:` and send to GHCi like this:

[code]

Note that this is not documented and does not really work due to misaligned indentation.

[2016-04-09 20:36] gracjan opened #1278 "Fix indentation in haskell-interactive-mode-multi-line"
There is this magic: https://github.com/haskell/haskell-mode/blob/be9044b2e633b9342a68f762d07e82fe9ababf5f/haskell-interactive-mode.el#L254

This means that by using <kbd>C-j</kbd> one can have multiline command like this:

[code]

it will be wrapped in `:{` and `}:` and send to GHCi like this:

[code]

Note that this is not documented and does not really work due to misaligned indentation.

Tasks

[2016-04-09 21:48] geraldus commented on #1278
It looks like inconsistency to me.

[2016-04-10 08:57] mrkkrp opened #1279 "Regression: null character is not highlighted properly"
It is not highlighted properly anymore:

![null-char-shit](https://cloud.githubusercontent.com/assets/8165792/14409019/d472ce6a-ff34-11e5-9ae7-39fcb5fc1d9d.png)