[2015-08-03 13:11] wkunkel commented on #667
Where in the documentation have you seen that? [This] (http://www.gnu.org/software/emacs/manual/html_node/elisp/Autoload.html) seems to indicate that autoload has special behavior for `defgroup`, just like for `defcustom`.

[2015-08-03 13:58] gracjan commented on #793
Current answer is: just upgrade haskell-mode. It should not ask any
questions anymore as the new default is to not ask anything. There is a new
setting that enables previous behavior.

[2015-08-03 13:59] gracjan commented on #667
Great! I must have read documentation for an older version of Emacs. In
that case can you provide autload definitions pull request?

[2015-08-03 14:07] jaseemabid commented on #793
I got the latest available on melpa (Version: 20150729.316).

[2015-08-03 14:18] gracjan commented on #793
This is the commit:

https://github.com/haskell/haskell-mode/commit/477c7b5e40515af1e98c977b1878921e97d5d23b

[2015-08-03 15:02] jaseemabid commented on #793
@gracjan Great! Works as expected. When will this be on melpa?

[2015-08-03 15:09] gracjan commented on #793
Should be there on MELPA, it will end up on MELPA-STABLE with the release.

[2015-08-04 06:10] joehillen commented on #787
I've had this happen with company-mode. I haven't been able to make it happen consistently. I'll take a screenshot next time it does.

[2015-08-04 23:09] wkunkel commented on #667
Removing `haskell-customize` seems to work for the most part, except for one snag: the group hierarchy is not visible through the `customize` or `customize-browse` interfaces until the file has been loaded. Groups can still be customized directly with `customize-group`, but they don't appear as subgroups until they are directly accessed or something in the same file is loaded.

[2015-08-05 06:09] gracjan commented on #667
Seems correct to me. As I checked customize groups in other modes are not
populated until lisp files are loaded.

Do other modes do something more?

[2015-08-05 15:09] #793 closed

[2015-08-05 15:37] gracjan commented on #790
This `exe:mida` syntax is something new...

[2015-08-05 16:28] mrkkrp commented on #790
@gracjan, as far as I know this is how you select particular executable component. This may be especially useful when you have several executables in one project.

[2015-08-05 18:47] rpglover64 opened #796 "haskell-indentation-indent-region and smartparens interact poorly"
Calling a smartparens command like `sp-raise-sexp` or `sp-forward-slurp` calls `indent-region` which calls `haskell-indentation-indent-region`, which indents the region exactly 1 space, which is almost never what is wanted.

I think this is a misfeature in `haskell-indentation-indent-region`.

[2015-08-05 18:58] gracjan commented on #796
Region indentation can be considered unimplemented feature. We do not have
that working yet.

[2015-08-05 19:43] rpglover64 commented on #796
Then it would be more useful if region indentation did absolutely nothing.

[2015-08-05 21:53] deepfire opened #798 "`haskell-process-cd` doesn't ask the user anything when `haskell-process-load-or-reload-prompt` is non-NIL"
The bug was introduced in 477c7b5e40515af1e98c977b1878921e97d5d23b, by subversion of a function, whose name clearly says `haskell-utils-read-directory-name` -- *read*.

[2015-08-05 22:45] deepfire opened #799 "`session` and `process` are the same thing, but aren't, and this causes pain"
Witness `haskell-process-start`:

[code]
..this says everything.  The objects are the same thing, and the question is what to do about it.

I propose we cease this schizophrenia, recognize this fact and merge them into one single entity -- let's provisionally call it `proc`, for the lack of a better name.

@gracjan, what do you think?

[2015-08-05 22:49] wkunkel commented on #667
I don't know if other modes do something more. It seems like it would be a decrease in functionality from the current customize mechanism, however.

[2015-08-05 22:50] geraldus commented on #799
I think it is good idea.

[2015-08-05 23:21] gracjan commented on #799
Good idea. Note that historically there were supposed to be two processes
per session one used while the other was reloading.

I think we should be conceptually open to the idea that we have a foreground
interactive process and a background process that is ghc-mod or ide-backend
based. Someday.

Right now it is good to unify session and process.

[2015-08-05 23:25] gracjan commented on #667
In that case lets do it.

Can you also change documentation that points to haskell-customize? Write
about M-x customize-group RET haskell.

[2015-08-06 18:46] alanz opened #801 "ghc-mod / stack / dist dir"
I use `inf-haskell-mode` with GHC 7.10.2 and `ghc-mod` compiled from https://github.com/alanz/ghc-mod/tree/HaRe (basically ghc-mod master but exposing some more internals)

haskell-mode is set up out of the box from spacemacs

I have found that the on the fly checking goes into a continuous cabal configure reload loop as I type unless I make sure that the `./dist` directory exists, either by doing

[2015-08-06 21:15] dmjio opened #802 "Remove redundant imports doesn't remove redundant imports"
Even with `'(haskell-process-suggest-remove-import-lines t))`, haskell-mode doesn't seem to prompt me to remove redundant imports. I've tried enabling this via `M-x haskell-customize` too

[2015-08-07 02:53] ivan-m commented on #790
With haskell-mode, there's `haskell-session-change-target` to get that same behaviour.

(I keep meaning to try and see if it's possible to scan the .cabal file and populate the available list of targets using ido to select...)

[2015-08-07 06:24] gracjan commented on #790
haskell-cabal.el has functions to enumerate sections of a cabal file.

[2015-08-07 08:24] geraldus commented on #802
This part of functionality needs some improvements, if I recall correctly, haskell-mode prompts me about redundant import only during compilation (which I trigger by `haskell-process-load-or-reload` command).  Also it's easy to miss this prompts (I usually doing so, for example, by changing current buffer).

[2015-08-07 10:09] gracjan commented on #802
Usability of his feature needs improvements. Instead of asking while
loading it should add overlays using our new overlay feature.

Overlays should get new 'fix up' functionality. Many errors and warnings
can have default fix up functionality including removing imports.

[2015-08-07 13:38] dmjio commented on #802
@geraldus I use that same command `haskell-process-load-or-reload`, yet it does not prompt me to remove redundant imports in a minibuffer like it used to pre-`13.14`. Can I ask which version of haskell-emacs you are using?

[2015-08-07 16:04] gracjan commented on #802
If you are using stack it will not detect error messages.

[2015-08-07 16:55] deepfire opened #803 "error-overlays cause file loading to jump in the buffer"
This is annoying!

[2015-08-07 17:14] dmjio commented on #802
@gracjan I'm not using stack, using nixpkgs.

[2015-08-07 17:40] dmjio commented on #802
So prompting works with `haskell-process-cabal-build`... anyway to get it to work on each send to repl? Or also on test executables?

[2015-08-07 17:52] bitemyapp opened #805 "haskell-interactive-mode-tab not very helpful"
![screen shot 2015-08-07 at 12 52 01 pm](https://cloud.githubusercontent.com/assets/320177/9142102/2dca0310-3d03-11e5-93f9-13cee9136187.png)

`<TAB>`

![screen shot 2015-08-07 at 12 52 05 pm](https://cloud.githubusercontent.com/assets/320177/9142101/2dc8281a-3d03-11e5-8fa6-3273ab58e758.png)

(that doesn't exist, it's actually `CreativeDS`)

`return`

![screen shot 2015-08-07 at 12 52 09 pm](https:

[2015-08-07 19:46] #803 closed

[2015-08-07 19:48] gracjan commented on #801
@danielg, @kazu-yamamoto: pinging so that you know there is a potential issue.

[2015-08-07 19:51] gracjan commented on #799
@deepfire: Do you have a good plan how to unify session and process? That is a lot of code. Can you list tasks that would lead to the unification?

[2015-08-07 20:41] deepfire commented on #799
I don't except one vague idea that -- since `session` has a longer lifetime than `process`, the latter should be merged into the former.

This can be done in two steps:
1. Trivial substitution -- maximum mechanical text transformation, so as not to break anything
2. Perform sweeping simplifications

[2015-08-08 13:52] #798 closed

[2015-08-08 13:57] gracjan commented on #790
@mrkkrp: Can you confirm that setting `haskell-process-load-or-reload-prompt` to `t` solves your problem?

[2015-08-08 14:28] gracjan opened #806 "Refactor haskell-session-interactive-buffer so that it does not call switch-to-buffer-other-window"
Currently `haskell-session-interactive-buffer` calls `switch-to-buffer-other-window` and that is on the wrong level of abstraction. Callers of `haskell-session-interactive-buffer` should be refactored to call `switch-to-buffer-other-window` when it is needed. It is expected that most places will not need this call. `haskell-session-interactive-buffer` should not call `switch-to-buffer-other-window

[2015-08-08 14:41] mrkkrp commented on #790
@gracjan, well, yes, but it asks too many questions for my taste (this isn't really a problem, though). Also, please add one space after "build target (empty for default):" and it would really make sense to use completing read and list of build targets extracted from .cabal file when asking about build target.

Also, if I press <kbd>C-g</kbd> before I finish answering the questions, some REPL buff

[2015-08-08 14:43] gracjan commented on #790
If the problem at hand is fixed then please close this particular issue.

The other things you mention deserve an issue each on their own.

[2015-08-08 14:54] #790 closed

[2015-08-08 16:54] gracjan opened #807 "Refactor load-or-reload"
User interface around load or reload needs a bit of work:

- [ ] Bind `C-c C-l` directly to `haskell-process-load-file`
- [ ] Rename `haskell-process-reload-file` to `haskell-process-reload`
- [ ] Bind `C-c C-r` directly to `haskell-process-reload`
- [ ] Make sure that in case of a lacking session error message are helpful
- [ ] Mark `haskell-process-load-or-reload` as obsolete
- [ ] Mark `haskell

[2015-08-08 17:01] deepfire commented on #807
What about it the case when the user doesn't want to think whether he wants to load or reload -- and just wants to "get the latest version into GHC"?

[2015-08-08 17:04] gracjan commented on #807
For your viewing pleasure full source of current `haskell-process-load-or-reload` function:

[code]

I do not think this does what you thought it does.

To answer more directly: just use `haskell-process-load` and you will be fine.

[2015-08-08 17:09] deepfire commented on #807
Oh my god..

[2015-08-08 21:45] deepfire commented on #799
Progress made in #808.

[2015-08-09 09:56] gracjan opened #809 "[Discussion] REPL vs IDE"
We feel that there are two important use cases for a running Haskell interpreter process:

1. REPL-based: load/reload only on command, any interactive command allowed, interpreter window interacts with the user
2. IDE-based: load-on-save/visit, -Wall by default for warning overlays, interacts with user only with predefined set of commands, results are parsed and presented

The discussion was spawn

[2015-08-09 10:16] gracjan commented on #805
@geraldus: This seems to be a completion issue, does it not? There was another report of similar problem happening.

[2015-08-09 10:17] gracjan commented on #796
@rpglover64: Are you able to submit a unit test in `tests/haskell-indentation-tests.el` that shows the broken behavior?

[2015-08-09 11:48] geraldus commented on #805
@gracjan yeah, it looks like something was broken at some point, I have some troubles (and time-troubles also), but I'll try to go into details next week.

[2015-08-09 12:06] gracjan commented on #805
I wonder if you could write unit tests that catch this sort of problem.

[2015-08-09 12:29] DanielG commented on #801
I'm not familiar with inf-haskell-mode does that even invoke `cabal configure` somehow?

[2015-08-09 12:31] alanz commented on #801
I think it is the ghc-mod using cabal-helper to read its cache, not finding
a dist-dir and doing a configure, which configures in the
.stack-work directory and so is not seen. And then this just repeats.

On Sun, Aug 9, 2015 at 2:29 PM, Daniel Gröber <notifications@github.com>
wrote:

[2015-08-09 12:40] DanielG commented on #801
Oh well that makes sense. But ghc-mod shouldn't go into a loop by itself. Something needs to be invoking it over and over.

[2015-08-09 12:43] alanz commented on #801
That is the haskell-mode tie-in. The "loop" is triggered every time the
file is saved, when ghc-mod check is invoked on it.

On Sun, Aug 9, 2015 at 2:40 PM, Daniel Gröber <notifications@github.com>
wrote:

[2015-08-09 12:43] DanielG commented on #801
So what happens when you do it on the command line?

[2015-08-09 14:47] rpglover64 commented on #796
Not in the style of the file (i.e. not using `haskell-indentation-check`); AFAICT, `haskell-indentation-find-indentations` is behaving correctly, and that's what the file is testing.

I personally worked around this by redefining `haskell-indentation-indent-region` to do nothing.

[2015-08-09 19:37] gracjan commented on #796
It is expected that there will be more check styles.

[2015-08-10 04:44] vwyu commented on #787
I don't use company-mode or any other auto completion modes. Here is what I get by typing some import expressions after λ> and pressing tab:

1) Pressing tab after "import Co" makes it "import CoCo".
2) Pressing tab after "import Con" makes it "import ConControl."

It looks like part of the string is repeated. I would expect the following behavior:

Expected 1) Pressing tab after "import Co" shoul

[2015-08-10 08:08] vwyu commented on #782
This happens when haskell-indent-mode is enabled.

With haskell-indentation-mode, `import` stays correctly at column 0.

[2015-08-10 08:14] vwyu commented on #805
This issue is related to #787.

[2015-08-10 08:21] mrkkrp commented on #782
So which mode should one use `haskell-indent-mode` or `haskell-indentation-mode` and what's the difference between the two? Why on the earth do you keep two modes that do the same thing? @vwyu, fyi, I've just tried it with `haskell-indentation-mode` -- the problem persists.

[2015-08-10 08:24] mrkkrp commented on #782
@gracjan, One more thing: does it make sense to enable indentation machinery automatically, just like all other language-specific modes do?

[2015-08-10 08:50] gracjan commented on #782
That is the goal, to make haskell-indentation-mode the default and the only.

Sadly, none of the indentation modes work as advertised so people learned
to live with their limitations. haskell-indentation-mode requires a lot
more work to be able to subsume everything else.

[2015-08-10 10:04] spearman commented on #788
I've had the double-saving problem as long as I've used haskell-mode (currently version 13.10-2)

[2015-08-10 15:54] bitemyapp commented on #805
Changed title, it's `interactive`, not `indentation` dang it.

[2015-08-10 20:56] mrkkrp commented on #782
@gracjan, I have to admit that I've tried both the modes without success. Now I'm using `haskell-indent-mode`, but after a recent change it's broken even more. Now I'm literally fighting the indentation... this is unbearable. I think I better turn it off. Could you please test all changes yourself before pushing them into the repository, that applies to pull requests. Currently it feels like some

[2015-08-11 06:00] gracjan commented on #782
Sad state of indentation is known and it is our top priority. We need help
there as you noticed.

Having said that haskell-indent-mode has not been touched for months and
all work goes into haskell-indentation-mode.

[2015-08-12 15:19] asr opened #811 "Unicode function symbol and data types"
Let's suppose I want to create a data type `Foo` with two constructors `C1` and `C2`, so I start to type

[code]
then when I press the enter key after `)` I get the error

[code]

Haskell-mode version: 20150809.2327

[2015-08-12 17:38] mrkkrp commented on #782
@gracjan, OK, enough is enough. Describe me briefly what should I tweak/know to fix this `haskell-indentation-mode`, please.

[2015-08-12 19:43] gracjan commented on #782
@kuribas and @nilcons are authors of this part. Can you guys help?

Usually the best starting point is test cases. There are some but nowhere
nearly enough.

[2015-08-13 15:55] DanielAtSamraksh commented on #253
To change the haskell-program-name variable, do:
    C-h v haskell-program-name RET

Change 'ghci' to 'cabal repl'.

[2015-08-13 16:00] DanielAtSamraksh commented on #253
To change haskell-program-name from 'ghci' to 'cabal repl':

    C-h v haskell-program-name RET

Click 'customize'.
Change 'ghci' to 'cabal repl'.
Click 'Apply and Save'.

[2015-08-13 18:41] mrkkrp commented on #782
OK, I've started reading the code on my own. You have various nasty things there.

1. Haskell should be capitalized everywhere.

2. Don't use Emacs \`' quoting for anything expect Emacs Lisp functions. You're using it for quoting Haskell keywords, creating nonsensical links (Haskell keyword is meant, hyperlink to Emacs Lisp function is created). I propose using of simple double-quotes for this: "i

[2015-08-13 21:14] gracjan commented on #253
Haskell-process-type is more relevant.

[2015-08-13 21:16] gracjan commented on #782
Your work is appreciated and needed. Keep the good stuff coming.

[2015-08-14 08:41] mrkkrp commented on #782
@gracjan, Why don't you run test on every commit with Travis CI? How do you run tests at all, I don't see `.cask` file or something. What is the recommended way?

[2015-08-14 09:06] mrkkrp commented on #782
@gracjan, your `haskell-indentation-check` is not powerful enough. Worse yet, it imposes ugly way to write tests. Emacs lisp supports multi-line lines (you use it in doc-strings all the time). So test text should be one long (multiline) line, not this collection of lines.

As it currently implemented, you cannot place point in arbitrary context, it's always placed for you at the end of testing tex

[2015-08-14 09:20] mrkkrp commented on #782
What do these variables mean? What DYN stands for?

[code]

[2015-08-14 13:42] mrkkrp commented on #782
@gracjan, OK, let's start with https://github.com/haskell/haskell-mode/pull/812. Next we will need better helper function for testing and more tests.

[2015-08-14 14:15] mrkkrp commented on #782
@gracjan, what about `:expected-result :failed` tests? Should they be fixed after all?

[2015-08-14 16:10] mrkkrp commented on #782
I've written more powerful helper to test indentations. It shows that `haskell-indentation-find-indentations` returns different results when it's at the end of line than when it's at the beginning at line. If also returns `nil` sometimes (from my observations it's when it's inside some token). Is it how it's supposed to work?

[2015-08-14 16:33] mrkkrp commented on #782
Now it's possible to write denser tests:

[code]

This exposes bug that I described in this issue. For cursor position `(5 0)` it returns `(2)`, not `(0)`. This sort of tests is the way to go, I guess.

[2015-08-14 17:55] gracjan commented on #782
@mrkkrp: lots of comments, let me address one by one.

1. Stylistic changes much appreciated. Spasibo.
2. Lighter is/was useful because there are other indentation modes and people switched frequently due to bugs. We can get rid of it now.
3. TravisCI builds and tests every pull request. We merge using github Merge button, only when it is green. This workflow is good enough for project of our size

[2015-08-14 17:59] gracjan commented on #782
And note about `:expected-result`: this is supposed to document current bugs and give a good starting point for somebody that has a bit of time and energy. Yes, those should be eventually fixed.

[2015-08-14 18:02] mrkkrp commented on #782
@gracjan, I will try to use those 'explainers' to improve my current testing helper. Many more tests will fail with such detailed tests in place.

[2015-08-14 18:03] mrkkrp commented on #782
@gracjan, should position in current line (column) affect results of `...-find-indentations`?

[2015-08-14 18:41] gracjan commented on #782
This is indent *LINE* function so it should work on whole *LINES*. Position within line should not matter.

(Same with indent *REGION*: position within region should not matter).

[2015-08-14 18:53] mrkkrp commented on #782
Well, my question was about `haskell-indentation-find-indentations` which does work differently depending on column and it doesn't do anything with line itself. Nevermind, I will need to figure out how this works on all levels.

[2015-08-15 09:42] ElectricCoffee opened #813 "haskell-indentation should line up function arguments"
Emacs will consistently do this: (`□` = the other indent point(s))

    myFunction = maybe arg1
    □            arg2
    □            arg3

Instead of doing this:

    myFunction = maybe arg1
    □            □     arg2
    □            □     arg3

When putting arguments on a line of their own, this could lead to some edge cases where the code gets evaluated wrong due to the indentation level not

[2015-08-15 10:13] mrkkrp commented on #782
It may be better to use external parsing library which is tested, robust, and neat. We could then define necessary stuff using combinators from that library. This will eliminate bugs and make maintaining of the `haskell-indentation-mode` much easier in future.

I need to understand how entire `haskell-indentation-mode` works in details. Then I *could* write powerful enough library with `haskell-in

[2015-08-15 10:20] kuribas commented on #782
I have been thinking to rewrite the parser.  The main problem is handling the layout rule correctly.  For example, when an illegal token is encountered, the current layout context should be left, and parsing should resume in the outer context.  When using an external parser, these rules should be handled correctly.

[2015-08-15 11:09] mrkkrp commented on #782
@kuribas, Could you please describe how it currently works? Where is starting point of all that parsing business. What your parser returns, how its result is used to calculate indentation positions? All I can see is quite hairy and mostly not documented, so I'm having hard time understanding this. Every function seems to get dirty right away messing with all possible things.

[2015-08-15 11:17] mrkkrp commented on #782
@kuribas, you probably don't re-parse entire file every time, so how do you determine which part of file should be parsed? Do you extract string from buffer and then work with that?

[2015-08-15 11:37] kuribas commented on #782
Parsing starts from the first line before point with zero indendation.  Parsing is done just by walking over the buffer.

Basicly, the read-next-token, etc functions handle the tokenization, and also the layout-rule (using special tokens 'layout-item and 'layout-end).  'layout-end signifies the end of the parse stream.

Each parser consumes tokens, and sets the (dynamic) indentation variables, or

[2015-08-15 11:44] mrkkrp commented on #782
@kuribas, one more question: does contents of current line (line at which point is placed when user tries to indent his code) affect collection of returned indentation positions, or it's completely defined by context that previous lines provide?

[2015-08-15 11:50] kuribas commented on #782
It does, for keywords like `of` or `in`.

[2015-08-15 11:59] mrkkrp commented on #782
@kuribas, this may be not enough... Consider a test-case:

[code]

This is from improved tests I'm working on. It works like this:

* when point is at line `1` and column `0`, `haskell-indentation-find-indentations` should return `(0)`;
* when point is at line `2` and column `0`, `haskell-indentation-find-indentations` should return `(4)`;
* et cetera.

If second like starts with `->` there must b

[2015-08-15 13:21] kuribas commented on #782
That's not right, indenting after `->` should be different from indenting before `->`

better example:

    f = let x

indentation before x is different than indentation after x:

    f = let
      x

[2015-08-15 13:33] mrkkrp commented on #782
Don't really see what is not right with my example. Of course it should be different. First line is "top-level" statement and it indentation should stay at `0` there. Then second line may or may not continue type declaration. This depends on `->`. If this thing is present, then it's part of type declaration and only possible indentation position is `4`. If not, it's another "top-level" form, then

[2015-08-15 13:46] kuribas commented on #782
Well, the current behaviour is more like:

[code]

[2015-08-15 13:49] kuribas commented on #782
The reason is choice, the user may want the `->` to align with `::`, or with `Int`.

[2015-08-15 13:54] mrkkrp commented on #782
@kuribas, Yes I know. Initially I wanted to test at the end of lines too. I was surprised that at the end of line collection of indentations is different. Column position shouldn't matter, imho. `((1 10) 0 7)` looks strange to me, when we are at the first line, why should it propose anything but `0` (indentation of first line of a top-level statement).

Choice is OK, in conjunction with all other

[2015-08-15 14:02] mrkkrp commented on #782
@kuribas, I'm also considering more stupid solution, collection of rules that look at previous line and current line (possibly at many previous lines in some cases to get more indentation positions). This can be done in form of domain specific language with macros, for example. This stupid approach may be faster and simpler.

Decent parsing of Haskell syntax tree may be overkill of the task at han

[2015-08-15 14:02] kuribas commented on #782
Well, consider:
[code]

[2015-08-15 14:06] kuribas commented on #782
Yeah, it already simplifies haskell syntax.  However I don't want it *more* stupid than it is, because it should give the correct indentations with respect to haskell syntax, which has some quirks.

[2015-08-15 14:14] mrkkrp commented on #782
@kuribas, I will try to come up with implementation of my simplified approach. I believe it can work very well (some conceptions should be introduced and relations between them, it may be actually even elegant). At least it can fix bugs that annoy people right now and we could try how good it can be. Then you may replace it with decent parser when it's ready.

[2015-08-15 14:28] kuribas commented on #782
I don't want to discourage you, but making it simpler than it is right now will probably introduce more bugs.  If you would like to help with the table based parser, that would be great!

[2015-08-15 14:31] mrkkrp commented on #782
@kuribas, one more thing. `haskell-indent-mode` supported insertion of function names in some cases if you press TAB twice, if memory serves me well. Does `haskell-indentation-mode` have something like this?

[2015-08-15 14:31] kuribas commented on #782
Not at this time.

[2015-08-15 14:34] kuribas commented on #782
Here's an idea for of a parser macro (which would compile to a hashtable):

[code]

[2015-08-15 14:37] mrkkrp commented on #782
Looks much better. I hope it's possible to write most part of the parser in this clear style, using decent abstractions.

[2015-08-15 14:43] mrkkrp commented on #782
Please write doc-strings for every function describing in detail every layer of your new parser. This way, I and other people in future will be able to understand it and contribute. I am glad to help with this cleaner parser.

I won't work at my simplified parser for now. After all, I've other things to do :-)

[2015-08-15 15:32] treeowl commented on #813
Aside from any concerns about layout rules, it's just not what I want, and it seems I'm not alone.

[2015-08-15 18:06] ElectricCoffee commented on #813
I posted this as an issue on StackOverflow. I got an overwhelming amount of responses saying they also had the same issue. So it seems I'm not alone either

[2015-08-16 05:50] gracjan commented on #813
Please provide link to stack overflow question.

[2015-08-16 09:46] ElectricCoffee commented on #813
You can find it [[here](http://stackoverflow.com/questions/32016807/haskell-indentation-doesnt-line-up-function-arguments)]

[2015-08-16 17:02] gracjan commented on #813
Stackoverflow question has 5 comments, one of those is 'I have the same issues', other four try to be helpful.

[2015-08-16 19:20] ElectricCoffee commented on #813
And eight upvotes.

Most people don't bother commenting on the issue, they just upvote it if they think it's a good question or if they have a similar problem

[2015-08-17 10:26] gracjan commented on #809
We have a bit more information:

https://github.com/kazu-yamamoto/ghc-mod/issues/544

In this case we should settle for the following:

1. ghc-mod serves the IDE-mode workflow
2. ghci serves the REPL-mode workflow

[2015-08-17 12:19] deepfire commented on #809
Does this mean we will have two haskell processes running?

[2015-08-17 12:26] gracjan commented on #809
ghc-mod should be running to get error highlights, navigate to definition,
show types, etc. Repl should be running if you actually want to run the
program.

You are free to skip either of those. Or both.

Those two use cases do not go well together, in my opinion. There are
rumors that ghc-mod should also be able to 'run' things, but I do not know
the details of it.

[2015-08-17 12:30] DanielG commented on #809
I'm planning to add interactive code evaluation support to ghc-mod so then both of these would happen at the same time. In ghc-mod we first need to add server-client RPC support though as this would have to run as a separate process probably.

[2015-08-17 12:33] gracjan commented on #809
Great to hear!

Would situation like infinite loops, garbage collection, Ctrl-C, terminal
handling not get in the way of the IDE functions of ghc-mod? I would hate
to hang Emacs just because my Haskell program hangs.

[2015-08-17 12:38] alanz commented on #809
I think if the right/separate comms channels are established between the ide and ghc-mod this shouldn't be a problem, even if it is one physical channel with streams multiplexed onto it.

[2015-08-17 13:27] gracjan commented on #809
I have had bad experiences with such setups. Just look at Chrome and
each-tab-is-a-process-so-we-can-kill-it-separatelly as a very successful
paradigm.

[2015-08-17 13:33] DanielG commented on #809
The problem is that the memory consumption of a single ghci process is already insane in the right project and running ghc-mod and ghci at the same time is just a huge waste.

[2015-08-17 14:27] gracjan commented on #809
Can't deny that. Well, I just like the feeling of safety when I can kill
this or the other should it go berserk.

[2015-08-17 18:23] mrkkrp commented on #813
@ElectricCoffee, currently `haskell-indentation-mode` is a bit buggy, we all should admit that. However, I had [a conversation](https://github.com/haskell/haskell-mode/issues/782#issuecomment-131324036) with author of `haskell-indentation` and he's willing to rewrite underlying parser in clearer (and thus less-buggy) manner.

I've contributed too and `haskell-indentation` will have very strong col

[2015-08-17 20:04] ElectricCoffee commented on #813
I'd love to contribute, but unfortunately I don't know anywhere near enough Emacs lisp at the moment to provide any sort of useful contributions.

I'm glad it's being looked at at least. I'll try and contribute when I feel comfortable enough with my knowledge of how elisp and the emacs api is put together.

[2015-08-17 20:28] acowley commented on #809
I'd definitely like it to be one process, but it should of course be a top priority to avoid hanging the editor.

@DanielG is there are branch where you are working on the design of adding interactive evaluation to ghc-mod?

[2015-08-18 06:10] kazu-yamamoto opened #815 "Use lexical-binding in all source files"
Lexical binding is available since Emacs 24 but can be used in way that is compatible with Emacs 23. Tasks to make this happen:

1. Add `;;; -*- lexical-binding: t -*-` to every `*.el` file.
2. Fix all warnings about unused lexical variables (be removing a variable or prepending underscore to its name).
3. Fix all errors about undefined lexical variables (if any).

Example of current output:

[cod

[2015-08-18 06:17] kazu-yamamoto commented on #815
Or put the prefix of "_". For instance, `foo` to `_foo`.

[2015-08-18 06:28] gracjan commented on #815
How did you get this output?

Can you add this mechanism to Makefile so that TravisCI fails if there are
unused variables?

[2015-08-18 07:42] kazu-yamamoto commented on #815
The magical command is like this:

[code]

I put it to Makefile to detect unused variables. It would be nice to add the "detect" target or something to Makefile so that we can find them by "make detect".

[2015-08-18 08:12] gracjan commented on #815
Hmm, in this case we could just put `lexical-binding: t` on top of the file in question and have the current Makefile machinery catch this. So we do not need additional target in Makefile.

[2015-08-18 15:48] vlatkoB opened #817 "Support testing"
There seems to be no support for testing in `haskell-mode`. I tried this:

[code]
and can run tests.

What would be the proper way to implement it? Maybe also add the function to run a test at point?

[2015-08-18 22:23] ivan-m commented on #817
Sure there is: `haskell-session-change-target` and then enter in the name of the test you want to edit/evaluate/build/etc.

That said, @mrkkrp's [`ebal`](https://github.com/mrkkrp/ebal) has some support for running test suites.

[2015-08-19 00:35] kazu-yamamoto commented on #815
That's one way. But I have not enough experience of `lexical-binding` in Elisp. So, I cannot tell which is better at this moment.

[2015-08-19 00:36] kazu-yamamoto commented on #815
BTW. I used to use XEmacs to detect unused variables. But I cannot byte-compile haskell-mode with XEmacs anymore. So, I found the way to detect unused variables with Emacs.

[2015-08-19 08:42] vlatkoB commented on #817
Thanks for pointing me to `haskell-session-change-target`. I do not recall I read about it in docs.

`ebal` looks interesting.

[2015-08-19 08:42] #817 closed

[2015-08-19 09:02] gracjan commented on #817
@vlatkoB: Can you try to describe the workflow in document `haskell-mode.texi`?

[2015-08-19 10:34] vlatkoB commented on #817
I added a small [description] (https://github.com/haskell/haskell-mode/pull/819). (Not sure why PR is not displayed here.)

Was this what you meant?
If yes, please review it. English is not my mother tongue, and see if style suits you.

[2015-08-19 10:37] vlatkoB commented on #817
Would be nice if `haskell-session-change-target` would display `ido` choice of sections, instead of typing the section name.

[2015-08-19 11:01] mpickering opened #820 "haskell-mode becomes unresponsive when adding a language pragma"
When haskell-mode offers to add a language pragma or a cabal package
dependency, emacs becomes unresponsive. C-g does not make emacs
responsive. The only way to continue working with emacs is to kill the
ghc process.

Emacs setting
==============
In GNU Emacs 24.5.1 (x86_64-w64-mingw32)
 of 2015-04-12 on KAEL
Windowing system distributor `Microsoft Corp.', version 6.1.7601
Configured using:
 `conf

[2015-08-19 11:04] gracjan commented on #820
Thanks.

[2015-08-19 17:59] Rufflewind commented on #789
Never mind.  It's not really related to haskell-mode.  I think it's the result of accidentally hitting `C-x C-n` (`set-goal-column`).

[2015-08-19 17:59] #789 closed

[2015-08-20 13:18] ivan-m commented on #817
Maybe grab the code that does that from https://github.com/mrkkrp/ebal ?

[2015-08-22 08:04] gracjan opened #821 "Use flycheck to manage error and warning overlays"
flycheck has achieved status of emacs standard for on-fligh error and warning reporting. It provides visually apealing indicators, infrastructure to handle more information, keybindings and user interface. There are plans to expand the functionality to provide fixing behavior.

There is no need to reimplement all of the functionality.

Tasks to do:
- [ ] make `haskell-mode` depend on `flycheck`
-

[2015-08-22 08:28] gracjan commented on #745
Cannot reproduce this. Works as advertised.

[2015-08-22 08:28] #745 closed

[2015-08-22 10:02] deepfire commented on #815
What might look like unused lexical binding can actually be a used dynamic binding..

[2015-08-22 11:19] gracjan commented on #815
If this is the case then unused lexical binding should be converted into a
declared and used dynamic binding.

[2015-08-22 13:00] gracjan opened #823 "Use prettify-symbol-mode"
Emacs has its own `prettify-symbol-mode`. Starting with Emacs 25 that mode has `prettify-symbols-compose-predicate` that enables us to conditionally prettify dot depending on context.

Task list:

- [ ] configure `haskel-mode` to use `prettify-symbols-alist` and `prettify-symbols-compose-predicate`
- [ ] enable only in Emacs that has `prettify-symbols-compose-predicate`
- [ ] remove custom machine

[2015-08-22 13:02] gracjan opened #824 "Create a gifcast for interactive-haskell-mode startup"
We have `doc/gifcasts.el` machinery. Write a `gifcast-animate` to show off `interactive-haskell-mode` startup.

It is good enough if it loads and shows the prompt.

[2015-08-22 13:18] gracjan opened #825 "Create a gifcast showing module completion"
Create a gifcast showing module completion

[2015-08-22 14:02] gracjan opened #826 "Pull in ghc-mod's ghc-make-indent-shallower/deeper into haskell-mode"
Do:

- [ ] pull code from https://github.com/kazu-yamamoto/ghc-mod/blob/master/elisp/ghc-indent.el
- [ ] connect to `haskell-mode-map` under keys `C-c <` and `C-c >`
- [ ] use `haskell-indentation-layout-offset` for calculations
- [ ] create a pull request against `ghc-mod` that removes this functionality from there
- [ ] describe new functionality in `doc/haskell-mode.texi`

Mentioning @kazu-yama

[2015-08-22 16:22] vlatkoB commented on #817
Just created a [PR](https://github.com/haskell/haskell-mode/pull/828) with a new function that enables choosing a target from available targets in `.cabal` file..

[2015-08-22 18:19] gracjan opened #829 "Local symbol rename"
Implement functionality to rename a symbol in region, by default a single function definition.

This should adjust indentation as needed so that the program parses the same before and after.

All instances of the symbol should be renamed, even if those define different variables (so no need to fully analyze binding scopes).

Case to watch out for (everywhere rename `h` to `helper`).

Adjust layout

[2015-08-23 14:25] #815 closed

[2015-08-23 15:47] mageshb opened #830 "Getting Stack overflow in regexp matcher error in Haskell module having more than 1500loc"
I'g getting the following message, if I try to enter a new-line near that region where I got this error
haskell-indentation-skip-token: Stack overflow in regexp matcher.
I'm able to edit in other places in the same file.

My haskell-mode related .emacs config
----------------------------------------------------
[code]

[2015-08-24 04:21] kazu-yamamoto commented on #826
Assign this job to me. I will send a pull request.

[2015-08-24 05:20] gracjan commented on #826
@kazu-yamamoto: Actually I'd like to spare this task for somebody that is a less experienced lisp hacker. What you can do though is to try to find and describe more bite-sized tasks so that other people can jump in and help easily.

[2015-08-24 05:47] kazu-yamamoto commented on #826
OK.

[2015-08-25 01:59] patrickt opened #832 "haskell-decl-scan-mode fails while updating imenu"
As of haskell-mode 20150823.2218, attempting to turn on `haskell-decl-scan-mode` fails with the following message:

`Error in menu-bar-update-hook (imenu-update-menubar): (void-variable index-imp-alist)`

I'm running emacs 24.5.1 on OS X.

[2015-08-25 05:09] ivan-m commented on #832
I've just noticed this as well.

[2015-08-25 05:23] gracjan commented on #832
Do you have stack trace?

[2015-08-25 05:30] gracjan commented on #832
This:

[code]

And it is used here:
https://github.com/haskell/haskell-mode/blob/master/haskell-decl-scan.el#L502

Any takers to fix this one?

[2015-08-25 05:47] gracjan opened #833 "Sort out completing-read"
Completing read is a must-have these day. `haskell-mode` has some mechanisms to provide it, those need a clean up.

[code]

These is some special code `haskell-complete-module-read`, what does it do?

To do:
- [ ] use `funcall haskell-completing-read-function` everywhere
- [ ] remove `haskell-complete-module-read` (Note: need to check what this really is)
- [ ] find out what is going on in `haskel

[2015-08-26 16:15] fatlazycat commented on #735
Hi, don't suppose you have had anytime to look at this ?

Thanks

[2015-08-26 18:49] geraldus commented on #735
Hey pals, I'm doing everything to return to haskell-mode hacking as soon as possible!  Excuse me my delays.

[2015-08-28 08:40] rietmann opened #835 "indentation-mode wrong with tuples"
The following test example doesn't indent correctly with indentation-mode with the newest version

    main = do
      let (a,b) = (1,2) :: (Int, Int)
          test = 4
                 (c,d) = (4,3)
          ^
          |
          desired indent

I understand that haskell-indentation is undergoing quite some work, but I thought I would add another issue to fix and add to the test suite. Thanks

[2015-08-28 09:01] vwyu commented on #835
It seems that the problem may be related to the type annotiation ending with ")".

The following test case has the same issue:

[code]

[2015-08-28 11:13] geraldus opened #836 "[Discussion] Separation of concerns"
Hi everybody!

Should we simplify `haskell-mode` to just syntax highlight and indentation machinery (with some auto completion tweaks), and move all heavy interactive logic to another one package, including error highlighting (since it is related on compilation too), REPL completions, type information, etc.?

What do you think?

[2015-08-28 11:27] vwyu commented on #835
Another test case that fails:

[code]

[2015-08-28 11:43] geraldus commented on #835
Nice catch.  @vwyu can you give a try to make a PR fixing this?

[2015-08-28 11:56] ivan-m commented on #836
I'm not sure that's such a great idea, as some of the interactive logic (e.g. the new haskell-interactive stuff Chris Done added) seems to be relatively integrated together, so I'm not sure how well it would work split up into various packages.

That said, I just use haskell-mode and don't contribute to it much :)

[2015-08-28 20:41] gracjan commented on #835
Even a pr with just a failing test case would be great. The file to edit is
tests/haskell-indentation-mode-tests.el.

[2015-08-29 07:28] cocreature commented on #741
Could we just disable dabbrev until this is fixed? It hangs up my emacs for multiple seconds which is for obvious reasons pretty annoying. I'll be happy to send a pullrequest for that if you agree.

[2015-08-29 08:38] vlatkoB commented on #832
Not sure what that `sym` does (doesn't seem to be used anywhere), but I've tried with
[code]
and at first glance seems fine.

I wouldn't like to make a PR as I do not know what that is and are there any hidden consequences.

[2015-08-29 09:05] geraldus commented on #741
Please excuse me my delay and inconveniences brought by last changes.  I have some troubles here and can do nothing at the moment.  I will continue as soon as possible!  Go ahead!

[2015-08-29 09:09] geraldus commented on #741
@cocreature haskell-mode have some configuration for `dabbrev` already, by the way.  When you'll disable my stuff, can you please test how it works and share your feelings?  The one thing I've already mentioned is that dabbrev ignore case making completions useless in most cases.  In the end, I think it is possible to remove dabbrev-stuff which I provided replacing it by better configuration to ma

[2015-08-29 14:59] gracjan commented on #832
We need to change this into cond or case.

[2015-08-29 15:00] gracjan commented on #741
Pull request disabling dabbrev welcome.

[2015-08-30 14:22] #832 closed

[2015-08-30 14:26] gracjan commented on #741
Fixed by #838.

[2015-08-30 14:26] #741 closed

[2015-08-30 14:32] gracjan commented on #836
I've added a 'discussion' label here so that we know this 'issue' is a forum thread to discuss possible ways forward.

We have done splitting of `haskell-mode` already before, see for example `haskell-yas` project that used to be part of haskell mode and no longer is.

It was easy to split as the internal dependencies were not tight.

I would say that we need to do a lot of internal cleanup and un

[2015-08-30 14:59] biboudis commented on #654
And order matters.
[code]

Not the other way around.

[2015-08-30 16:47] #486 closed

[2015-08-30 16:57] #216 closed

[2015-08-30 17:00] gracjan commented on #654
Nice catch. Minor modes should not interfere.

Can you debug this so that we know why does it need the order as you
described?

[2015-08-30 17:58] gracjan commented on #197
We are heading this direction, just look here: http://haskell.github.io/haskell-mode/manual/latest/

Technically manual has the following features:
- easy to edit with git history workflow
- can looks as good as css allows
- integrates well with Emacs standard Info browser
- has usual structure
- has animated gifs showing capabilities

There is this remaining part that somebody needs to sit down a

[2015-08-31 12:05] biboudis commented on #654
Thx. I will investigate this with my colleague who is a more advanced emacs user than me. I will post findings here /cc @gbalats.

[2015-08-31 15:33] patrickt commented on #832
Thanks so much :heart:

[2015-09-02 14:59] gracjan commented on #825
Fixed by #840.

[2015-09-02 14:59] #825 closed

[2015-09-02 15:01] gracjan commented on #787
This seems to be fixed by #810.

[2015-09-02 15:01] #787 closed

[2015-09-02 15:03] #724 closed

[2015-09-02 15:07] gracjan commented on #599
Thinking about this more I come to reason that haskell indentation should have a much more permissive parser. It should care only about `of` being a keyword, `case` can be treated as ordinary identifier, so it will not bail out when it see `match`. It won't care.

[2015-09-02 15:15] gracjan commented on #764
@k-bx: Were you able to look at this?

[2015-09-02 16:16] k-bx commented on #764
@gracjan so, I didn't do any hacking (just keep using my fork), but was indeed using stack and observing.

Output is this: when you build a "main" project, stack's output is non-indented. When you build dependencies, if there's an error, stack will output it indented. So it should be fixed by regex fix, similar to the one I did for myself. I will take a look today if I can do that properly.

Secon

[2015-09-02 17:05] k-bx commented on #764
@gracjan please review PR ^

[2015-09-02 21:27] dysinger commented on #820
I'm also experiencing this crash every single time on the latest melpa release.

[2015-09-02 21:28] dysinger commented on #820
I'm on Emacs 24 on Ubuntu 15.04

[2015-09-03 00:48] mdorman opened #842 "[Discussion] Perhaps tag a release? Monthly releases?"
I know there's a temptation to want to work towards being able to declare "stability", but as the monthly activity reports @gracjan puts together highlight so well, the pace of development seems to be picking up---so maybe it's time to just make monthly tags so melpa-stable can allow people to follow along at a slightly slower pace than melpa?

I mean, the monthly report seems like it would be a p

[2015-09-03 06:58] gracjan commented on #820
This is very surprising, at least the LANGUAGE pragma. We use precomputed list of available extensions, so there should be no interaction with ghc at this point.

[2015-09-03 07:03] gracjan commented on #842
Good idea!

We could follow similar date-driven releases as rust project does (they have 6 week releases). They opted to have it purely time driven.

I've described how to make a release in [Release Procedure](https://github.com/haskell/haskell-mode/wiki/Release-procedure).

[2015-09-03 07:59] gracjan opened #843 "Clean up example init.el on wiki"
Example `init.el` is in the wiki

https://github.com/haskell/haskell-mode/wiki/Example-init.el

- [ ] move whatever is useful code to code
- [ ] move whatever is useful documentation to documentation
- [ ] kill the wiki page

[2015-09-03 13:50] vejkse commented on #820
I’m also using the latest melpa release with emacs 24.5.1 and I can bring a few precisions:
- emacs recovers its responsiveness after hitting C-g 3 times (or, as said above, killing ghc, but this is unnecessary, at least in my case);
- the answers (y/n) are not discarded, but inserted into the source code once emacs is responsive again;
- it happens also when unnecessary imports are suggested for

[2015-09-03 14:07] YoEight opened #844 "Invalid token: ="
Hi,

I updated my haskell-mode with MELPA and I keep having

[code]

here a snippet

[code]

The syntax looks good to me. That prevents me from editing my buffer. Is it possible to disable such behavior ?

Thanks for your time.

[2015-09-03 21:58] ivan-m commented on #844
Which indentation mode are you using (as that's probably what's causing it)?  Are you doing any other customisations?

[2015-09-04 07:22] YoEight commented on #844
I use that one

`(add-hook 'haskell-mode-hook 'turn-on-haskell-indentation)`

I also run

`(add-hook 'haskell-mode-hook 'haskell-style)`

[2015-09-04 11:47] #835 closed

[2015-09-04 11:47] #844 closed

[2015-09-04 11:49] gracjan commented on #786
Hmm, technically this is correct in current implementation of `haskell-indentation`. The point is that clause after `of` may be empty and `Just` may start a new statement. `haskell-indentation` does not look past the first token on the line you are indenting.

I see how this might be confusing though... just not sure how to improve given current indentation design.

[2015-09-04 11:54] dzhus commented on #786
Thanks for the explanation. However, a there's an equal possibility that there *is* a clause after the `case` line (and this is usually the case in the wild with actual Haskell code). It should be possible to cycle through indentation options with TAB.

I believe in this case we should look at the line *before* the current line? And how is this different from `case` line being indented after `f x`

[2015-09-04 11:56] gracjan opened #847 "Drop Emacs 23 support"
We have introduced lexical binding, currently we use it in backward compatible manner. This requires us to jump through some hops to keep the appearances. An example can be found here:

https://github.com/gracjan/haskell-mode/blob/9a6fa5073ac505c41f085d492f39e8ff415a7d13/haskell-indentation.el#L899-L904

[code]

On top of this Emacs 23 lacks build in `cl-lib` and does not support `package.el` out

[2015-09-04 12:01] gracjan commented on #786
Hmm, I think I misunderstood your comment.

To clarify: I get BOTH indentation points proposed. Do you get something else?

[2015-09-04 12:03] dzhus commented on #786
Yes, I am only suggested to have my `Just 5` aligned on the same column as `case`. I cannot cycle with TAB to actually  indent the `Just 5` line.

[2015-09-04 12:09] gracjan commented on #786
That is interesting. Are you using `haskell-indentation` or something else?
The latest github version or other version?

[2015-09-04 14:22] gracjan opened #848 "Split up gifcasts.el and connect dependency to specific gifs in Makefile"
Split up gifcasts.el and connect dependency to specific gifs in Makefile.

Note that this target should not be build by default as it is still to fragile to do this automatically.

[2015-09-04 15:05] #764 closed

[2015-09-04 15:17] gracjan commented on #782
Just checked the particular issue that spawned this discussion and it works. So closing this issue.

If you wish to continue discussing indentation by all means please open other discussion issue about it.

[2015-09-04 15:17] #782 closed

[2015-09-04 17:45] mrkkrp commented on #847
Of course, let's drop it. I can't image any devoted Emacs user still uses Emacs 23.

[2015-09-04 20:27] gracjan commented on #847
There might be people stuck on not-their-own machines without a possibility to upgrade.

But then those would be more of Emacs 22 kind and that is already as good as dead.

[2015-09-04 20:44] #811 closed

[2015-09-04 20:45] gracjan commented on #811
There you go. Thanks for reporting this issue.

[2015-09-04 20:56] gracjan opened #850 "imenu/speedbar does not update"
http://stackoverflow.com/questions/10395024/emacs-haskell-mode-speedbar-not-updating

Well, it should update. We need to trigger updates at convenient points.

[2015-09-05 09:31] YoEight commented on #844
Thanks !

When that patch would be available on MELPA please ?

[2015-09-05 10:48] geraldus commented on #847
There was some activity recently from people using Emacs 23, so let's wait a bit for feedback.

[2015-09-05 11:35] gracjan commented on #844
Should be already there.

[2015-09-05 11:36] gracjan commented on #847
I was thinking about dropping emacs 23 in the beginning of year 2016.

[2015-09-05 23:18] khumba opened #851 "Filling of Haddock comments is broken"
Set `fill-column` to 80 and try filling the following comment with `M-q`:

    -- | asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf 1234 5678
    -- 90ab
    main :: IO ()

Despite the first line being longer than 80 characters, it won't move `5678` to the next line.  If you remove the leading `|`, or remove the whole `90ab` line, it will wrap, but if the comment already has

[2015-09-06 06:46] gracjan commented on #851
Thanks for the report.

Can you add this as a test case in tests directory?

[2015-09-06 07:34] khumba commented on #851
On Sat, 05 Sep 2015 23:46:07 -0700
Gracjan Polak <notifications@github.com> wrote:

Sure.  Not sure if you wanted a pull request (of course, the test
failed), but see https://github.com/haskell/haskell-mode/pull/852.

[2015-09-06 17:56] gracjan commented on #851
@khumba: since there is a nice test case now how about you help us fixing this issue? We have something wrong with the definitions of `paragraph-separate`, `paragraph-start` or `fill-prefix`. More documentation here:

http://www.gnu.org/software/emacs/manual/html_node/emacs/Fill-Prefix.html
http://www.gnu.org/software/emacs/manual/html_node/emacs/Paragraphs.html

[2015-09-06 21:38] khumba commented on #851
I'll take a look when I get a minute.  One observation, `-- ^` doesn't trigger the problem.

[2015-09-06 22:44] khumba commented on #851
`a3173e9d` is where the problem starts (pull #387).

[2015-09-06 22:54] khumba commented on #851
Okay, I think the problem is that paragraph-separate should only match
lines between paragraphs, and not the first line in each paragraph as
well.  When I remove the " *-- |" case from paragraph-separate, my
test case is fixed.  Does this sound sensible?

I'll test this more thoroughly and send another PR.  " *-- \\^" also
needs to be added to paragraph-start.

[2015-09-06 22:57] khumba commented on #851
I have no idea why Github decided that there is quoted text in my
previous comment, but it's not...  On the subject of parsing bugs :).

[2015-09-07 00:02] ivan-m commented on #851
I normally only see that quoted text in GitHub issues when someone replies via email rather than using the web interface.

[2015-09-07 00:34] khumba commented on #851
On Sun, 06 Sep 2015 17:02:50 -0700
Ivan Lazar Miljenovic <notifications@github.com> wrote:

But then, there's usually text quoted with a greater than symbol or
the like, but there wasn't in the email I sent.  Guessing it had
something to do with the " *-- \\^"...

...and not the second paragraph...

[2015-09-07 02:59] asr commented on #811
Great! Thanks for fixing the issue.

[2015-09-07 05:24] gracjan commented on #851
Please have a look at font-lock. There are four symbols that can start
haddock comment.

[2015-09-07 06:38] gracjan commented on #847
What about XEmacs? Is it active and used?

[2015-09-07 08:58] gracjan commented on #851
The precise definition of a paragraph boundary is controlled by the variables paragraph-separate and paragraph-start. The value of paragraph-start is a regular expression that should match lines that either start or separate paragraphs (see Regexps). The value of paragraph-separate is another regular expression that should match lines that separate paragraphs without being part of any paragraph (f

[2015-09-07 12:01] gracjan opened #854 "void-variable implicit-layout-active"
With source file like this:

[code]

When point is placed after closing brace then `haskell-indentation-find-indentations` throws `(void-variable implicit-layout-active)`. A bit of stack trace:

[code]

Note that `implicit-layout-active` is declared as dynamically bound:

[code]

What are the conditions when a variable can be both dynamically bound and cause `void-variable` issue?

Documented in t

[2015-09-07 19:30] #854 closed

[2015-09-08 03:55] gergoerdi commented on #500
I've just updated my haskell-mode from an ancient version and immediately noticed the lack of this feature. My problem is not that unindent-or-delete-backwards is not bound to backspace by default; the problem is that I don't see where the functionality is implemented! (in v13.14.2)

Does that mean I need to revert to my old version from 2012 to get this functionality back?

[2015-09-08 04:04] gergoerdi commented on #500
Would something like this work?

[code]

[2015-09-08 07:02] gracjan commented on #500
Authors of haskell-indentation provided two ways to control indentation:
- TAB cycle that goes over all possible indentations for a line
- SHIFT-TAB to unindent

[2015-09-08 08:17] gergoerdi commented on #500
Yes, and neither of them is what I and the OP want. With the `haskell-indentation-unindent-or-delete-backwards` function mapped to `[backspace]`, you can use backspace to delete one indentation level if you press it at the start of a line, or one character otherwise. This is exactly the functionality that OP was missing in the newer versions.

I'll prepare a proper pull request that adds these fun

[2015-09-08 08:26] gracjan commented on #500
I wasn't the one deciding to remove this functionality.

Please remember to add test cases in `tests` directory for the new
functionality you are providing.

Note that TAB-cycle functionality is also buggy at this point. Since you
are going to fix that part of the code you could look also in this issue.

Please also extend documentation so that it mentions all the
TAB/S-TAB/backspace options to ha

[2015-09-08 20:53] bitemyapp opened #856 "Don't override M-n without permission/configuration"
Making M-n something other than `next-error` is annoying and breaks everything else.
![screenshot from 2015-09-08 15 53 28](https://cloud.githubusercontent.com/assets/320177/9747176/c1971572-5641-11e5-9b95-0635cc9636cb.png)

[2015-09-09 10:51] k-bx opened #857 "There is no option package-archives"
I installed fresh emacs24-nox, ran it, wanted to install haskell-mode, due to instructions:

But there is not option `package-archives`. Maybe correct would be to advice to `customize-variable RET package-archives`?

[2015-09-09 11:18] syohex commented on #857
Please add `(require 'package)` to your configuration file(`~/.emacs.d/init.el`) and retry.

See also
- http://ergoemacs.org/emacs/emacs_package_system.html
- http://emacswiki.org/emacs/ELPA

[2015-09-09 11:20] k-bx commented on #857
@syohex Should we update README with this info? These instructions are the very first thing you see at https://github.com/haskell/haskell-mode

// btw, using `customize-variable` worked for me.

[2015-09-09 11:22] syohex commented on #857
Yes. It is good for Emacs newbies.

[2015-09-09 11:53] gracjan commented on #857
README.md should be as newbie friendly as possible. By all means please
improve as much as you can and send a pull request.

Note that our users are programmers so we should give them a hint that we
very eagerly accept contributions.

[2015-09-09 11:54] gracjan commented on #857
Per Emacs documentation: customize-variable is an alias for
`customize-option' in `cus-edit.el'.

[2015-09-09 11:58] k-bx commented on #857
@gracjan thank you, it is indeed weird then. I confirm they do seem equal, probably something happened during restart, and this variable occurred.

Removing `~/.emacs` and `~/.emacs.d` removes this variable from options again (from both commands). I'll try to observe further.

[2015-09-09 11:58] #857 closed

[2015-09-09 12:00] k-bx commented on #857
Adding `(require 'package)` helps (adds this variable to `customize-option/customize-variable` list), so maybe it should be added to instructions.

[2015-09-09 12:11] gracjan commented on #857
If this is so complicated we should just point people to official MELPA
documentation that says to to make use of melpa or melpa-stable.

[2015-09-09 16:45] gracjan commented on #856
@deepfire: Serge, can you look at this? I think we have a keybinding conflict here.

[2015-09-09 17:33] deepfire commented on #856
@gracjan, there are two questions at play:
1. why `ghc-mod` people get away with that, and `haskell-mode` cant? I think I sort of understand the question
2. what would be the alternative keybinding?

[2015-09-09 20:43] deepfire commented on #856
Also:  `M-n` and `M-p` were picked /exactly/ because they simulate `next-error`/`previous-error`.

@bitemyapp, what is the clash with?

[2015-09-09 21:10] bitemyapp commented on #856
@deepfire flycheck, which I use for hlint / type errors.

They shouldn't be doing it either, but I stopped using ghc-mod because how fragile it was already.

[2015-09-09 21:29] gracjan commented on #856
Flycheck uses `C-c ! n` and `C-c ! p`.

http://www.flycheck.org/manual/0.23/Navigating-errors.html

[2015-09-09 21:52] bitemyapp commented on #856
@gracjan right but it works if you invoke next-error which is what M-n should be assigned to by default. Flycheck uses those shortcuts in part so it _doesn't_ clobber the default.

[2015-09-10 06:00] gracjan commented on #856
I see nothing about next-error  in flycheck documentation.

Make-mode rebinds M-n for its own purpose, ghc-mod does the same. Why is it
okay for them and at the same time not okay for Haskell-mode?

[2015-09-10 11:12] deepfire commented on #856
@bitemyapp, do I understand it right, that flycheck somehow integrates into `next-error`?

[2015-09-10 12:12] ivan-m commented on #856
From what I understood from bytemyapp, flycheck does *not* integrate next-error, and specifically uses keybindings that don't override the ones used by next-error.

Indeed, if I try and use flycheck I can't get `M-n` to do anything.

When I look do a `describe-function next-error`, I'm told that the keybindings are ```C-x `, M-g n, M-g M-n```.

Furthermore, I know at least magit re-uses `M-n`.

Ac

[2015-09-10 14:03] gracjan commented on #856
Issue #821 should get this usability part fixed as a side effect.

[2015-09-10 19:08] patrickt opened #860 "haskell-process-cabal-build prevents input while it's running"
When building projects with haskell-process-cabal-build, emacs refuses to accept any keyboard input while the compilation process is running. I noticed this regression around two weeks ago; I was unable to debug it further, as I'm not good enough at elisp to answer the question "what is blocking and eating all the keyboard events?"

I am running with `haskell-process-type` set to `'stack-ghci`, on

[2015-09-10 20:58] arybczak opened #861 "Indentation mode needs to be able to recover from parser errors"
If there is a parse error while trying to determine indentation (e.g. after pressing Enter), the mode completely breaks down. In the past it dropped to the beginning of the next line, currently the Enter key just stops working. This makes the whole mode unreliable to use.

My proposition is that it should be ensured that if the indentation breaks, the mode will still be more or less usable (at lea

[2015-09-10 20:58] gracjan commented on #860
Thanks for reporting. We will need to wait on somebody that knows how to
debug emacs process handling issues.

[2015-09-10 20:58] arybczak opened #862 "Scoped type annotations break indentation"
The following code fragment break haskell-indentation-mode:

[code]

When you scroll to the line with the second bind and press enter, emacs displays `Illegal token: <-` and refuses to go to the next line (which in itself is a big problem, see #861).

[2015-09-10 21:07] patrickt commented on #860
@gracjan No worries. Let me know if I can help out.

[2015-09-11 06:21] purcell commented on #856
Yep, I use M-n and M-p for other things, so I don't like that they're overridden. I can (and have) worked around that in my own config but in fact, since I use `flycheck` for compiler warnings, I'd actually like to be able to disable all the special overlay and fringe handling which is currently unconditionally triggered by loading the current file. But that may be a separate issue.

[2015-09-11 06:23] purcell commented on #856
I can imagine a `haskell-after-load-hook`, such that functions added to this hook would be passed a list of errors/warnings etc. The default hook list would include a function which marks up the current buffer with overlays/fringe annotations etc. Then I could disable that hook, or add my own handlers as desired.

[2015-09-11 06:25] purcell opened #863 "Jumping with M-. within the current buffer marks a region"
If I use `M-.` to jump to a symbol definition, and that definition is in the same file, then when the point is moved, the region between the previous and new positions is selected. I would expect the region not to be activated.

I can patch this in due course, but I wanted to record the issue here.

[2015-09-11 06:28] purcell commented on #847
FWIW, `cl-lib` from ELPA works fine with Emacs 23, and plenty of people use `package.el` with Emacs 23. So those shouldn't be relevant factors here. Lexical binding *may* be sufficient justification, but I don't personally find it a compelling argument.

[2015-09-11 07:32] gracjan commented on #847
I know it works. It just isn't there by default.

[2015-09-11 07:58] geraldus commented on #856
Sounds good.

[2015-09-11 08:15] hvr opened #864 "`process-load-or-reload` suddenly requires `stack`"
When I <kbd>M-x process-load-or-reload</kbd> today I started getting

[code]

This seems to have regressed recently with f4b184181db3ac1ac3698b3b61702ab60f26808f (@purcell) which incorrectly assumes that the presence of a `stack.yml` file implies that the user wants to use `stack` even though it was maybe just added there for convenience to other Stack users.

It's perfectly fine if `haskell-mode`

[2015-09-11 08:45] purcell commented on #864
I think perhaps we should just additionally check for the presence of a `stack` executable in this case before choosing `stack-ghci`.

[2015-09-11 08:47] purcell commented on #864
(Done in 142334f)

[2015-09-11 08:48] hvr commented on #864
Now I just need to figure out a way to keep haskell-mode from using `stack-ghci` even though I have `stack` in my path somewhere. Is there a way to configure the `stack` executable location? Then I could set that to some non-existent path.

[2015-09-11 08:50] purcell commented on #864
The thing is, there's no "right" answer for "auto". I use stack in some cases, and for this "simplified" haskell project setup, I then need to set up a `.dir-locals.el` to override the `haskell-process-type`. This seems broken.

[2015-09-11 08:50] hvr commented on #864
@purcell, you should probably place the check for a `.cabal-sandbox` before checking for the existence of the stack.yaml file

[2015-09-11 08:52] purcell commented on #864
What this boils down to is that some (many?) projects will have both a `*.cabal` file *and* a stack.yml, so then there's no perfect choice for `auto`. My thinking is that if somebody added a stack.yml, then the project is specifically designed to work with `stack`.

[2015-09-11 08:55] purcell commented on #864
What do you think would be the `auto` behaviour which would do the right thing for the greatest number of users? I'm really not sure. Perhaps most people don't care, because they simply customize `haskell-process-type` to suit their most common needs, but the more often we can avoid the need for a project-specific `.dir-locals.el` file, the better.

[2015-09-11 08:55] hvr commented on #864
If a `.cabal-sandbox` folder exists, then the current working dir was clearly initialised by `cabal sandbox init` and hence is not supposed to be used via `stack`. OTOH, `stack` creates a different set of working dirs. So you can come up with a better heuristic for determining what the user wants.

And that's a wrong assumption. I have seen users submitting PRs to projects whose maintainer definit

[2015-09-11 08:57] purcell commented on #864
Like I say, I think there's no perfect answer, but checking for the `.cabal-sandbox` folder would be a really good heuristic to use.

[2015-09-11 09:00] purcell commented on #864
Done. How does that look?

[2015-09-11 09:01] purcell commented on #864
If you and others are strongly opposed to this, I'm happy to revert these changes, but I'd like us to do what we can to maximise the number of users for whom "auto" will do something sensible out of the box.

[2015-09-11 09:01] hvr commented on #864
This depends on the percentage of `stack` vs `cabal` users, and on what the presence of a `stack.yaml` files actually means. Maybe `auto` should come with an additional customizable variable which controls the default bias towards `cabal` or `stack`.

This variable could say:

 - never use `stack` (even if the `stack` tool is available and a `stack.yaml` file exists and/or `stack`-sepcific working

[2015-09-11 09:06] purcell commented on #864
Perhaps if we had something like a `haskell-process-stack` var which was initialized to `(executable-find "stack")`, then we could do stack-related stuff only if that variable is set. And people who don't want to use stack could set that var to `nil`. It's really just a question of where to put these hints, I suppose.

[2015-09-11 09:06] hvr commented on #864
deb809b is already an improvement. I think `cabal` also uses `dist/` (located in the folder where the `.cabal` folder exists) exclusively (and `stack` probably uses something differently named from `dist/`). So that'd be another distinguishing feature of `cabal` vs `stack` you could check for.

[2015-09-11 09:08] purcell commented on #864
Yeah, there's a `.stack-work` dir which is equivalent to both `.cabal-sandbox` and `dist`.

[2015-09-11 09:09] purcell commented on #864
When neither `.cabal-sandbox` or `.stack-work` exist - and when both a .cabal file and a stack.yml file are present - it'd be nice to prompt the user to create one or the other.

[2015-09-11 09:11] hvr commented on #864
yeah, I agree (assuming a `stack` executable can be found, there's no point in asking a question if you can't follow through with both alternatives)

[2015-09-11 09:14] purcell commented on #864
And assuming a `cabal` executable can be found, of course -- you can use `stack` without one!

[2015-09-11 09:16] hvr commented on #864
That's only mostly true... `stack` still calls out to `cabal` if it needs to compute install-plans (i.e. if you need to use packages outside the stackage-set) :-)

[2015-09-11 09:39] ivan-m commented on #864
Don't search for `.cabal-sandbox` as a user might have a non-standard sandbox location; you're better off searching for `cabal.sandbox.config` (as I believe that file can't be renamed).

[2015-09-11 09:44] purcell commented on #864
Makes sense - done.

I'll quit fiddling with this now, though -- if there's consensus that this is all misguided, or that there's a better approach, we can feel free to throw out these changes.

[2015-09-11 09:44] hvr commented on #864
@ivan-m good point... there's actually also ongoing work (see https://github.com/haskell/cabal/issues/2810) making it possible to place the `cabal.sandbox.config` in some parent folder.

However, you can actually rename that config file via

[code]

But that's probably not done very often (except for build-bots and/or specific build-scripts)

[2015-09-11 16:01] gracjan commented on #864
So how does this work now?

There needs to be a section in manual that describes current behavior. @purcell: Can you write/update one?

[2015-09-11 23:03] purcell commented on #864
Yes, there was also no description of the previous logic. I have updated the documentation for the `haskell-process-type` var to describe both the old and new logic: 3a03999.

[2015-09-12 07:58] #863 closed

[2015-09-12 08:02] gracjan commented on #862
We can either:
- cover up by swallowing all exceptions and pretend that nothing happened
- make it so that every stream of letters is accepted as input and 'Illegal token' is never thrown

I would like to go the second route as it is more manageable.

The specific issue here is that type operator `::` is treated too special in indentation when it should not be so. That is architecture problem that

[2015-09-12 10:27] gergoerdi commented on #500
@EDmitry can you try my pull request and see if it works for you?

[2015-09-12 16:27] ghost opened #867 "haskell-simple-indent-mode non-responsive"
When I enable haskell-simple-indent-mode, and attempt to do anything other than indent in haskell mode, emacs becomes non responsive.  Hitting C-g will cause it to interrupt, and throw an error regarding undo and the undo size, when I finally get my input in the buffer, it appears backwards.  `print` will appear as `tnirp`.

The *Warnings* buffer shows the following:

    Warning (undo): Buffer `*

[2015-09-12 17:48] gracjan commented on #867
Does this happen in source code directly or only in org mode embedded
source?

[2015-09-12 23:10] e3home commented on #867
Only in the embedded source.  Indentation doesn't seem to work at all for me however (I can't just have an expression at the start of the line, it's always insistent on having it indented to some level (generally 2)).  I'm not entirely sure why this is.

[2015-09-13 00:22] slpopejoy opened #868 "haskell-indent jumps to 4 characters at top-level"
To reproduce, create a new .hs file, enter "module Foo where". Next line will be indented 4 characters. Same with after imports. This showed up on mac emacs after upgrading to latest haskell-mode (haskell-mode-20150912.58).

To attempt to fix, I added `(not (or (looking-at "module") (looking-at "import")))` to `haskell-indent-contour-line` in haskell-indent.el. Seems hacky. So far seems to resolve

[2015-09-13 00:56] slpopejoy commented on #868
Hmm... actually this seems like maybe an Emacs change -- `electric-indent-mode` seems to be kicking in on newlines even though `electric-inhibit-indent` is set to `t`.

[2015-09-13 00:57] slpopejoy commented on #868
OK this is because of problems discussed in https://github.com/haskell/haskell-mode/issues/377

[2015-09-13 00:57] #868 closed

[2015-09-13 01:11] ivan-m commented on #867
Probably an interaction between org-mode's tabbing and haskell-mode.  What does `C-h k <tab>` say?

[2015-09-13 01:12] ivan-m commented on #377
I think we need to do something similar in `haskell-cabal-mode` as well, as electric-indent can do weird indentation there as well.

[2015-09-13 01:15] slpopejoy commented on #377
Given the bad support for `electric-indent-inhibit` noted in https://github.com/haskell/haskell-mode/issues/377#issuecomment-72233321 I propose haskell-mode go for a full shutdown of electric indent a la https://github.com/haskell/haskell-mode/issues/377#issuecomment-64126148

[2015-09-13 03:29] e3home commented on #867
Currently, `yas-expand`.  After disabling yasnippet, it shows as `indent-for-tab-command`.  The use of `haskell-simple-indent-mode` bogs down the emacs process, I've switched to `haskell-indent-mode`, but still have the issue of incorrect indentation.

And to the org-mode tabbing issue, I enter the code block using `C-c ;`, and edit it directly in haskell-mode.

[2015-09-13 08:48] gracjan commented on #867
We had some reports about yas causing issues. You may want to search archives. AFAIK we weren't able to find what is going on.

Having said that can you try `haskell-indentation-mode`?

[2015-09-13 10:21] gracjan commented on #377
Radical. Can we do some more research about this?

Electric mode has a black list of modes when it does not activate. It might
be better to add Haskell-mode to that list.

[2015-09-13 11:02] mrkkrp opened #870 "A couple of propositions for load/reload thing"
I set `haskell-process-load-or-reload-prompt` to `t`, so every time I start Haskell process I need to answer questions. Can you fix two things:

1. When I abort the “dialog” at some point (via `keyboard-quit`) it should not create new empty buffer, preferably, nothing should happen at all.

2. Consider removing question about Cabal directory. This package can find Cabal files pretty well, I cannot

[2015-09-13 13:53] mathlover2 opened #871 "Autocompletion in REPL in multiline mode hangs Emacs"
I like to work in multiline mode with auto-complete, and have noticed the following bug: when I press TAB to complete a word, the entire Emacs session hangs. I have not found anything that mitigates the issue, short of restarting Emacs.

[2015-09-13 14:05] gracjan commented on #871
What is multiline mode?

[2015-09-13 14:16] mathlover2 commented on #871
Multiline mode is a GHCi mode in which one can insert statements over multiple lines. It is activated by using ":set +m" in the GHCi prompt.

[2015-09-13 14:19] gracjan commented on #871
Oh boy. I do not think anybody thought about mixing this one...

Note that interactive-haskell-mode interacts with GHCi as a subprocess when
inferior-haskell-mode interacts wih GHCi as a subshell (with terminal
capabilities). I guess this might be the reason multiline does not work as
it should.

[2015-09-13 14:23] sgillis opened #872 "Stack ghc not working with docker"
I'm trying to run the interpreter using `stack-ghci`. This works well if I use stack with a locally installed ghc. When I put `docker: enable true` in my `~/.stack/stack.yaml`, stack will use Docker containers for building/running. This is when something goes wrong.

I see a Docker container is being created, and when I execute `docker logs <container_name>` I see the commands I sent through the `

[2015-09-13 14:24] e3home commented on #867
Sure.  It doesn't lock things up,  but I still get weird indentation.  I.E.:

    print ""
      print ""

Even though I'd rather have something like

    print ""
    print ""

And actually, for every character I type, it indents a little bit more.

[2015-09-13 14:27] gracjan commented on #872
Creative approach.

Are there any people here that can help with this setup?

[2015-09-13 14:27] gracjan commented on #867
Can you try again with 'haskell-indentation-mode'?

[2015-09-13 14:29] e3home commented on #867
I did.  That's when I the get wonky indentation.  No idea why, no messages printed about it.  I disable yas-minor-mode in haskell-mode, so that shouldn't be causing a problem.

[2015-09-13 14:43] gracjan commented on #867
Staircase used to be due to electric-indent-mode, but that one should be
disabled by default.

Can you check if you have electric-indent-mode enabled by chance?

[2015-09-13 14:57] e3home commented on #867
I do have it enabled (well, did).  I went ahead and disabled it in Haskell mode, and it works as expected.  Thanks.

[2015-09-13 15:01] gracjan commented on #867
It should not be enabled as we take steps to disable it. Do you know why
did you have had it enabled?

[2015-09-13 15:10] e3home commented on #867
It's enabled globally.  Adding a hook function to purposely disable it and `aggressive-indent-mode` fixed it.

[2015-09-13 15:13] gracjan commented on #867
What is aggressive-indent-mode?

[2015-09-13 16:12] e3home commented on #867
An add-on to electric-indent-mode.  It indents stuff even more automatically than aggressive indent mode.  I use it when writing lisp (which I do a lot).

[2015-09-13 16:16] gracjan commented on #867
If you write a lot of lisp then feel invited to helping us with
haskell-mode. We could use an experienced lisper.

[2015-09-13 16:24] e3home commented on #867
Wrong kind of lisp.  I do a lot of DB and web stuff, emacs lisp is not my forte.

[2015-09-13 16:34] gracjan commented on #867
Emacs lisp is tiny compared to any other lisp. Also Emacs as an execution
environment has only tiny amount of functions to use and quirks to learn.
It all fits nicely in the head at once.

[2015-09-13 16:45] e3home commented on #867
Might as well try, but as it is, I'm learning haskell, so having someone who doesn't know the language working on its major mode doesn't seem like a good idea...

[2015-09-13 18:14] gracjan commented on #867
We have quite many obvious tasks and bugs. Just look at the
well-defined-task label:

https://github.com/haskell/haskell-mode/issues?q=is%3Aopen+is%3Aissue+label%3Awell-defined-task

[2015-09-13 23:17] slpopejoy commented on #377
Honestly I'm a little surprised that the various indentations *do not* use electric, since that seems to work fine for c, java, perl etc. While on this topic, I wonder why haskell-mode doesn't leverage `semantic` to parse source files ... I worked pretty heavily on java emacs stuff in another life and semantic kinda rules.

[2015-09-14 01:32] e3home commented on #867
I'll think about it, but I need to take care of other things (school) first.  And I'd like to get access to my primary GH account first anyways.

[2015-09-14 05:39] gracjan commented on #377
Electric seems to work best for languages with a unique, well defined
indentation point derived from curly braces or parentheses. Haskell usually
has multiple choices how a line should be indented with different semantics
so a programmer needs to choose which semantics he wants.

What exactly does 'semantic' buy in this case? Honest question, I've never
used it.

[2015-09-14 07:25] #862 closed

[2015-09-14 07:26] purcell commented on #377
[Semantic](https://www.gnu.org/software/emacs/manual/html_node/emacs/Semantic.html) is pretty huge, and `java-mode` doesn't use it afaik -- I don't think it's really a building block for major modes. There are languages with more complicated syntax than haskell which Emacs managed to indent robustly. An example would be `ruby-mode`, which in its latest incarnation is built on the new `smie` indent

[2015-09-14 07:56] gracjan commented on #377
Is there a well known open source project that depends on semantic?

[2015-09-14 08:39] YoEight opened #875 "Get hit by 'Invalid Token := )'"
Hi,
I have an issue with an invalid parsing tree again that prevents me from editing my buffer. Unfortunately, I unable to know where it comes from as the source file is quite big and `ghc` isn't complaining. I'm reiterating my previous suggestion. Is it possible to disable such feature, I mean being able to tune it through a setting? Personally, I don't ask that much from a language mode.

Thanks

[2015-09-14 08:59] gracjan commented on #875
Can you copy and paste the declaration or function where you have this
token?

[2015-09-14 13:30] YoEight commented on #875
Unfortunately, it's a proprietary code. I'll try to figure out what could cause this and post a contrived version. It might also be helpful to add the line and the column where 'Invalid Token' happens in the buffer.

[2015-09-14 19:15] alokedesai opened #876 "Can't press enter in haskell interactive mode"
When I press `C-c C-l` in a haskell buffer, a haskell REPL opens successfully, but I can't press enter to evaluate a haskell expression. Any ideas what this could be? haskell-mode is the only package I have installed and I've also tried reinstalling haskell-mode and even emacs to no avail.

Here's my `.emacs` file in case you need it

[code]

[2015-09-14 20:22] gracjan commented on #876
Can you try to set to nil each of the variables in turn:

[code]

so that only one of those is set to `t` and then report what happened?

[2015-09-14 21:45] alokedesai commented on #876
I've tried every possible permutation of setting t to nil in these three lines and none of it worked

[2015-09-15 05:09] gracjan commented on #876
Is there anybody else out there that has similar problem?

[2015-09-15 05:30] alokedesai commented on #876
I've seen this [stackoverflow post](http://stackoverflow.com/questions/31220370/emacs-interactive-haskell-repl-non-response-if-either-the-cabal-or-working-direc) and another forum post somewhere that I can't remember that both describe similar problems but no fix has been described.

[2015-09-15 06:12] ivan-m opened #877 "Ask for session target"
It seems now that with the work towards not asking the user questions at the start of each session, you are no longer asked for which target you want to use.

This means that if I'm starting to hack on a project with multiple targets, I'm suddenly dropped into an Interactive Haskell buffer telling me that it can't find modules from packages that aren't listed in the default target.

How can I chan

[2015-09-15 09:44] gracjan commented on #877
There is haskell-session-change-target. But then you are right that the
first load tries with default target first and the is not optimal.

What do you propose?

[2015-09-15 09:45] ivan-m commented on #877
If there are multiple targets in the `.cabal` file, then ask (especially with the new ido-based listing); otherwise, just use the default.

[2015-09-15 10:14] gracjan commented on #877
Will you implement this?

[2015-09-15 10:14] ivan-m commented on #877
I can have a look, but no promises.

[2015-09-15 10:44] gracjan commented on #876
33 upvotes and you are the first one to report the issue. Thanks for doing that. 33 people will be happy when we fix this one!

[2015-09-15 15:10] YoEight opened #878 "Invalid Token :|"
Hi,

I'm not sure if I should have put that one on the previous ticket I made. Frankly, I have a lot of those in various situations, so please tell me how would be the best way to report those.

In this case, here's the code snippet:

[code]

The error disappears when I get rid of the comment.

Thanks for your time.

[2015-09-15 17:08] gracjan commented on #878
Really good report. Keep those coming.

Are you able to turn this into a unit test case in the tests directory?

[2015-09-15 17:56] e3home opened #879 "Standard Keybindings not available"
The standard keybindings as shown on the haskell-wiki page are not available.  When using `C-c C-|`, I get the following error: `C-c C-| is undefined`.

Any help would be appreciated.

[2015-09-15 20:15] gracjan commented on #879
This is for haskell-indent-mode not haskell-indentation-mode.

[2015-09-15 21:46] swflint commented on #879
OK.  Thanks.  You might want to make that clear on the wiki page.

[2015-09-16 01:00] slpopejoy commented on #377
While `java-mode` doesn't use semantic, `jdee` does which is more like `haskell-mode` in that it offers completion, ant integration, maybe maven now too for all I know. Via `semantic` it's able to offer nice things like incremental parsing, completion in as-yet-uncompiled code, etc.

My experience back then (circa 2003) was semantic was very fast and has a great API for use within an IDE-like mode

[2015-09-16 12:24] gracjan commented on #879
Wiki page content should be moved to documentation proper and all such discrepancies should be killed in the process.

I'll close this issue.

[2015-09-16 12:24] #879 closed

[2015-09-16 14:52] gracjan commented on #875
We need to work by example. If you cannot provide the code we will need to close this issue.

[2015-09-16 16:35] gracjan commented on #826
@kazu-yamamoto: I see that nobody volunteered. Can you do this one yourself?

[2015-09-16 18:53] YoEight commented on #875
Sure, I didn't find a contrived example yet but I got the same error in a different context:

[code]

[2015-09-16 18:59] YoEight commented on #875
From experience, it seems it has to do either on `DataKinds`-like expression or `TemplateHaskell` splice.

[2015-09-17 05:03] cmears opened #882 ""Unexpected response from haskell process" when loading in new session"
Sometimes when you press C-c C-l to start a new session and immediately load a file, I get "Unexpected response from haskell process." I think this is due to a race condition.

When the new session starts, it issues a few commands to set the prompt, set verbosity and change directory. If the empty response to these commands comes late, they appear to haskell-mode to be in response to the load comm

[2015-09-17 06:56] gracjan commented on #882
As I understand how command queue is supposed to work is that it should
follow strict request-response-request-response order. Pending commands
should be queued.

If what you say is true then that would explain some other transient bugs
reports.

[2015-09-17 13:43] k-bx opened #883 "Parse error: Illegal token: where"
For this code:

[code]

If I press "enter" while having a cursor at the end of a `where` word, I see an error `no catch for tag: parse-error, "Illegal token: where"`

(bug was updated with a simpler use-case)

[2015-09-17 13:46] gracjan commented on #883
That is surprising. Would you care to add a unit test case?

[2015-09-17 13:46] k-bx commented on #883
@gracjan sure, will try to do that (after I fill another bug-report, hehe)

[2015-09-17 13:47] k-bx opened #884 "parse-error "Expecting then" "Expecting else" DoAndIfThenElse in indentation"
For this code:

[code]

when you press enter after "True" – you get an error:

let: No catch for tag: parse-error, "Expecting then"

[2015-09-17 13:48] gracjan commented on #883
Sufficient test suite is a prerequisite to actually fix the indentation
problems once and for all.

[2015-09-17 13:49] k-bx commented on #883
@gracjan can't agree more :) sorry for silly question: is there an info where tests are and how do I run them? Couldn't find on wiki.

[2015-09-17 13:52] gracjan commented on #883
Hmm,

Tests are in 'tests' directory, specifically
'tests/haskell-indentation-tests.el'. You run them using:

make check

or

make check EMACS=/path/to/emacs

[2015-09-17 14:41] k-bx commented on #883
Ok, added a PR with a test-case

[2015-09-17 14:44] k-bx commented on #884
Added a PR with a failing test

[2015-09-17 23:26] cmears commented on #882
I investigated this some more and found that it should only be a problem at session start -- otherwise, all commands are run in the strict request-response order.  See pull request #887 for a fix.

[2015-09-18 09:40] #882 closed

[2015-09-18 14:07] sgillis commented on #872
I think I found the source of the problem. The output received from the docker process contains a bunch of special unicode characters (like ^M, ^[).

[I managed to get the REPL working by customising `haskell-interactive-mode-expr-result`.](https://github.com/sgillis/haskell-mode/commit/3802a6460faeb3bbb91e6ca0a59527773819e3b9) I added some code to remove the extra characters and extra lines retur

[2015-09-20 04:30] rrnewton opened #888 "Would it make sense for haskell-mode to highlight type errors?"
I've been reading through issues like #809 discussing the ghc-mod / haskell-mode relationship.

Initially, when using modern haskell-mode, I was very surprised that my errors came up in my REPL when evaluating the buffer, but that they *weren't* highlighted in the source.  In fact, as of current HEAD (d11f7b2e9c50dcc6db4ef84e29c6bc1bbd7267a5), pressing enter on the message in the REPL kindly highl

[2015-09-20 04:37] rrnewton commented on #888
Wait, nevermind, it looks like this is in fact working just fine!!

I'm not sure why I was initially having trouble.  Now `haskell-goto-next-error` works, and there is in fact highlighting on the error lines.

Wow!  Closing.

[2015-09-20 04:37] #888 closed

[2015-09-20 05:01] rrnewton opened #889 "Is it possible to use ghci-ng with "stack-ghci" haskell-process-type?"
I'm trying to get the `:type-at` based `haskell-process-do-type` working with stack based projects.

[2015-09-20 07:49] geraldus commented on #889
I'm missing this feature too!

[2015-09-20 09:09] gracjan commented on #889
I do not see a fundamental problem why this should not work. What does `*haskell-process-log*` say?

[2015-09-20 10:46] Tekkkz opened #890 "Indentation is broken"
I have following code:
[code]
I have in my `~/.emacs` following line:
`(add-hook 'haskell-mode-hook 'turn-on-haskell-indentation)`

And now, when I use tab at line 7, the indentation of 2 spaces gets f*cked up to 4 spaces. When i press return at the end of line 8, im indented at the new line by 19 characters.

But now the funny thing is, when I start emacs with `-q` and do `M x turn-on-haskell-ind

[2015-09-20 11:11] gracjan commented on #890
Nice catch. This should work as you have it here. Can you debug this
further?

[2015-09-20 11:12] Tekkkz commented on #890
Oh. There was a bug. I reinstalled `haskell-mode` now it works. Thanks :D

[2015-09-20 12:21] rrnewton commented on #889
Well, I can see that `*haskell-process-log*` says haskell-mode is calling `stack ghci`.

But, based on `stack ghci --help`, I don't see any way to change the ghci implementation to use `ghci-ng`.  It *does* have a `--with-ghc` option, but `stack ghci --with-ghc=ghci-ng` is bogus because ghci-ng isn't a full command line replacement for `ghc`.

[2015-09-20 13:03] gracjan commented on #889
Sounds like an issue report for stack.

When you report it there can you post a link here so we know when it is
ready?

[2015-09-21 10:09] PierreR commented on #753
:+1:
I have just been bitten by this one ;-) Will revert to use an external ghci session.

[2015-09-22 07:04] ivan-m commented on #883
I've just been bitten by this as well, but if I remove the `do` then it works.

[2015-09-22 08:14] chrisdone commented on #889
`with-ghc` is the proper flag, it's just poorly named. I copied this name from `cabal-repl`. See comment here: https://github.com/commercialhaskell/stack/issues/1024#issuecomment-142208475

I noticed recently that `stack-ghci` was added as a supported REPL type, so probably there can be a variable for specifying extra args like in the GHCi case, or otherwise use the wrapper. E.g.

[code]

[2015-09-22 18:07] rrnewton commented on #889
Wow, great, that works.

In this case I had to modify `haskell-process-args-stack-ghci` to include the `--with-ghc` option, but now I'm in Haskell IDE paradise being able to use both *stack* and errors right in my editor buffer...

[2015-09-22 18:07] #889 closed

[2015-09-23 00:19] ivan-m commented on #883
I think part of it is how much the `where` is indented by: I'm using this on an existing code base in literate Haskell, where the previous programmer liked to only indent `where` by 1 space and then the contents of the where block by 1 space; if I re-indent it to be 2 spaces for both cases then it works.

(Another thing that works is to remove a bird track after the `where` so that the contents of

[2015-09-23 02:44] abelew opened #892 "Implement haskell-send-line, haskell-send-region, haskell-send-paragraph be wanted"
Greetings,
  I am new to haskell, but comfortable with emacs.  My google searches suggested that it is against the philosophy of haskell-mode to send individual lines/regions/paragraphs to an inferior-haskell.  Since I don't yet know enough haskell to understand why that is a good thing, I wrote myself those functions so that I may type '2+2' in my buffer and hit C-c C-n to evaluate it (for exampl

[2015-09-23 14:30] gracjan commented on #892
Hi @abelew,

Hands with keyboard and Emacs Lisp knowledge are surely welcome.

In case you are just looking for a topic to hack on we have some prepared:

https://github.com/haskell/haskell-mode/issues?q=is%3Aopen+is%3Aissue+label%3Awell-defined-task

If you have some functionality already implemented then we are open to pull requests. Note that we will be able to accept the code if it is general

[2015-09-23 14:31] #890 closed

[2015-09-23 14:33] gracjan commented on #884
This seems to be an instance of [DoAndIfThenElse](https://ghc.haskell.org/trac/haskell-prime/wiki/DoAndIfThenElse).

[2015-09-23 14:46] k-bx commented on #884
@gracjan yeah, seems like it. All compilers support it now with no flags needed, so would be nice for haskell-mode to support it, since it feels not right when code compiles, while indentation fails to work.

[2015-09-23 15:05] gracjan commented on #884
The way this extension is defined with this semicolons out of nowhere is
super strange. How to make indentation use this syntax will require some
ingenuity.

[2015-09-23 16:12] abelew commented on #892
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

  Greetings,
  I implemented those functions (poorly).  For my money they would be
 usable by other people, but only because I used them to figure out
simple haskell concepts without having to write -> save -> :l in the
lambda> buffer.

  I certainly understand if the existing functions are not
useful/wanted.  If you wish to decide for yourself, the

[2015-09-23 18:27] gracjan commented on #892
In this case please improve engineering quality of your code to be on par or better then the surrounding code and submit a proper pull request.

I'm closing this question-issue and we will follow in a pull request.

[2015-09-23 18:27] #892 closed

[2015-09-24 01:14] ivan-m opened #894 "Illegal tokens and QuasiQuotes"
It seems that `haskell-indentation` also searches QuasiQuotes for keywords:

[code]
Hitting Enter at the end of the line gives `Illegal token: in`.

(It seems that GitHub's highlighter also doesn't understand QuasiQuotes :p)

[2015-09-24 01:35] mgsloan commented on #894
I've run into this too.  IMHO such exceptions shouldn't cause enter to fail - there should be a fallback behavior.  It's very frustrating when bugs prevent me from typing something.

[2015-09-24 07:57] gracjan commented on #894
Can you create a pull request with a failing test case?

[2015-09-24 09:24] ivan-m commented on #894
I'll try to do so tomorrow when I'm back at work (as that's where I've got the actual code that this has a problem with).

[2015-09-28 21:55] gracjan opened #895 "Haskell Interactive Shell Stuck in Insert Mode (spacemacs)"
`haskell-interactive-mode` somehow interacts badly with spacemacs:

https://github.com/syl20bnr/spacemacs/issues/445

[2015-09-28 21:56] gracjan opened #896 "Redefining evil-open-above for Haskell (spacemacs)"
Yet another electric-indent problem:

https://github.com/syl20bnr/spacemacs/issues/3162

[2015-09-30 17:10] gracjan commented on #883
Interestingly, when indenting the `where` itself in code like:

[code]

it offers two indentation positions, but when one space is added before `putStrLn` then only one indentation position is offerred:

[code]

It seems there are more bugs around the `where` clause handling.

[2015-09-30 17:37] gracjan commented on #883
@k-bx: thanks for the test, that really helped.

Can somebody use their eyes on the fix?

[2015-09-30 20:41] PierreR opened #898 "Syntax highlighting: no difference between data constructor and type ?"
I am using emacs (spacemacs). I cannot see a difference between type and data constructor.
For instance in the following snippet I would expect `Foo` to be displayed differently than `Int`.
[code]
Am I missing a setting? Is this a problem with the theme I am using (I have tried a couple) ?

[2015-09-30 20:49] gracjan opened #899 "Font-lock types differently"
Types and constructors share namespace in Haskell and only context tell how a token starting with uppercase letter should be interpreted. Emacs' font lock isn't best at context but can be coerced to use one. The plan:

1. Trigger type font lock on `::` token.
2. Parse what comes after that as a type expression.
3. Mark where the type expression starts and ends.
4. Font lock tokens in marked region

[2015-09-30 20:52] gracjan commented on #898
This functionality does not exists... yet. Plan how to implement it is described in #899.

[2015-09-30 21:25] gracjan opened #900 "C-u C-c C-t doesn't add type signature"
Redditor has a problem:

The correct type is displayed in the mini buffer (basically C-u doesn't do anything, and I just get the result of C-c C-t.) How can I debug this problem and get automatic type annotations working again? Thanks.

https://www.reddit.com/r/emacs/comments/2rbv11/haskell_mode_cu_cc_ct_doesnt_add_type_signature/

[2015-10-01 05:22] ivan-m opened #901 "haskell-session-installed-modules and out-of-date caches"
When the cache to a pkgdb is out of date, then `ghc-pkg dump` will report:

[code]
(I think to stderr, but I forgot to check this whilst this was still the case.)

`haskell-session-installed-modules` will blindly try and split this string and thus each word in this error message will be returned as being a "module".

[2015-10-01 05:34] ivan-m opened #902 "Getting exposed modules"
In `haskell-session-installed-modules`, there's an [egrep command](https://github.com/haskell/haskell-mode/blob/master/haskell-modules.el#L77) that's meant to get the exposed-modules from `ghc-pkg dump`.  Unfortunately, it doesn't seem to always work due to the uncertain formatting.

For example, I have the following output from `ghc-pkg dump`:

[code]

Note that there are only four spaces there,

[2015-10-01 12:36] gracjan commented on #898
Closing in favor of #899.

[2015-10-01 12:36] #898 closed

[2015-10-01 13:16] gracjan commented on #901
Emacs merges stderr and stdout. To ignore stderr we either need a wrapper or there is a flag in emacs to put stderr in a file. Later we could ignore and delete the file. Or show a message buffer.

[2015-10-01 13:16] gracjan commented on #901
Didn't mean to close this.

[2015-10-01 13:41] gracjan commented on #902
The code in there is real crap. It would be easier to read it into an emacs buffer and find the necessary information there.

[2015-10-01 17:39] vagifverdi opened #905 "Let the enter create a new line despite the indentation errors"
I see a lot of errors when hitting the enter. They are all different, ususally saying Expecting (something here)

The error is not a bug deal. But the fact that it stops me from simply createing a new line is.

While you guys are trying to figure out numerous test cases to fix all indentation issues, could you please just make it create a new line regardless if it encountered any error?

As of now

[2015-10-01 17:48] gracjan commented on #905
The omitted part is very interesting. What tokens are reported?

[2015-10-01 18:25] vagifverdi commented on #905
All kind of tokens
not just one but all kinds of them. And almost on every line. It is ridiculous. I simply cannot enter a new line almost anywhere in my code. I resorted to copy pasting lines when i need to enter a new one.

And this is just when i need to prep a new guy and teach him haskell and the tools. So embarrassing.

Here are just some of the errors:

"Expecting ->" (usually after quiasiq

[2015-10-01 19:50] gracjan commented on #905
So QuasiQuotes are the culprit. Good to know.

We support QuasiQuotes by treating them as 'special strings'. Most of
haskell mode knows how to handle those, haskell-indentation needs to be
toughts. It is not a hard task.

Are you able to look into this yourself and help us implementing missing
feature?

[2015-10-01 19:55] jwiegley opened #906 "With latest version, cannot change haskell-indentation"
I'm using haskell-indentation.el at version c77a08a612652a33f0f9403feb9e73d3de2a4e5b, and I've configured the following variables:

[code]

However, after restarting Emacs and loading a Haskell file, all indentations are somehow back to 2.

[2015-10-01 19:58] jwiegley commented on #906
This does not happen with 47d90c83f101596be92a44d98b9ebf8a6089efc0, so the issue seems to be somewhere between those two.

[2015-10-01 20:38] ericnething opened #907 "Parse Error inside QuasiQuotes"
I am using haskell-mode version 20150920.858 from melpa. I updated a few days ago. The code below gives me the error `Illegal Token: =`
[code]

It is the `<input>` line that is causing the problem. Strangely, if I remove the quotations from `value="#{either id id val}"`, the error goes away. Nothing inside the QuasiQuotes should be parsed.

[2015-10-02 04:23] ivan-m commented on #907
This is a duplicate of #894

[2015-10-02 04:24] ivan-m commented on #905
As a work around, you can use `C-q C-j` to force inserting a newline.

[2015-10-02 12:07] #907 closed

[2015-10-02 12:11] gracjan commented on #905
Closing as a duplicate of #894.

[2015-10-02 12:11] #905 closed

[2015-10-02 14:23] emmanueltouzery commented on #906
i'm having the same issue, came here to open the bug, glad i'm not the only one affected.

[2015-10-02 14:25] r3ticuli opened #908 "Mac OS X El Capitan: no such file or directory, ghci"
After installing OS X El Capitan, the ghci command in my terminal no longer worked. I added symlinks ghci and ghc into /usr/local/bin and can now use it in my terminal like I used to, but haskell-mode is not picking up the links. Is there a way to redefine the path to ghci/ghc for haskell-mode?

[2015-10-02 19:53] #760 closed

[2015-10-02 19:53] #878 closed

[2015-10-02 19:53] #883 closed

[2015-10-02 22:40] ivan-m commented on #908
Is `/usr/local` in your `$PATH`? Also have a look at https://github.com/haskell/haskell-mode/wiki/PATH

[2015-10-03 07:00] #323 closed

[2015-10-03 07:00] #894 closed

[2015-10-03 07:02] gracjan commented on #875
Fixed by #903.

[2015-10-03 07:02] #875 closed

[2015-10-03 19:57] gracjan opened #910 "Use caching docker TravisCI infrastructure"
Example is here:

https://github.com/alanz/HaRe/blob/wip/.travis.yml

[2015-10-04 10:23] gracjan commented on #910
Not nice:

[code]

[2015-10-04 10:35] gracjan commented on #910
PPA whitelist requests:
- [ ] https://github.com/travis-ci/apt-source-whitelist/issues/166
- [ ] https://github.com/travis-ci/apt-source-whitelist/issues/165
- [ ] https://github.com/travis-ci/apt-source-whitelist/issues/164

Package whitelist requests:
- [ ] https://github.com/travis-ci/apt-package-whitelist/issues/1334
- [ ] https://github.com/travis-ci/apt-package-whitelist/issues/1335
- [ ] ht

[2015-10-04 19:46] YoEight commented on #875
Thank you !

[2015-10-05 23:41] ivan-m opened #914 "Make import sorting/aligning optional"
I use `stylish-haskell` to sort and align my imports; it's thus visually confusing when I add an import, haskell-mode sorts and aligns it (undoing some of the layout that stylish-haskell does), and then as soon as I save the layout changes again.

[2015-10-06 04:49] konn opened #915 "GHCi multiline prompt (`:set prompt2`) support"
GHCi has multiline input mode which can enabled by `:set +m` or `:{` and `:}`.
For example:

[code]

`:{` version:
[code]

Prompt for multiline input (here, `ghci| `) can be set by `:set prompt2 "ghci| "`, but we don't have any configuration item to set `prompt2` in `haskell-mode`.
This results in the following not-so-useful-for-indenting looking:

[code]

So we need the way to `:set prompt2`.

[2015-10-06 06:04] gracjan commented on #914
What function does the sorting?

[2015-10-06 06:06] ivan-m commented on #914
`haskell-add-import` calls `haskell-sort-imports` and `haskell-align-imports`.

[2015-10-06 06:19] gracjan commented on #914
Ah, I see. It should:
1. Find out if current import list is sorted.
2. If so keep the sorting order.
3. Otherwise just add import at the end of the list.

That way we can get away without a setting with a 'just works!' functionality. Somebody needs to implement the 'is sorted' function.

[2015-10-06 06:20] ivan-m commented on #914
Or, have a customisation option as to whether it *should* do any sorting/aligning.

[2015-10-06 06:31] gracjan commented on #914
Customization options present a usability challenge. They are a testing nightmare and require users to discover the option even exists.

[2015-10-06 08:41] ivan-m commented on #914
Did you see my update? (I did an edit of my previous comment right after I posted it.)

This of course assumes that the stylish-haskell config doesn't have `imports -> align -> none` (I think that covers sorting as well).

The other possible solution - and why I see the noticeable changes - is that the sorting and aligning in haskell-mode doesn't seem to have anything similar to stylish-haskell's

[2015-10-06 09:09] gracjan commented on #914
If we can use preexisting option then I'm okay with it.

[2015-10-06 18:39] cjauvin opened #917 ""Expecting else" error message"
I'm running `haskell-mode` version `20151003.0` with Emacs 24.5 on OSX, and I'm new to Haskell (so please bear with me as this might well be a non-issue, caused by my ignorance). I noticed a weird behavior with nested `do` blocks inside an `if` expression, which this simple function demonstrates:
[code]

[2015-10-06 19:18] gracjan commented on #917
This is a known extension to Haskell language that needs to be implemented in `haskell-indentation`. Thanks for reporting this, we have already #884 so it is tracked.

[2015-10-06 19:18] #917 closed

[2015-10-07 07:17] tinoheth commented on #908
I came across here because of a complete unrelated issue, but I guess if you have a script calling a script, there are some sandbox-issues... :-(

[2015-10-07 07:28] ivan-m commented on #908
@tinoheth maybe you want to use `cabal exec` or `cabal run`.

[2015-10-07 15:08] gracjan commented on #915
Note that lambda is special and is detected by `interactive-haskell-mode` as command separator.

[2015-10-07 19:53] arybczak opened #918 "Support commas in first indentation column"
Consider the following code:
[code]

After putting the closing bracket you get the error message from the title.

[2015-10-08 05:54] gracjan commented on #918
`haskell-indentation` finds first line that starts at column zero above the line you are trying to indent. So it sees only this fragment:

[code]

and of course gets confused. What is the idea of putting commas in the first column? For now use one of the following styles:

[code]

or

[code]

or

[code]

[2015-10-08 05:57] arybczak commented on #918
for new code sure, but the problem is that it breaks if such code is already there. This is valid Haskell and indentation mode should work with it.

[2015-10-08 15:35] gracjan commented on #884
Actually we have this reported already as #321.

[2015-10-08 15:35] #884 closed

[2015-10-08 15:36] #867 closed

[2015-10-08 16:04] #192 closed

[2015-10-08 19:13] vagifverdi commented on #894
Looks like it is fixed. I just git pull today and now enter after quasiquotes works fine.

[2015-10-08 23:59] mgsloan commented on #918
Agreed, to me it's crazy that an indentation mode would throw an error and not have a fallback behavior.  Like syntax highlighting, this stuff should be a "best effort" thing, and not a syntax parser that that attempts to validate your Haskell (particularly if it doesn't accept valid Haskell...).

[2015-10-09 06:29] gracjan commented on #918
I agree that `haskell-indentation` should never throw a parser error. I do not agree that `haskell-indentation` should throw and swallow exceptions. `haskell-indentation` should do something sensible with any stream of characters, original authors stood on the position that only valid Haskell should be supported. We need to backtrack that decision.

[2015-10-09 07:27] mgsloan commented on #918
As a temporary solution, how about catching exceptions and printing them, and then falling back on some simple indentation strategy like "same column as start of current line".

[2015-10-09 11:41] gracjan commented on #414
New attempt: #922.

[2015-10-09 19:52] #918 closed

[2015-10-10 17:09] rightfold commented on #90
@ivan-m haskell-simple-indent does more than just inserting tabs.

[2015-10-10 17:23] 11Kilobytes opened #923 "haskell-process changes the directory which causes loaded modules to be unloaded"
When you use stack-ghci as your haskell-process-type, I think that haskell-process ought not to change directories after loading the repl, since all modules of the project are loaded correctly.

There is no advantage to changing directories for stack-ghci and cabal-repl.

[2015-10-10 17:23] 11Kilobytes commented on #923
There is no advantage to changing directories for stack-ghci and cabal-repl.

[2015-10-10 17:25] rightfold opened #924 "Syntax highlighting only"
Is it possible to turn off all features of haskell-mode except syntax highlighting?

[2015-10-10 17:44] gracjan commented on #923
I think you are right. Can you provide a pull request?

[2015-10-10 17:52] 11Kilobytes commented on #923
Sure, I'll do that right now.

[2015-10-10 18:25] #923 closed

[2015-10-10 21:58] jwiegley opened #926 "haskell-process.el binds `C-c c` but should not"
According to Emacs developer guidelines, modes should not bind the lowercase alphabetic space within the `C-c` keymap.  This space is reserved for users (I have it bound to `compile`, for example, so that it works in all buffers).  `haskell-process.el` binds this to `haskell-process-cabal`.  This should be changed to some other binding, such as `C-u C-c C-c`.

[2015-10-12 11:41] gracjan commented on #926
Agreed.

Do you have a better suggestion what to bind this functionality to?

[2015-10-12 16:47] jwiegley commented on #926
If `C-c C-c` is the "quick" version, meant to build, then `C-u C-c C-c` would be the "long" version, meant to refine interaction with Cabal.  This would follow typical Emacs behavior based on several other packages.

Other than that, `C-c C-X`, where X is any letter not yet spoken for.

[2015-10-12 17:13] gracjan commented on #926
Can you submit a pull requests that fixes this problem?

[2015-10-12 17:21] jwiegley commented on #926
@gracjan I don't use the current version of `haskell-mode`, and I'm absolutely buried under my todo list.  I'm afraid the only contribution I can offer to make the problem and a potential solution known.

[2015-10-12 17:45] Shimuuar commented on #861
Yes this major usability problem. IMO enter should insert newline if indenter fails. There are always some weird corner case or plain invalid haskell which will cause parser errors so haskell-mode should fall back on some simpler heuristic

[2015-10-12 17:45] gracjan commented on #926
Thanks for your help. It counts.

The proper solution needs to wait on a volunteer.

[2015-10-14 04:27] vwyu commented on #926
I fail to see any binding in haskell-process.el.

It seems that haskell.el binds C-c C-c to haskell-process-cabal-build.

[2015-10-14 06:03] ivan-m commented on #926
I think haskell-mode used to make that binding (and it was recommended), but it now seems to be `C-c C-x`.

[2015-10-14 06:25] jwiegley commented on #926
Ah!  Excellent.  Yes, it is due to my using an older version to work around the current haskell-indentation bug:

[code]

[2015-10-14 06:25] #926 closed

[2015-10-15 06:12] emmanueltouzery commented on #906
no answer? :-(

[2015-10-15 06:54] vlatkoB commented on #534
Isn't this already solved?

[2015-10-15 06:58] ivan-m commented on #534
Yes, though it's not as nice a representation as the one presented by `ebal` (not to mention that it currently seems to be providing lots of extraneous values such as the description, etc.).

[2015-10-15 07:08] vlatkoB commented on #534
`haskell-session-change-target` calls `haskell-cabal-enum-targets` to get the list of targets and displays them in `ido`. `haskell-cabal-enum-targets` returns target names only. As in
[code]
Have I understood you correctly, you want the target list to have descriptions as `ebal`?

[2015-10-15 07:13] ivan-m commented on #534
I do like having the `lib:`, `exe:`, etc. prefixes.

And `haskell-cabal-enum-targets` doesn't seem to work very well; for example, the is the result of running it on my [graphviz](https://github.com/ivan-m/graphviz) project:

[code]

Or [fgl](https://github.com/haskell/fgl):

[code]

Included in here seems to be portions of the `description` field, and also the `source-repository` labels (not to m

[2015-10-15 08:29] vlatkoB commented on #534
Must say this is the first time I see curly braces in `.cabal`. :-)
I removed the braces, indented `Description:`'s description, and now I got this:

    ("head" "test-parsing" "" "graphviz-testsuite" "graphviz-printparse" "graphviz-testparsing")

Seems `.cabal` parser doesn't honour braces but is indentation dependent.
It also doesn't filter targets only, but I made a PR to correct that.

[2015-10-15 13:03] vlatkoB commented on #534
Should somewhere be a note that `haskell-mode` does not support curly braces in `.cabal` file?

[2015-10-15 19:40] joe9 opened #932 "Simple indent vs haskell-indentation when using autofill on comments"
Hello,

I use autofill on comments. When a comment is more than 70 characters long, autofill wraps the line into a different line and adds the "--" to the beginning of the new line.

For example
-- This is a comment line in haskell code and it is longer than 70 characters. After the 70th character, the line becomes

is converted to

-- This is a comment line in haskell code and it is longer than 7

[2015-10-15 20:44] gracjan commented on #932
Thanks for the report.

Auto fill functionality should be part of haskell-mode. Why is it in any
indentation, indent or simple indent is beyond me. Are you able to look at
this yourself and report back what is going on here?

[2015-10-15 21:13] ivan-m commented on #534
Well, then that behaviour is wrong: it is perfectly acceptable to use braces to denote blocks in `.cabal` files.

[2015-10-16 06:40] vlatkoB commented on #534
Looks like `.cabal` parser simply ignores curly braces, which means that enumerating targets works with or without them, so I fixed `haskell-cabal-enum-targets` function.

Indentation inside braces is another thing.
Hope this helps.

[2015-10-16 07:51] gracjan commented on #534
Reopening due to curly braces.

[2015-10-16 10:51] vwyu commented on #932
I seem to have the same problem also with simple indent.

When I turn on haskell-simple-indent-mode and auto-fill-mode, I get:

-- This is a comment line in haskell code and it is longer than 70 characters.
After the 70th character, the line becomes

[2015-10-16 14:49] joe9 commented on #932
@vwyu are you sure about that behaviour when using haskell-simple-indent? That happens when I am using haskell-indentation to me.

[2015-10-16 16:23] gracjan commented on #715
This one is working correctly now. Thanks for the report!

[2015-10-16 16:23] #715 closed

[2015-10-16 16:25] gracjan commented on #786
To my best knowledge this is working ocrrectly. Reopen if you check against latest github version of haskell-indentation mode and it does not work.

[2015-10-16 16:25] #786 closed

[2015-10-16 16:26] gracjan commented on #594
Reopen if you have experienced this issue again. Thanks.

[2015-10-16 16:26] #594 closed

[2015-10-16 16:28] gracjan commented on #488
Reopen if you have additional information about this issue.

[2015-10-16 16:28] #488 closed

[2015-10-16 16:30] gracjan commented on #294
Reopen when the hack is ready.

[2015-10-16 16:30] #294 closed

[2015-10-16 16:31] gracjan commented on #276
Reopen if there is anything to add to this particular discussion.

[2015-10-16 16:31] #276 closed

[2015-10-16 16:51] #397 closed

[2015-10-16 17:14] eigengrau commented on #715
Thank you!

[2015-10-16 17:17] gracjan commented on #843
Removed the thing.

[2015-10-16 17:17] #843 closed

[2015-10-16 17:17] #924 closed

[2015-10-16 17:24] gracjan opened #938 "Remove Unicode input method"
Remove Unicode input method.

[2015-10-16 17:36] gracjan commented on #870
It is best to report issues separatelly. I can neither close not keep this issue open if it list two separe issues,

Can you report those as separate things?

[2015-10-16 17:46] gracjan commented on #450
Not only tokenizer, full parser is needed. The one from haskell-indentation could be retroffieted to do what we need.

[2015-10-16 17:47] #333 closed

[2015-10-16 17:47] #206 closed

[2015-10-16 20:56] thechriskind opened #941 "Unexpected interaction: haskell-process-load-file/haskell-interactive-mode-run-expr"
haskell-mode version: 20151015

The following function when run in a buffer editing a Haskell file, say Main.hs, inserts a newline in Main.hs.  If I remove the call to haskell-process-load-file, the problem goes away, but I lose the load-file functionality.  The other load file functions behave similarly.

In my haskell-mode-hook, the only setup is calling  (interactive-haskell-mode).  I have test

[2015-10-16 21:21] gracjan commented on #941
Good catch. Can you help to debug this further?

[2015-10-17 08:48] yamafaktory commented on #876
Hi there,
I am also experiencing the same weird issue trying to play with the Haskell REPL, i.e. not being able to press enter.
I am using stack on Archlinux, Emacs 24.5.1 and here is part of my settings:

[code]

Please note that I tried @gracjan solution without any success.

Any workaround?

[2015-10-17 10:48] PierreR commented on #876
Could you check that this is not the same issue as this one;
https://github.com/syl20bnr/spacemacs/issues/3271

[2015-10-17 11:17] yamafaktory commented on #876
Thanks for the guidance! Unfortunately,  I am not an evil user.

[2015-10-17 11:39] yamafaktory commented on #876
Well, I found out what the issue was.

Using M-x haskell-process-restart gave me a hint: first stack was launch with the unwanted "-ferror-spans" argument and thus I needed to provide a "ghci" argument instead:

[code]

Maybe @alokedesai you can give it a try (i.e. checking if ghci is correctly launched).

[2015-10-17 18:04] thechriskind commented on #941
Thanks for the quick response.  I am happy to look into it, though it may take some time.  I know Clojure well, but my elisp and common-lisp are fairly limited.  However I am happy to learn and to help.

[2015-10-17 19:51] gracjan commented on #932
To me it happens all the time, in every indentation mode and when indentation modes are disabled. I never got the proper functionality running,

[2015-10-17 20:10] gracjan commented on #932
Okay, I see it now. If haskell-indentation was enabled once for buffer then it breaks the auto-fill functionality forever.

[2015-10-17 20:14] gracjan commented on #932
Note that for some reason it does not work for multiline comments `{- ... -}` as it breaks them this way:

[code]

Not good. Do we have proper `comment-start` and friends?

[2015-10-17 20:52] thechriskind commented on #941
Apparently  haskell-interactive-mode-run-expr assumes that in commands queued using haskell-process-queue-command, the :go function will be run in the interactive buffer.  So it calls (insert "\n") in the :go function.

The interactive mode architecture document on the wiki does not state any such guarantee, and unlike :live, the :go function is not passed a buffer. Hence I believe that assumption

[2015-10-17 21:08] gracjan commented on #941
Should the :go function run in the context of that buffer or not?

[2015-10-17 21:40] thechriskind commented on #941
Yes, the :go function in haskell-interactive-mode-run-expr should run in the context of the haskell session's interactive buffer.  The lines that make that assumption are

    (goto-char (point-max))
    (insert "\n")

[2015-10-18 01:51] codygman commented on #374
@gracjan I happen to be on windows right now. Log looks like this:

[code]

It just notifies me the Haskell process errored though and I'm able to C-c C-l just fine.

[2015-10-18 04:26] vwyu commented on #932
@joe9 I think the reason I had the same issue with haskell-simple-indent was because I enabled it after starting with haskell-indentation-mode (as @gracjan explained).

@gracjan's change in #945 solves the issue for me.

[2015-10-18 08:41] gracjan commented on #941
@thechriskind, we have two ways to fix this:
- either add the guarantee that `:go` functions are called in interactive buffer context
- or add `with-current-buffer` to the place where it is needed

Can you check which of the two approaches is more appropriate for haskell-interactive-mode and report here back? I'd like to see and hear what other people involved in this project think about this arch

[2015-10-18 08:44] gracjan commented on #826
Interestingly `haskell-indentation-mode` does indent-rigidly when pressed TAB or S-TAB while a region is active. Is this the same functionality or does ghc-mod add functionality on top of that?

[2015-10-18 09:00] gracjan opened #949 "Make region indentation move work by offsets"
Currently when region is active and TAB or S-TAB is pressed in `haskell-indentation-mode` the region is move one space left or right. To do:

- [ ] make it move by `haskell-indentation-layout-offset`
- [ ] write some unit test cases
- [ ] write documentation about this in `haskell-mode.texi`
- [ ] make a pull request against `ghc-mod` that removes this file https://github.com/kazu-yamamoto/ghc-mod

[2015-10-18 09:10] gracjan commented on #826
Closing in favor of #949.

[2015-10-18 09:10] #826 closed

[2015-10-18 09:25] gracjan commented on #932
Note that the part `(setq-local comment-auto-fill-only-comments t)` will be default in `haskell-mode` and therefore no need to set it. See #945 for details.

[2015-10-18 09:25] #932 closed

[2015-10-18 10:26] gracjan opened #950 "Research py-indent-line coffee-indent-line org-indent-line yaml-indent-line"
The following modes have something akin indentation based syntax:

- [x] py-indent-line
- [x] coffee-indent-line
- [x] org-indent-line
- [x] yaml-indent-line

Find out what they do with indentation, semantics of TAB key, unindent, block-scoped indent, etc.

[2015-10-18 10:41] gracjan commented on #481
If you consider code:

[code]

and now press TAB on line with the singe `|` in it, then `haskell-indentation` is properly able to recognize that you have started new guard.

I'll close this specific issue about guards as similar problem appears when continuing lists or records or curly braced constructs. Someday we will be able to tackle this together.

[2015-10-18 10:41] #481 closed

[2015-10-18 10:51] PierreR commented on #481
:+1: to tackle this as soon as it can be ;-)

[2015-10-18 10:56] gracjan commented on #377
About agressive indenting.

One. `electric-indent` blacklist all haskell indentation modes:

[code]

Two. `haskell-indentation-mode` provides its own `haskell-indentation-newline-and-indent` function that is directly bound to `RET` and as if electric indent was always on.

Anyway this issue got offtopic, lets close it. If somebody experiences staricase problem again please report a new issue. Than

[2015-10-18 10:56] #377 closed

[2015-10-18 10:57] PierreR commented on #895
I would close this. I am personally OK with the workaround as described here:
https://github.com/syl20bnr/spacemacs/issues/3271

As I see it,  the link issue is not really a `haskell-mode` issue

[2015-10-18 11:19] #895 closed

[2015-10-18 20:20] carldong opened #951 "haskell-indent-mode does not complete function name when using Unicode Symbols"
For example, I have:

[code]

When I <Tab> on the second line twice, the function name `main` is completed IF I use ASCII symbols above. However, if I use Unicode symbols:

[code]

That functionality won't work. Also, If I break the argument list to multiple lines:

[code]

This functionality does not work

[2015-10-19 14:42] gracjan commented on #951
Hi @carldong, thanks for the report.

`haskell-indent-mode` is not worked on, all effort goes into `haskell-indentation-mode`. It has a bit different set of features, but can you check out if it works for you?

[2015-10-19 15:51] carldong commented on #951
The only reason I use `haskell-indent-mode` is that it compltees function names. I will give `haskell-indentation-mode` a try, though

[2015-10-19 15:56] gracjan commented on #951
There is an expectation that this functionality will be moved from
haskell-indent to haskell-indentation. We are waiting on a volunteer to get
this done.

[2015-10-19 20:21] joe9 commented on #932
@gracjan Thanks, now the comments are automatically getting filled.

I had to comment out the line: (define-key haskell-mode-map (kbd "<return>") 'haskell-simple-indent-newline-same-col) to get the <return> after the comments to work without error. Is that expected?

Another issue that I noticed is that though I have auto-fill-mode enabled, I had to enable auto-fill-mode again after opening the ha

[2015-10-19 20:25] gracjan commented on #932
Hmm, I do not see where you get that keybinding. Where did you comment out
it from?

Note that auto-fill is per buffer that is disabled by default. You can use
`add-hook` on `haskell-mode-hook` to enable it whever haskell-mode is
enabled, I do not think there is a globa switch to enable auto-fill
everywhere.

[2015-10-19 22:25] joe9 commented on #932
@gracjan Thanks. I am not sure where I got that snippet from.

As an fyi, below is my haskell config. If you find anything weird or missing, Could you please let me know?

Thanks again

[code]

[2015-10-19 23:55] ivan-m commented on #534
@vlatkoB it seems your patch doesn't work, as if you try and change to the library you get an error of:

[code]

As a workaround, hitting `C-j` in the ido list seems to work.

[2015-10-20 02:47] cpitclaudel commented on #823
By the way, I already set up my .emacs.d code for this here: https://github.com/cpitclaudel/.emacs.d/blob/master/lisp/prettify-alists/haskell-prettify.el

[2015-10-20 07:31] vlatkoB commented on #534
Yes, I became aware of that when I realized I tested it on a non-library project, but had no time to fix it before.
Please try this on your projects and let me know.

[2015-10-20 07:38] gracjan commented on #534
Please create a test that covers this new knowledge.

[2015-10-21 15:42] gracjan commented on #906
@emmanueltouzery: Somebody needs to sit down in debug this. I've read the code and there is nothing that jumps on me that should cause this behavior.

We need a test case for all these settings.

[2015-10-21 15:49] emmanueltouzery commented on #906
@gracjan did you reproduce the issue? For me sadly i'll never find the time to fix the issue, no way.

[2015-10-21 15:51] gracjan commented on #906
Just trying to reproduce... so far it works for me. @emmanueltouzery: do you use MELPA or MELPA-STABLE version of haskell-mode? Or maybe git version?

[2015-10-21 15:54] emmanueltouzery commented on #906
I know very little about the whole thing. Using spacemacs stable and it hides the whole thing from me (luckily for me).

Let's say if I have a do, press enter, i get 2 spaces. Used to be correctly 4.

[2015-10-21 16:01] gracjan opened #952 "Unify haskell-indentation defcustoms into one variable"
All of those should be replaced by a single defcustom:

    '(haskell-indentation-ifte-offset 4)
    '(haskell-indentation-layout-offset 4)
    '(haskell-indentation-left-offset 4)
    '(haskell-indentation-starter-offset 4)
    '(haskell-indentation-where-post-offset 4)
    '(haskell-indentation-where-pre-offset 4)

That defcustom should inherit value from `c-basic-offset`.

[2015-10-21 16:02] gracjan commented on #906
If you do `M-x cusstomize-group RET haskell` and the find options named "Haskell Indentation Left Offset" and change that to 4, will that work?

There are some other variables that are also set to 2 by default. If it works with this one you should changed also the other ones to have consistent behavior.

I've also filled in #952: "Unify haskell-indentation defcustoms into one variable". @emmanuelt

[2015-10-21 16:21] emmanueltouzery commented on #906
here's what I found out. If I the `customize-group` (as I already did at the time I first set this up), I see the values set at 2. Although it's at 4 in my config file. I change to 4, IT WORKS. Until I restart emacs. Note that I say "Apply and Save". And it saves the settings (but since I already changed them I only see whitespace changes in my config file).

In other words maybe try to change it,

[2015-10-21 16:21] emmanueltouzery commented on #906
unlikely I can do bug #952 :-(

[2015-10-21 16:22] emmanueltouzery commented on #906
I mean related to #952 I think it might be a bad idea. Will write there.

[2015-10-21 16:22] emmanueltouzery commented on #952
I think there are people who have a `do` offset at 4 and a `where` offset at 2. I would not merge those values.

[2015-10-21 16:29] emmanueltouzery commented on #906
with regards to my version of `haskell-mode`. I went in `M-x list-packages` and here's what I see related to haskell:

    haskell-emacs      20151004.1030 available  melpa      Write emacs extensions in haskell
    haskell-emacs-base 20150714.859  available  melpa      Haskell functions from Prelude
    haskell-emacs-text 20150713.716  available  melpa      Haskell functions from Data.Text

[2015-10-24 06:24] mrkkrp opened #953 "How to use REPL with stack?"
So I finally fully switched to stack. Now when I press <kbd>C-c C-l</kbd> and specify target, say `tests`, I get the following (after “Haskell process died” message):

What additional configuration/magic do I need to use to make REPL work with stack?

[2015-10-24 09:52] mrkkrp commented on #953
Fine, `stack ghci` uses different naming scheme for components of package. This explains the error message. Can you tell how `haskell-mode` decides what to use `cabal repl` or `stack ghci` and which arguments are passed to `stack ghci`, how they are generated?

Sorry, I'm usually having hard time reading source of some parts of `haskell-mode`.

[2015-10-24 10:45] PierreR commented on #953
This is what I use in my `.spacemacs`:
[code]
Of course you don't need the `ghci-ng` bit.

[2015-10-24 11:12] mrkkrp commented on #953
@PierreR, Thank you for sharing the config. `haskell-process-type` did the trick for me.

Tip for the maintainers: add a note about `haskell-process-type` to readme file along with other things that may need adjusting to work with Stack, this will definitely save time for some people.

Typing `myproject:test:tests` is still a bit long. Am I the only one who uses REPL with targets different from de

[2015-10-24 11:12] #953 closed

[2015-10-24 18:54] #290 closed

[2015-10-24 18:54] #414 closed

[2015-10-24 22:02] tonyday567 commented on #908
try the exec-path-from-shell module.  Or edit `exec-path` directly.  This variable is emacs own path for subprocesses.

[2015-10-25 10:35] d12frosted opened #954 "haskell-interactive-bring is switching to REPl window"
Hey, `haskell-interactive-bring` is defined as follows

[code]

The question: shouldn't it be `display-buffer` instead of `pop-to-buffer`? Because instead of just bringing REPL, it switches to it. And it's also annoying, that you can't go back with `haskell-interactive-switch-back`, since `haskell-interactive-bring` switches to REPL buffer, but doesn't stores the old buffer.

[2015-10-25 10:38] d12frosted opened #955 "haskell-process-load-or-reload and haskell-interactive-switch-back"
Hey,

I like to use `haskell-process-load-or-reload` function because it switches to REPL and loads buffer into it. The only thing I don't like about it - it doesn't play well with `haskell-interactive-switch-back` function. What do you think about reusing `haskell-interactive-switch` in `haskell-process-load-or-reload`?

[2015-10-25 11:03] d12frosted commented on #876
@yamafaktory what is the value of `haskell-process-type`?

[2015-10-25 11:07] yamafaktory commented on #876
@d12frosted since then I refactored my settings, i.e. only using ```(setq haskell-process-type 'stack-ghci)``` which perfectly works.

[2015-10-25 11:09] d12frosted commented on #876
@yamafaktory
Yeah, that's what I wanted to suggest you, cause now (from my experience) `haskell-mode` plays nice with `stack`. Also, even if you leave `haskell-process-type` as `auto`, it should still work for projects that have `stack.yaml` file in the project root.

[2015-10-25 11:11] d12frosted commented on #876
@alokedesai are you sure that there is space between `λ>` and what you type? I know it's silly, but it's very common problem.

[2015-10-25 11:15] yamafaktory commented on #876
@d12frosted thanks for the guidance which should benefit other users! Maybe a stack entry or stack related instructions in the corresponding sections should be added in the wiki.

[2015-10-25 11:25] d12frosted commented on #876
@yamafaktory you are welcome :smile:

About the wiki, it [already](https://github.com/haskell/haskell-mode/wiki/Haskell-Interactive-Mode-Setup#ghci-process-type) says that there is `stack-ghci` process type. But it lacks some description on process types. Plus it misleads about the default value of process type. So yeah, updated it. Thanks for the call ! :smile:

[2015-10-25 11:44] yamafaktory commented on #876
@d12frosted thanks!

[2015-10-25 15:42] #534 closed

[2015-10-25 16:01] gracjan commented on #955
Note also #807.

[2015-10-25 17:51] d12frosted commented on #955
Oh nice! Probably I would give it a try! :smile:

[2015-10-26 19:48] gracjan commented on #906
I've tried to reproduce this issue, including saving customizations and restarting Emacs. Everything works like a charm.

[2015-10-26 22:30] gracjan opened #962 "Remove possibility of 'Illegal token' from haskell-indentation"
There are two places where 'Illegal token' can be triggered in haskell-indentation:

1. In `haskell-indentation-with-starter`: the case there seems to be when a lexical structure expect a closing token/keyword and the token is not present:

[code]
The expected token at this point is one of closing ')', ']', '}'. I do not see why we could not eat everything up to a closing token, maybe treating lay

[2015-10-26 22:33] gracjan commented on #861
Closing in favor of #962.

[2015-10-26 22:33] #861 closed

[2015-10-27 05:35] emmanueltouzery commented on #906
Could this be a version problem? I have listed my version earlier in the
bug. Do you have the same version?
On 26 Oct 2015 20:49, "Gracjan Polak" <notifications@github.com> wrote:

[2015-10-27 07:45] gracjan opened #964 "Invoke hasktags more directly"
Currently invoking hasktags goes via haskell-process, that is a roundabout way of doing it.

Invoke hasktags without the need for haskell-process.

Issue lifted from discussion in #891 and in #963.

Pinging @code-crimes and @MichaelXavier.

[2015-10-27 12:20] ivan-m commented on #906
@emmanueltouzery you didn't actually state the version from what I could find.  And even if it was a bug in a previous version of haskell-mode, from what @gracjan has said with his testing it seems it no longer exists in the current version so it's fixed.

Are you able to update your version to a newer one?

[2015-10-27 12:24] emmanueltouzery commented on #906
here I listed the version: https://github.com/haskell/haskell-mode/issues/906#issuecomment-149952713

20151018.225 i'll try if i can update, but 2015.10.18 doesn't seem that old...

[2015-10-27 12:28] emmanueltouzery commented on #906
@jwiegley can you still reproduce yourself? thank you!

[2015-10-27 13:15] unhammer commented on #176
Why the final `$`? I had to remove it to use the λ in ob-haskell.el, since org-babel expects to be able to split-string on comint-prompt-regexp.

[2015-10-28 08:58] PierreR opened #968 "Wiki documentation out of sync ?"
I was willing to contribute to some documentation but [the online wiki](https://github.com/haskell/haskell-mode/wiki/Indentation) looks out of sync with [its source](https://github.com/PierreR/haskell-mode/blob/master/doc/haskell-mode.texi).

To illustrate, `haskell-indentation-show-indentations` for instance still appears in the wiki doc but does not seem to be anywhere in the source file

[2015-10-28 09:03] PierreR commented on #900
Is there a workaround for this issue ? I thought `M-t` would insert the type signature but for me it just prints "Nothing to be done".

As a note, `C-c C-t` does give me a proper type.

[2015-10-28 10:47] gracjan commented on #968
Manual is here:

http://haskell.github.io/haskell-mode/manual/latest/

Material from the wiki should be moved to official manual in
haskell-mode.texi.

2015-10-28 9:58 GMT+01:00 Pi3r <notifications@github.com>:

[2015-10-28 12:46] PierreR commented on #968
Ah right. Can I at least update the link from the README page for the real manual if this can help.

[2015-10-28 14:25] gracjan commented on #968
Can you help with moving more content from the wiki to official manual
first?

[2015-10-28 14:32] PierreR commented on #968
Ok. I guess the source for the wiki is on the gh-pages branch ? Could you point me to the sections that hasn't been integrated yet ?

[2015-10-28 14:53] gracjan commented on #968
Soirce is in doc/Haskell-mode.texi. Web page updates itself when merged.

[2015-10-28 15:32] PierreR commented on #968
Then I don't get it. I thought `doc/Haskell-mode.texi` was the source for http://haskell.github.io/haskell-mode/manual/latest/  not the wiki.

[2015-10-28 18:53] gracjan commented on #968
Please edit `doc/haskell-mode.texi`. This is the official documentation. Wiki needs to gradually be displaced.

[2015-10-28 19:03] PierreR commented on #968
Yes I know. You suggest I displaced content from the wiki into `doc/haskell-mode.texi`. I can copy paste from the web interface but it might be more convenient to copy from the actual source. So my question was what is the source file for the **wiki**. The stuff I want to copy **from**. Sure I will copy to  `doc/haskell-mode.texi`.

[2015-10-28 19:06] gracjan commented on #968
Oh, I see. Wiki is edited inplace on github. The wiki is the source for itself, although it can be accessed via git (github has info how to do this somewhere).

[2015-10-28 19:07] PierreR commented on #968
Ok thanks ;-)

[2015-10-28 19:13] emmanueltouzery commented on #906
I have upgraded `haskell-mode` and now I get `progn: Symbol's function definition is void: haskell-indentation-disable-show-indentations`...

I guess something is wrong with my configuration. And probably a bug report is not the right canal if that's the case. My dot files are otherwise there, but I guess it's probably correct to close the bug: https://github.com/emmanueltouzery/dotspacemacs

[2015-10-28 19:27] PierreR commented on #906
@emmanueltouzery Just in case you don't use `spacemacs` do you ? Because the master branch is currently broken because of this change (the fix is merged in develop and should be release in master soon)

[2015-10-28 19:27] gracjan commented on #906
This symbol has been removed. You seem to have a reference to it in your
.emacs file, please remove it from there, too.

[2015-10-28 19:32] emmanueltouzery commented on #906
Yes I use spacemacs... I didn't see a bug there. I don't use that symbol in my .spacemacs.
I'll stick with my "old" haskell-mode version until the next spacemacs release... It has bad indentation but mostly works...

[2015-10-28 19:36] gracjan commented on #906
Oh boy, what is spacemacs doing with these symbols?

Which spacemacs commit fixes this issue?

[2015-10-28 19:45] gracjan commented on #968
So I close this one.

[2015-10-28 19:45] #968 closed

[2015-10-28 19:48] gracjan commented on #906
I've reported this issue to spacemacs: https://github.com/syl20bnr/spacemacs/issues/3580

[2015-10-28 19:48] PierreR commented on #906
My own commit
https://github.com/syl20bnr/spacemacs/commit/5473d441d42b671c5cc5feae21fcfc08184b77f9 :-)

[2015-10-28 19:50] PierreR commented on #906
They already know about the problem and I know they are planning to integrate the bugfix (just removing the call to these symbols) in master quite soon.

[2015-10-28 19:53] PierreR commented on #906
Here is the link to the PR:
https://github.com/syl20bnr/spacemacs/pull/3527

[2015-10-28 19:55] gracjan commented on #906
Well, I've added an issue so it is not forgotten.

[2015-10-29 09:31] YoEight opened #969 "Can't edit a buffer while resolving merge conflict because `Invalid Token` error."
Hi,

Indentation-mode can't handle a file with git conflict marks in it.

Regards

[2015-10-29 09:39] YoEight opened #970 "C pragma and `Illegal token: else`"
Hi,

[code]
gets me `Illegal token: else` message when I hit ENTER.

Thanks for your time,
Regards

[2015-10-29 09:40] gracjan commented on #969
Good use case. Can you provide a unit test case documenting this?

[2015-10-29 09:41] gracjan commented on #970
Good use case. Can you provide unit test case for this in
`tests/haskell-indentation-tests.el`?

[2015-10-29 09:41] YoEight commented on #969
This time I'll try to not forget doing it !

[2015-10-29 09:53] Shimuuar commented on #970
There's one already AFAIR

[2015-10-29 09:56] Shimuuar commented on #952
Indeed. For example Johan Tibell: https://github.com/tibbe/haskell-style-guide/blob/master/haskell-style.md

[2015-10-29 10:19] gracjan commented on #952
Tibell style has only where as exception. This is way less than 6 special
undocumented cases that we have now.

W dniu czwartek, 29 października 2015 Aleksey Khudyakov <
notifications@github.com> napisał(a):

[2015-10-29 14:53] gracjan commented on #970
Might be. We might need a couple more. CPP has a couple of features, like line continuations and stuff.

[2015-10-29 14:54] gracjan commented on #969
If you forget 'illegal token' will haunt you in your dreams.

[2015-10-31 11:16] ilitzroth opened #972 "Makefile doesn't work in a shell under emacs"
The makefile contains this line:

[code]

in an emacs shell buffer `EMACS=t`.

[2015-11-01 09:15] gleber opened #974 "Please do not make haskell-mode non-useful without ghc-mod"
Due to ghc-mod licensing, some people are not able to use it at work. Details are here:
https://github.com/kazu-yamamoto/ghc-mod/issues/638

Based on this month's haskell-mode news there seem to be more integration/cooperation between these two. If this goes too far, e.g. I won't be able to use newer releases of haskell-mode due to it's use of AGPL and corporate policies.

[2015-11-01 15:32] gracjan commented on #974
We hear you laud a clear.

haskell-mode itself is released under GPL license and it is going to stay that way. We understand that stability of license is important for our users.

We have limited influence on other tools and their licensing ideas. But we will take into account what is going on and, given our limited resources, do our best to keep the project going forward avoiding this whole licen

[2015-11-01 15:37] gracjan opened #975 "Improve error handling of exec of external programs if they are absent"
Basically we need to render this page useless:

https://github.com/haskell/haskell-mode/wiki/PATH

Tasks to do:
- [ ] implement exec function that handles errors
- [ ] exec function should detect when external program is absent
- [ ] it should use `display-error` with information about
- [ ] what program we looked for
- [ ] which customization variable can be used to adjust it
- [ ] what is the cu

[2015-11-01 15:38] gracjan commented on #969
@YoEight: How does this go?

[2015-11-01 18:04] gracjan opened #977 "Implement doctests font-lock"
There is doctests. We could use different face for that.

[2015-11-01 18:44] ygale commented on #197
I want to upgrade to the latest haskell-mode.

I followed the link on this month's reddit post. Nothing there. But there was a link to "Home". Huh. Nothing there either. But there was a link to this issue. Aha, looks like I finally found it! I clicked on the link  which was the reason that this issue was closed. Well, not yet... but there is a link to "Getting Started". That must be it!

    "If y

[2015-11-01 18:55] gracjan commented on #197
Okay :)

For now the documentation is a bit scattered. Starting from zero is described in readme here:

https://github.com/haskell/haskell-mode/blob/master/README.md

Note that it should work out of the box, there is not much you need to just start using it.

Advanced features are a bit different beasts though, so please come back for more information.

[2015-11-01 19:35] gracjan commented on #974
I'll close this as there is nothing to fix here. We have heard and will act accordingly.

[2015-11-01 19:35] #974 closed

[2015-11-02 07:30] emmanueltouzery commented on #906
a new version of spacemacs was now released, I tried again but I still see the issue. Still 2 indents despite my config file. I now have haskell-mode 20151101.709.
I guess my config is at fault, or maybe but presumably not spacemacs.  I guess I'll try to debug it.
My config is there otherwise, I think it has nothing special:
https://github.com/emmanueltouzery/dotspacemacs

[2015-11-03 13:07] emmanueltouzery commented on #906
Ok I think it can be closed (can't close it myself as I'm not the author). I think it's not caused by `haskell-mode`. If I put the `custom-set-variables` in my `dotspacemacs/config` function in my `.spacemacs` it works. If I put it just at the end of my `.spacemacs` as is the default... It doesn't work. I can't find anything in my .spacemacs that would overwrite the values. But I have to assume `h

[2015-11-03 13:29] gracjan commented on #906
@syl20bnr: Can you confirm/deny that spacemacs may be at play here?

[2015-11-04 15:14] fosskers opened #979 "`haskell-process-load-file`: cabal `test-suite` wants to inject deps into `library`"
Hi, I have these two sections in my `.cabal`:

[code]

And I have `C-c C-l` bound to `haskell-process-load-or-reload`.

When I use `C-c C-l` on my library source code, it compiles fine. However, when I attempt the same in my `test-suite` code (which has different deps than the library. `tasty` for instance), `haskell-mode` wants to inject `tasty` etc into the deps of the `library` section. If I do

[2015-11-04 22:39] Wysaard opened #980 "Emacs hangs when typing behind whitespace"
When in haskell-mode I experience the following problem:
If I use my `enter` key to go to a new line, indentation is already there for me (this is the case with all indentation modes). But that's not a problem of course. The problem comes when I use `C-a` to jump to the start of the line. If I type now, all my actions will have some delay; sometimes a little, other times a lot.

This looks like a

[2015-11-04 22:56] gracjan commented on #980
Interesting. I do not observe this behavour. Do you have other modes
enabled?

[2015-11-05 01:09] ivan-m commented on #979
Use `haskell-session-change-target`.  This is because `cabal repl` loads up a specific target in the .cabal file.

[2015-11-05 02:20] fosskers commented on #979
That did it, thanks.

[2015-11-05 02:20] #979 closed

[2015-11-05 19:43] Wysaard commented on #980
Not that I'm aware. I'll try a few things and see if I can find out under what circumstances it happens.

[2015-11-05 19:53] Wysaard commented on #980
Here's an easy way to reproduce the problem:
Open a new `.hs` file. Fill one line with a lot of spaces, like a hundred. Now start typing at the start of the line.

It seems that the more spaces, the worse. I also experienced this when working in a very big file with jus a few spaces, but never when I have no spaces in front of my cursor at all.

So basically the delay gets worse when there are spa

[2015-11-05 22:57] Wysaard commented on #980
In other news, it also happens if I use a completely clean .emacs file. No indentation enabled whatsoever.

There's also this weird thing where if you start typing at the second character of the line there is no issue. Thereafter using arrows to navigate to the first character allows me to start typing in the normal way sometimes (not sure when it does and when it doesn't). However, just typing a

[2015-11-06 19:47] marcinmrotek commented on #876
Maybe it could help someone: on my setup (I'm using `evil`) the repl works right after `C-`` if I'm in a project that does NOT use stack; in a project with a stack.yaml, I have to `C-c C-c` before typing anything. Then pressing enter starts to work

[2015-11-07 07:37] emmanueltouzery opened #981 "M-j to continue a comment on the next lines indents the next line"
in emacs while in the middle of a comment, it's possible to ask to insert a carriage return and continue the comment on the next line.

eg, if "|" is the cursor position:

    -- my comment|

you press M-j and you should get:

    -- my comment
    -- |

but I get:

    -- my comment
        -- |

the comment continuation on the second line should not be indented.

[2015-11-07 10:07] KaneTW opened #982 "Parsing failure with type-level lists"
The following valid Haskell code
[code]

fails to parse with haskell-mode. When using haskell-indentation-mode, pressing TAB fails with `No catch for tag: parse-error, "Illegal token: )"`

[2015-11-07 11:01] gracjan commented on #982
Can you add a test case in `tests/haskell-indentation-tests.el`?

[2015-11-07 21:42] KaneTW commented on #982
Just tested with HEAD. Seems to be fixed.

[2015-11-07 21:42] #982 closed

[2015-11-08 16:32] mrkkrp commented on #782
@gracjan, For quite a while I wanted to point out that this still does not work. Here is how to reproduce:

[code]

Interestingly, if I put `where` at the beginning of line, all lines below it are indented. And since this is my style of writing `module` declaration, I'm constantly annoyed by this.

[2015-11-10 10:33] mrkkrp opened #985 "Stop blocking me from typing my code"
Sometimes I get blocked and I cannot enter newlines. Message in minibuffer says:

I believe it's `haskell-indentation-mode`. My opinion is that it should never block user from typing.

Not sure to reproduce this reliably, but I'll find out when I have time.

[2015-11-10 10:55] geraldus commented on #985
Same here with

[2015-11-10 11:10] Shimuuar commented on #985
Also see #861 and #962

[2015-11-10 22:35] mgsloan commented on #985
Yeah, it's pretty shocking to me that something like "intelligent" indent would have the possibility of throwing an exception and refusing to do anything.  This should just be a guess, requiring valid code before the point is absurd.

[2015-11-12 03:25] bergey opened #988 "haskell-process-do-type truncates types too aggressively"
When reporting a type in the message area (not inserting in the buffer), haskell-process-do-type only shows the first line and the first few chars of the second line.  `haskell-mode-message-line` has the actual truncation logic.  Because GHCi tries to format types nicely, this leads to useless output like `snugCenterV [ :: (Fracti .. ]`.  The full type is:

[code]

This would fit just fine on one

[2015-11-12 03:30] bergey opened #989 "Code duplication between haskell-process-do-type, haskell-process-insert-type"
`haskell-process-do-type` has two code paths, one to insert a type, one to show it in the minibuffer.  They share no code, and for example use different rules to decide what string to pass to ghci.

I'm happy to make a PR refactoring the common code into a single function, if the maintainers agree that this would be an improvement.

[2015-11-12 07:36] gracjan commented on #988
Make one line out of those many, turn multiple spaces into one space, get
minibuffer width and cut the line so that it does not make minibuffer
resize.

For added bonus you may also check if it looks better to also cut
everything up to "::", leaving only type. It may or may not be better,
needs to be checked.

[2015-11-12 07:38] gracjan commented on #989
Hmm, interesting.

I remember Artur working on this and it proved problematic to merge those
code paths. I'm not sure what the problem was, though.

If you can merge it then great, go ahead!

[2015-11-12 08:27] mrkkrp commented on #985
@mgsloan, In my case I'm pretty sure code before point was valid Haskell.

[2015-11-12 10:22] bgamari commented on #906
@syl20bnr, ping; I believe I am also seeing the behavior observed by @emmanueltouzery .

[2015-11-12 10:33] bgamari commented on #952
It's actually unclear to how one is supposed to replicate @tibbe's style with `haskell-indentation` currently. I currently use,
[code]
as recommended in [`haskell-style.el`](https://github.com/tibbe/haskell-style-guide/blob/master/haskell-style.el) and yet bindings in `where` clauses are indented two spaces too far,
[code]
What am I missing here?

[2015-11-12 13:31] geraldus commented on #988
The truncation was agressive already when I worked with this stuff.  I can't be certain, but it seems that we already discussed this issue long ago, but that time we did not find good solution.  One possible alternative is to enable `Presentation Mode`.

[2015-11-12 13:31] geraldus commented on #989
I'll be able to have a look tommorow.

[2015-11-12 22:18] mgsloan commented on #985
Yeah, I guess my point is that "code before the point is valid Haskell" is not a reasonable requirement for automatic indentation.

[2015-11-13 21:04] #988 closed

[2015-11-15 18:58] YoEight commented on #969
@gracjan Sorry for the delay,

I did find out in the wiki how to come up with a test case and run it. I have zero emacs-lisp knowledge, I browse the tests directory but it didn't help me figuring out a test. Could you give some help ?

[2015-11-15 19:08] geraldus commented on #989
Oh, guys, I'm a greatest lier, apologizes, I have not looked at this yet.  Maybe on Thuesday...

[2015-11-15 19:29] bergey commented on #969
@YoEight If you can post a small snippet of Haskell that triggers the bug, I can turn it into a test case.  I'll write [something like this](https://github.com/haskell/haskell-mode/blob/master/tests/haskell-indentation-tests.el#L755), using the Haskell string you provide, and telling emacs where the indentation should be.

[2015-11-15 22:34] bergey commented on #989
No rush, I have plenty of other projects.  =)

[2015-11-16 17:45] geraldus commented on #989
Ok, the difference is if user just wants to see a type, `do-type` shows result in the minibuffer or in popup window depending on presentation mode configuration.  If user wants to insert a type, it is not necessary to show result, because it will be inserted anyway.  So there is two diffrents ways of functionallity.  Does it makes some sense?  Or do you have other questions?

[2015-11-17 12:56] bergey commented on #989
I understand the difference in output.  I was surprised that this leads to different regexen to match the Haskell identifier, and to decide whether to add parens in the ghci query.  I jumped to the conclusion that the two functions should do the same thing up to the point where they output the type differently.  Looking now, that may be wrong.

Is it documented anywhere that `haskell-process-do-ty

[2015-11-17 13:22] gracjan commented on #989
Thinking about this issue again it might be more productive for you to contribute to [Haskell IDE Engine](https://github.com/haskell/haskell-ide-engine) because it is supposed to fix this and many other problems.

[2015-11-17 14:44] bergey commented on #989
Yes, that makes sense.  Thanks for the advice.

[2015-11-20 04:55] codygman opened #993 "Issues trying to use local version of a package in a layer"
I had a bug I patched in haskell-mode and wanted to try it out, so I checked out the documentation on [layers](https://github.com/syl20bnr/spacemacs/blob/master/doc/LAYERS.org#packagesel)

After quite a bit of reading I did the following:

[code]

restart spacemacs & open eshell

[code]

within hello.hs buffer, `SPC h d m`, search for haskell mode, click (haskell-mode.el). When it opens haskell-mo

[2015-11-20 05:04] codygman commented on #993
Just followed my reproduction instructions again to make sure the steps worked, they do.

[2015-11-20 05:13] codygman commented on #993
I then tried `SPC f e h` and searched for `package: haskell` and saw this:

![1447996388](https://cloud.githubusercontent.com/assets/225847/11292415/313f7194-8f13-11e5-9a0a-71aaae48a5bb.png)

[2015-11-20 05:16] ivan-m commented on #993
This to me sounds more like a spacemacs issue than a haskell-mode one.

[2015-11-20 05:21] codygman commented on #993
@ivan-m I think it's an issue of me not using local packages correctly, failing that I think it's a spacemacs issue. It could not be a haskell-mode issue.

[2015-11-20 06:22] ivan-m commented on #993
If it isn't a haskell-mode issue, why file it as an issue on haskell-mode?

[2015-11-20 06:44] codygman commented on #993
Whoops, please close... Or I can in the morning.
On Nov 20, 2015 12:22 AM, "Ivan Lazar Miljenovic" <notifications@github.com>
wrote:

[2015-11-20 13:17] #993 closed

[2015-11-20 16:03] gracjan commented on #985
`haskell-indentation-mode` should work for any unicode character string, trying to make sense out of it as much as it can.

It should never throw any kind of exceptions.

The proposed solutions seem to be to catch exceptions and cover up then. I think it should never throw in the first place. Note that there are only three places where `haskell-indentation-mode` throws:

- https://github.com/haske

[2015-11-20 21:39] gracjan commented on #981
Are you able to add a test case to `tests/haskell-indentation-mode-tests.el`?

[2015-11-20 22:01] gracjan commented on #447
Lets declare defeat here.

[2015-11-20 22:01] #447 closed

[2015-11-21 10:33] gracjan commented on #980
I tried to reproduce this but everything seems perfectly fine. Can anybody else try to help with this problem?

[2015-11-21 10:35] gracjan commented on #972
The full `Makefile` fragment goes like this:

[code]
It seems to me we are doing the correct thing here. Am I wrong?

[2015-11-21 11:08] gracjan opened #998 "Make haskell-indentation-phrase-rest non-recursive"
Since Emacs does not have tail call optimization then `haskell-indentation-phrase-rest` can blow the stack and make everything super slow.

Derecursivize `haskell-indentation-phrase-rest`!

[2015-11-21 14:10] bergey commented on #972
The Makefile works for me in shell-mode or eshell.  It does not work in term-mode, where `EMACS=24.5.1 (term:0.96)`.  I don't know that we need to care about this last, I'm just trying to be complete.

[2015-11-25 13:50] bergey commented on #964
I've started looking at this.  Two questions:

1. Would it be ok to depend on [async.el](https://github.com/jwiegley/emacs-async)?  For haskell-tags-on-save I'd like to call `hasktags` asyncronously, but I'd like to keep supporting `and-then-find-this-tag`.

2. Is there a test case that shows why we need the `find` command?  In my tests `hasktags` does a better job indexing all the Haskell files a

[2015-11-25 14:04] gracjan commented on #964
1. I would prefer the blocking version first. Dependencies are inherently tricky on Emacs.
2. Later on the equivalent of a single function [`async-start-process`](https://github.com/jwiegley/emacs-async/blob/master/async.el#L199) can be pulled in verbatim.
2. I guess hasktags used to need find, this seems to be no longer the case. Although it needs to be checked if huge directories like '.git' or

[2015-11-25 14:06] #962 closed

[2015-11-25 14:06] #969 closed

[2015-11-25 14:06] #970 closed

[2015-11-25 14:06] #985 closed

[2015-11-25 14:09] #807 closed

[2015-11-25 14:27] #989 closed

[2015-11-25 15:06] tobiasBora opened #1000 "Case indentation error"
Hello,

First thank you for your work. I have a problem with haskell-indentation-mode: when I do
[code]

I have
[code]
while I would like to have
[code]
Do you have any solution ?

Thank you for you work !

[2015-11-25 15:20] gracjan commented on #1000
You can press TAB just when in the line after 'case'.

But I agree we should fix this inconvenience.

[2015-11-25 15:58] tobiasBora commented on #1000
When I do so the TAB doesn't do anything... I just stay on the same position, and if I manually add space and then press TAB it comes back to it's initial position...

[2015-11-25 20:19] gracjan commented on #1000
It seems to be more broken than I thought... Sorry about that.

Are you able to add a test case that documents the failing behaviour in
tests/haskell-indentation-tests.el?

[2015-11-25 22:45] chauinau opened #1002 "Emacs haskell-mode: how to send PART of file to repl?"
In many emacs language modes, there are commands for interacting with a repl/interpreter for that language. Often there are commands for sending just specific parts of the file (like single expressions or subexpressions or regions) to the repl.

For example (among, no doubt, numerous others):
- In ocaml, with tuareg C-c C-e (tuareg-eval-phrase)
- In clojure, with cider (M-x cider-jack-in) C-c C-e

[2015-11-26 02:02] bergey commented on #964
Are dependencies really that bad these days?  Or do you mean that you still support emacs-23?  I dislike to maintain inline copies of something so generic as `async-start-process`.

[2015-11-26 08:11] gracjan commented on #964
I'd rather have inline copy for now, thanks.

[2015-11-26 12:41] cocreature commented on #1002
I outlined some of the issues with doing this in haskell in #893, but let me summarize it:

The main problem is that the syntax for executing code in the repl is different than the one used by ghc. In particular you can’t just take a function definition from a file and paste it in the repl, but you need to use let and similar stuff.

Now you can solve that problem by writing whatever you’ve select

[2015-11-26 20:50] #914 closed

[2015-11-27 21:27] chauinau commented on #1002
Oh, ok...

[2015-11-27 21:27] #1002 closed

[2015-11-27 22:03] PierreR commented on #1002
@chauinau the situation might improve from ghc-8. If I recall correctly you won't need to include function in let expression anymore. But I guess it might take while before seeing this kind of feature integrated.
Personally I don't mind too much; reloading the whole buffer is not so bad.

[2015-11-28 21:57] xinhuazhang opened #1004 "haskell-process-load-file error (wrong-type-argument number-or-marker-p nil) when code has an error"
Hello,

When I use `C-c C-l`, which is `haskell-process-load-file` command, and if there is an error in my code, this error shows. However, if the code is correct, then there is no such error.

    (wrong-type-argument number-or-marker-p nil)

If I use `:l filename.hs` in the *haskell* buffer, it works correctly, no error at all.

I wonder what is going on?

[2015-11-29 08:44] gracjan commented on #1004
@bergey, is this because of your recent changes?

[2015-11-29 17:15] xinhuazhang commented on #1004
I have the  other computer which has an old version 20151102.256 and it works fine.

[2015-11-29 21:50] gracjan opened #1005 "Implement nice font-lock for LiquidHaskell"
Implement nice font-lock for LiquidHaskell

[2015-11-30 00:33] bergey commented on #1004
@xinhuazhang Can you run `M-x toggle-debug-on-error` and post the backtrace for that `wrong-type-argument`?  Also, on the computer running 21151102.256, is the command that works fine `haskell-process-load-file` or `haskell-process-load-or-reload`?  b0f04d152cfa19886d27f054a5b857ccfe95b68f changed the default binding for `C-c C-l`

I haven't managed to reproduce this yet.  When I have an error in

[2015-11-30 01:21] xinhuazhang commented on #1004
@bergey After I run M-x toggle-debug-on-error and then run either haskell-process-load-file or haskell-process-load-or-reload there is no backtrace showing up. haskell-process-reload has the same problem.

[2015-11-30 01:47] xinhuazhang commented on #1004
@bergey I think I have figured out the problem.  The path to the file is something like "abc/Ubuntu One/def", there is a space between Ubuntu and One. There is no Ubuntu One any more, I am still doing my work in the directory somehow.

[2015-11-30 01:54] bergey commented on #1004
Aha!  Thanks for following up.  I was stumped trying to reproduce the issue. Do you mean that you moved the Haskell file, and emacs doesn't know about the rename?  Can we close this, or is there still a problem that we should fix?

[2015-11-30 01:55] xinhuazhang commented on #1004
If there is no space in the path to  the Haskell file, then it is fine.

[2015-11-30 01:55] #1004 closed

[2015-11-30 07:39] vlatkoB commented on #742
Found the culprit for opening other files. It is `haskell-doc-show-global-types`. When set to `t`, it opens files. Setting it to `nil`, other files are not open.
Closing this issue.

[2015-11-30 07:39] #742 closed

[2015-11-30 08:33] gracjan commented on #1004
Supporting spaces in project paths is one of the things that we should do
someday.

[2015-11-30 08:38] gracjan commented on #742
vlatkoB: Can you add some documentation in haskell-mode.texi about this?

[2015-11-30 13:09] KenetJervet opened #1006 "Illegal token: )"
[code]

With the cursor at the end of the import statement, pressing Enter fails with "Illegal token: )"
Placing the cursor at a trailing new line works though

[2015-11-30 19:31] gracjan commented on #1006
Can you check newest version? This issue was fixed during current month, if you update you should be good.

[2015-12-01 02:14] KenetJervet commented on #1006
Cool. That fixed it. Thank you!

[2015-12-01 02:14] #1006 closed

[2015-12-01 11:07] guaraqe commented on #608
+1
This is one of the functionalities that can make working with Haskell closer to what working with Python or R is.

[2015-12-01 16:10] bergey commented on #900
@PierreR Is this still a problem with current HEAD?

If so, is `C-c C-t` bound to `inferior-haskell-type` or `haskell-process-do-type`?  Can you provide an example that produces the error?

[2015-12-01 19:00] emmanueltouzery commented on #981
I can try. I opened the file and it looks straightforward to add new tests, however I didn't manage to run the exists tests. I also didn't find guidance about that in the contribution guide or readme? Before I can modify tests I must be able to run the existing ones. I guess it's basic knowledge for authors of emacs-lisp packages, but it's knowledge I just don't have currently...

[2015-12-01 19:09] gracjan commented on #981
make check

[2015-12-01 19:23] emmanueltouzery commented on #981
ok this test accurately reproduces the problem:

[code]

i guess fixing the problem itself would be considerably more involved..?

[2015-12-01 19:37] gracjan commented on #981
Add:

    :expected-result :failed

and then this test case qualified for a pull request.

As about fixing it really: indentation mode currently ignores comments (treats them as whitespace), so it aligns your second comment to the tokens that were even before the first comment. Comments should be represented as a new token type. This requires some thought, but you may give it a try.

[2015-12-01 20:06] PierreR commented on #900
@bergey  `c-c c-t` is bound to `ghc-show-type`. The function that offers this feature comes from `ghc-mod` if I am not mistaken: `ghc-insert-template-or-signature` ? Is there an equivalent not related to `ghc-mod` (It looks like `ghc-mod` is no so active these days).

[2015-12-01 20:07] patrickt opened #1009 "Stray ^H characters appear in haskell-process-log"
Attaching a screenshot, as my copy-and-paste interprets ^H as a newline:

<img width="765" alt="screen shot 2015-12-01 at 3 06 41 pm" src="https://cloud.githubusercontent.com/assets/2498/11512673/3abfd320-983d-11e5-97a8-2b5e3b3866f7.png">

This may be related to the fact that I am using `stack ghci` as my interpreter. (I'm running Emacs 25 with latest haskell-mode.)

[2015-12-02 07:50] vlatkoB commented on #742
I'm rather busy right now, but I do not think there is a need for that. Customize for `Haskell Doc Show Global Type` says clearly:
[code]
Another question is should this be done in another way?

[2015-12-02 08:34] #998 closed

[2015-12-02 08:37] gracjan commented on #742
It is good enough in this case. Thanks.

[2015-12-02 10:11] unhammer opened #1012 "hsc2hs support"
On doing `haskell-process-load-file` on a file that ends in .hsc, would it be possible to run `hsc2hs` on it first and load the resulting .hs (instead of the .hsc)?

[2015-12-02 12:17] unhammer commented on #1012
Perhaps something like

    (defun haskell--process-hsc2hs-load ()
      "Run hsc2hs and load the resulting file (unless hsc2hs failed)."
      (let* ((hwin (get-buffer-window (current-buffer)))
             (hs (replace-regexp-in-string "\\.hsc\\'" ".hs" (buffer-file-name)))
             (cbuf (compilation-start (format "hsc2hs %s" (buffer-file-name))
                                      nil

[2015-12-02 13:17] jstolarek opened #1013 "Broken indentation in Emacs 24.5"
I recently updated my Emacs installation to version 24.5.1 and discovered that in haskell mode upon entering a new line indentation behaves in an unexpected and unintuitive way. In these examples below `X` shows where the point is set upon pressing Enter at the end of previous line and `Y` shows where it used to be set before upgrading Emacs:

[code]

[code]

[code]
[code]
Using haskell-mode just

[2015-12-02 13:19] jstolarek commented on #1013
Oh, and this behaviour happens consistently on two different machines. Both have Emacs 24.5.1 compiled from sources, haskell-mode from melpa and [this configuration file](https://github.com/jstolarek/scripts/blob/0a79361b663bff84c756b2cd23720c9b05035f48/emacs/.emacs).

[2015-12-02 15:58] gracjan commented on #1013
Remove this line:

(add-hook 'haskell-mode-hook 'turn-on-haskell-indent)
restart. It should help.

[2015-12-02 16:11] jstolarek commented on #1013
Indeed, that changes indentation behaviour, but it does not restore previous, correct behaviour. For example, indentation of case alternatives does not work in a reasonable way. Also, if I have:

[code]
where `X` represents mark, I would expect that pressing TAB will insert `foo`. But after commenting out that configuration line it doesn't.

So I would say that what you've given me is a workaround

[2015-12-02 22:13] gracjan commented on #1013
It seems we should reopen #208.

[2015-12-03 02:09] npostavs commented on #719
Hi, yasnippet dev here. It looks like there exists a [`case` snippet in yasnippet-snippets][1] which is where the snippet collection comes from in a typical install (MELPA).  The yasnippet-snippets one lacks the `# expand-env: ((yas-indent-line 'fixed))` which haskell-mode's has. Perhaps this is the reason for the problem?

Regardless, I suggest you ask @AndreaCrotti to update the haskell snippets

[2015-12-03 13:00] AndreaCrotti commented on #719
Hi @npostavs yes well I can definitively update them, but just to be clear only the snippets in haskell mode that would have indentation need that right?
I think it's only *class* and *case* from what I can see so far, is that right?

[2015-12-03 13:04] AndreaCrotti commented on #719
I tried and this works

https://github.com/AndreaCrotti/yasnippet-snippets/pull/107

if that's all we need I'll merge that @npostavs @eigengrau
If anyone else could confirm that snippet works fine it would be great

[2015-12-03 16:03] bergey commented on #900
I believe the best-maintained equivalent now is `haskell-process-do-type`.  It assumes there's already a connected ghci session, so I call `haskell-process-load-file` first (`C-c C-l` by default) and then `haskell-process-do-type` (which is the current default for `C-c C-t`).

I'll try to look into it, now that I know which function is being called.  (In case it's fixable in `hasell-mode`; I can't

[2015-12-03 19:20] patrickt commented on #1009
This went away when I upgraded to GHC 7.10. Closing.

[2015-12-03 19:20] #1009 closed

[2015-12-03 19:49] qrilka opened #1015 "Jump on enter from error/warning in interactive mode"
I remember this feature was there in haskell-mode some time ago (maybe even more than year or two) and it was quite handy but currently it does not work.
My haskell-mode config currently is quite basic:
[code]
I've updated to the most recent version from ELPA and run Emacs 24.5

[2015-12-05 08:51] gracjan commented on #82
Any progress here?

[2015-12-05 08:53] gracjan commented on #130
Lets agree to use `flycheck` instead of `flymake`, `flycheck` is better at handling temporary files.

[2015-12-05 08:53] #130 closed

[2015-12-05 08:57] gracjan commented on #256
What about this one?

[2015-12-05 09:17] #407 closed

[2015-12-05 09:23] gracjan commented on #384
Lets agree to use `flycheck` instead of `flymake`.

[2015-12-05 09:23] #384 closed

[2015-12-05 10:38] gracjan commented on #366
So I worked a little on this and `haskell-indentation` is pretty close to supporting what we want here.

[2015-12-05 22:48] LukeHoersten commented on #256
Still happens though I have no idea why. Happens maybe 1 out of 10 times but it's pretty reproducible.

[2015-12-10 18:28] sumitsahrawat opened #1022 "Tags not being generated on save"
From the discussion here: serras/emacs-haskell-tutorial#39

[2015-12-11 13:26] #972 closed

[2015-12-11 20:43] #366 closed

[2015-12-11 20:45] gracjan commented on #952
@bgamari: looks like a bug to me.

[2015-12-11 21:50] #1000 closed

[2015-12-11 22:09] gracjan commented on #910
After a change from 'precise' to 'trusty' there seems to be proper texinfo available.

There is no way to get `emacs-snapshot` for now, so there are choices:
- wait more until there is a package available
- ignore emacs-snapshot for now
- download binaries by some other means

[2015-12-11 23:20] gracjan commented on #910
Flycheck builds emacs on every checkout:

https://raw.githubusercontent.com/flycheck/emacs-travis/master/emacs-travis.mk

It takes 15 to 20 minutes to build. I'm not willing to wait.

[2015-12-11 23:58] gracjan commented on #910
Looks like Trusty support on Travis is broken at the moment: https://github.com/travis-ci/travis-ci/issues/5262

[2015-12-12 09:16] gracjan commented on #950
`python-mode`: Checks if previous line ends with `:` and adds `py-indent-offset` . Detects block ending keywords like `return`, `raise`, `break`, `continue`, `pass` and dedents. Cycle goes always from left to right, never backwards. There is no S-TAB bound. There is electric-delete (optional).

[2015-12-14 07:59] martinvlk opened #1026 "Add an easy way to navigate back after `haskell-mode-jump-to-def-or-tag`"
Hi, this is a feature request to implement an easy way to go back when I jump to a definition or tag using M-.

In emacs this is usually bound to M-, so it would make sense to make it so for haskell-mode too.

Many Thanks

[2015-12-14 13:45] bergey commented on #1026
`pop-tag-mark` navigates back on my machine.  It's bound to `M-*` for me, which I think is an emacs default.

[2015-12-15 15:18] gracjan commented on #1022
@sumitsahrawat: How about pulling the content of that tutorial into our official documentation:

http://haskell.github.io/haskell-mode/manual/latest/

Source is in `docs/haskell-mode.texi`. Texi is super easy to get going and is Emacs standard.

And our documentation is autogenerated, so no need to do it manually.

[2015-12-15 17:09] #1013 closed

[2015-12-15 17:10] gracjan commented on #910
Looks like Travis decided to go for Google Compute Engine. In that case docker is not useful.

[2015-12-15 17:10] #910 closed

[2015-12-15 18:08] jstolarek commented on #1013
Closed means fixed?

[2015-12-15 20:45] sumitsahrawat commented on #1022
Only @serras can decide that. Thanks for the offer.

I think he will agree, as he was looking for people to maintain it.

Yup, I've seen books being written in texi, and it would be a good opportunity to learn a thing or two about it.

[2015-12-15 20:49] serras commented on #1022
I am OK with it, and willing to help a bit if needed :)

[2015-12-16 17:42] gracjan commented on #1013
You seem to have found a way to make indentation work so I guess this part is fixed.

There is the unimplemented feature of `haskell-indentation-mode` that is present in `haskell-indent-mode` that is symbol completion.

You are the second person requesting that and I'm not sure if this is an expected feature or not. Anyway we will need a volunteer to implement it.

[2015-12-16 17:45] gracjan opened #1027 "Function-name completion in haskell-indentation-mode"
In `haskell-indent`, it also completes the function name.

Suppose following situation:

[code]

When I hit `C-j` and `TAB` twice, `haskell-indent` completes the function name:

[code]

But with `haskell-indentation`, function name is not completed.

[2015-12-16 17:45] gracjan commented on #1013
Anyway submitted as separate issue #1027.

[2015-12-16 17:46] gracjan commented on #208
Part of request submitted as a separate issue #1027.

[2015-12-16 18:05] jstolarek commented on #1013
No, I have not been able to restore previous functionality in a reasonable way, ie. after disabling indentation the problem went away but so did useful functionality. So in no way is my problem solved :( Perhaps this is a duplicate of #208 (as you've pointed out), but in such case please re-open #208.

I believe I am not requesting any new feature. Completing function name has been present in hask

[2015-12-17 09:03] gracjan commented on #1013
Opened as #1027.

[2015-12-17 09:51] jstolarek commented on #1013
Ok, clearly there is something I don't understand here. From reading #1027 I understand that so far I have been using `haskell-indent`. After updating Emacs to 24.5 behaviour of `haskell-indent` is broken and I was forced to turn it off (obviously, losing its functionality). #1027 mentions something about `haskell-indentation`. Is `haskell-indentation` a replacement of `haskell-indent`? Is `haskel

[2015-12-17 11:26] gracjan commented on #1013
Your understanding is about correct. `haskell-indentation` is next attempt at indentation mode after `haskell-indent`. So far `haskell-indentation` code has been proved to be more readable and maintanable, at least compared to `haskell-indent`. Although `haskell-indent` is not deprecated I think it will be a problem to find a brave soul to fix issues with that indetation mode. Currently all the ef

[2015-12-17 11:36] jstolarek commented on #1013
Now it makes sense. Thanks. I'll switch to `haskell-indentation` and hope someone implements #1027

[2015-12-17 11:36] PierreR commented on #1013
Wouldn't be clearer to remove `haskell-indent` completely ? It is not maintained and broken. What's the point keeping it knowing there is no contributor out there to work on it.

I personally would vote for a single indentation scheme that works well (instead of 3 broken option).

The way I understand it is that the initial creator/contributor of `haskell-indent` is gone without caring for the tra

[2015-12-17 11:48] gracjan commented on #1013
@PierreR: We are slowly getting there. It is time to reduce the number from three to two by removing `haskell-simple-ident` in #958.

[2015-12-17 13:07] gracjan commented on #950
`coffee-mode` seems to react to if-then-else and try-catch-finally constructs. It also knows function beginning. It has indent-like-python switch, it is unclear what it does. Anyway no elightement there.

[2015-12-17 22:35] gracjan commented on #950
`org-indent` has some specific rules what it is doing in every case. Nice, but does not seem relevant.

[2015-12-23 10:29] mrkkrp opened #1031 "Haskell indentation weirdly re-indents lines after sp-kill-sexp"
I don't know why this happens, quick serch doens't show any relevant hook or advices in `haskell-indentation.hs`. However, when you call `sp-kill-sexp` (from Smartparens) with `haskell-indentation-mode` enabled, current line is weirdly re-indented after deletion of the sexp. So, every time you need to re-indent it.

[2015-12-23 10:41] mrkkrp commented on #1031
It also happens after `sp-kill-hybrid-sexp` and who knows what else. Ahhh…

[2015-12-23 10:53] mrkkrp commented on #1031
There must be a way to disable re-indenting after this sort of operations.

[2015-12-23 11:36] gracjan commented on #1031
Can you add a test case to `tests/haskell-indentation-tests.el`?

[2015-12-23 13:34] mrkkrp commented on #1031
To add tests for this, we first need to understand why exactly this happens. I don't think installing `smartparens` package only to test these cases is the right thing to do. Most probably we're seeing something that has nothing to do with `smartparens`, but just somehow is visible in this case.

[2015-12-23 14:18] gracjan commented on #1031
If the test could test that 'something' without smartparens then that is
even better in my book.

[2015-12-23 15:44] bergey commented on #1031
After killing, `smartparens` calls `sp--cleanup-after-kill` which calls `sp--indent-region`.  You can turn this off (for haskell) with `(add-to-list 'sp-no-reindent-after-kill-modes 'haskell-mode)`

I suppose this makes sense in languages that delimit blocks with characters rather than indentation.  The other values of `sp-no-reindent-after-kill-modes` seem to confirm this.

[2015-12-23 16:31] gracjan commented on #1031
In this case this issue is a duplicate of #796. Closing as dupe.

[2015-12-23 16:31] #1031 closed

[2015-12-23 16:32] gracjan opened #1032 "Implement indent-region for haskell-indentation-mode"
Indent region should align indentation according to current settings **without changing program semantics**.

[2015-12-23 16:32] gracjan commented on #1031
Noted the need of indent-region in #1032.

[2015-12-23 16:34] gracjan commented on #796
Noted the need of indent-region in #1032.
And closing this particular issue because it seems that smartparens has a flag to work around haskell-mode missing feature.

[2015-12-23 16:56] gracjan commented on #980
I cannot reproduce the problem. If anybody can do it please write a message here and we will reopen the issue.

[2015-12-23 16:56] #980 closed

[2015-12-23 17:09] mrkkrp commented on #1031
Perfect, thanks guys!

[2015-12-24 06:57] khanage commented on #796
What is the flag that works around this @gracjan?

[2015-12-24 11:33] gracjan commented on #796
The flag is in smart parens.

[2015-12-24 15:20] bergey commented on #796
@khanage From my answer to https://github.com/haskell/haskell-mode/issues/1031:

`(add-to-list 'sp-no-reindent-after-kill-modes 'haskell-mode) `

That works for `sp-kill-sexp`.  It doesn't work (in my quick test) for ` sp-raise-sexp` or `sp-forward-slurp`.  Maybe smartparens should apply `sp-no-reindent-after-kill-modes` to these functions also; I'm not certain.   I think #1032 covers the issue fr

[2015-12-24 19:54] gracjan opened #1034 "Implement comment handling for haskell-indentation-mode"
Comments are a bit special when it goes with indentation. Usually we want to align comments to a similar comment in previous line, failing that we want to align to tokens in previous line. But we cannot treat comments just like token because it would break valid code, so we need to align tokens to tokens only.

For example:

[code]

Above we want `comment 2` to align to `comment 1`, but `code 2` t

[2015-12-24 19:59] gracjan commented on #624
And those two functions are active only when `haskell-decl-scan-mode` is active so referencing #623 seems in order. Those should work in plain `haskell-mode`.

[2015-12-26 06:13] da-x commented on #889
The version of `ghci-ng`  needs to match the version of GHC, and when you have both 7.10.3 and 7.10.2 as compilers under `.stack`, then `ghci-ng` can't just sit in the `~/local/.bin`, it needs to sit as two different compiled versions, under `~/.stack/programs/x86_64-linux/ghc-7.10.2/bin` and `~/.stack/programs/x86_64-linux/ghc-7.10.3/bin`.

My question is, would it our work out of the box for `ha

[2015-12-26 12:50] gracjan commented on #981
Interestingly the test that we have for this work on Emacs 25.

[2015-12-26 15:50] #570 closed

[2015-12-26 15:52] gracjan commented on #851
Fixed by #1037.

[2015-12-26 15:52] #851 closed

[2015-12-26 16:35] gracjan commented on #354
The function suggested here is already incorporated so closing this issue. The are other specific requests about the functionality tracked in #225.

[2015-12-26 16:35] #354 closed

[2015-12-26 16:44] gracjan commented on #18
Just checked and it works. This bug reported originally iin 2010 seems to be no longer an issue.

[2015-12-26 16:44] #18 closed

[2015-12-26 16:46] gracjan opened #1038 "Font lock should support mixed Bird and Latex style literate Haskell sources"
There is no need to have a global per-file setting so `haskell-font-lock.el` should properly add faces to mixed case literate Haskell source files.

[2015-12-26 16:47] gracjan commented on #1026
This should be documented and maybe end up as a menu item.

Meanwhile the issue itself seems resolved so closing.

[2015-12-26 16:47] #1026 closed

[2015-12-26 16:50] gracjan commented on #1022
If TAGS were generated directly there would not be a need for current session. Issue #964 describes this and I'm closing this one as a duplicate of #964.

[2015-12-26 16:50] #1022 closed

[2015-12-26 17:24] gracjan commented on #950
`yaml-indent-line` after a TAB moves to rightmost indentation and then navigates backward, to column zero, then rightmost again. This also works really well with newline-and-indent because it either does to the same column as before or to a one more.

yaml knows that there is a deeped level of indentation available because of ":" char at the end of previous line.

[2015-12-26 17:25] #950 closed

[2015-12-26 17:41] #906 closed

[2015-12-26 19:57] sumitsahrawat commented on #1022
I completely forgot about the discussion that took place here. I'll try and find some time to add the documentation as suggested.

[2015-12-27 09:00] gracjan opened #1039 "Use syntax-propertize-function"
Emacs 24 and later has `syntax-propertize-function` that can put non-default text properties on characters in a buffer depending on context they appear in. This is needed to properly handle apostrophe in its many usages (#549) and could simplify other cases like:
- a dash sometimes starting a comment
- a backslash inside strings and gap rule

For now haskell-mode uses old mechanism of `font-lock-s

[2015-12-28 20:57] gracjan opened #1040 "Highlight errors inside string literals"
C mode nicelly uses `font-lock-warning-face` for opening quote of a string with missing closing quote.

We could use `font-lock-warning-face` for the same and also when we discover illegal backslash sequence.

A related idea is to end string also when newline is detected. That should prevent flashing of colors on the screen when a string constant is opened.

[2015-12-29 08:23] mrkkrp opened #1041 "Regression quasi-quotes are not highlighted anymore"
That's it. Previously text beween `[foo|` and `|]` was highlighted just like string, but now it's not. In some cases highlighting “breaks” entirely at this point and the rest of document after quasi-quote is not highlighted at all. This regression is relatively new, I think it's less than a week old.

[2015-12-29 11:44] gracjan commented on #1041
Can you add an example here?

[2015-12-29 19:52] jyp commented on #354
Great, thanks!

[2015-12-30 08:41] mrkkrp commented on #1041
Sure. Here is some nonsense that demonstrates the problem:

[code]

[2015-12-30 09:30] hvr opened #1042 "Default indentation mode ought to support and use Johan Tibell's style by default"
IMO, if we do impose a default indentation mode in `haskell-mode` which seems to be the case recently, this mode should be close to @tibbe's

 - https://github.com/tibbe/haskell-style-guide/blob/master/haskell-style.md or

which is commonly used as basis for project-specific style conventions such as e.g.

 - http://snapframework.com/docs/style-guide

Afaics, this indentation style seems to be the

[2015-12-30 09:41] gracjan commented on #1042
Can you add specific example?

[2015-12-30 10:29] hvr commented on #1042
For one, when setting

[code]

I can't seem to be able to properly indent the hanging where-clause from the style-guide example:

[code]

Instead, `haskell-mode` insists to indent the where-clause with two additional spaces, i.e. as

[code]

[2015-12-30 10:57] hvr opened #1043 "Custom Haskell variables don't retain their customization"
Experienced on `haskell-mode-20151226.750`/`Emacs 24.5.1`

After having customized a few indentation related custom variables via `M-x customize-mode`, I end up with the following `init.el` file:

[code]

However, when restarting emacs with this `init.el` file those variables still show their default `2`-value, and `customize-variable` tells me that the variable's state is

[code]

[2015-12-30 11:01] hvr commented on #1043
I notice there's

[code]

in `haskell-mode-autoloads.el`... is that supposed to be in there?

[2015-12-30 11:09] hvr opened #1044 "Indentation point missing for record data declarations"
In order to support https://github.com/tibbe/haskell-style-guide/blob/master/haskell-style.md (c.f. #1042), the  example below needs to be indent-able as:

[code]

However, `haskell-indentation-mode` insists on indenting only to

[code]

[2015-12-30 17:53] gracjan commented on #1041
Try to use some HTML inside the quasiquote:

[code]

[2015-12-30 18:00] gracjan commented on #1041
But I agree font locking could be more pronouced here.

[2015-12-30 18:25] mrkkrp commented on #1041
Why HTML inside should change anything? I do have a tag (without closing one, because it's Hamlet template) inside in my real code, but it's not highlighted there as well. Simpliest case would be to highlight everywhing between the pipes. Previously it worked (I think).

[2015-12-30 20:14] bitemyapp opened #1046 "Indentation breaks when using standalone deriving"
[code]

[2016-01-01 17:59] #1044 closed

[2016-01-01 18:07] gracjan commented on #1042
The `greeting` word is 4 spaces from `w` in `where`.

[2016-01-01 19:46] geraldus commented on #1044
:+1:

[2016-01-02 17:06] gracjan commented on #1042
Using:

[code]

gives you what you want, tibell style. But then there are too many knobs for my taste, anyway.

[2016-01-02 20:30] PierreR commented on #1042
@hvr Imposing a 4 space indentation is what I personally dislike in Tibbe's style ;-)

I mainly use [gibiansky's](https://github.com/gibiansky/haskell-style-guide) for this reason and I occasionally customize it to be closer to ekmett's style.

IMHO saying that a 4 space indentation style is idiomatic isn't true (just look at ekmett's source). That said I mainly love Tibbe's style but I feel it is

[2016-01-03 02:08] vimniky commented on #876
I have the same problem , I have tried a lot , but It still don't work !!!!!!

[2016-01-03 12:19] gracjan commented on #1043
I've checked just a moment ago and it works for me.

Do you use spacemacs?

[2016-01-03 12:39] hvr commented on #1043
I don't use spacemacs, no...

I just tried on a new fresh account on a Ubuntu 14.04 VM and was able to reproduce there as well, steps I took:

 * install

[code]

 * Then I created a `${HOME}/emacs.d/init.el` with the content from this issue description and started up `emacs24`

 * `M-x package-list-packages`, selected `haskell-mode` for install, and executed; then exited Emacs, and restarted agai

[2016-01-03 12:59] hvr commented on #667
Fyi, adding autoload cookies to all defcustoms seems to be the likely cause for #1043

[2016-01-03 13:06] hvr commented on #1043
Here's an interesting discussion regarding autoloading defcustoms: https://lists.gnu.org/archive/html/help-gnu-emacs/2007-06/msg00216.html

[2016-01-03 13:13] hvr commented on #1043
Here's another discussion pointing out that autoloaded variables are indeed a mistake in most cases: http://comments.gmane.org/gmane.emacs.devel/176796

[2016-01-03 16:55] gracjan commented on #1043
@hvr: so we have learned by the way that you are tehe only person on this planet that tried to change the defaults :)

[2016-01-03 17:00] #1043 closed

[2016-01-03 17:06] gracjan commented on #1042
I find gibiansky's style confusing, half of the examples on that writeup use 4 space indents although the style claims 2 spaces is correct.

I would put ekmett's style along with ekmett on the `extraordinary users` shelf. Mortal beings should not write such condensed code.

[2016-01-03 17:11] wedens commented on #1042
I also prefer something similar to gibiansky's style. 4 spaces takes too much space IMO.

[2016-01-03 19:42] geraldus commented on #1042
I use 2 spaces indent almost everywhere including Haskell.

[2016-01-03 20:39] hvr commented on #1043
...or maybe just the only one who bothered to get to the bottom of it ;)

[2016-01-04 22:35] #1041 closed

[2016-01-04 22:36] gracjan commented on #1041
Now it should be more visible and should not break.

[2016-01-06 09:26] mrkkrp commented on #1042
Indentation step should be easily customizable, it's not correct approach hard-code it, because for social reasons, there will always people who would like to chagne it whatever value you choose as default.

Presonally, I find 2 spaces still readable and it allows to put more code on one line.

[2016-01-06 10:10] gracjan commented on #1042
Note that every customization option introduces new dimension in testing space.

Currently our unit test cases cover a single set of seven options, the current defaults. Supporting other sets requires unit tests at least for some of those cases, otherwise we cannot claim that we support customization, can we?

Due to effort constraints we can a solid default indentation because I do not see anybod

[2016-01-06 12:14] mrkkrp commented on #1042
“Worse is better” at work :-) In principle it's of course doable. It's possible to use parametrized code snippets for testing, so indentation levels in those snippets can be controlled. Then it should be possible to try several combinations of customized indentation parameters on every test (automatically, we already have macro-wrappers in place for those tests by the way).

Of course framework fo

[2016-01-06 12:36] gracjan commented on #1042
2 spaces is status quo at this point so it will require energy to change, energy we seem to be lacking.

I'm very surprized that so many of you optimize for character density on the screen. Haskell is already dense in meaning per character (at least compared to other languages known of their verbosity).

I could understand 2 space for a brace structured language where whitespace is just auxilary,

[2016-01-06 14:25] gracjan opened #1054 "Implement syntax highlighting for type application"
GHC 8.0 supports type application, like this:

``
id @Int
``

`Int` should be fontified as type. See #899.

[2016-01-07 12:51] geraldus commented on #1042
Well, as for me, I use 2 spaces because I got used to (I use 2 spaces almost everywhere in other code I have to deal with).  By the way, initially I've used 4 spaces for haskell code, but this changed when I wrote some amount of elisp code (also, now I'm actively use parentheses in haskell rather than `$`).  What I want to say, that everything is changing in time.

[2016-01-07 13:26] mrBliss opened #1057 "Font lock Role annotations"
I just noticed #1056 and realised that [Role annotations] are also not properly font locked.

[Role annotations]: https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/roles.html#role-annotations

Some examples that demonstrate that GitHub's syntax highlighting has the same problem :smiley::

[code]
The `role` keyword must only be highlighted after `type`, analogous to `family`. But what

[2016-01-08 14:13] bergey commented on #1015
On my computer, it works, like this:

 `RET` is bound to `haskell-interactive-mode-return`, which calls `haskell-interactive-next-error-function`.

If I'm on an error message like
[code]

`RET` jumps to the file / line / char specified in the error message.

@qrilka can you verify that `RET` is bound to `haskell-interactive-mode-return` on your emacs, and paste an example of an error message that

[2016-01-08 16:00] bergey commented on #623
We should remember to update [the manual](http://haskell.github.io/haskell-mode/manual/latest/Declaration-scanning.html#Declaration-scanning) when this happens.

[2016-01-08 16:31] bergey commented on #836
I'd really like to be able to tell new Haskellers (who use emacs) that there's one package to install, which has most of the useful features and acceptable defaults.  I worry that if `haskell-mode` doesn't take that role, we'll return to outdated blog posts describing how to set things up.

I think splitting things up would make it harder to communicate what to install, and harder to make things j